Repository fulingwei1/non-standard-automation-pms: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, eslint, prettier

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# 安装: pip install pre-commit && pre-commit install

repos:
  # 通用钩子
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: 移除行尾空白
      - id: end-of-file-fixer
        name: 确保文件以换行符结尾
      - id: check-yaml
        name: 检查YAML语法
      - id: check-json
        name: 检查JSON语法
      - id: check-added-large-files
        name: 检查大文件
        args: ["--maxkb=500"]
      - id: check-merge-conflict
        name: 检查合并冲突
      - id: detect-private-key
        name: 检测私钥
      - id: no-commit-to-branch
        name: 禁止直接提交到main分支
        args: ["--branch", "main"]

  # Python 代码格式化
  - repo: https://github.com/psf/black
    rev: 24.1.1
    hooks:
      - id: black
        name: Black 代码格式化
        language_version: python3.11
        args: ["--line-length=120"]

  # Python 导入排序
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        name: isort 导入排序
        args: ["--profile=black", "--line-length=120"]

  # Python 代码检查
  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        name: Flake8 代码检查
        args: ["--max-line-length=120", "--ignore=E501,W503,E203"]
        additional_dependencies:
          - flake8-docstrings
          - flake8-bugbear

  # Python 安全检查
  - repo: https://github.com/pycqa/bandit
    rev: 1.7.7
    hooks:
      - id: bandit
        name: Bandit 安全检查
        args: ["-ll", "-ii"]
        exclude: tests/

  # 自定义文件大小检查
  - repo: local
    hooks:
      - id: check-file-size
        name: 检查文件大小限制
        entry: python scripts/check_file_size.py
        language: python
        types: [python]
        pass_filenames: false

      - id: check-function-size
        name: 检查函数大小
        entry: python scripts/check_function_size.py
        language: python
        types: [python]
        pass_filenames: false
        always_run: true

  # JavaScript/TypeScript (前端)
  - repo: local
    hooks:
      - id: eslint
        name: ESLint 检查
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

      - id: prettier
        name: Prettier 格式化检查
        entry: bash -c 'cd frontend && npx prettier --check "src/**/*.{js,jsx,ts,tsx,css}"'
        language: system
        files: \.(js|jsx|ts|tsx|css)$
        pass_filenames: false

# CI 设置
ci:
  autofix_commit_msg: "style: auto fixes from pre-commit hooks"
  autofix_prs: true
  autoupdate_commit_msg: "chore: pre-commit autoupdate"
  autoupdate_schedule: weekly

fix: 补齐项目交接技术评估项明细
  app/services/project_workspace_service.py
  frontend/src/pages/ProjectWorkspace.jsx
  frontend/src/pages/__tests__/ProjectWorkspace.test.jsx
  tests/api/test_project_workspace_contract_api.py
Due: check-file-size, eslint, prettier

fix: 补齐售前成本估算方案上下文
  app/api/v1/endpoints/presale/proposals.py
  app/schemas/presale.py
  frontend/src/pages/PresalesCostEstimation.jsx
  frontend/src/pages/__tests__/PresalesCostEstimation.test.jsx
  tests/api/test_presales_contract_api.py
Due: check-file-size, eslint, prettier

fix: 接通技术参数估算写回方案
  app/api/v1/endpoints/presale/proposals.py
  app/schemas/presale.py
  frontend/src/pages/TechnicalParameterManagement.jsx
  frontend/src/pages/__tests__/TechnicalParameterManagement.test.jsx
  tests/api/test_presales_contract_api.py
Due: check-file-size, eslint, prettier

fix: 展示方案写回成本拆解
  app/api/v1/endpoints/presale/proposals.py
  app/schemas/presale.py
  tests/api/test_presales_contract_api.py
Due: check-file-size

fix: 展示方案技术参数明细
  frontend/src/pages/SolutionDetail/components/SolutionSpecsTab.jsx
  frontend/src/pages/SolutionDetail/components/__tests__/SolutionSpecsTab.test.jsx
  frontend/src/pages/SolutionDetail/hooks/__tests__/useSolutionDetail.test.js
  frontend/src/pages/SolutionDetail/hooks/useSolutionDetail.js
Due: eslint, prettier

fix: 拉直售前方案提交评审流
  frontend/src/pages/PresaleProposals/SolutionListTab.jsx
  frontend/src/pages/PresaleProposals/index.jsx
  frontend/src/pages/__tests__/PresaleProposals.test.jsx
Due: eslint, prettier

fix: 项目交接包展示售前技术参数
  app/services/project_workspace_service.py
  frontend/src/pages/ProjectWorkspace.jsx
  frontend/src/pages/__tests__/ProjectWorkspace.test.jsx
  tests/api/test_project_workspace_contract_api.py
Due: check-file-size, eslint, prettier

fix: 报价创建保留售前工单上下文
  app/api/v1/endpoints/sales/quote_versions.py
  app/api/v1/endpoints/sales/quotes.py
  app/services/sales/presale_quote_context.py
  frontend/src/pages/QuoteCreateEdit/constants.js
  frontend/src/pages/QuoteCreateEdit/index.jsx
  frontend/src/pages/__tests__/QuoteCreateEdit.test.jsx
  tests/api/test_sales_contracts_api.py
Due: check-file-size, eslint, prettier

fix: 售前工作台入口保留单据上下文
  frontend/src/pages/PresalesWorkbench.jsx
  frontend/src/pages/__tests__/PresalesWorkbench.test.jsx
Due: eslint, prettier

fix: 销售售前工作台延续技术上下文
  frontend/src/pages/SalesPresaleWorkbench.jsx
  frontend/src/pages/__tests__/SalesPresaleWorkbench.test.jsx
Due: eslint, prettier

fix: 售前执行和经理工作台保留技术上下文
  frontend/src/components/presales/workstation/OngoingSolutionsCard.jsx
  frontend/src/components/presales/workstation/RecentTendersCard.jsx
  frontend/src/components/presales/workstation/TodoTasksCard.jsx
  frontend/src/pages/PresalesManagerWorkstation/components/BiddingProjectsCard.jsx
  frontend/src/pages/PresalesManagerWorkstation/components/OngoingSolutionsCard.jsx
  frontend/src/pages/PresalesManagerWorkstation/components/PendingReviewsCard.jsx
  frontend/src/pages/PresalesManagerWorkstation/components/TeamPerformanceCard.jsx
  frontend/src/pages/PresalesManagerWorkstation/index.jsx
  frontend/src/pages/PresalesWorkstation.jsx
  frontend/src/pages/__tests__/PresalesManagerWorkstation.test.jsx
  frontend/src/pages/__tests__/PresalesWorkstation.test.jsx
Due: eslint, prettier

fix: 成本估算返回售前工作台保留上下文
  frontend/src/pages/PresalesCostEstimation.jsx
  frontend/src/pages/__tests__/PresalesCostEstimation.test.jsx
Due: eslint, prettier

fix: 方案报价入口保留线索上下文
  frontend/src/pages/PresaleProposals/index.jsx
  frontend/src/pages/__tests__/PresaleProposals.test.jsx
Due: eslint, prettier

fix: PMO立项承接报价售前方案
  app/services/pmo_initiation/service.py
  tests/api/test_pmo.py
  tests/unit/test_pmo_initiation_service.py
Due: check-file-size

fix: 售前方案按线索承接商机上下文
  app/api/v1/endpoints/presale/proposals.py
  tests/api/test_presales_contract_api.py
Due: check-file-size

fix: 线索方案评审闭环销售评估
  app/api/v1/endpoints/presale/proposals.py
  tests/api/test_presales_contract_api.py
Due: check-file-size

fix: 成本基线生成报价保留售前上下文
  frontend/src/pages/PresalesCostEstimation.jsx
  frontend/src/pages/__tests__/PresalesCostEstimation.test.jsx
Due: eslint, prettier

fix: 工作台成本基线携带售前上下文
  app/api/v1/endpoints/presale/workbench.py
  tests/api/test_presales_contract_api.py
Due: check-file-size

fix: 售前执行成本写回保留任务上下文
  frontend/src/pages/PresalesWorkstation.jsx
  frontend/src/pages/__tests__/PresalesWorkstation.test.jsx
Due: eslint, prettier

fix: 项目交接未决事项保留售前上下文
  frontend/src/pages/ProjectWorkspace.jsx
  frontend/src/pages/__tests__/ProjectWorkspace.test.jsx
Due: eslint, prettier

chore: 忽略本地 agent 会话状态
  .gitignore
Due: none

fix: 售前工作台拒绝跨来源工单上下文
  app/api/v1/endpoints/presale/workbench.py
  tests/api/test_presales_contract_api.py
Due: check-file-size

docs: 验收/审计/路线图全套报告与项目工作日志
  ACCEPTANCE_CHAIN_ACCEPTANCE_REPORT.md
  AFTERSALES_CHAIN_ACCEPTANCE_REPORT.md
  AI_FEATURE_BACKLOG.md
  AI_INTEGRATION_REPORT.md
  AI_USABILITY_BACKLOG.md
  BOM_CHAIN_ACCEPTANCE_REPORT.md
  BUG_SWEEP_REPORT.md
  COST_REPORT_CROSSCHECK_REPORT.md
  E2E_ACCEPTANCE_REPORT.md
  ECN_CHAIN_ACCEPTANCE_REPORT.md
  FIELD_SHORTAGE_CHAIN_ACCEPTANCE_REPORT.md
  FIX_SUMMARY_REPORT.md
  FRONTEND_PAGE_ACCEPTANCE_REPORT.md
  FUNCTIONAL_AUDIT_TRACKER.md
  KITRATE_CHAIN_ACCEPTANCE_REPORT.md
  OUTSOURCING_CHAIN_ACCEPTANCE_REPORT.md
  P0_REPRO_REPORT.md
  PERMISSION_COVERAGE_AUDIT.json
  PRESALE_CHAIN_ACCEPTANCE_REPORT.md
  PROCUREMENT_CHAIN_ACCEPTANCE_REPORT.md
  PRODUCTION_CHAIN_ACCEPTANCE_REPORT.md
  PROJECT_CHAIN_ACCEPTANCE_REPORT.md
  PROJECT_NOTES.md
  ROADMAP.md
  ROLE_PERMISSION_MATRIX.md
  SALES_CHAIN_ACCEPTANCE_REPORT.md
  SALES_UX_AND_AI_ENHANCEMENTS.md
  SHIPPING_CHAIN_ACCEPTANCE_REPORT.md
  TIER2_TIER3_ACCEPTANCE_REPORT.md
  TIMESHEET_CHAIN_ACCEPTANCE_REPORT.md
Due: none

refactor(presale): 售前模块去重——下线老AI方案栈/异步赢率栈/双前缀/孤儿页
  FUNCTIONAL_AUDIT_TRACKER.md
  PROJECT_NOTES.md
  app/api/presale_ai_routes.py
  app/api/v1/api.py
  app/api/v1/api_lazy.py
  app/api/v1/api_medium.py
  app/api/v1/endpoints/milestones.py
  app/api/v1/endpoints/pmo/closure.py
  app/api/v1/endpoints/presale_ai_requirement.py
  app/api/v1/endpoints/presale_mobile.py
  app/api/v1/presale_ai_win_rate.py
  app/core/state_machine/milestone.py
  app/schemas/service.py
  app/services/pmo_initiation/service.py
  frontend/src/components/PresaleAI/AIFeedbackDialog.jsx
  frontend/src/components/PresaleAI/AIStatsChart.jsx
  frontend/src/components/PresaleAI/AIWorkflowProgress.jsx
  frontend/src/components/PresaleAI/__tests__/AIStatsChart.test.jsx
  frontend/src/components/layout/Header.jsx
  frontend/src/components/layout/__tests__/Header.test.jsx
  frontend/src/components/layout/sidebarConfig/default.js
  frontend/src/pages/CustomerServiceDashboard.jsx
  frontend/src/pages/CustomerServiceDashboard/__tests__/dashboardContracts.test.js
  frontend/src/pages/CustomerServiceDashboard/utils.js
  frontend/src/pages/PresaleAI/AIDashboard.jsx
  frontend/src/pages/PresaleAI/AIWorkbench.jsx
  frontend/src/pages/PresaleBids.jsx
  frontend/src/services/presaleAIService.js
  tests/api/test_batch4_route_contracts.py
  tests/api/test_milestone_completion_gate_contracts.py
  tests/api/test_milestones.py
  tests/api/test_path_param_route_contracts.py
  tests/api/test_pmo.py
  tests/api/test_presales_contract_api.py
  tests/api/test_required_query_route_contracts.py
  tests/api/test_service_ticket_crud_contracts.py
  tests/schemas/test_service.py
  tests/unit/test_milestone_state_machine_completion.py
  tests/unit/test_pmo_initiation_service.py
Due: check-file-size, eslint, prettier

refactor(presale): 去重收尾——下线未挂载的方案版本路由与三个零消费服务
  PROJECT_NOTES.md
  app/api/v1/endpoints/production/work_reports.py
  app/api/v1/endpoints/sales/payments/payment_records.py
  app/api/v1/endpoints/sales/quote_costs.py
  app/api/v1/endpoints/sales/quote_items.py
  app/api/v1/endpoints/sales/quote_status.py
  app/api/v1/solution_versions.py
  app/models/sales/quotes.py
  app/services/presale/presale_ai_export_service.py
  app/services/presale/presale_ai_template_service.py
  app/services/sales/solution_version_service.py
  data/app.db.sales03-backup-20260703100245
  tests/api/test_production_write_smoke.py
  tests/api/test_sales_payment_record_contracts.py
  tests/api/test_sales_quote_costs_quantity_contracts.py
  tests/api/test_sales_quote_item_contracts.py
  tests/api/test_sales_quote_status_contracts.py
  tests/unit/test_presale_ai_template_service_coverage.py
  tests/unit/test_solution_version_service_coverage.py
Due: check-file-size

refactor(project): 进度兼容路由双挂载收敛到 /progress 前缀
  PROJECT_NOTES.md
  app/api/v1/api.py
  app/api/v1/endpoints/sales/invoices/basic.py
  app/api/v1/endpoints/sales/invoices/operations.py
  app/models/sales/invoices.py
  app/services/approval_engine/adapters/invoice.py
  frontend/src/pages/ProjectGantt.jsx
  frontend/src/services/api/progress.js
  tests/api/test_batch10_route_contracts.py
  tests/api/test_invoice_approval_workflow_contracts.py
  tests/api/test_invoice_basic_route_contracts.py
  tests/api/test_milestones.py
  tests/api/test_progress.py
  tests/api/test_sales.py
  tests/api/test_sales_invoice_gate_contracts.py
  tests/api/test_sales_invoices_api.py
  tests/audit_p0/test_p0_16_invoice_gate.py
  tests/integration/test_project_team_collaboration.py
Due: check-file-size, eslint, prettier

refactor(production): 生产域去重——kit-check假实现换真、workers/exceptions双挂载摘除、前端断链清理
  PROJECT_NOTES.md
  app/api/v1/api.py
  app/api/v1/api_lazy.py
  app/api/v1/endpoints/acceptance/order_approval.py
  app/api/v1/endpoints/approval_submit_guard.py
  app/api/v1/endpoints/business_support_orders/delivery_orders/crud.py
  app/api/v1/endpoints/kit_check_compat.py
  app/api/v1/endpoints/outsourcing/workflow.py
  app/api/v1/endpoints/projects/approvals/submit_new.py
  app/api/v1/endpoints/purchase/workflow.py
  app/api/v1/endpoints/sales/contracts/approval.py
  app/services/acceptance_approval/service.py
  app/services/base_approval_workflow.py
  app/services/outsourcing_workflow/outsourcing_workflow_service.py
  app/services/purchase_workflow/service.py
  app/services/sales/payment_plan_service.py
  app/tests/services/purchase_workflow/test_purchase_workflow.py
  frontend/src/pages/KitCheck/constants.js
  frontend/src/pages/KitCheck/hooks/__tests__/useKitCheck.test.js
  frontend/src/pages/KitCheck/hooks/index.js
  frontend/src/pages/KitCheck/hooks/useKitCheck.js
  frontend/src/services/api.js
  frontend/src/services/api/kit.js
  frontend/src/services/api/production.js
  tests/api/test_approval_submit_error_contracts.py
  tests/api/test_delivery_payment_plan_trigger_contracts.py
  tests/api/test_production_compat_endpoints.py
  tests/api/test_production_write_smoke.py
  tests/api/test_purchase_workflow_contracts.py
  tests/audit_p0/test_p0_01_approval_template_mismatch.py
  tests/integration/test_project_approval_smoke.py
  tests/unit/test_acceptance_approval_service.py
Due: check-file-size, eslint, prettier

refactor(assembly-kit): 双段路径归一——dashboard/stages/templates/alert-rules/shortage-alerts 去重复段
  PROJECT_NOTES.md
  app/api/v1/endpoints/assembly_kit/__init__.py
  app/api/v1/endpoints/assembly_kit/alert_rules.py
  app/api/v1/endpoints/assembly_kit/dashboard.py
  app/api/v1/endpoints/assembly_kit/shortage_alerts.py
  app/api/v1/endpoints/assembly_kit/stages.py
  app/api/v1/endpoints/assembly_kit/templates.py
  app/tests/services/purchase_workflow/test_purchase_workflow.py
  app/utils/init_approval_data.py
  app/utils/init_data.py
  frontend/src/services/api/__tests__/routeContracts.test.js
  frontend/src/services/api/assemblyKit.js
  frontend/src/services/api/production.js
  scripts/init_db.py
  tests/api/test_batch5_route_contracts.py
  tests/api/test_path_param_route_contracts.py
  tests/api/test_purchase_workflow_contracts.py
  tests/audit_p0/test_p0_02_approval_template_no_seed.py
Due: check-file-size, eslint, prettier

refactor(procurement): 采购域去重——死模块/占位shim下线，采购分析直连挂载
  PROJECT_NOTES.md
  app/api/v1/api.py
  app/api/v1/api_medium.py
  app/api/v1/endpoints/procurement/__init__.py
  app/api/v1/endpoints/procurement/kitting_analysis.py
  app/api/v1/endpoints/procurement/kitting_optimization.py
  app/api/v1/endpoints/procurement/price_analysis.py
  app/api/v1/endpoints/procurement/suppliers.py
  app/api/v1/endpoints/procurement_analysis.py
  app/api/v1/endpoints/purchase_intelligence.py
  app/api/v1/endpoints/supplier_price_trend.py
  app/services/approval_engine/engine/approve.py
  app/services/approval_engine/engine/core.py
  scripts/init_db.py
  tests/audit_p0/test_p0_05_cosign_reject_flip.py
  tests/unit/services/sales/test_solution_version_service.py
  tests/unit/test_presale_ai_export_service_coverage.py
Due: check-file-size

refactor(acceptance): 验收路由双挂载收敛——32对双生路径清零
  P0_REPRO_REPORT.md
  PROJECT_NOTES.md
  app/api/v1/api.py
  app/api/v1/api_lazy.py
  app/services/shortage/smart_alert_engine.py
  tests/api/test_approval_action_validation_contracts.py
  tests/api/test_batch8_route_contracts.py
  tests/api/test_path_param_route_contracts.py
  tests/audit_p0/README.md
Due: check-file-size

refactor(service): 客服包命名空间迁移 /service/*——顶层通用命名空间清零
  P0_REPRO_REPORT.md
  PROJECT_NOTES.md
  app/api/v1/api.py
  app/api/v1/endpoints/kit_check/utils.py
  app/api/v1/endpoints/kit_rate/utils.py
  app/api/v1/endpoints/material_demands/demands.py
  app/api/v1/endpoints/material_demands/generate.py
  app/api/v1/endpoints/purchase/receipts.py
  app/services/inventory/inbound_service.py
  app/services/inventory/stock_update_service.py
  app/services/kit_rate/kit_rate_service.py
  app/services/purchase/in_transit.py
  app/services/shortage/smart_alert_engine.py
  app/utils/scheduled_tasks/kit_rate_tasks.py
  frontend/src/services/api/customerCommunication.js
  frontend/src/services/api/service.js
  tests/api/test_batch11_route_contracts.py
  tests/api/test_purchase_receipts_workflow_contracts.py
  tests/api/test_service_permissions_scope.py
  tests/api/test_service_record_crud_contracts.py
  tests/api/test_service_ticket_crud_contracts.py
  tests/audit_p0/README.md
  tests/audit_p0/test_p0_06_receipt_no_stock.py
  tests/audit_p0/test_p0_07_shortage_scan_500.py
  tests/integration/test_status_update_endpoints.py
Due: check-file-size, eslint, prettier

feat(task-unification): P1 落地——tasks 全量迁入 task_unified，FK 重建与引用重接
  P0_REPRO_REPORT.md
  PROJECT_NOTES.md
  TASK_UNIFICATION_DESIGN.md
  app/api/v1/endpoints/assembly_kit/kit_analysis/utils.py
  app/api/v1/endpoints/production/material_requisitions.py
  app/api/v1/endpoints/shortage/handling/transfers.py
  app/models/task_center.py
  app/services/assembly_kit_service.py
  app/services/assembly_kit_service_enhanced.py
  app/services/inventory/outbound_service.py
  app/services/inventory/transfer_service.py
  app/services/material_transfer_service.py
  app/services/purchase/in_transit.py
  migrations/20260703_task_unification_p1_sqlite.sql
  scripts/migrate_tasks_to_unified.py
  tests/api/test_production_compat_endpoints.py
  tests/api/test_shortage_transfers.py
  tests/audit_p0/README.md
Due: check-file-size

refactor(kit-rate): 双前缀归一——unified/comparison 迁入 /kit-rate 主命名空间
  PROJECT_NOTES.md
  app/api/v1/endpoints/assembly_kit/kit_analysis/utils.py
  app/api/v1/endpoints/ecn/state_machine.py
  app/api/v1/endpoints/kit_check/utils.py
  app/api/v1/endpoints/kit_check/work_orders.py
  app/api/v1/endpoints/kit_rate/unified.py
  app/api/v1/endpoints/kit_rate/utils.py
  app/api/v1/endpoints/shortage/handling/reports.py
  app/services/assembly_kit_service.py
  app/services/kit_rate/kit_rate_service.py
  app/services/project_workspace_service.py
  app/services/purchase/purchase_service.py
  app/services/shortage/smart_alert_engine.py
  app/services/urgent_purchase_from_shortage_service.py
  app/tests/services/purchase/test_purchase_service.py
  app/utils/scheduled_tasks/kit_rate_tasks.py
  frontend/src/services/api/__tests__/procurement.test.js
  frontend/src/services/api/procurement.js
  tests/api/test_ecn_state_machine_contracts.py
  tests/api/test_shortage_handling.py
  tests/unit/test_assembly_kit_analysis_utils.py
  tests/unit/test_assembly_kit_service.py
  tests/unit/test_kit_check_utils.py
  tests/unit/test_kit_rate_service.py
  tests/unit/test_kit_rate_utils.py
  tests/unit/test_project_workspace_service.py
  tests/unit/test_purchase_service_generate_orders.py
  tests/unit/test_scheduled_kit_rate_tasks.py
  tests/unit/test_smart_alert_n2.py
  tests/unit/test_urgent_purchase_service_coverage.py
Due: check-file-size, eslint, prettier

feat(task-unification): P2+P3 原子切换——Task 门面映射 task_unified，写读路径一次到位
  PROJECT_NOTES.md
  app/api/v1/endpoints/gantt_dependency.py
  app/api/v1/endpoints/projects/template_projects.py
  app/api/v1/endpoints/sales/activity_minutes.py
  app/models/progress.py
  app/models/quality_risk_detection.py
  app/models/task_center.py
  app/services/dashboard/adapters/member_view.py
  app/services/dashboard/project_dashboard_service.py
  app/utils/scheduled_tasks/ai_report_tasks.py
  frontend/src/services/api/progress.js
Due: check-file-size, eslint, prettier

docs: 任务整合设计文档状态更新至 P3 完成
  TASK_UNIFICATION_DESIGN.md
Due: none

feat(task-unification): P4 收官——旧 tasks 表下线改名 tasks_deprecated
  PROJECT_NOTES.md
  TASK_UNIFICATION_DESIGN.md
  migrations/20260703_task_unification_p4_sqlite.sql
  scripts/migrate_tasks_to_unified.py
Due: check-file-size

fix(SALES-05): 商机阶段统一守卫——终态不可逆转，批量更新复用守卫
  app/api/v1/endpoints/sales/opportunity_batch.py
  app/api/v1/endpoints/sales/opportunity_crud.py
  app/api/v1/endpoints/sales/opportunity_workflow.py
  app/api/v1/endpoints/sales/utils/__init__.py
  app/api/v1/endpoints/sales/utils/stage_guard.py
  tests/api/test_sales.py
Due: check-file-size
