Repository fulingwei1/non-standard-automation-pms: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, eslint, prettier

check-file-size:
  name: 检查文件大小限制
  entry: python scripts/check_file_size.py
  language: python
  pass_filenames: false

eslint:
  name: ESLint 检查
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

prettier:
  name: Prettier 格式化检查
  entry: bash -c 'cd frontend && npx prettier --check "src/**/*.{js,jsx,ts,tsx,css}"'
  language: system
  pass_filenames: false

fix: 销售到交付集成场景走通项目链路
  tests/integration/test_sales_to_delivery_flow.py
Due: check-file-size

test: 清理销售交付集成成本口径
  tests/integration/test_sales_to_delivery_flow.py
Due: check-file-size

test: 走通报价合同项目场景链路
  tests/scenarios/test_scenario_04_quote_to_contract_flow.py
Due: check-file-size

test: 合同创建smoke跳过报价门校验
  tests/api/test_sales_contracts_api.py
Due: check-file-size

fix: 补齐售前技术失败案例详情编辑接口
  app/api/v1/endpoints/sales/assessments/failure_cases.py
  app/schemas/sales/__init__.py
  app/schemas/sales/assessments.py
  tests/api/test_sales.py
Due: check-file-size

fix: 技术评估申请复用未完成记录
  app/api/v1/endpoints/sales/assessments/assessments.py
  tests/api/test_sales.py
Due: check-file-size

test: 对齐售前AI成本与需求服务测试
  tests/test_presale_ai_cost.py
  tests/unit/test_presale_ai_requirement_service_coverage.py
Due: check-file-size

fix: 修正方案版本接口路径
  frontend/src/services/__tests__/solutionVersionService.test.js
  frontend/src/services/solutionVersionService.js
Due: eslint, prettier

test: 覆盖方案版本前端接口路径
  frontend/src/services/__tests__/solutionVersionService.test.js
Due: eslint, prettier

fix: 打通售前AI成本估算接口
  app/api/v1/api.py
  frontend/src/services/__tests__/presaleAIService.test.js
  frontend/src/services/presaleAIService.js
  tests/api/test_presales_contract_api.py
Due: check-file-size, eslint, prettier

fix: 打通售前AI与合同建项上下文
  app/api/v1/endpoints/presale/ai_requirement.py
  app/api/v1/endpoints/sales/contracts/sign_project.py
  app/api/v1/presale_ai_quotation.py
  app/services/data_sync_service.py
  app/services/status_handlers/contract_handler.py
  frontend/src/services/__tests__/presaleAIService.test.js
  frontend/src/services/presaleAIService.js
  tests/api/test_presales_contract_api.py
  tests/api/test_sales.py
  tests/unit/test_contract_handler.py
  tests/unit/test_data_sync_service.py
Due: check-file-size, eslint, prettier

fix: 注册售前AI后续模块路由
  app/api/presale_ai_emotion.py
  app/api/presale_ai_routes.py
  app/api/v1/api.py
  app/api/v1/presale_ai_knowledge.py
  frontend/src/services/__tests__/presaleAIService.test.js
  frontend/src/services/presaleAIService.js
  tests/api/test_presales_contract_api.py
  tests/test_ai_emotion_api.py
Due: check-file-size, eslint, prettier

fix: 补齐技术评审子资源读取接口
  app/api/v1/endpoints/technical_review/checklists.py
  app/api/v1/endpoints/technical_review/materials.py
  app/api/v1/endpoints/technical_review/participants.py
  tests/api/test_technical_review_contract_api.py
Due: check-file-size

fix: 加载售前方案版本历史
  frontend/src/pages/SolutionDetail/hooks/__tests__/useSolutionDetail.test.js
  frontend/src/pages/SolutionDetail/hooks/useSolutionDetail.js
Due: eslint, prettier

fix: 补齐售前方案响应上下文
  app/api/v1/endpoints/presale/proposals.py
  app/api/v1/endpoints/presale/workbench.py
  app/schemas/presale.py
  tests/api/test_presales_contract_api.py
Due: check-file-size

fix: 展示售前方案评审协作信息
  frontend/src/pages/SolutionDetail/hooks/__tests__/useSolutionDetail.test.js
  frontend/src/pages/SolutionDetail/hooks/useSolutionDetail.js
Due: eslint, prettier

fix: 识别 JSX 组件变量使用
  frontend/eslint.config.js
Due: eslint, prettier

fix: 保留售前工作台旧入口上下文
  frontend/src/routes/modules/__tests__/presalesRoutes.test.jsx
  frontend/src/routes/modules/__tests__/salesPresaleWorkbenchRoutes.test.jsx
  frontend/src/routes/modules/presalesRedirects.jsx
  frontend/src/routes/modules/presalesRoutes.jsx
  frontend/src/routes/modules/salesRoutes.jsx
Due: eslint, prettier

fix: 打通合同建项未决交接上下文
  app/api/v1/endpoints/sales/contracts/contracts.py
  app/models/sales/contracts.py
  app/services/project_workspace_service.py
  frontend/src/pages/ProjectWorkspace.jsx
  frontend/src/pages/__tests__/ProjectWorkspace.test.jsx
  tests/api/test_project_workspace_contract_api.py
  tests/api/test_sales_contracts_api.py
Due: check-file-size, eslint, prettier

fix: 技术评估直连商机需求上下文
  frontend/src/pages/TechnicalAssessment/hooks/__tests__/useAssessmentData.test.js
  frontend/src/pages/TechnicalAssessment/hooks/useAssessmentData.js
  frontend/src/pages/__tests__/TechnicalAssessment.test.jsx
Due: eslint, prettier

fix: 打通售前技术协作上下文
  app/api/v1/endpoints/presale/workbench.py
  frontend/src/pages/ProjectWorkspace.jsx
  frontend/src/pages/TechnicalAssessment/hooks/__tests__/useAssessmentData.test.js
  frontend/src/pages/TechnicalAssessment/hooks/useAssessmentData.js
  frontend/src/pages/TechnicalAssessment/index.jsx
  frontend/src/pages/__tests__/ProjectWorkspace.test.jsx
  frontend/src/pages/__tests__/TechnicalAssessment.test.jsx
  frontend/src/services/api/__tests__/presaleWorkbench.test.js
  frontend/src/services/api/presaleWorkbench.js
  tests/api/test_presales_contract_api.py
Due: check-file-size, eslint, prettier

fix: 避免需求调研被当前工单过窄过滤
  frontend/src/pages/RequirementSurvey/index.jsx
  frontend/src/pages/__tests__/RequirementSurvey.test.jsx
Due: eslint, prettier

fix: 项目工作台按工单类型打开售前任务
  frontend/src/pages/ProjectWorkspace.jsx
  frontend/src/pages/__tests__/ProjectWorkspace.test.jsx
Due: eslint, prettier

fix: 绑定技术评估售前工单上下文
  app/api/v1/endpoints/sales/assessments/assessments.py
  app/schemas/sales/assessments.py
  frontend/src/pages/TechnicalAssessment/hooks/__tests__/useAssessmentData.test.js
  frontend/src/pages/TechnicalAssessment/hooks/useAssessmentData.js
  frontend/src/services/api/__tests__/assessment.test.js
  frontend/src/services/api/assessment.js
  tests/api/test_technical_assessment_ticket_link_api.py
Due: check-file-size, eslint, prettier

fix: 售前任务区分技术评估类型
  frontend/src/pages/PresalesTasks/constants.js
  frontend/src/pages/PresalesTasks/index.jsx
  frontend/src/pages/ProjectWorkspace.jsx
  frontend/src/pages/__tests__/PresalesTasks.test.jsx
  frontend/src/pages/__tests__/ProjectWorkspace.test.jsx
Due: eslint, prettier

fix: 方案通过不抢占其他工单评估
  app/api/v1/endpoints/presale/proposals.py
  tests/api/test_presales_contract_api.py
Due: check-file-size

fix: 商机页支持发起技术评估工单
  frontend/src/pages/OpportunityManagement/ReviewDialog.jsx
  frontend/src/pages/OpportunityManagement/index.jsx
  frontend/src/pages/__tests__/OpportunityManagement.test.jsx
Due: eslint, prettier

fix: 签约建项回填售前交接上下文
  app/api/v1/endpoints/sales/contracts/sign_project.py
  app/services/status_handlers/contract_handler.py
  tests/api/test_sales_contracts_api.py
Due: check-file-size

fix: 报价继承售前方案成本基线
  app/api/v1/endpoints/sales/quotes.py
  tests/api/test_sales.py
Due: check-file-size

fix: 打通售前方案到报价版本
  app/api/v1/endpoints/sales/quote_versions.py
  app/api/v1/endpoints/sales/quotes.py
  app/services/sales/presale_quote_context.py
  frontend/src/pages/QuoteCreateEdit/constants.js
  frontend/src/pages/QuoteCreateEdit/index.jsx
  frontend/src/pages/__tests__/QuoteCreateEdit.test.jsx
  tests/api/test_sales.py
Due: check-file-size, eslint, prettier

fix: 隔离售前工单技术评估回填
  app/services/technical_assessment_service.py
  tests/api/test_technical_assessment_ticket_link_api.py
Due: check-file-size

fix: 兼容报价包装响应数据
  frontend/src/components/quote/IntelligentQuoteSidebar.jsx
  frontend/src/components/quote/__tests__/IntelligentQuoteSidebar.test.jsx
  frontend/src/pages/QuoteCreateEdit/index.jsx
  frontend/src/pages/__tests__/QuoteCreateEdit.test.jsx
Due: eslint, prettier

fix: 隔离售前工单完成评估闭环
  app/api/v1/endpoints/presale/proposals.py
  app/api/v1/endpoints/presale/tickets/operations.py
  app/services/presale_assessment_completion.py
  tests/api/test_technical_assessment_ticket_link_api.py
Due: check-file-size

fix: 技术评估完成同步当前售前工单
  app/services/technical_assessment_service.py
  tests/api/test_technical_assessment_ticket_link_api.py
Due: check-file-size

fix: 售前方案通过后可生成报价
  frontend/src/pages/PresaleProposals/SolutionListTab.jsx
  frontend/src/pages/PresaleProposals/index.jsx
  frontend/src/pages/PresaleProposals/utils.js
  frontend/src/pages/__tests__/PresaleProposals.test.jsx
Due: eslint, prettier

fix: 兼容技术评估包装响应
  frontend/src/pages/TechnicalAssessment/hooks/__tests__/useAssessmentData.test.js
  frontend/src/pages/TechnicalAssessment/hooks/__tests__/useTechnicalAssessment.test.js
  frontend/src/pages/TechnicalAssessment/hooks/useAssessmentData.js
  frontend/src/pages/TechnicalAssessment/hooks/useTechnicalAssessment.js
Due: eslint, prettier

fix: 签约建项只绑定报价选用方案
  app/services/status_handlers/contract_handler.py
  tests/api/test_sales_contracts_api.py
Due: check-file-size

fix: 项目工作台优先展示项目绑定售前交接
  app/services/project_workspace_service.py
  tests/api/test_project_workspace_contract_api.py
Due: check-file-size

fix: 报价版本保留售前方案上下文
  alembic/versions/20260608_quote_version_presale_context.py
  app/api/v1/endpoints/sales/quote_versions.py
  app/api/v1/endpoints/sales/quotes.py
  app/models/base.py
  app/models/sales/quotes.py
  app/services/sales/presale_quote_context.py
  app/services/status_handlers/contract_handler.py
  frontend/src/pages/ProjectWorkspace.jsx
  frontend/src/pages/__tests__/ProjectWorkspace.test.jsx
  tests/api/test_project_workspace_contract_api.py
  tests/api/test_sales.py
  tests/api/test_sales_contracts_api.py
Due: check-file-size, eslint, prettier

fix: 售前工作台解析线索工单上下文
  app/api/v1/endpoints/presale/workbench.py
  docs/NON_STANDARD_AUTOMATION_USAGE_ROADMAP.md
  tests/api/test_presales_contract_api.py
Due: check-file-size

Path conditions:
  check-file-size: any of: \.py$
  eslint: any of: \.(js|jsx|ts|tsx)$
  prettier: any of: \.(js|jsx|ts|tsx|css)$
