Repository fulingwei1/non-standard-automation-pms: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, eslint, prettier

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# 安装: pip install pre-commit && pre-commit install

repos:
  # 通用钩子
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: 移除行尾空白
      - id: end-of-file-fixer
        name: 确保文件以换行符结尾
      - id: check-yaml
        name: 检查YAML语法
      - id: check-json
        name: 检查JSON语法
      - id: check-added-large-files
        name: 检查大文件
        args: ["--maxkb=500"]
      - id: check-merge-conflict
        name: 检查合并冲突
      - id: detect-private-key
        name: 检测私钥
      - id: no-commit-to-branch
        name: 禁止直接提交到main分支
        args: ["--branch", "main"]

  # Python 代码格式化
  - repo: https://github.com/psf/black
    rev: 24.1.1
    hooks:
      - id: black
        name: Black 代码格式化
        language_version: python3.11
        args: ["--line-length=120"]

  # Python 导入排序
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        name: isort 导入排序
        args: ["--profile=black", "--line-length=120"]

  # Python 代码检查
  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        name: Flake8 代码检查
        args: ["--max-line-length=120", "--ignore=E501,W503,E203"]
        additional_dependencies:
          - flake8-docstrings
          - flake8-bugbear

  # Python 安全检查
  - repo: https://github.com/pycqa/bandit
    rev: 1.7.7
    hooks:
      - id: bandit
        name: Bandit 安全检查
        args: ["-ll", "-ii"]
        exclude: tests/

  # 自定义文件大小检查
  - repo: local
    hooks:
      - id: check-file-size
        name: 检查文件大小限制
        entry: python scripts/check_file_size.py
        language: python
        types: [python]
        pass_filenames: false

      - id: check-function-size
        name: 检查函数大小
        entry: python scripts/check_function_size.py
        language: python
        types: [python]
        pass_filenames: false
        always_run: true

  # JavaScript/TypeScript (前端)
  - repo: local
    hooks:
      - id: eslint
        name: ESLint 检查
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

      - id: prettier
        name: Prettier 格式化检查
        entry: bash -c 'cd frontend && npx prettier --check "src/**/*.{js,jsx,ts,tsx,css}"'
        language: system
        files: \.(js|jsx|ts|tsx|css)$
        pass_filenames: false

# CI 设置
ci:
  autofix_commit_msg: "style: auto fixes from pre-commit hooks"
  autofix_prs: true
  autoupdate_commit_msg: "chore: pre-commit autoupdate"
  autoupdate_schedule: weekly

fix: 线索详情补齐售前入口
  frontend/src/pages/LeadDetail.jsx
  frontend/src/pages/__tests__/LeadDetail.test.jsx
Due: eslint, prettier

fix: 打通线索到售前工单上下文
  alembic/versions/20260607_presale_ticket_lead_context.py
  app/api/v1/endpoints/presale/tickets/crud.py
  app/api/v1/endpoints/presale/tickets/utils.py
  app/models/presale.py
  app/models/presale/core.py
  app/schemas/presale.py
  frontend/src/pages/LeadDetail.jsx
  frontend/src/pages/PresalesTasks/index.jsx
  frontend/src/pages/__tests__/LeadDetail.test.jsx
  frontend/src/pages/__tests__/PresalesTasks.test.jsx
  migrations/20260607_presale_ticket_lead_context_mysql.sql
  migrations/20260607_presale_ticket_lead_context_sqlite.sql
  tests/api/test_presales_contract_api.py
  tests/unit/test_presale_ticket_response.py
Due: check-file-size, eslint, prettier

fix: 售前工单补齐技术评估入口
  frontend/src/pages/PresalesTasks/TaskDetailPanel.jsx
  frontend/src/pages/PresalesTasks/index.jsx
  frontend/src/pages/__tests__/PresalesTasks.test.jsx
Due: eslint, prettier

fix: 技术评估完成同步售前工单
  app/services/technical_assessment_service.py
  tests/api/test_sales.py
  tests/unit/test_technical_assessment_service.py
Due: check-file-size

test: 修正技术评估测试分组注释
  tests/unit/test_technical_assessment_service.py
Due: check-file-size

fix: 打通技术评估上下文到项目交接
  app/services/pmo_initiation/service.py
  app/services/project_workspace_service.py
  frontend/src/pages/InitiationManagement/components/InitiationList.jsx
  frontend/src/pages/InitiationManagement/components/__tests__/InitiationList.test.jsx
  frontend/src/pages/PresalesTasks/TaskDetailPanel.jsx
  frontend/src/pages/ProjectWorkspace.jsx
  frontend/src/pages/TechnicalAssessment/hooks/__tests__/useAssessmentData.test.js
  frontend/src/pages/TechnicalAssessment/hooks/useAssessmentData.js
  frontend/src/pages/TechnicalAssessment/index.jsx
  frontend/src/pages/__tests__/PresalesTasks.test.jsx
  frontend/src/pages/__tests__/ProjectWorkspace.test.jsx
  tests/api/test_project_workspace_contract_api.py
  tests/api/test_sales.py
Due: check-file-size, eslint, prettier

fix: 线索售前工单完成回写技术评估
  app/api/v1/endpoints/presale/tickets/operations.py
  tests/api/test_presales_contract_api.py
Due: check-file-size

fix: 技术评估结果兼容对象字段
  frontend/src/pages/TechnicalAssessment/components/AssessmentHistory.jsx
  frontend/src/pages/TechnicalAssessment/components/AssessmentResults.jsx
  frontend/src/pages/TechnicalAssessment/index.jsx
  frontend/src/pages/TechnicalAssessment/utils/assessmentPayload.js
  frontend/src/pages/__tests__/TechnicalAssessment.test.jsx
Due: eslint, prettier

fix: 技术评估补默认评分规则
  app/services/technical_assessment_service.py
  tests/api/test_sales.py
  tests/unit/test_technical_assessment_service.py
Due: check-file-size

fix: 技术评估改为结构化需求输入
  frontend/src/pages/TechnicalAssessment/components/RequirementDataForm.jsx
  frontend/src/pages/__tests__/TechnicalAssessment.test.jsx
Due: eslint, prettier

fix: 技术评审重置保留项目上下文
  frontend/src/pages/TechnicalReviewList/hooks/__tests__/useTechnicalReviewList.test.js
  frontend/src/pages/TechnicalReviewList/hooks/useTechnicalReviewList.js
Due: eslint, prettier

fix: 商机售前上下文复用线索需求包
  app/api/v1/endpoints/presale/workbench.py
  tests/api/test_presales_contract_api.py
Due: check-file-size

fix: 技术评审问题列表避免路由遮蔽
  app/api/v1/endpoints/technical_review/__init__.py
  tests/api/test_technical_review_contract_api.py
Due: check-file-size

fix: 售前工单贯通线索上下文
  app/api/v1/endpoints/presale/tickets/crud.py
  frontend/src/pages/OpportunityManagement/index.jsx
  frontend/src/pages/RequirementSurvey/index.jsx
  frontend/src/pages/__tests__/OpportunityManagement.test.jsx
  frontend/src/pages/__tests__/RequirementSurvey.test.jsx
  tests/api/test_presales_contract_api.py
Due: check-file-size, eslint, prettier

fix: 项目工作台承接线索售前上下文
  app/services/project_workspace_service.py
  frontend/src/pages/PresalesTasks/TaskDetailPanel.jsx
  frontend/src/pages/ProjectWorkspace.jsx
  frontend/src/pages/__tests__/PresalesTasks.test.jsx
  frontend/src/pages/__tests__/ProjectWorkspace.test.jsx
  tests/api/test_project_workspace_contract_api.py
Due: check-file-size, eslint, prettier

fix: 技术评估页复用售前需求上下文
  frontend/src/pages/TechnicalAssessment/hooks/__tests__/useAssessmentData.test.js
  frontend/src/pages/TechnicalAssessment/hooks/useAssessmentData.js
  frontend/src/pages/TechnicalAssessment/index.jsx
Due: eslint, prettier

fix: 售前方案列表支持线索上下文筛选
  app/api/v1/endpoints/presale/proposals.py
  frontend/src/pages/PresaleProposals/index.jsx
  frontend/src/pages/PresaleProposals/utils.js
  frontend/src/pages/PresalesCostEstimation.jsx
  frontend/src/pages/__tests__/PresaleProposals.test.jsx
  frontend/src/pages/__tests__/PresalesCostEstimation.test.jsx
  tests/api/test_presales_contract_api.py
Due: check-file-size, eslint, prettier

fix: 线索阶段成本核算生成成本基线
  frontend/src/pages/PresalesWorkstation.jsx
  frontend/src/pages/__tests__/PresalesWorkstation.test.jsx
Due: eslint, prettier

fix: 售前技术中心保留线索上下文
  app/api/v1/endpoints/presale/bids.py
  frontend/src/pages/BiddingCenter/index.jsx
  frontend/src/pages/TechnicalParameterManagement.jsx
  frontend/src/pages/__tests__/BiddingCenter.test.jsx
  frontend/src/pages/__tests__/TechnicalParameterManagement.test.jsx
  tests/api/test_presales_contract_api.py
Due: check-file-size, eslint, prettier

fix: 销售售前工作台保留方案线索上下文
  app/api/v1/endpoints/presale/proposals.py
  app/models/presale/core.py
  app/schemas/presale.py
  frontend/src/pages/SalesPresaleWorkbench.jsx
  frontend/src/pages/__tests__/SalesPresaleWorkbench.test.jsx
  tests/api/test_presales_contract_api.py
Due: check-file-size, eslint, prettier

fix: 方案详情页保留线索上下文
  frontend/src/pages/SolutionDetail/components/SolutionHeader.jsx
  frontend/src/pages/SolutionDetail/components/__tests__/SolutionHeader.test.jsx
  frontend/src/pages/SolutionDetail/hooks/__tests__/useSolutionDetail.test.js
  frontend/src/pages/SolutionDetail/hooks/useSolutionDetail.js
  frontend/src/pages/SolutionDetail/index.jsx
  frontend/src/pages/__tests__/SolutionDetail.test.jsx
Due: eslint, prettier

fix: 售前技术中心切换标签保留线索上下文
  frontend/src/pages/PresalesReviewCenter.jsx
  frontend/src/pages/__tests__/PresalesReviewCenter.test.jsx
Due: eslint, prettier

fix: 投标详情返回售前中心保留线索上下文
  app/api/v1/endpoints/presale/bids.py
  app/models/presale/core.py
  app/schemas/presale.py
  frontend/src/pages/BiddingDetail.jsx
  frontend/src/pages/__tests__/BiddingDetail.test.jsx
  tests/api/test_presales_contract_api.py
Due: check-file-size, eslint, prettier

test: 补充投标列表线索上下文契约
  tests/api/test_presales_contract_api.py
Due: check-file-size

fix: 投标成本支持进入售前估算上下文
  frontend/src/pages/BiddingCenter/BiddingDetailPanel.jsx
  frontend/src/pages/BiddingCenter/index.jsx
  frontend/src/pages/PresalesTasks/TaskDetailPanel.jsx
  frontend/src/pages/__tests__/BiddingCenter.test.jsx
  frontend/src/pages/__tests__/PresalesTasks.test.jsx
Due: eslint, prettier

fix: 售前需求调研支持上下文创建
  frontend/src/pages/RequirementSurvey/index.jsx
  frontend/src/pages/__tests__/RequirementSurvey.test.jsx
Due: eslint, prettier

fix: 项目管理中心补售前交接入口
  frontend/src/pages/ProjectHealthMonitor.jsx
  frontend/src/pages/ProjectManagementCenter.jsx
  frontend/src/pages/__tests__/ProjectManagementCenter.test.jsx
Due: eslint, prettier

fix: 技术参数模板创建保留售前上下文
  frontend/src/pages/TechnicalParameterManagement.jsx
  frontend/src/pages/__tests__/TechnicalParameterManagement.test.jsx
Due: eslint, prettier

fix: 线索阶段售前方案保留上下文
  app/api/v1/endpoints/presale/proposals.py
  app/api/v1/endpoints/presale/technical_parameters.py
  app/schemas/presale.py
  app/schemas/presale_technical_parameter.py
  app/services/presale/technical_parameter_service.py
  frontend/src/pages/PresaleProposals/index.jsx
  frontend/src/pages/__tests__/PresaleProposals.test.jsx
  tests/api/test_presales_contract_api.py
  tests/unit/schemas/test_presale_technical_parameter_schema.py
  tests/unit/test_technical_parameter_service_coverage.py
Due: check-file-size, eslint, prettier

fix: 线索阶段投标创建保留上下文
  app/api/v1/endpoints/presale/bids.py
  app/schemas/presale.py
  frontend/src/pages/BiddingCenter/index.jsx
  frontend/src/pages/__tests__/BiddingCenter.test.jsx
  tests/api/test_presales_contract_api.py
Due: check-file-size, eslint, prettier

fix: 售前成本估算创建方案留痕
  app/api/v1/endpoints/presale/proposals.py
  app/schemas/presale.py
  frontend/src/pages/PresalesCostEstimation.jsx
  frontend/src/pages/__tests__/PresalesCostEstimation.test.jsx
  tests/api/test_presales_contract_api.py
Due: check-file-size, eslint, prettier

fix: 售前成本闭环保留明细上下文
  app/api/v1/endpoints/presale/workbench.py
  frontend/src/pages/PresalesWorkstation.jsx
  frontend/src/pages/__tests__/PresalesWorkstation.test.jsx
  tests/api/test_presales_contract_api.py
Due: check-file-size, eslint, prettier

fix: 销售合同和方案详情保留上下文
  app/api/v1/endpoints/sales/contracts/basic.py
  app/schemas/sales/contracts.py
  frontend/src/pages/SolutionDetail/components/SolutionHeader.jsx
  frontend/src/pages/SolutionDetail/index.jsx
  frontend/src/pages/__tests__/SolutionDetail.test.jsx
  tests/api/test_sales_contracts_api.py
Due: check-file-size, eslint, prettier

fix: 签约建项继承报价成本基线
  app/services/status_handlers/contract_handler.py
  tests/api/test_sales_contracts_api.py
  tests/unit/test_contract_handler.py
Due: check-file-size

fix: 报价模板旧入口和缺失审批状态
  app/api/v1/endpoints/sales/quote_per_id_approval.py
  app/api/v1/endpoints/sales/quotes.py
  tests/api/test_sales_quotes_api.py
Due: check-file-size

fix: 项目阶段初始化保持幂等
  app/utils/project_utils.py
  tests/unit/test_utils_missing.py
Due: check-file-size

chore: 清理报价审批未使用变量
  app/api/v1/endpoints/sales/quote_per_id_approval.py
Due: check-file-size

fix: 售前工单继承商机上下文
  app/api/v1/endpoints/presale/tickets/crud.py
  tests/api/test_presale_api.py
Due: check-file-size

fix: 售前工单兼容外部商机编号
  app/api/v1/endpoints/presale/tickets/crud.py
Due: check-file-size

fix: 收款计划按合同条款生成比例
  app/services/sales/payment_plan_service.py
  tests/services/test_payment_plan_service.py
Due: check-file-size
