Repository fulingwei1/non-standard-automation-pms: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, eslint, prettier

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# 安装: pip install pre-commit && pre-commit install

repos:
  # 通用钩子
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: 移除行尾空白
      - id: end-of-file-fixer
        name: 确保文件以换行符结尾
      - id: check-yaml
        name: 检查YAML语法
      - id: check-json
        name: 检查JSON语法
      - id: check-added-large-files
        name: 检查大文件
        args: ["--maxkb=500"]
      - id: check-merge-conflict
        name: 检查合并冲突
      - id: detect-private-key
        name: 检测私钥
      - id: no-commit-to-branch
        name: 禁止直接提交到main分支
        args: ["--branch", "main"]

  # Python 代码格式化
  - repo: https://github.com/psf/black
    rev: 24.1.1
    hooks:
      - id: black
        name: Black 代码格式化
        language_version: python3.11
        args: ["--line-length=120"]

  # Python 导入排序
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        name: isort 导入排序
        args: ["--profile=black", "--line-length=120"]

  # Python 代码检查
  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        name: Flake8 代码检查
        args: ["--max-line-length=120", "--ignore=E501,W503,E203"]
        additional_dependencies:
          - flake8-docstrings
          - flake8-bugbear

  # Python 安全检查
  - repo: https://github.com/pycqa/bandit
    rev: 1.7.7
    hooks:
      - id: bandit
        name: Bandit 安全检查
        args: ["-ll", "-ii"]
        exclude: tests/

  # 自定义文件大小检查
  - repo: local
    hooks:
      - id: check-file-size
        name: 检查文件大小限制
        entry: python scripts/check_file_size.py
        language: python
        types: [python]
        pass_filenames: false

      - id: check-function-size
        name: 检查函数大小
        entry: python scripts/check_function_size.py
        language: python
        types: [python]
        pass_filenames: false
        always_run: true

  # JavaScript/TypeScript (前端)
  - repo: local
    hooks:
      - id: eslint
        name: ESLint 检查
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

      - id: prettier
        name: Prettier 格式化检查
        entry: bash -c 'cd frontend && npx prettier --check "src/**/*.{js,jsx,ts,tsx,css}"'
        language: system
        files: \.(js|jsx|ts|tsx|css)$
        pass_filenames: false

# CI 设置
ci:
  autofix_commit_msg: "style: auto fixes from pre-commit hooks"
  autofix_prs: true
  autoupdate_commit_msg: "chore: pre-commit autoupdate"
  autoupdate_schedule: weekly

fix project member compatibility endpoints
  app/api/v1/endpoints/projects/members/crud.py
  tests/api/test_project_members_api.py
Due: check-file-size

fix project review api tests
  app/api/v1/endpoints/project_review/__init__.py
  app/api/v1/endpoints/project_review/knowledge.py
  app/api/v1/endpoints/project_review/lessons.py
  app/models/project/core.py
  app/models/project/customer.py
  app/models/project_review.py
  app/services/project_review_ai/knowledge_syncer.py
  app/services/project_review_ai/report_generator.py
Due: check-file-size

fix(frontend): align shortage dashboard and arrival tracking routes
  frontend/src/lib/allMenuItems.js
  frontend/src/pages/ArrivalDetail.jsx
  frontend/src/pages/ArrivalNew.jsx
  frontend/src/pages/ArrivalTrackingList.jsx
  frontend/src/pages/ShortageManagement.jsx
  frontend/src/pages/ShortageManagementBoard.jsx
  frontend/src/pages/ShortageReportDetail.jsx
  frontend/src/pages/UnifiedDashboard/widgets/QuickActions.jsx
  frontend/src/pages/shortage/dashboard/AlertDashboard.jsx
  frontend/src/routes/modules/procurementRoutes.jsx
  frontend/src/routes/modules/productionRoutes.jsx
  frontend/src/services/api/production.js
Due: eslint, prettier

feat: improve customer service center and sales approval flow
  app/api/v1/endpoints/sales/opportunity_crud.py
  app/api/v1/endpoints/sales/opportunity_workflow.py
  app/api/v1/endpoints/sales/quotes.py
  app/api/v1/endpoints/service/records.py
  app/api/v1/endpoints/service/tickets/crud.py
  app/services/quote_approval/quote_approval_service.py
  frontend/src/components/layout/sidebarConfig/default.js
  frontend/src/components/ui/tabs.jsx
  frontend/src/lib/allMenuItems.js
  frontend/src/pages/CustomerServiceCenter.jsx
  frontend/src/pages/CustomerServiceWorkbench.jsx
  frontend/src/routes/modules/systemRoutes.jsx
  tests/api/test_sales_opportunity_unit.py
  tests/api/test_sales_quotes_unit.py
  tests/unit/test_quote_approval_service_cov57.py
Due: check-file-size, eslint, prettier

fix(frontend): sync customer service menu with latest routes
  frontend/src/lib/allMenuItems.js
Due: eslint, prettier

feat(sales): 新增销售预测与漏斗优化服务及测试
  app/services/sales/forecast_dashboard_service.py
  app/services/sales/forecast_enhancement_service.py
  app/services/sales/funnel_optimization_service.py
  app/services/sales/quote_statistics_service.py
  app/services/sales/target_performance_service.py
  tests/api/test_sales_forecast_dashboard_unit.py
  tests/api/test_sales_health_unit.py
  tests/api/test_sales_targets_unit.py
  tests/unit/services/sales/test_forecast_dashboard_service.py
  tests/unit/services/sales/test_forecast_enhancement_service.py
  tests/unit/services/sales/test_funnel_optimization_service.py
  tests/unit/services/sales/test_quote_statistics_service.py
  tests/unit/services/sales/test_target_performance_service.py
Due: check-file-size

docs: add CLAUDE.md, ARCHITECTURE.md, and AI_CHANGELOG.md
  ARCHITECTURE.md
  CLAUDE.md
  docs/AI_CHANGELOG.md
Due: none

fix: ESLint 归零 + 测试基础设施改进
  frontend/src/components/common/LoadingPage.jsx
  frontend/src/components/common/__tests__/DeleteConfirmDialog.test.jsx
  frontend/src/components/common/__tests__/ErrorBoundary.test.jsx
  frontend/src/components/common/__tests__/PermissionGuard.test.jsx
  frontend/src/components/common/__tests__/__snapshots__/ConfirmDialog.test.jsx.snap
  frontend/src/components/common/__tests__/__snapshots__/DeleteConfirmDialog.test.jsx.snap
  frontend/src/components/common/__tests__/__snapshots__/LoadingPage.test.jsx.snap
  frontend/src/components/dashboard/DashboardStatCard.jsx
  frontend/src/components/dashboard/__tests__/DashboardStatCard.test.jsx
  frontend/src/components/dashboard/__tests__/__snapshots__/DashboardStatCard.test.jsx.snap
  frontend/src/context/__tests__/PermissionContext.test.jsx
  frontend/src/hooks/__tests__/useAnalytics.test.js
  frontend/src/hooks/__tests__/useIntersectionObserver.test.js
  frontend/src/lib/constants/materialReadiness.js
  frontend/src/pages/ArrivalNew.jsx
  frontend/src/pages/AssemblyKitBoard.jsx
  frontend/src/pages/BOMManagement.jsx
  frontend/src/pages/BOMManagement/hooks/useBOMManagement.js
  frontend/src/pages/BomAssemblyAttrs.jsx
  frontend/src/pages/BomAssemblyAttrs/hooks/useBomAssemblyAttrs.js
  frontend/src/pages/ContractList.jsx
  frontend/src/pages/GoodsReceiptNew/hooks/__tests__/useGoodsReceiptNew.test.js
  frontend/src/pages/MaterialList.jsx
  frontend/src/pages/MaterialReadiness.jsx
  frontend/src/pages/MaterialReadiness/hooks/useMaterialReadiness.js
  frontend/src/pages/MaterialTracking.jsx
  frontend/src/pages/MaterialTracking/hooks/useMaterialTracking.js
  frontend/src/pages/PurchaseMaterialCostManagement/hooks/usePurchaseMaterialCost.js
  frontend/src/pages/PurchaseOrderFromBOM/components/BOMSelectionStep.jsx
  frontend/src/pages/PurchaseOrderFromBOM/hooks/usePurchaseOrderFromBOM.js
  frontend/src/pages/PurchaseRequestNew.jsx
  frontend/src/pages/PurchaseRequestNew/hooks/usePurchaseRequestNew.js
  frontend/src/pages/SalesOpportunityCenter.test.jsx
  frontend/src/pages/ShortageReportNew.jsx
  frontend/src/pages/SubstitutionNew.jsx
  frontend/src/pages/TransferNew.jsx
  frontend/src/pages/mobile/MobileMaterialRequisition.jsx
  frontend/src/pages/mobile/MobileShortageReport.jsx
  frontend/src/services/__tests__/errorService.test.js
  frontend/src/test/setupTests.js
Due: eslint, prettier

test: 修复 mock 数据格式，测试通过率 85% → 97%
  frontend/src/components/PresaleAI/__tests__/AIStatsChart.test.jsx
  frontend/src/components/dashboard/__tests__/DashboardStatCard.test.jsx
  frontend/src/components/layout/__tests__/Header.test.jsx
  frontend/src/components/layout/__tests__/MainLayout.test.jsx
  frontend/src/components/layout/__tests__/NavItem.test.jsx
  frontend/src/components/project/__tests__/ProjectCostFilter.test.jsx
  frontend/src/components/project/__tests__/ProjectTimeline.test.jsx
  frontend/src/components/project/__tests__/__snapshots__/ProjectCostFilter.test.jsx.snap
  frontend/src/components/project/__tests__/__snapshots__/ProjectTimeline.test.jsx.snap
  frontend/src/pages/__tests__/AcceptanceExecution.test.jsx
  frontend/src/pages/__tests__/BOMManagement.test.jsx
  frontend/src/pages/__tests__/ContractList.test.jsx
  frontend/src/pages/__tests__/InventoryAnalysis.test.jsx
  frontend/src/pages/__tests__/MachineManagement.test.jsx
  frontend/src/pages/__tests__/MaterialReadiness.test.jsx
  frontend/src/pages/__tests__/OpportunityManagement.test.jsx
  frontend/src/pages/__tests__/PermissionManagement.test.jsx
  frontend/src/pages/__tests__/QualificationManagement.test.jsx
  frontend/src/pages/__tests__/ServiceRecord.test.jsx
Due: eslint, prettier

test: 全部测试通过 — 0 failures, 2454 passed
  frontend/src/components/common/__tests__/ConfirmDialog.test.jsx
  frontend/src/components/common/__tests__/DeleteConfirmDialog.test.jsx
  frontend/src/components/common/__tests__/ErrorBoundary.test.jsx
  frontend/src/components/common/__tests__/LoadingPage.test.jsx
  frontend/src/components/common/__tests__/PermissionGuard.test.jsx
  frontend/src/components/procurement-manager-dashboard/__tests__/StatsCards.test.jsx
  frontend/src/components/procurement-manager-dashboard/__tests__/__snapshots__/StatsCards.test.jsx.snap
  frontend/src/components/sales/__tests__/CustomerCard.test.jsx
  frontend/src/components/sales/__tests__/OpportunityCard.test.jsx
  frontend/src/core/__tests__/integration/components.integration.test.tsx
  frontend/src/core/components/FilterPanel/__tests__/FilterPanel.test.tsx
  frontend/src/hooks/__tests__/useAnalytics.test.js
  frontend/src/hooks/__tests__/useIntersectionObserver.test.js
  frontend/src/pages/ContractApproval.test.jsx
  frontend/src/pages/ProjectTaskList/hooks/__tests__/useProjectTaskList.test.js
  frontend/src/pages/SalesFunnel.test.jsx
  frontend/src/pages/SalesOpportunityCenter.test.jsx
  frontend/src/pages/Timesheet/hooks/__tests__/useTimesheet.test.js
  frontend/src/pages/__tests__/KnowledgeBase.create-modal.test.jsx
  frontend/src/pages/__tests__/KnowledgeBase.test.jsx
  frontend/src/pages/__tests__/MaterialTracking.test.jsx
  frontend/src/pages/__tests__/SupplierManagementData.test.jsx
  frontend/src/services/__tests__/errorService.test.js
  frontend/src/test/setupTests.js
  frontend/src/utils/validators.test.js
Due: eslint, prettier

docs: add CLAUDE.md, CONTRIBUTING.md, and ARCHITECTURE.md
  ARCHITECTURE.md
  CLAUDE.md
  CONTRIBUTING.md
Due: none

fix: correct dev port to 8002 and remove broken doc link
  ARCHITECTURE.md
  CLAUDE.md
  CONTRIBUTING.md
Due: none

feat(frontend): add unified permission adapter and fail-closed guards
  frontend/src/components/common/ProtectedRoute.jsx
  frontend/src/components/common/__tests__/ProtectedRoute.test.jsx
  frontend/src/components/layout/sidebarUtils.js
  frontend/src/context/PermissionContext.jsx
  frontend/src/context/__tests__/PermissionContext.test.jsx
  frontend/src/lib/permission/ModuleProtectedRoute.jsx
  frontend/src/lib/permission/__tests__/useModuleAccess.test.jsx
  frontend/src/lib/permission/constants.js
  frontend/src/lib/permission/index.js
  frontend/src/lib/permission/useModuleAccess.js
Due: eslint, prettier

ci(security): add permission coverage audit script and guardrail tests
  scripts/audit_permission_coverage.py
  tests/test_api_permission_scan.py
  tests/unit/test_permission_guardrails.py
Due: check-file-size

refactor(permissions): extract unified permission engine
  app/core/auth.py
  app/core/permission_engine.py
  app/services/permission_service.py
  tests/unit/test_permission_engine.py
Due: check-file-size

test(permissions): add engineer performance data-scope guardrails
  tests/unit/test_engperf_data_scope.py
Due: check-file-size

feat(permissions): cover sales contract high-risk APIs
  app/api/v1/endpoints/sales/contracts/basic.py
  app/api/v1/endpoints/sales/contracts/deliverables.py
  app/api/v1/endpoints/sales/contracts/enhanced.py
  app/api/v1/endpoints/sales/contracts/export.py
  app/api/v1/endpoints/sales/contracts/payment_plans.py
  app/api/v1/endpoints/sales/contracts/sign_project.py
  app/utils/init_permissions_data.py
Due: check-file-size

feat(permissions): enforce engineer performance data scopes
  app/api/v1/endpoints/engineer_performance/collaboration.py
  app/api/v1/endpoints/engineer_performance/engineer.py
  app/api/v1/endpoints/engineer_performance/knowledge.py
  app/api/v1/endpoints/engineer_performance/ranking.py
  app/api/v1/endpoints/engineer_performance/summary.py
  app/services/engineer_performance/engineer_performance_service.py
  app/services/engineer_performance/engperf_scope.py
  app/services/engineer_performance/ranking_service.py
Due: check-file-size

docs(permissions): define engineer performance data-scope plan
  ENGPERF_DATA_SCOPE_PLAN.md
Due: none

feat(permissions): add engineer performance scope core
  app/models/permission.py
  app/services/engineer_performance/engperf_scope.py
  tests/unit/test_engperf_scope.py
Due: check-file-size

feat(permissions): cover approvals and warehouse high-risk APIs
  app/api/v1/endpoints/approvals/instances.py
  app/api/v1/endpoints/approvals/tasks.py
  app/api/v1/endpoints/approvals/templates.py
  app/api/v1/endpoints/warehouse/alerts.py
  app/api/v1/endpoints/warehouse/count.py
  app/api/v1/endpoints/warehouse/crud.py
  app/api/v1/endpoints/warehouse/locations.py
  app/utils/init_permissions_data.py
Due: check-file-size

feat(permissions): add action guards to engineer performance APIs
  app/api/v1/endpoints/engineer_performance/collaboration.py
  app/api/v1/endpoints/engineer_performance/config.py
  app/api/v1/endpoints/engineer_performance/data_collection.py
  app/api/v1/endpoints/engineer_performance/data_integrity.py
  app/api/v1/endpoints/engineer_performance/data_sync.py
  app/api/v1/endpoints/engineer_performance/engineer.py
  app/api/v1/endpoints/engineer_performance/feedback.py
  app/api/v1/endpoints/engineer_performance/knowledge.py
  app/api/v1/endpoints/engineer_performance/manager_evaluation.py
  app/api/v1/endpoints/engineer_performance/ranking.py
  app/api/v1/endpoints/engineer_performance/solution.py
  app/api/v1/endpoints/engineer_performance/summary.py
  app/api/v1/endpoints/engineer_performance/trend.py
Due: check-file-size

feat(permissions): add sales data-scope core
  SALES_DATA_SCOPE_PLAN.md
  app/services/sales/sales_scope.py
Due: check-file-size

feat(permissions): add sales scope checks for critical detail endpoints
  SALES_SCOPE_ENDPOINT_MATRIX.md
  app/api/v1/endpoints/sales/contracts/basic.py
  app/api/v1/endpoints/sales/opportunity_crud.py
  app/api/v1/endpoints/sales/quote_quotes_crud.py
  app/core/sales_permissions.py
  app/core/security.py
Due: check-file-size

docs(permissions): define approvals participant-scope model
  APPROVALS_SCOPE_ASSESSMENT.md
Due: none

feat(permissions): expand sales scope to exports and analytics
  SALES_SCOPE_ENDPOINT_MATRIX.md
  app/api/v1/endpoints/sales/contracts/deliverables.py
  app/api/v1/endpoints/sales/contracts/export.py
  app/api/v1/endpoints/sales/opportunity_analytics.py
  app/api/v1/endpoints/sales/quote_items.py
  app/api/v1/endpoints/sales/quote_versions.py
  tests/unit/test_sales_scope_expansion.py
Due: check-file-size

feat(permissions): add approvals participant-scope core
  app/services/approval_engine/approval_scope.py
  tests/unit/test_approval_scope.py
Due: check-file-size

feat(permissions): enforce approvals participant visibility
  app/api/v1/endpoints/approvals/instances.py
  app/api/v1/endpoints/approvals/tasks.py
  app/services/approval_engine/__init__.py
  app/services/approval_engine/visibility.py
  tests/unit/test_approval_visibility.py
Due: check-file-size

feat(permissions): extend sales scope to lists and analytics
  app/api/v1/endpoints/sales/contacts.py
  app/api/v1/endpoints/sales/pipeline_analysis.py
  app/api/v1/endpoints/sales/quote_exports.py
  app/api/v1/endpoints/sales/statistics_prediction.py
  app/api/v1/endpoints/sales/statistics_quotes.py
  app/services/pipeline_break_analysis_service.py
  tests/unit/test_sales_lists_scope.py
Due: check-file-size

feat(permissions): tighten approvals reminder and comment visibility
  app/api/v1/endpoints/approvals/pending_refactored.py
  app/api/v1/endpoints/approvals/tasks.py
  app/services/approval_engine/visibility.py
  tests/unit/test_approval_visibility.py
Due: check-file-size

test(permissions): add approvals and sales scope integration tests
  tests/integration/test_approval_visibility_integration.py
  tests/integration/test_sales_scope_integration.py
Due: check-file-size
