Repository fulingwei1/non-standard-automation-pms: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, eslint, prettier

check-file-size:
  name: 检查文件大小限制
  entry: python scripts/check_file_size.py
  language: python
  pass_filenames: false

eslint:
  name: ESLint 检查
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

prettier:
  name: Prettier 格式化检查
  entry: bash -c 'cd frontend && npx prettier --check "src/**/*.{js,jsx,ts,tsx,css}"'
  language: system
  pass_filenames: false

feat(tests): add complete unit tests for KPI collectors
  app/services/strategy/kpi_collector/collectors.py
  tests/unit/test_kpi_collectors.py
  tests/unit/test_permission_management_service.py
Due: check-file-size

feat: 为quote审批适配器编写完整单元测试
  tests/unit/test_approval_adapter_quote.py
Due: check-file-size

test: 为PmoInitiationService添加完整单元测试
  tests/unit/test_pmo_initiation_service.py
Due: check-file-size

✅ 添加 project_crud/service.py 单元测试 (60+ 测试用例, 70%+ 覆盖率)
  tests/unit/test_project_crud_service.py
Due: check-file-size

📄 添加 ProjectCrudService 单元测试报告
  tests/unit/TEST_REPORT_project_crud.md
Due: none

test: add comprehensive unit tests for outsourcing approval adapter
  tests/unit/test_approval_adapter_outsourcing.py
Due: check-file-size

test: 为quotation_pdf_service添加完整单元测试
  tests/unit/test_quotation_pdf_service.py
Due: check-file-size

test(approval): add comprehensive unit tests for ApprovalAdapter base class
  tests/unit/test_approval_adapter_base.py
Due: check-file-size

feat: 添加 analysis_generator 完整单元测试
  tests/unit/TEST_REPORT_analysis_generator.md
  tests/unit/test_analysis_generator.py
Due: check-file-size

feat: 添加PPT生成器完整单元测试
  tests/unit/test_ppt_generator.py
Due: check-file-size

test: 添加approval_engine/actions.py完整单元测试
  tests/unit/test_approval_engine_actions.py
Due: check-file-size

✅ 添加 work_log_auto_generator 完整单元测试
  app/services/report_framework/generators/project.py
  tests/unit/test_project_generator.py
  tests/unit/test_work_log_auto_generator.py
Due: check-file-size

feat: 为lesson_extractor添加完整单元测试
  tests/unit/test_lesson_extractor.py
Due: check-file-size

fix: Replace WorkLog.work_hours with Timesheet.hours in presales adapter
  app/services/dashboard_adapters/presales.py
  tests/unit/test_presales_adapter.py
Due: check-file-size

feat: 为10个service添加完整单元测试（60%+覆盖率，54个测试用例）
  app/tests/conftest.py
  app/tests/services/TEST_SUMMARY.md
  app/tests/services/procurement_analysis/__init__.py
  app/tests/services/procurement_analysis/test_cost_trend_analyzer.py
  app/tests/services/procurement_analysis/test_delivery_analyzer.py
  app/tests/services/procurement_analysis/test_efficiency_analyzer.py
  app/tests/services/procurement_analysis/test_price_analyzer.py
  app/tests/services/procurement_analysis/test_quality_analyzer.py
  app/tests/services/production/__init__.py
  app/tests/services/production/test_plan_service.py
  app/tests/services/report_framework/__init__.py
  app/tests/services/report_framework/adapters/__init__.py
  app/tests/services/report_framework/adapters/test_report_data_generation.py
  app/tests/services/report_framework/adapters/test_sales.py
  app/tests/services/report_framework/adapters/test_template.py
  app/tests/services/report_framework/adapters/test_timesheet.py
Due: check-file-size

docs: 添加单元测试完成报告
  UNIT_TEST_COMPLETION_REPORT.md
Due: none

✨ feat: 完成最后一批 7 个 service 的完整单元测试
  tests/unit/test_kpi_crud_complete.py
  tests/unit/test_kpi_registry_complete.py
  tests/unit/test_kpi_snapshot_complete.py
  tests/unit/test_kpi_status_complete.py
  tests/unit/test_kpi_value_complete.py
  tests/unit/test_win_rate_history_complete.py
  tests/unit/test_win_rate_service_complete.py
Due: check-file-size

feat: 添加10个service模块的完整单元测试
  tests/unit/services/report_framework/__init__.py
  tests/unit/services/report_framework/data_sources/__init__.py
  tests/unit/services/report_framework/data_sources/test_query.py
  tests/unit/services/report_framework/data_sources/test_service.py
  tests/unit/services/report_framework/expressions/__init__.py
  tests/unit/services/report_framework/expressions/test_parser.py
  tests/unit/services/resource_waste_analysis/__init__.py
  tests/unit/services/resource_waste_analysis/test_core.py
  tests/unit/services/stage_instance/__init__.py
  tests/unit/services/stage_instance/test_core.py
  tests/unit/services/stage_template/__init__.py
  tests/unit/services/stage_template/test_core.py
  tests/unit/services/strategy/annual_work_service/__init__.py
  tests/unit/services/strategy/annual_work_service/test_crud.py
  tests/unit/services/strategy/annual_work_service/test_progress.py
  tests/unit/services/strategy/decomposition/__init__.py
  tests/unit/services/strategy/decomposition/test_stats.py
  tests/unit/services/strategy/kpi_collector/__init__.py
  tests/unit/services/strategy/kpi_collector/test_calculation.py
Due: check-file-size

feat: Add comprehensive unit tests for batch19 services (255+ test cases)
  TEST_REPORT_BATCH19_APPROVAL_ADAPTERS.md
  tests/unit/test_approval_adapter_invoice_batch19.py
  tests/unit/test_approval_adapter_timesheet_batch19.py
  tests/unit/test_approval_engine_query_batch19.py
  tests/unit/test_approval_notify_batch_batch19.py
  tests/unit/test_data_integrity_core_batch19.py
  tests/unit/test_lead_priority_scoring_core_batch19.py
  tests/unit/test_preset_templates_delivery_batch19.py
  tests/unit/test_preset_templates_execution_batch19.py
  tests/unit/test_preset_templates_standard_batch19.py
Due: check-file-size

docs: 添加Batch21测试报告 - 10个service模块单元测试
  TEST_REPORT_BATCH21_SERVICE_TESTS.md
Due: none

docs: Add batch19 completion summary
  BATCH19_COMPLETION_SUMMARY.md
Due: none

fix: 修复验收管理API和采购&库存集成测试
  app/api/v1/api.py
  tests/integration/purchase_material_inventory/conftest.py
  tests/integration/purchase_material_inventory/test_01_complete_purchase_flow.py
  tests/integration/purchase_material_inventory/test_02_shortage_emergency_purchase.py
Due: check-file-size

test: 批次1 - 新增核心模块测试，覆盖率提升
  coverage_boost_plan.md
  coverage_boost_progress_report.md
  tests/unit/core/state_machine/test_base.py
  tests/unit/core/test_account_lockout.py
  tests/unit/core/test_api_key_auth.py
  tests/unit/core/test_encryption.py
  tests/unit/core/test_exceptions.py
  tests/unit/core/test_rate_limit.py
  tests/unit/core/test_security_headers.py
Due: check-file-size

feat: Add comprehensive E2E tests with Playwright
  frontend/e2e/README.md
  frontend/e2e/approval-flow.spec.js
  frontend/e2e/auth.spec.js
  frontend/e2e/helpers/test-helpers.js
  frontend/e2e/procurement-flow.spec.js
  frontend/e2e/project-management.spec.js
  frontend/e2e/sales-flow.spec.js
  frontend/package.json
  frontend/playwright.config.js
Due: eslint, prettier

feat: 新增10个核心页面测试文件 (Batch 3)
  frontend/src/pages/__tests__/Acceptance.test.jsx
  frontend/src/pages/__tests__/AdminDashboard.test.jsx
  frontend/src/pages/__tests__/AlertCenter.test.jsx
  frontend/src/pages/__tests__/ApprovalCenter.test.jsx
  frontend/src/pages/__tests__/AttendanceManagement.test.jsx
  frontend/src/pages/__tests__/BiddingCenter.test.jsx
  frontend/src/pages/__tests__/ContractManagement.test.jsx
  frontend/src/pages/__tests__/CustomerList.test.jsx
  frontend/src/pages/__tests__/DepartmentManagement.test.jsx
  frontend/src/pages/__tests__/Documents.test.jsx
  frontend/src/pages/__tests__/InvoiceManagement.test.jsx
  frontend/src/pages/__tests__/IssueManagement.test.jsx
  frontend/src/pages/__tests__/PaymentManagement.test.jsx
  frontend/src/pages/__tests__/PresalesTasks.test.jsx
  frontend/src/pages/__tests__/ProjectBoard.test.jsx
  frontend/src/pages/__tests__/ProjectDetail.test.jsx
  frontend/src/pages/__tests__/ProjectList.test.jsx
  frontend/src/pages/__tests__/PurchaseOrderDetail.test.jsx
  frontend/src/pages/__tests__/PurchaseOrders.test.jsx
  frontend/src/pages/__tests__/RoleManagement.test.jsx
  frontend/src/pages/__tests__/SalesFunnel.test.jsx
  frontend/src/pages/__tests__/SolutionList.test.jsx
  frontend/src/pages/__tests__/SupplierManagement.test.jsx
  frontend/src/pages/__tests__/UserManagement.test.jsx
Due: eslint, prettier

feat(frontend): Add Batch 2 business page tests - 9 new test suites
  frontend/src/pages/__tests__/AttendanceManagement.test.jsx
  frontend/src/pages/__tests__/CustomerManagement.test.jsx
  frontend/src/pages/__tests__/LeaveManagement.test.jsx
Due: eslint, prettier

test: 补充核心 API 端点测试 - 19个测试文件，284个测试用例
  API_TEST_REPORT.md
  tests/api/test_approvals_instances_api.py
  tests/api/test_approvals_tasks_api.py
  tests/api/test_approvals_templates_api.py
  tests/api/test_approvals_workflows_api.py
  tests/api/test_projects_costs_budget_api.py
  tests/api/test_projects_documents_api.py
  tests/api/test_projects_milestones_api.py
  tests/api/test_projects_resource_plan_api.py
  tests/api/test_projects_work_logs_api.py
  tests/api/test_purchase_orders_api.py
  tests/api/test_purchase_receipts_api.py
  tests/api/test_purchase_requests_api.py
  tests/api/test_purchase_suppliers_api.py
  tests/api/test_sales_contracts_api.py
  tests/api/test_sales_customers_api.py
  tests/api/test_sales_invoices_api.py
  tests/api/test_sales_opportunities_api.py
  tests/api/test_sales_payments_api.py
  tests/api/test_sales_quotes_api.py
Due: check-file-size

feat(test): 为 Utils 和 Common 层添加全面测试（第一批）
  TEST_PLAN_UTILS_COMMON.md
  UTILS_COMMON_TESTS_DELIVERY_REPORT.md
  UTILS_COMMON_TEST_PROGRESS.md
  tests/unit/test_batch_operations_comprehensive.py
  tests/unit/test_context_comprehensive.py
  tests/unit/test_date_range_comprehensive.py
  tests/unit/test_db_helpers_comprehensive.py
  tests/unit/test_numerical_utils_comprehensive.py
  tests/unit/test_pagination_comprehensive.py
  tests/unit/test_query_filters_comprehensive.py
  tests/unit/test_risk_calculator_comprehensive.py
  tests/unit/test_tree_builder_comprehensive.py
Due: check-file-size

docs: 添加API测试补充总结文档
  TEST_SUMMARY.md
Due: none

feat(frontend): 补充 Hooks 全面测试
  frontend/HOOKS_TEST_SUMMARY.md
  frontend/src/hooks/__tests__/useAnalytics.test.js
  frontend/src/hooks/__tests__/useApi.test.js
  frontend/src/hooks/__tests__/useAsync.test.js
  frontend/src/hooks/__tests__/useDebounce.test.js
  frontend/src/hooks/__tests__/useEvaluationTasks.test.js
  frontend/src/hooks/__tests__/useFilter.test.js
  frontend/src/hooks/__tests__/useForm.test.js
  frontend/src/hooks/__tests__/useIntersectionObserver.test.js
  frontend/src/hooks/__tests__/useLocalStorage.test.js
  frontend/src/hooks/__tests__/useModal.test.js
  frontend/src/hooks/__tests__/useMonthlySummary.test.js
  frontend/src/hooks/__tests__/usePagination.test.js
  frontend/src/hooks/__tests__/usePerformanceData.test.js
  frontend/src/hooks/__tests__/usePermission.test.js
  frontend/src/hooks/__tests__/usePreloadData.test.js
  frontend/src/hooks/__tests__/useRoleFilter.test.js
  frontend/src/hooks/__tests__/useToast.test.js
  frontend/src/hooks/__tests__/useToggle.test.js
  frontend/src/hooks/__tests__/useWeightConfig.test.js
Due: eslint, prettier

feat(frontend): 添加20个核心组件的完整测试
  frontend/src/components/business-support/__tests__/ContractCard.test.jsx
  frontend/src/components/charts/__tests__/ChartContainer.test.jsx
  frontend/src/components/charts/__tests__/PieChart.test.jsx
  frontend/src/components/charts/__tests__/__snapshots__/PieChart.test.jsx.snap
  frontend/src/components/common/__tests__/ConfirmDialog.test.jsx
  frontend/src/components/common/__tests__/DeleteConfirmDialog.test.jsx
  frontend/src/components/common/__tests__/ErrorMessage.test.jsx
  frontend/src/components/common/__tests__/LoadingPage.test.jsx
  frontend/src/components/common/__tests__/LoadingSpinner.test.jsx
  frontend/src/components/common/__tests__/StatCard.test.jsx
  frontend/src/components/dashboard/__tests__/StatisticsCard.test.jsx
  frontend/src/components/dashboard/__tests__/__snapshots__/StatisticsCard.test.jsx.snap
  frontend/src/components/procurement-manager-dashboard/__tests__/KeyMetricsCard.test.jsx
  frontend/src/components/ui/__tests__/__snapshots__/avatar.test.jsx.snap
  frontend/src/components/ui/__tests__/__snapshots__/select.test.jsx.snap
  frontend/src/components/ui/__tests__/__snapshots__/switch.test.jsx.snap
  frontend/src/components/ui/__tests__/avatar.test.jsx
  frontend/src/components/ui/__tests__/badge.test.jsx
  frontend/src/components/ui/__tests__/button.test.jsx
  frontend/src/components/ui/__tests__/card.test.jsx
  frontend/src/components/ui/__tests__/input.test.jsx
  frontend/src/components/ui/__tests__/progress.test.jsx
  frontend/src/components/ui/__tests__/select.test.jsx
  frontend/src/components/ui/__tests__/switch.test.jsx
  frontend/src/components/ui/__tests__/tabs.test.jsx
Due: eslint, prettier

test: 添加后端中间件和核心功能全面测试
  tests/MIDDLEWARE_CORE_TEST_REPORT.md
  tests/api/test_deps.py
  tests/core/test_auth.py
  tests/core/test_config.py
  tests/core/test_database.py
  tests/core/test_dependencies.py
  tests/core/test_email.py
  tests/core/test_redis.py
  tests/middleware/test_audit_middleware.py
  tests/middleware/test_auth_middleware.py
  tests/middleware/test_rate_limit_middleware.py
  tests/middleware/test_tenant_middleware.py
Due: check-file-size

feat: 添加全面的性能测试和安全测试
  PERFORMANCE_SECURITY_TEST_REPORT.md
  tests/performance/test_api_concurrent_requests.py
  tests/performance/test_api_gateway_performance.py
  tests/performance/test_api_response_time.py
  tests/performance/test_batch_operations.py
  tests/performance/test_cache_performance.py
  tests/performance/test_caching_strategy.py
  tests/performance/test_database_connection_pool.py
  tests/performance/test_database_query_performance.py
  tests/performance/test_email_performance.py
  tests/performance/test_file_upload_performance.py
  tests/performance/test_load_testing.py
  tests/performance/test_memory_performance.py
  tests/performance/test_microservice_performance.py
  tests/performance/test_search_performance.py
  tests/performance/test_websocket_performance.py
  tests/security/test_api_security.py
  tests/security/test_authentication_brute_force.py
  tests/security/test_authorization.py
  tests/security/test_csrf_protection.py
  tests/security/test_data_encryption.py
  tests/security/test_file_upload_security.py
  tests/security/test_input_validation.py
  tests/security/test_session_management.py
  tests/security/test_sql_injection.py
  tests/security/test_xss_protection.py
Due: check-file-size

feat: 添加18个复杂业务场景测试（192个测试用例）
  tests/scenarios/COMPLEX_SCENARIO_TEST_REPORT.md
  tests/scenarios/__init__.py
  tests/scenarios/test_scenario_01_lead_to_payment_flow.py
  tests/scenarios/test_scenario_02_project_full_lifecycle.py
  tests/scenarios/test_scenario_03_purchase_request_to_receipt.py
  tests/scenarios/test_scenario_04_quote_to_contract_flow.py
  tests/scenarios/test_scenario_05_material_procurement_flow.py
  tests/scenarios/test_scenario_06_multi_level_approval.py
  tests/scenarios/test_scenario_07_parallel_approval.py
  tests/scenarios/test_scenario_08_approval_rejection.py
  tests/scenarios/test_scenario_09_approval_timeout.py
  tests/scenarios/test_scenario_10_role_permission_inheritance.py
  tests/scenarios/test_scenario_11_dynamic_permission.py
  tests/scenarios/test_scenario_12_data_permission_filter.py
  tests/scenarios/test_scenario_13_inventory_concurrent_deduction.py
  tests/scenarios/test_scenario_14_order_concurrent_creation.py
  tests/scenarios/test_scenario_15_approval_concurrent_processing.py
  tests/scenarios/test_scenario_16_transaction_rollback.py
  tests/scenarios/test_scenario_17_data_consistency.py
  tests/scenarios/test_scenario_18_idempotency.py
Due: check-file-size

feat: 补充34个核心业务集成测试
  INTEGRATION_TESTS_DELIVERY_REPORT.md
  tests/integration/test_alert_escalation.py
  tests/integration/test_alert_handling_tracking.py
  tests/integration/test_alert_notification_delivery.py
  tests/integration/test_alert_rule_management.py
  tests/integration/test_alert_rule_trigger.py
  tests/integration/test_alert_statistics.py
  tests/integration/test_attendance_punch_flow.py
  tests/integration/test_budget_management.py
  tests/integration/test_contract_lifecycle.py
  tests/integration/test_cost_accounting_flow.py
  tests/integration/test_crm_complete_flow.py
  tests/integration/test_customer_follow_up.py
  tests/integration/test_employee_onboarding.py
  tests/integration/test_expense_approval_flow.py
  tests/integration/test_financial_reconciliation.py
  tests/integration/test_financial_report_generation.py
  tests/integration/test_invoice_lifecycle.py
  tests/integration/test_invoice_management.py
  tests/integration/test_leave_approval_flow.py
  tests/integration/test_payment_collection_flow.py
  tests/integration/test_performance_evaluation_flow.py
  tests/integration/test_project_change_management.py
  tests/integration/test_project_cost_tracking.py
  tests/integration/test_project_document_flow.py
  tests/integration/test_project_milestone_tracking.py
  tests/integration/test_project_resource_allocation.py
  tests/integration/test_project_risk_management.py
  tests/integration/test_project_team_collaboration.py
  tests/integration/test_quote_management.py
  tests/integration/test_salary_calculation.py
  tests/integration/test_sales_funnel_conversion.py
  tests/integration/test_sales_target_management.py
  tests/integration/test_sales_team_collaboration.py
  tests/integration/test_training_management.py
Due: check-file-size

fix: replace placeholder values with actual database queries in quality services
  app/services/quality_risk_management/service.py
  app/services/quality_service.py
Due: check-file-size

fix: 质量仪表盘只统计质量相关的活跃预警数
  app/services/quality_service.py
Due: check-file-size

fix: 修复仪表盘预警状态过滤和绩效月末日期截断问题
  app/services/dashboard_adapters/others.py
  app/services/performance_service/evaluation.py
  app/services/performance_service/roles.py
Due: check-file-size

fix: 修复除零崩溃、空指针和手写日期计算问题
  app/api/v1/endpoints/issues/operations.py
  app/services/cost_allocation_service.py
  app/services/cost_dashboard_service.py
  app/services/machine_service.py
Due: check-file-size

Path conditions:
  check-file-size: any of: \.py$
  eslint: any of: \.(js|jsx|ts|tsx)$
  prettier: any of: \.(js|jsx|ts|tsx|css)$
