Repository fulingwei1/non-standard-automation-pms: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, eslint, prettier

check-file-size:
  name: 检查文件大小限制
  entry: python scripts/check_file_size.py
  language: python
  pass_filenames: false

eslint:
  name: ESLint 检查
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

prettier:
  name: Prettier 格式化检查
  entry: bash -c 'cd frontend && npx prettier --check "src/**/*.{js,jsx,ts,tsx,css}"'
  language: system
  pass_filenames: false

fix: register dashboard_stats, dashboard_unified, notifications routers
  app/api/v1/api.py
  data/app.db-shm
  data/app.db-wal
Due: check-file-size

fix: register all missing API router modules
  app/api/v1/api.py
Due: check-file-size

fix: register alerts module, fix projects/board route order, fix Contract field names in executive dashboard
  app/api/v1/api.py
  app/api/v1/endpoints/projects/__init__.py
  app/api/v1/endpoints/report_center/bi.py
  app/services/report/__pycache__/__init__.cpython-313.pyc
  app/services/report/__pycache__/report_service.cpython-313.pyc
Due: check-file-size

fix: register issues module in api.py
  app/api/v1/api.py
Due: check-file-size

fix: correct approval center API paths to use /approvals/pending/ prefix
  frontend/src/pages/ApprovalCenter/hooks/useApprovalCenter.js
Due: eslint, prettier

fix: correct timesheets and approvals API paths to match backend routes
  frontend/src/pages/ApprovalCenter/hooks/useApprovalCenter.js
  frontend/src/pages/ApprovalDetailPage.jsx
  frontend/src/services/api/__tests__/approval.test.js
  frontend/src/services/api/approval.js
  frontend/src/services/api/hr.js
Due: eslint, prettier

fix: correct presale, reports, sales and projects API paths to match backend routes
  frontend/src/services/api/admin.js
  frontend/src/services/api/engineering.js
  frontend/src/services/api/presales.js
  frontend/src/services/api/projects.js
  frontend/src/services/api/sales.js
Due: eslint, prettier

fix: register all missing endpoint modules in api.py, fix progress_error_to_http import
  app/api/v1/api.py
  app/services/task_progress_service.py
Due: check-file-size

fix: replace undefined apply_pagination with .offset().limit() in opportunity_crud
  app/api/v1/endpoints/sales/opportunity_crud.py
Due: check-file-size

fix: 修复所有500错误
  app/api/v1/endpoints/analytics/resource_conflicts.py
  app/api/v1/endpoints/assembly_kit/scheduling.py
  app/api/v1/endpoints/assembly_kit/shortage_alerts.py
  app/api/v1/endpoints/culture_wall/contents.py
  app/api/v1/endpoints/dashboard_unified.py
  app/api/v1/endpoints/kit_check/work_orders.py
  app/api/v1/endpoints/management_rhythm/meetings.py
  app/api/v1/endpoints/management_rhythm/report_configs.py
  app/api/v1/endpoints/management_rhythm/reports.py
  app/api/v1/endpoints/pmo/meetings.py
  app/api/v1/endpoints/rd_project/expenses.py
  app/api/v1/endpoints/rd_project/worklogs.py
  app/api/v1/endpoints/report_center/templates.py
  app/api/v1/endpoints/sales/ai_clarifications.py
  app/api/v1/endpoints/sales/customers.py
  app/api/v1/endpoints/sales/leads/crud.py
  app/api/v1/endpoints/sales/purchase_material_costs.py
  app/api/v1/endpoints/sales/targets.py
  app/api/v1/endpoints/sales/team/crud.py
  app/api/v1/endpoints/service/knowledge/crud.py
  app/api/v1/endpoints/service/knowledge_features.py
  app/api/v1/endpoints/service/survey_templates.py
  app/api/v1/endpoints/staff_matching/staffing_needs.py
  app/api/v1/endpoints/staff_matching/tags.py
  app/schemas/dashboard.py
Due: check-file-size

fix: SalesTeamService 缺失方法补全 + 构造函数修复
  app/api/v1/endpoints/sales/team/utils.py
  app/services/sales_ranking_service.py
  app/services/sales_team_service.py
Due: check-file-size

fix(test): 修复审批工作流、项目、合同等模型字段名变更
  tests/api/test_project_review_api.py
  tests/integration/test_ate_business_flow.py
  tests/integration/test_sales_approval_flow.py
  tests/integration/test_workflow_integration.py
  tests/performance/test_database_query_performance.py
  tests/scenarios/test_scenario_01_lead_to_payment_flow.py
  tests/scenarios/test_scenario_02_project_full_lifecycle.py
  tests/scenarios/test_scenario_03_purchase_request_to_receipt.py
  tests/scenarios/test_scenario_04_quote_to_contract_flow.py
  tests/scenarios/test_scenario_05_material_procurement_flow.py
  tests/scenarios/test_scenario_06_multi_level_approval.py
  tests/scenarios/test_scenario_07_parallel_approval.py
  tests/scenarios/test_scenario_08_approval_rejection.py
  tests/scenarios/test_scenario_13_inventory_concurrent_deduction.py
  tests/scenarios/test_scenario_16_transaction_rollback.py
  tests/scenarios/test_scenario_17_data_consistency.py
  tests/scenarios/test_scenario_18_idempotency.py
  tests/services/test_progress_tracking_service.py
  tests/test_phase1_1_contract_to_project.py
  tests/test_project_review_ai.py
  tests/test_timesheet_analytics.py
  tests/unit/models/procurement/test_material_model.py
  tests/unit/models/sales/conftest.py
  tests/unit/models/sales/test_contract_model.py
  tests/unit/services/strategy/annual_work_service/test_progress.py
  tests/unit/test_health_calculator_comprehensive.py
  tests/unit/test_pipeline_health_service.py
  tests/unit/test_project_performance_service_enhanced.py
  tests/unit/test_workflow_engine_enhanced.py
  tests/unit/test_workflow_engine_rewrite.py
Due: check-file-size

fix(test): 修复Invoice/ProjectDocument/ProjectMember/Employee字段名
  tests/e2e/test_business_workflows.py
  tests/e2e/test_critical_apis.py
  tests/e2e/test_critical_apis_extended.py
  tests/integration/test_api_permission_endpoints.py
  tests/security/test_multi_model_isolation.py
  tests/unit/models/finance/conftest.py
  tests/unit/models/finance/test_invoice_model.py
  tests/unit/models/project/test_project_document_model.py
  tests/unit/models/project/test_project_member_model.py
Due: check-file-size

fix(test): 修复ProjectStatus/ProjectStage/ProjectHealth枚举引用
  tests/integration/test_ate_business_flow.py
  tests/unit/test_ecn_knowledge_service.py
  tests/unit/test_health_calculator_comprehensive.py
Due: check-file-size

fix(test): 修复ECN模型字段名和测试fixture
  tests/integration/test_ecn_approval_flow.py
  tests/unit/test_ecn_knowledge_service.py
Due: check-file-size

fix(test): 修复NotificationService和NumberGenerator初始化
  tests/unit/test_i6_core_services.py
  tests/unit/test_number_generator.py
Due: check-file-size

fix(test): 添加Machine.project_id和Issue.reporter_id必填字段
  tests/unit/test_debug_issue_sync_service.py
  tests/unit/test_health_calculator_advanced.py
  tests/unit/test_health_calculator_comprehensive.py
  tests/unit/test_project_solution_service.py
Due: check-file-size

fix(test): 修复SalesTeamService初始化(静态类不需要参数)
  tests/unit/test_sales_team_service.py
  tests/unit/test_sales_team_service_complete.py
Due: check-file-size

fix(test): 批量修复Service初始化参数不匹配
  tests/services/test_timesheet_quality_service.py
  tests/test_presale_ai_solution.py
  tests/test_resource_scheduling.py
  tests/unit/test_change_impact_ai_cov7.py
  tests/unit/test_change_impact_ai_service_cov3.py
  tests/unit/test_change_impact_ai_service_cov5.py
  tests/unit/test_change_impact_ai_service_e_group.py
  tests/unit/test_data_scope_service.py
  tests/unit/test_engineer_performance_service_cov47.py
  tests/unit/test_m2_cost_purchase_notification_strategy.py
  tests/unit/test_meeting_report_service.py
  tests/unit/test_presale_ai_service.py
  tests/unit/test_presale_ai_service_cov4.py
  tests/unit/test_presale_ai_service_deep.py
  tests/unit/test_project_performance_service_enhanced.py
  tests/unit/test_resource_scheduling_ai_service_cov11.py
  tests/unit/test_resource_scheduling_ai_service_e_group.py
  tests/unit/test_revenue_service.py
  tests/unit/test_sales_team_service.py
  tests/unit/test_timesheet_quality_service_cov25.py
  tests/unit/test_timesheet_quality_service_cov27.py
  tests/unit/test_timesheet_quality_service_cov28.py
  tests/unit/test_timesheet_report_service.py
  tests/unit/test_timesheet_report_service_hr.py
Due: check-file-size

fix(test): 修复Service初始化误改 - 恢复需要db参数的服务
  data/app.db-shm
  data/app.db-wal
  tests/test_presale_ai_solution.py
  tests/test_resource_scheduling.py
  tests/unit/test_change_impact_ai_cov7.py
  tests/unit/test_change_impact_ai_service_cov3.py
  tests/unit/test_change_impact_ai_service_cov5.py
  tests/unit/test_change_impact_ai_service_e_group.py
  tests/unit/test_m2_cost_purchase_notification_strategy.py
  tests/unit/test_presale_ai_service.py
  tests/unit/test_presale_ai_service_cov4.py
  tests/unit/test_presale_ai_service_deep.py
  tests/unit/test_resource_scheduling_ai_service_cov11.py
  tests/unit/test_resource_scheduling_ai_service_e_group.py
Due: check-file-size

fix(test): 修复Service初始化 - 无db_session的测试用MagicMock替代
  tests/services/test_timesheet_quality_service.py
  tests/unit/test_batch_services_1.py
  tests/unit/test_engineer_performance_service_cov47.py
  tests/unit/test_notification_service_cov2.py
  tests/unit/test_notification_service_n3.py
  tests/unit/test_project_performance_service_enhanced.py
  tests/unit/test_timesheet_quality_service_cov25.py
  tests/unit/test_timesheet_quality_service_cov27.py
  tests/unit/test_timesheet_quality_service_cov28.py
Due: check-file-size

fix(test): PurchaseOrder.order_code → order_no
  tests/scenarios/test_scenario_03_purchase_request_to_receipt.py
  tests/scenarios/test_scenario_05_material_procurement_flow.py
Due: check-file-size

fix: project-reviews路由修复 - 创建合并router, 注册在projects之前避免/{id}冲突
  app/api/v1/api.py
  app/api/v1/endpoints/project_review/__init__.py
  app/api/v1/endpoints/project_review/lessons.py
  app/api/v1/endpoints/project_review/reviews.py
Due: check-file-size

fix: project-reviews改用独立前缀/project-reviews避免与projects/{id}路由冲突
  app/api/v1/api.py
  frontend/src/services/api/__tests__/engineering.test.js
  frontend/src/services/api/engineering.js
Due: check-file-size, eslint, prettier

fix: ECN双重前缀修复 - 去掉api.py的/ecn prefix, 前端统一用/ecns
  app/api/v1/api.py
Due: check-file-size

fix: rd-project子模块路径修复 - categories/costs/cost-types/allocation前端对齐后端
  app/api/v1/endpoints/rd_project/categories.py
  frontend/src/services/api/engineering.js
Due: check-file-size, eslint, prettier

fix: rd-project路由顺序修复 - 静态路径(cost-types/costs/allocation)移到initiation/{id}之前
  app/api/v1/endpoints/rd_project/__init__.py
Due: check-file-size

fix: sales frontend API path alignment
  frontend/src/services/api/presales.js
  frontend/src/services/api/sales.js
Due: eslint, prettier

fix: projects/project-reviews frontend API path alignment
  frontend/src/services/api/engineering.js
  frontend/src/services/api/progress.js
  frontend/src/services/api/projects.js
Due: eslint, prettier

fix: remove duplicate prefixes in management-rhythm, material-demands, admin-stats
  app/api/v1/endpoints/admin_stats.py
  app/api/v1/endpoints/culture_wall/contents.py
  app/api/v1/endpoints/culture_wall/summary.py
  app/api/v1/endpoints/culture_wall_config.py
  app/api/v1/endpoints/hr_management/dashboard.py
  app/api/v1/endpoints/management_rhythm/action_items.py
  app/api/v1/endpoints/management_rhythm/configs.py
  app/api/v1/endpoints/management_rhythm/dashboard.py
  app/api/v1/endpoints/management_rhythm/integrations.py
  app/api/v1/endpoints/management_rhythm/meeting_map.py
  app/api/v1/endpoints/management_rhythm/meetings.py
  app/api/v1/endpoints/management_rhythm/metrics.py
  app/api/v1/endpoints/management_rhythm/report_configs.py
  app/api/v1/endpoints/management_rhythm/reports.py
  app/api/v1/endpoints/management_rhythm/reports_unified.py
  app/api/v1/endpoints/material_demands/demands.py
  app/api/v1/endpoints/material_demands/generate.py
  app/api/v1/endpoints/material_demands/schedule.py
  app/api/v1/endpoints/report_center/templates.py
  app/api/v1/endpoints/task_center/comments.py
  app/api/v1/endpoints/task_center/complete.py
  app/api/v1/endpoints/task_center/create.py
  app/api/v1/endpoints/task_center/detail.py
  app/api/v1/endpoints/task_center/my_tasks.py
  app/api/v1/endpoints/task_center/overview.py
  app/api/v1/endpoints/task_center/reject.py
  app/api/v1/endpoints/task_center/transfer.py
  app/api/v1/endpoints/task_center/update.py
  frontend/src/services/api/ecn.js
  frontend/src/services/api/hr.js
  frontend/src/services/api/issues.js
  frontend/src/services/api/pmo.js
  frontend/src/services/api/production.js
Due: check-file-size, eslint, prettier

fix: remove duplicate prefixes in task-center, culture-wall, hr-management
  app/api/v1/api.py
  app/api/v1/endpoints/report_center/templates.py
  frontend/src/services/api/admin.js
Due: check-file-size, eslint, prettier

fix: report-center templates prefix + timesheet/approvals frontend path fixes
  frontend/src/services/api/approval.js
  frontend/src/services/api/hr.js
Due: eslint, prettier

fix: purchase-orders route order + requests paginated_response args
  app/api/v1/endpoints/purchase/__init__.py
  app/api/v1/endpoints/purchase/requests_refactored.py
Due: check-file-size

fix: report-center + task-center prefix cleanup round 2
  app/api/v1/endpoints/report_center/bi.py
  app/api/v1/endpoints/report_center/configs.py
  app/api/v1/endpoints/report_center/rd_expense.py
  app/api/v1/endpoints/task_center/comments.py
  app/api/v1/endpoints/task_center/complete.py
  app/api/v1/endpoints/task_center/create.py
  app/api/v1/endpoints/task_center/detail.py
  app/api/v1/endpoints/task_center/my_tasks.py
  app/api/v1/endpoints/task_center/overview.py
  app/api/v1/endpoints/task_center/reject.py
  app/api/v1/endpoints/task_center/transfer.py
  app/api/v1/endpoints/task_center/update.py
Due: check-file-size

fix: management-rhythm sub-router route path cleanup
  app/api/v1/endpoints/management_rhythm/configs.py
  app/api/v1/endpoints/management_rhythm/dashboard.py
  app/api/v1/endpoints/management_rhythm/meeting_map.py
Due: check-file-size

fix: align frontend API paths with backend routing
  frontend/src/services/api/__tests__/projects.test.js
  frontend/src/services/api/progress.js
  frontend/src/services/api/projects.js
Due: eslint, prettier

fix: additional frontend API path fixes from parallel agents
  frontend/src/services/api/analytics.js
  frontend/src/services/api/auth.js
  frontend/src/services/api/hr.js
  frontend/src/services/api/org.js
  frontend/src/services/api/procurement.js
  frontend/src/services/api/production.js
  frontend/src/services/api/quality.js
Due: eslint, prettier

fix(test): 删除重复的关键字参数 (valid_until, initiator_id, assignee_name)
  tests/scenarios/test_scenario_04_quote_to_contract_flow.py
  tests/scenarios/test_scenario_06_multi_level_approval.py
  tests/scenarios/test_scenario_07_parallel_approval.py
  tests/scenarios/test_scenario_08_approval_rejection.py
  tests/scenarios/test_scenario_16_transaction_rollback.py
Due: check-file-size

fix: remove unused SalesTeamService import
  app/api/v1/endpoints/sales/targets.py
Due: check-file-size

Path conditions:
  check-file-size: any of: \.py$
  eslint: any of: \.(js|jsx|ts|tsx)$
  prettier: any of: \.(js|jsx|ts|tsx|css)$
