Repository fulingwei1/non-standard-automation-pms: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, eslint, prettier

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# 安装: pip install pre-commit && pre-commit install

repos:
  # 通用钩子
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: 移除行尾空白
      - id: end-of-file-fixer
        name: 确保文件以换行符结尾
      - id: check-yaml
        name: 检查YAML语法
      - id: check-json
        name: 检查JSON语法
      - id: check-added-large-files
        name: 检查大文件
        args: ["--maxkb=500"]
      - id: check-merge-conflict
        name: 检查合并冲突
      - id: detect-private-key
        name: 检测私钥
      - id: no-commit-to-branch
        name: 禁止直接提交到main分支
        args: ["--branch", "main"]

  # Python 代码格式化
  - repo: https://github.com/psf/black
    rev: 24.1.1
    hooks:
      - id: black
        name: Black 代码格式化
        language_version: python3.11
        args: ["--line-length=120"]

  # Python 导入排序
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        name: isort 导入排序
        args: ["--profile=black", "--line-length=120"]

  # Python 代码检查
  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        name: Flake8 代码检查
        args: ["--max-line-length=120", "--ignore=E501,W503,E203"]
        additional_dependencies:
          - flake8-docstrings
          - flake8-bugbear

  # Python 安全检查
  - repo: https://github.com/pycqa/bandit
    rev: 1.7.7
    hooks:
      - id: bandit
        name: Bandit 安全检查
        args: ["-ll", "-ii"]
        exclude: tests/

  # 自定义文件大小检查
  - repo: local
    hooks:
      - id: check-file-size
        name: 检查文件大小限制
        entry: python scripts/check_file_size.py
        language: python
        types: [python]
        pass_filenames: false

      - id: check-function-size
        name: 检查函数大小
        entry: python scripts/check_function_size.py
        language: python
        types: [python]
        pass_filenames: false
        always_run: true

  # JavaScript/TypeScript (前端)
  - repo: local
    hooks:
      - id: eslint
        name: ESLint 检查
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

      - id: prettier
        name: Prettier 格式化检查
        entry: bash -c 'cd frontend && npx prettier --check "src/**/*.{js,jsx,ts,tsx,css}"'
        language: system
        files: \.(js|jsx|ts|tsx|css)$
        pass_filenames: false

# CI 设置
ci:
  autofix_commit_msg: "style: auto fixes from pre-commit hooks"
  autofix_prs: true
  autoupdate_commit_msg: "chore: pre-commit autoupdate"
  autoupdate_schedule: weekly

feat(quality): 实现9个质量管理前端页面，接入后端API
  frontend/src/pages/quality/AcceptanceDetail.jsx
  frontend/src/pages/quality/AcceptanceList.jsx
  frontend/src/pages/quality/InspectionDetail.jsx
  frontend/src/pages/quality/InspectionList.jsx
  frontend/src/pages/quality/InspectionNew.jsx
  frontend/src/pages/quality/IssueDetail.jsx
  frontend/src/pages/quality/NCManagement.jsx
  frontend/src/pages/quality/QualityIssues.jsx
  frontend/src/pages/quality/QualityReports.jsx
  frontend/src/services/api.js
  frontend/src/services/api/quality.js
Due: eslint, prettier

feat: 接入AIWorkbench真实API，替换mock数据
  frontend/src/pages/PresaleAI/AIWorkbench.jsx
Due: eslint, prettier

feat: 接入 analytics 后端API，修复 management_rhythm 前端合并冲突
  app/api/v1/api.py
  app/api/v1/endpoints/warehouse/__init__.py
  app/api/v1/endpoints/warehouse/alerts.py
  app/api/v1/endpoints/warehouse/count.py
  app/api/v1/endpoints/warehouse/crud.py
  app/api/v1/endpoints/warehouse/locations.py
  app/models/warehouse.py
  frontend/src/hooks/useAnalytics.js
  frontend/src/pages/ManagementRhythmDashboard.jsx
  frontend/src/pages/MeetingMap.jsx
  frontend/src/pages/ReportArchives.jsx
  frontend/src/pages/ReportGeneration.jsx
  frontend/src/pages/ReportTemplates.jsx
  frontend/src/pages/ShortageManagement/hooks/useShortageManagement.js
  frontend/src/pages/ShortageReportDetail/hooks/useShortageReportDetail.js
  frontend/src/pages/warehouse/InboundDetail.jsx
  frontend/src/pages/warehouse/InboundList.jsx
  frontend/src/pages/warehouse/InboundNew.jsx
  frontend/src/pages/warehouse/InventoryList.jsx
  frontend/src/pages/warehouse/OutboundDetail.jsx
  frontend/src/pages/warehouse/OutboundList.jsx
  frontend/src/pages/warehouse/OutboundNew.jsx
  frontend/src/pages/warehouse/StockAlerts.jsx
  frontend/src/pages/warehouse/StockCount.jsx
  frontend/src/services/api.js
  frontend/src/services/api/admin.js
  frontend/src/services/api/budget.js
  frontend/src/services/api/production.js
  frontend/src/services/api/shortage.js
  frontend/src/services/api/warehouse.js
Due: check-file-size, eslint, prettier

fix: 修正缺料管理前端API路径匹配后端三层架构
  app/api/v1/api.py
  frontend/src/pages/ShortageManagement/hooks/useShortageManagement.js
  frontend/src/pages/ShortageReportDetail/hooks/useShortageReportDetail.js
  frontend/src/pages/warehouse/LocationManagement.jsx
  frontend/src/services/api/production.js
  frontend/src/services/api/shortage.js
Due: check-file-size, eslint, prettier

feat: 接入budget/evaluation/report相关前端页面后端API
  frontend/src/pages/ProjectBoard.jsx
  frontend/src/pages/ProjectStageView/index.jsx
  frontend/src/pages/ReportGeneration.jsx
  frontend/src/pages/ReportTemplates.jsx
  frontend/src/services/api/nodeTasks.js
Due: eslint, prettier

feat: 接入TimesheetSummary组件后端API，移除硬编码数据
  frontend/src/pages/UnifiedDashboard/widgets/engineer/TimesheetSummary.jsx
Due: eslint, prettier

feat: 接入task_center/node_tasks/project_stages前端页面后端API
  app/api/v1/api.py
  frontend/src/pages/ProjectBoard.jsx
  frontend/src/pages/ProjectStageView/hooks/useStageViews.js
  frontend/src/pages/ProjectStageView/index.jsx
  frontend/src/services/api.js
  frontend/src/services/api/nodeTasks.js
  frontend/src/services/api/stageViews.js
Due: check-file-size, eslint, prettier

feat: 仓储管理模块 - 后端API + 10个前端页面实现
  app/api/v1/api.py
  app/api/v1/endpoints/warehouse/__init__.py
  app/api/v1/endpoints/warehouse/alerts.py
  app/api/v1/endpoints/warehouse/count.py
  app/api/v1/endpoints/warehouse/crud.py
  app/api/v1/endpoints/warehouse/locations.py
  app/models/warehouse.py
  frontend/src/pages/warehouse/InboundDetail.jsx
  frontend/src/pages/warehouse/InboundList.jsx
  frontend/src/pages/warehouse/InboundNew.jsx
  frontend/src/pages/warehouse/InventoryList.jsx
  frontend/src/pages/warehouse/LocationManagement.jsx
  frontend/src/pages/warehouse/OutboundDetail.jsx
  frontend/src/pages/warehouse/OutboundList.jsx
  frontend/src/pages/warehouse/OutboundNew.jsx
  frontend/src/pages/warehouse/StockAlerts.jsx
  frontend/src/pages/warehouse/StockCount.jsx
  frontend/src/services/api.js
  frontend/src/services/api/warehouse.js
Due: check-file-size, eslint, prettier

fix: remove 21 unused imports (ruff F401/F841)
  app/api/v1/endpoints/projects/status/status_crud.py
  app/api/v1/endpoints/warehouse/locations.py
  app/services/cache/redis_cache.py
  app/services/cost/cost_data_queries.py
  app/services/cost/cost_forecast_service.py
  app/services/cost/cost_overrun_analysis_service.py
  app/services/dashboard/base.py
  app/services/hr_profile_import_service.py
  app/services/report_framework/renderers/pdf_renderer.py
  app/services/report_framework/renderers/pdf_styles.py
  app/services/statistics/base.py
Due: check-file-size

fix: replace mock data with real API calls in LeadAssessment and ServiceAnalytics
  frontend/src/pages/LeadAssessment.jsx
  frontend/src/pages/ServiceAnalytics.jsx
Due: eslint, prettier

fix: replace mock data with real API calls in AlertStatistics, CustomerSatisfaction, CustomerServiceDashboard
  frontend/src/pages/AlertStatistics.jsx
  frontend/src/pages/CustomerSatisfaction.jsx
  frontend/src/pages/CustomerServiceDashboard.jsx
Due: eslint, prettier

feat: implement 6 UnifiedDashboard widget components
  frontend/src/pages/UnifiedDashboard/widgets/engineer/EcnList.jsx
  frontend/src/pages/UnifiedDashboard/widgets/production/ProductionBoard.jsx
  frontend/src/pages/UnifiedDashboard/widgets/production/WorkOrderList.jsx
  frontend/src/pages/UnifiedDashboard/widgets/sales/CustomerList.jsx
  frontend/src/pages/UnifiedDashboard/widgets/sales/LeadsList.jsx
  frontend/src/pages/UnifiedDashboard/widgets/sales/OpportunityBoard.jsx
Due: eslint, prettier

fix: 实现AlertStatistics编辑告警规则和TimelineView节点操作功能
  frontend/src/pages/AlertStatistics.jsx
  frontend/src/pages/ContractManagement.jsx
  frontend/src/pages/Customer360.jsx
  frontend/src/pages/ProjectStageView/components/TimelineView.jsx
  frontend/src/pages/ProjectStageView/hooks/useStageViews.js
  frontend/src/pages/UnifiedDashboard/widgets/sales/SalesFunnel.jsx
  frontend/src/pages/quality/QualityWorkstation.jsx
  frontend/src/pages/warehouse/WarehouseWorkstation.jsx
Due: eslint, prettier

fix: replace mock data with real API calls in 5 pages
  frontend/src/pages/ContractManagement.jsx
Due: eslint, prettier

fix(frontend): 升级 ESLint 到 10.0.2 修复 ajv 兼容性问题
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: none

fix(frontend): 修复 AcceptanceCard 组件缺失的导入
  frontend/src/components/acceptance/AcceptanceCard.jsx
Due: eslint, prettier

fix(test): 修复 test_project_risks.py 中的 fixture 名称错误
  tests/api/test_project_risks.py
Due: check-file-size

fix(test): 修复 fixture 名称错误 (admin_headers → admin_auth_headers)
  tests/api/test_project_risks.py
Due: check-file-size

chore: 清理临时文件
  frontend/fix-unused-vars.sh
  frontend/lint-errors.txt
  frontend/lint-full.txt
Due: none

fix: rebuild pnpm lockfile to resolve @eslint/js dependency conflict
  frontend/pnpm-lock.yaml
Due: none

fix: upgrade eslint to 10.0.2 and rebuild lockfile to resolve @eslint/js dependency conflict
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: none

fix: 修复19个ESLint错误
  frontend/scripts/check-strict-eslint-impact.js
  frontend/src/components/common/AppProtectedRoute.jsx
  frontend/src/components/common/ProtectedRoute.jsx
  frontend/src/components/common/__tests__/PermissionGuard.test.jsx
  frontend/src/components/finance-dashboard/CashFlowTable.jsx
  frontend/src/components/lead-assessment/AssessmentForm.jsx
  frontend/src/components/opportunity-board/OpportunityCard.jsx
  frontend/src/components/service-knowledge-base/ArticleDetailDialog.jsx
  frontend/src/components/service/ServiceTicketDetailDialog.jsx
  frontend/src/pages/Acceptance.jsx
  frontend/src/pages/PurchaseRequestList.jsx
  frontend/src/pages/SalesTemplateCenter.jsx
  frontend/src/pages/TaskCenter/hooks/useTaskData.js
Due: eslint, prettier

fix(lint): fix remaining 7 ESLint errors in ProtectedRoute and CashFlowTable
  frontend/src/components/common/AppProtectedRoute.jsx
  frontend/src/components/common/ProtectedRoute.jsx
  frontend/src/components/finance-dashboard/CashFlowTable.jsx
Due: eslint, prettier

fix(frontend): export formatDate from utils.js and fix alert constants circular dependency
  frontend/src/lib/constants/alert.js
  frontend/src/lib/utils.js
Due: eslint, prettier

fix(test): P0.1 - 修复模型字段不匹配问题
  tests/unit/conftest.py
  tests/unit/models/sales/conftest.py
  tests/unit/test_batch_services_3.py
  tests/unit/test_business_support_reports_service_enhanced.py
  tests/unit/test_pmo_initiation_service.py
Due: check-file-size

fix(test): P0.2 - 修复 NOT NULL 约束失败
  tests/unit/test_comparison_calculation_service.py
  tests/unit/test_solution_engineer_bonus_service.py
Due: check-file-size

fix(test): P0.3 - 修复工厂类唯一约束冲突和 NOT NULL 约束
  tests/factories.py
Due: check-file-size

fix(deps): P1.1 - 添加缺失依赖 python-pptx 和 pypinyin
  api/requirements.txt
Due: none

fix(test): P1.2 - 添加 SupplierFactory 和修复 create_complete_project_setup
  tests/factories.py
Due: check-file-size

fix(test): 修复集成测试外键约束问题
  tests/conftest.py
Due: check-file-size

fix(ci): 添加 DEBUG=True 环境变量到 contract drift workflow
  .github/workflows/contract_drift.yml
Due: none

fix(test): 修复测试 teardown 时的外键约束失败 (P0.3)
  app/models/base.py
Due: check-file-size

fix: resolve star export conflicts and add import-x/named lint rule
  data/app.db-shm
  data/app.db-wal
  frontend/eslint.config.js
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/lib/constants/common.js
  frontend/src/lib/constants/index.js
  frontend/src/pages/Shipments.jsx
Due: eslint, prettier

fix: remove non-existent formatDateInput re-export from sales team index
  frontend/src/components/sales/team/index.js
Due: eslint, prettier

fix: finance.js has no default export, use namespace re-export
  frontend/src/components/payment-management/index.js
Due: eslint, prettier

fix: remove invalid default re-export from project-detail index
  frontend/src/components/project-detail/index.js
Due: eslint, prettier

fix: replace passlib with direct bcrypt calls (passlib incompatible with bcrypt 4.x + Python 3.13)
  app/core/auth.py
  data/app.db-shm
  data/app.db-wal
Due: check-file-size

fix: register node-tasks router in api.py
  app/api/v1/api.py
  data/app.db-shm
  data/app.db-wal
Due: check-file-size
