Repository fulingwei1/non-standard-automation-pms: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, eslint, prettier

check-file-size:
  name: 检查文件大小限制
  entry: python scripts/check_file_size.py
  language: python
  pass_filenames: false

eslint:
  name: ESLint 检查
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

prettier:
  name: Prettier 格式化检查
  entry: bash -c 'cd frontend && npx prettier --check "src/**/*.{js,jsx,ts,tsx,css}"'
  language: system
  pass_filenames: false

fix(PERM-11): 权限覆盖率报告归档文件补录（gitignore 误拦截）
  docs/root-docs-archive/20260704/PERMISSION_COVERAGE_AUDIT.json
Due: none

fix(AS-04,17,23,24): 工程师派工冲突检测/现场服务通知触达收口
  app/api/v1/endpoints/engineer_scheduling.py
  app/api/v1/endpoints/installation_dispatch/workflow.py
  app/core/config.py
  app/core/state_machine/installation_dispatch.py
  app/services/engineer_scheduling_service.py
  app/services/notification/notification_queue.py
  app/services/notification_service.py
  app/services/service/service_ticket_notifications.py
  app/utils/scheduled_tasks/alert_tasks.py
  migrations/20260704_after_sales_field_service_dispatch_sqlite.sql
  migrations/20260704_engineer_task_assignments_sqlite.sql
  scripts/notification_worker.py
  tests/audit_p0/test_p0_11_notification_fake_success.py
  tests/audit_p0/test_p0_14_dispatch_conflict.py
  tests/unit/test_alert_subscription_service_coverage.py
  tests/unit/test_dispatch_conflict_guard_as04.py
  tests/unit/test_engineer_scheduling_as17.py
  tests/unit/test_engineer_scheduling_service_coverage.py
  tests/unit/test_installation_dispatch_as24.py
  tests/unit/test_notification_queue_service_standalone.py
  tests/unit/test_notification_service_n3.py
  tests/unit/test_service_ticket_notifications_as23.py
  tests/unit/test_webhook_handler_coverage.py
Due: check-file-size

fix(PROJ-11,13,14,15): 成本归集/预算超支/排产建议/PMO看板口径统一
  app/api/v1/endpoints/ai_delivery.py
  app/api/v1/endpoints/ai_planning.py
  app/api/v1/endpoints/data_import_export/export_projects.py
  app/api/v1/endpoints/projects/status/status_crud.py
  app/api/v1/endpoints/purchase/receipts.py
  app/api/v1/endpoints/report_center/bi.py
  app/api/v1/endpoints/schedule_generation.py
  app/services/ai_planning/plan_generator.py
  app/services/budget_alert_service.py
  app/services/cost/cost_overrun_analysis_service.py
  app/services/database/query_optimizer.py
  app/services/delay_root_cause_service.py
  app/services/material_procurement_optimization_service.py
  app/services/pmo_cockpit/pmo_cockpit_service.py
  app/services/project/cost_benchmark_service.py
  app/services/project_crud/service.py
  app/services/project_statistics_service.py
  app/services/report_data_generation/analysis_reports.py
  app/services/report_framework/generators/analysis.py
  app/services/resource_allocation_service/conflicts.py
  app/services/schedule_generation_service.py
  app/services/schedule_optimization_service.py
  app/services/scheduling_suggestion_service.py
  app/services/strategy/kpi_collector/collectors.py
  app/services/template_report/analysis_reports.py
  tests/unit/test_analysis_reports_rpt03.py
  tests/unit/test_budget_alert_config_proj14.py
  tests/unit/test_cost_overrun_analysis_service.py
  tests/unit/test_project_monthly_report_rpt02.py
  tests/unit/test_project_status_guard_proj04.py
  tests/unit/test_service_edge_cases.py
Due: check-file-size

fix(RPT-04,05,SALES-17): 报价/合同/财务报表含税与不含税口径拆分
  app/api/v1/endpoints/finance_reports.py
  app/models/sales/contracts.py
  app/models/sales/quotes.py
  app/schemas/sales/contract_enhanced.py
  app/schemas/sales/contracts.py
  app/schemas/sales/quotes.py
  app/services/sales/quotes_service.py
  app/services/sales/tax_basis.py
  migrations/versions/20260704_add_sales_tax_basis.py
  tests/unit/test_finance_reports_rpt04.py
  tests/unit/test_finance_reports_rpt05.py
Due: check-file-size

fix(SALES-09,18,19,20): 报价当前版本口径/发票开票门禁/作废红冲审计链
  app/api/v1/endpoints/sales/invoices/basic.py
  app/api/v1/endpoints/sales/invoices/operations.py
  app/api/v1/endpoints/sales/quote_quotes_crud.py
  app/api/v1/endpoints/sales/quote_versions.py
  app/api/v1/endpoints/sales/quotes.py
  tests/api/test_sales_invoice_gate_contracts.py
Due: check-file-size

fix(PRE-04,05,06,07,08,09,12,13,14,15,20,24): 售前报价阶梯/工单状态字典/AI mock回退/立项关卡收口
  app/api/v1/endpoints/ai_copilot.py
  app/api/v1/endpoints/presale/analytics.py
  app/api/v1/endpoints/presale/dashboard.py
  app/api/v1/endpoints/presale/task_management.py
  app/api/v1/endpoints/presale/tickets/crud.py
  app/api/v1/endpoints/presale/tickets/operations.py
  app/api/v1/endpoints/presale/tickets/utils.py
  app/api/v1/endpoints/sales/assessments/assessments.py
  app/api/v1/endpoints/sales/opportunity_workflow.py
  app/api/v1/presale_ai_integration.py
  app/api/v1/presale_ai_quotation.py
  app/models/base.py
  app/models/presale/core.py
  app/models/sales/technical_assessment.py
  app/schemas/sales/assessments.py
  app/services/presale/assessment_status.py
  app/services/presale/presale_ai_integration.py
  app/services/presale/presale_ai_quotation_service.py
  app/services/presale_assessment_completion.py
  app/services/project_workspace_service.py
  app/services/technical_assessment_service.py
  migrations/20260704_presale_assessment_auto_generated_sqlite.sql
  migrations/20260704_presale_legacy_dictionary_cleanup_sqlite.sql
  migrations/20260704_presale_ticket_status_normalization_sqlite.sql
  tests/unit/test_presale_ai_export_report_pre13.py
  tests/unit/test_presale_ai_quotation_pre05_06.py
  tests/unit/test_presale_ai_quotation_pre07.py
  tests/unit/test_presale_ai_workflow_pre20.py
  tests/unit/test_presale_assessment_completion_pre04.py
  tests/unit/test_presale_legacy_dictionary_pre24.py
  tests/unit/test_presale_mobile_downline_pre15.py
  tests/unit/test_presale_ticket_status_pre14.py
  tests/unit/test_sales_opportunity_ai_mock_guard_pre08_09.py
Due: check-file-size

fix(RPT-01,06,07,09,13,14): 报表中心桩/驾驶舱/成本看板/模板报表收敛
  app/api/v1/endpoints/dashboard/cost_dashboard.py
  app/api/v1/endpoints/report_center/configs.py
  app/api/v1/endpoints/report_center/generate/export.py
  app/models/dashboard_chart_config.py
  app/schemas/dashboard.py
  app/services/report_data_generation/core.py
  app/services/report_data_generation/project_reports.py
  app/services/report_data_generation/router.py
  app/services/report_framework/adapters/template.py
  app/services/report_labor_cost.py
  app/services/template_report/__init__.py
  app/services/template_report/core.py
  app/services/template_report_service.py
  app/tests/services/report_framework/adapters/test_template.py
  frontend/src/pages/executive-dashboard/useExecutiveDashboard.js
  frontend/src/pages/executive-dashboard/useExecutiveDashboard.test.js
  tests/unit/test_cost_dashboard_chart_config_rpt14.py
  tests/unit/test_dashboard_procurement_stats_rpt13.py
  tests/unit/test_dashboard_stat_card_rpt09.py
  tests/unit/test_report_center_export_rpt06.py
  tests/unit/test_report_center_rpt01.py
  tests/unit/test_template_report_adapter.py
  tests/unit/test_template_report_core.py
  tests/unit/test_template_report_rpt07.py
Due: check-file-size, eslint, prettier

fix(APPR-08,09,12,14,16,18,19,20,21,22): 审批加签/超时调度/大额路由/角色上下文收口
  app/api/v1/endpoints/approvals/legacy_compat.py
  app/api/v1/endpoints/scheduler/status.py
  app/services/alert/alert_subscription_service.py
  app/services/approval_engine/engine/__init__.py
  app/services/approval_engine/engine/core.py
  app/services/approval_engine/engine/timeout.py
  app/services/approval_engine/executor.py
  app/services/approval_engine/router.py
  app/services/status_handlers/contract_handler.py
  app/utils/scheduled_tasks/__init__.py
  app/utils/scheduled_tasks/approval_tasks.py
  app/utils/scheduled_tasks/backup_tasks.py
  app/utils/scheduler.py
  app/utils/scheduler_config/__init__.py
  app/utils/scheduler_config/alerting.py
  app/utils/scheduler_config/approval.py
  app/utils/scheduler_config/other.py
  tests/api/test_approvals_instances_api.py
  tests/api/test_delivery_payment_plan_trigger_contracts.py
  tests/unit/test_approval_add_sign_appr08.py
  tests/unit/test_approval_legacy_compat_appr20.py
  tests/unit/test_approval_quote_routing_appr19.py
  tests/unit/test_approval_role_context_appr21.py
  tests/unit/test_approval_timeout_task_appr09.py
  tests/unit/test_contract_enhanced_approval_appr12.py
  tests/unit/test_contract_enhanced_n2.py
  tests/unit/test_contract_from_quote_deliverables_appr18.py
  tests/unit/test_contract_project_delivery_date_appr14.py
  tests/unit/test_quote_adapter.py
  tests/unit/test_scheduled_stub_tasks.py
  tests/unit/test_scheduler_progress_metrics_appr22.py
  tests/unit/test_scheduler_utils.py
  tests/unit/test_shortage_alert_task_backfill.py
Due: check-file-size

fix(RPT-08): PPT生成器硬编码孤岛清除，改数据驱动
  app/services/ppt_generator/base_builder.py
  app/services/ppt_generator/builders/__init__.py
  app/services/ppt_generator/builders/base.py
  app/services/ppt_generator/builders/content.py
  app/services/ppt_generator/builders/table.py
  app/services/ppt_generator/config.py
  app/services/ppt_generator/generator.py
  tests/unit/test_ppt_generator.py
  tests/unit/test_ppt_generator_rpt08.py
  tests/unit/test_ppt_generator_service.py
Due: check-file-size

feat(presale-agent): 售前智能体编排器——需求理解/弹药检索/方案/BOM/报价/风险
  app/api/v1/endpoints/ai_jobs.py
  app/api/v1/endpoints/presale_agent_metrics.py
  app/api/v1/endpoints/presale_agent_revisions.py
  app/models/presale_agent_metric.py
  app/models/presale_agent_revision.py
  app/models/presale_knowledge_case.py
  app/services/ai_client_service.py
  app/services/ai_job_service.py
  app/services/presale/ammo_library_service.py
  app/services/presale/presale_agent_orchestrator.py
  app/services/presale/presale_tool_registry.py
  app/services/presale/requirement_clarifier.py
  frontend/src/pages/PresaleAgent/index.jsx
  frontend/src/services/api/presaleAgent.js
  migrations/20260703_presale_agent_metrics_sqlite.sql
  migrations/20260703_presale_knowledge_case_source_project_sqlite.sql
  migrations/20260704_presale_agent_revisions_sqlite.sql
  scripts/extract_cases_from_history.py
  scripts/generate_case_embeddings.py
  scripts/import_ai_knowledge_cases.py
Due: check-file-size, eslint, prettier

feat(otd): 交付风险雷达（OTD）——阈值配置/扫描/看板
  app/api/v1/endpoints/otd.py
  app/api/v1/endpoints/otd_thresholds.py
  app/models/otd_risk_snapshot.py
  app/models/otd_threshold_config.py
  app/schemas/otd_threshold.py
  app/services/otd/__init__.py
  app/services/otd/otd_metrics_service.py
  app/services/otd/otd_scan_service.py
  app/services/otd/threshold_service.py
  app/services/otd/trend_service.py
  app/utils/scheduled_tasks/otd_tasks.py
  app/utils/scheduler_config/otd.py
  docs/OTD_AGENT_GUIDE.md
  tests/api/test_otd_endpoints.py
  tests/api/test_otd_threshold_endpoints.py
  tests/services/test_otd_metrics_service.py
  tests/services/test_otd_scan_service.py
  tests/services/test_otd_snapshot_trend.py
  tests/services/test_otd_threshold_service.py
Due: check-file-size

refactor(notification): 通知服务收敛统一入口
  app/services/notification/channels/webhook_handler.py
  app/services/notification/notification_utils.py
  app/services/notification_utils.py
  app/services/unified_notification_service.py
  tests/unit/test_notification_utils_as25.py
Due: check-file-size

chore(scripts): 标准成本/项目分类/采购成本数据回填脚本
  scripts/aggregate_standard_costs.py
  scripts/backfill_project_taxonomy.py
  scripts/extract_purchase_from_pdf.py
  scripts/import_purchase_costs.py
Due: check-file-size

feat(margin-dashboard): 项目毛利趋势看板——快照/趋势/定时任务
  app/api/v1/endpoints/margin_dashboard.py
  app/models/project_margin_snapshot.py
  app/services/dashboard/margin_dashboard_service.py
  app/services/dashboard/margin_trend_service.py
  app/utils/scheduled_tasks/margin_tasks.py
  docs/毛利率分析能力提升方案.md
  tests/services/test_margin_dashboard.py
Due: check-file-size

fix(PERM-15): 客户数据域访问校验去除恒 True 放行
  app/services/data_scope/generic_filter.py
  docs/root-docs-archive/20260704/FUNCTIONAL_AUDIT_TRACKER.md
  tests/unit/test_data_scope_filter_coverage.py
Due: check-file-size

fix(PERM-16): 清理数据权限配置层垃圾种子数据
  migrations/20260705_permission_data_scope_seed_cleanup_sqlite.sql
Due: none

fix(PERM-17): 生产域数据权限过滤挂载
  app/api/v1/endpoints/production/material_requisitions.py
  app/api/v1/endpoints/production/work_reports.py
  tests/api/test_production_compat_endpoints.py
Due: check-file-size

fix(PERM-17): 工时域数据权限过滤挂载
  app/api/v1/endpoints/timesheet/reports.py
  app/api/v1/endpoints/timesheet/reports_unified.py
  app/api/v1/endpoints/timesheet/statistics.py
  tests/api/test_timesheet_data_scope_perm17.py
Due: check-file-size

fix(PERM-17): 仓储/库存域数据权限过滤挂载
  app/api/v1/endpoints/inventory/inventory_router.py
  app/api/v1/endpoints/warehouse/count.py
  app/api/v1/endpoints/warehouse/crud.py
  app/services/stock_count_service.py
  tests/unit/test_perm17_warehouse_inventory_data_scope.py
Due: check-file-size

fix(PERM-17): 预算/成本/财务报表域数据权限过滤挂载
  app/api/v1/endpoints/budget/budgets.py
  app/api/v1/endpoints/budget/items.py
  app/api/v1/endpoints/budget/utils.py
  app/api/v1/endpoints/cost_endpoints/collection.py
  app/api/v1/endpoints/finance_reports.py
  tests/api/test_budget_finance_data_scope_perm17.py
Due: check-file-size

fix(PERM-17): 采购/供应链域数据权限过滤挂载
  app/api/v1/endpoints/outsourcing/orders.py
  app/api/v1/endpoints/outsourcing/payments/crud.py
  app/api/v1/endpoints/purchase/receipts.py
  app/api/v1/endpoints/purchase/requests_refactored.py
  tests/unit/test_perm17_purchase_procurement_data_scope.py
Due: check-file-size

fix(PERM-17): BOM/ECN 工程变更域数据权限过滤挂载
  app/api/v1/endpoints/bom/list.py
  app/api/v1/endpoints/bom/machine_bom.py
  app/api/v1/endpoints/ecn/core.py
  app/api/v1/endpoints/ecn/statistics.py
  tests/unit/test_perm17_bom_ecn_data_scope.py
Due: check-file-size

docs: PERM-15/16/17 台账收口
  docs/root-docs-archive/20260704/FUNCTIONAL_AUDIT_TRACKER.md
Due: none

fix(TEN-02,03,04): 框架级租户查询过滤 + Project 域归户
  app/core/database/__init__.py
  app/core/database/tenant_query.py
  app/core/database/tenant_scope.py
  app/core/middleware/tenant_middleware.py
  app/models/base.py
  app/models/project/core.py
  docs/root-docs-archive/20260704/FUNCTIONAL_AUDIT_TRACKER.md
  migrations/20260705_project_tenant_backfill_sqlite.sql
  tests/unit/test_tenant_query_scope_ten02.py
Due: check-file-size

fix(TEN-07): 租户暂停/过期拒登录，用户数配额封顶
  app/api/v1/endpoints/auth.py
  app/api/v1/endpoints/users/crud_refactored.py
  app/services/tenant_service.py
  docs/root-docs-archive/20260704/FUNCTIONAL_AUDIT_TRACKER.md
  tests/api/test_auth_tenant_lifecycle_ten07.py
  tests/unit/test_tenant_lifecycle_ten07.py
Due: check-file-size

fix(TEN-05): 删除隔离装饰器/工具死代码
  app/core/decorators/__init__.py
  app/core/decorators/tenant_isolation.py
  app/core/middleware/__init__.py
  app/core/middleware/tenant_middleware.py
  app/core/permissions/tenant_access.py
  tests/middleware/test_tenant_middleware.py
  tests/test_core_modules.py
  tests/test_tenant_access.py
  tests/test_tenant_isolation_decorator.py
  tests/unit/test_core_common_coverage.py
  tests/unit/test_tenant_middleware_utils.py
Due: check-file-size

docs: TEN-05 台账收口
  docs/root-docs-archive/20260704/FUNCTIONAL_AUDIT_TRACKER.md
Due: none

fix(TEN-03): 全量铺开第二批——customers/contracts/invoices/sales_orders 加 tenant_id
  app/core/database/tenant_scope.py
  app/models/business_support/sales_order.py
  app/models/project/customer.py
  app/models/sales/contracts.py
  app/models/sales/invoices.py
  docs/root-docs-archive/20260704/FUNCTIONAL_AUDIT_TRACKER.md
  migrations/20260705_ten03_core_tables_tenant_id_sqlite.sql
  tests/unit/test_ten03_core_tables_tenant_scope.py
  tests/unit/test_tenant_query_scope_ten02.py
Due: check-file-size

fix(TEN-03): 全量铺开第三批——opportunities/quotes/quote_versions 加 tenant_id
  app/models/sales/leads.py
  app/models/sales/quotes.py
  docs/root-docs-archive/20260704/FUNCTIONAL_AUDIT_TRACKER.md
  migrations/20260705_ten03_opportunity_quote_tenant_id_sqlite.sql
  tests/unit/test_ten03_core_tables_tenant_scope.py
Due: check-file-size

fix(approvals): 修复审批"通过"按钮点击无反应 + 我发起的统计口径不一致
  app/api/v1/endpoints/approvals/legacy_compat.py
  app/api/v1/endpoints/approvals/pending_refactored.py
  app/api/v1/endpoints/data_import_export/export_projects.py
  app/api/v1/endpoints/data_import_export/export_tasks.py
  app/api/v1/endpoints/data_import_export/export_timesheet.py
  app/api/v1/endpoints/data_import_export/export_workload.py
  app/services/excel_template_service.py
Due: check-file-size

fix(notifications,approvals): 通知中心/审批中心互通与多个真实 bug 修复
  frontend/src/components/layout/Header.jsx
  frontend/src/pages/ApprovalCenter/CcList.jsx
  frontend/src/pages/ApprovalCenter/InitiatedList.jsx
  frontend/src/pages/ApprovalCenter/PendingList.jsx
  frontend/src/pages/ApprovalCenter/ProcessedList.jsx
  frontend/src/pages/ApprovalDetailPage.jsx
  frontend/src/pages/NotificationCenter.jsx
  frontend/src/pages/UnifiedDashboard/config/roleWidgetConfig.js
  frontend/src/pages/UnifiedDashboard/widgets/NotificationPanel.jsx
Due: eslint, prettier

Path conditions:
  check-file-size: any of: \.py$
  eslint: any of: \.(js|jsx|ts|tsx)$
  prettier: any of: \.(js|jsx|ts|tsx|css)$
