Repository fulingwei1/non-standard-automation-pms: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, eslint, prettier

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# 安装: pip install pre-commit && pre-commit install

repos:
  # 通用钩子
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: 移除行尾空白
      - id: end-of-file-fixer
        name: 确保文件以换行符结尾
      - id: check-yaml
        name: 检查YAML语法
      - id: check-json
        name: 检查JSON语法
      - id: check-added-large-files
        name: 检查大文件
        args: ["--maxkb=500"]
      - id: check-merge-conflict
        name: 检查合并冲突
      - id: detect-private-key
        name: 检测私钥
      - id: no-commit-to-branch
        name: 禁止直接提交到main分支
        args: ["--branch", "main"]

  # Python 代码格式化
  - repo: https://github.com/psf/black
    rev: 24.1.1
    hooks:
      - id: black
        name: Black 代码格式化
        language_version: python3.11
        args: ["--line-length=120"]

  # Python 导入排序
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        name: isort 导入排序
        args: ["--profile=black", "--line-length=120"]

  # Python 代码检查
  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        name: Flake8 代码检查
        args: ["--max-line-length=120", "--ignore=E501,W503,E203"]
        additional_dependencies:
          - flake8-docstrings
          - flake8-bugbear

  # Python 安全检查
  - repo: https://github.com/pycqa/bandit
    rev: 1.7.7
    hooks:
      - id: bandit
        name: Bandit 安全检查
        args: ["-ll", "-ii"]
        exclude: tests/

  # 自定义文件大小检查
  - repo: local
    hooks:
      - id: check-file-size
        name: 检查文件大小限制
        entry: python scripts/check_file_size.py
        language: python
        types: [python]
        pass_filenames: false

      - id: check-function-size
        name: 检查函数大小
        entry: python scripts/check_function_size.py
        language: python
        types: [python]
        pass_filenames: false
        always_run: true

  # JavaScript/TypeScript (前端)
  - repo: local
    hooks:
      - id: eslint
        name: ESLint 检查
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

      - id: prettier
        name: Prettier 格式化检查
        entry: bash -c 'cd frontend && npx prettier --check "src/**/*.{js,jsx,ts,tsx,css}"'
        language: system
        files: \.(js|jsx|ts|tsx|css)$
        pass_filenames: false

# CI 设置
ci:
  autofix_commit_msg: "style: auto fixes from pre-commit hooks"
  autofix_prs: true
  autoupdate_commit_msg: "chore: pre-commit autoupdate"
  autoupdate_schedule: weekly

fix: 兼容售前评估旧库字段
  app/models/base.py
  tests/core/test_database.py
Due: check-file-size

fix: 补齐G2转报价版本闭环
  app/services/sales/funnel_state_machine.py
  tests/api/test_sales.py
Due: check-file-size

fix: 返回售前工单评估回流字段
  app/api/v1/endpoints/presale/tickets/utils.py
  app/schemas/presale.py
  tests/api/test_presales_contract_api.py
Due: check-file-size

fix: 打通PMO立项售前交接上下文
  app/services/pmo_initiation/service.py
  app/services/project_workspace_service.py
  tests/api/test_sales.py
Due: check-file-size

fix: 补齐菜单权限序列化输出字段
  app/models/permission.py
  tests/unit/test_permission_service_branches.py
Due: check-file-size

fix: 打通售前成本与项目交接展示
  frontend/src/pages/PresalesWorkstation.jsx
  frontend/src/pages/ProjectWorkspace.jsx
  frontend/src/pages/__tests__/PresalesWorkstation.test.jsx
  frontend/src/pages/__tests__/ProjectWorkspace.test.jsx
Due: eslint, prettier

fix: 展示项目后续模块动作
  frontend/src/pages/ProjectWorkspace.jsx
  frontend/src/pages/__tests__/ProjectWorkspace.test.jsx
Due: eslint, prettier

fix: 统一售前技术方案管理入口
  frontend/src/pages/PresaleProposals/index.jsx
  frontend/src/pages/PresalesReviewCenter.jsx
  frontend/src/pages/__tests__/PresalesReviewCenter.test.jsx
Due: eslint, prettier

fix: 合并售前技术参数入口
  frontend/src/pages/PresalesReviewCenter.jsx
  frontend/src/pages/TechnicalParameterManagement.jsx
  frontend/src/pages/__tests__/PresalesReviewCenter.test.jsx
Due: eslint, prettier

fix: 修复技术评审下拉控件
  frontend/src/pages/TechnicalReviewDetail/BasicInfoTab.jsx
  frontend/src/pages/TechnicalReviewDetail/__tests__/BasicInfoTab.test.jsx
  frontend/src/pages/TechnicalReviewList/components/TechnicalReviewFilter.jsx
  frontend/src/pages/TechnicalReviewList/components/__tests__/TechnicalReviewFilter.test.jsx
Due: eslint, prettier

docs: 制定非标项目系统落地路线图
  docs/NON_STANDARD_AUTOMATION_USAGE_ROADMAP.md
Due: none

fix: 修复技术评审新建模式
  frontend/src/pages/TechnicalReviewDetail/hooks/__tests__/useTechnicalReviewForm.test.js
  frontend/src/pages/TechnicalReviewDetail/hooks/useTechnicalReviewForm.js
Due: eslint, prettier

fix: 兼容仪表盘适配器旧导入
  app/api/v1/endpoints/performance/contract.py
  app/services/dashboard_adapters/__init__.py
  tests/unit/test_dashboard_adapters_compat.py
  tests/unit/test_performance_contract_import.py
Due: check-file-size

fix: 统一售前技术支持中心入口
  frontend/src/components/layout/sidebarConfig/default.js
  frontend/src/components/presales/workstation/OngoingSolutionsCard.jsx
  frontend/src/components/presales/workstation/RecentTendersCard.jsx
  frontend/src/components/presales/workstation/TodoTasksCard.jsx
  frontend/src/lib/allMenuItems.js
  frontend/src/pages/BiddingCenter/index.jsx
  frontend/src/pages/BiddingDetail.jsx
  frontend/src/pages/PresaleTemplates/index.jsx
  frontend/src/pages/PresalesCostEstimation.jsx
  frontend/src/pages/PresalesManagerWorkstation/components/BiddingProjectsCard.jsx
  frontend/src/pages/PresalesManagerWorkstation/components/TeamPerformanceCard.jsx
  frontend/src/pages/PresalesManagerWorkstation/constants.js
  frontend/src/pages/PresalesReviewCenter.jsx
  frontend/src/pages/PresalesWorkbench.jsx
  frontend/src/pages/PresalesWorkstation.jsx
  frontend/src/pages/SalesPresaleWorkbench.jsx
  frontend/src/pages/SolutionDetail/components/SolutionHeader.jsx
  frontend/src/pages/SolutionDetail/index.jsx
  frontend/src/pages/__tests__/BiddingCenter.test.jsx
  frontend/src/pages/__tests__/PresalesReviewCenter.test.jsx
  frontend/src/pages/__tests__/SalesPresaleWorkbench.test.jsx
  frontend/src/routes/modules/__tests__/presalesRoutes.test.jsx
  frontend/src/routes/modules/presalesRoutes.jsx
Due: eslint, prettier

fix: 收口售前工单旧入口并保留筛选
  app/api/v1/endpoints/presale/templates.py
  docs/NON_STANDARD_AUTOMATION_USAGE_ROADMAP.md
  docs/module-consolidation-plan-presale-project.md
  frontend/src/pages/OpportunityManagement/index.jsx
  frontend/src/pages/SalesPresaleWorkbench.jsx
  frontend/src/pages/__tests__/OpportunityManagement.test.jsx
  frontend/src/pages/__tests__/SalesPresaleWorkbench.test.jsx
  frontend/src/routes/modules/__tests__/presalesRoutes.test.jsx
  frontend/src/routes/modules/__tests__/projectPresalesTaskRoutes.test.jsx
  frontend/src/routes/modules/__tests__/salesPresaleWorkbenchRoutes.test.jsx
  frontend/src/routes/modules/presalesRedirects.jsx
  frontend/src/routes/modules/presalesRoutes.jsx
  frontend/src/routes/modules/projectRoutes.jsx
  frontend/src/routes/modules/salesRoutes.jsx
  tests/api/test_presales_contract_api.py
Due: check-file-size, eslint, prettier

fix: 收口项目管理统一中心入口
  docs/NON_STANDARD_AUTOMATION_USAGE_ROADMAP.md
  docs/module-consolidation-plan-presale-project.md
  docs/system-module-consolidation-blueprint.md
  frontend/src/components/chairman-workstation/ProjectHealthCard.jsx
  frontend/src/components/chairman-workstation/RecentProjectsCard.jsx
  frontend/src/components/layout/TabbedCenterPage.jsx
  frontend/src/components/layout/sidebarConfig/default.js
  frontend/src/lib/allMenuItems.js
  frontend/src/lib/roleConfig/navigation.js
  frontend/src/pages/AIProjectTools.jsx
  frontend/src/pages/Dashboard.jsx
  frontend/src/pages/GanttAndResource.jsx
  frontend/src/pages/IssueManagement.jsx
  frontend/src/pages/ProjectClosing.jsx
  frontend/src/pages/ProjectCostCenter.jsx
  frontend/src/pages/ProjectDashboardCenter.jsx
  frontend/src/pages/ProjectDetail/index.jsx
  frontend/src/pages/ProjectManagementCenter.jsx
  frontend/src/pages/WeeklyReport.jsx
  frontend/src/pages/WorkCenter.jsx
  frontend/src/routes/modules/__tests__/projectManagementCenterRoutes.test.jsx
  frontend/src/routes/modules/projectRedirects.jsx
  frontend/src/routes/modules/projectRoutes.jsx
Due: eslint, prettier

fix: 打通销售商机售前支持工单闭环
  app/api/v1/endpoints/presale/tickets/crud.py
  frontend/src/pages/OpportunityManagement/OpportunityGrid.jsx
  frontend/src/pages/OpportunityManagement/OpportunityTable.jsx
  frontend/src/pages/OpportunityManagement/ReviewDialog.jsx
  frontend/src/pages/OpportunityManagement/index.jsx
  frontend/src/pages/PresalesTasks/constants.js
  frontend/src/pages/PresalesTasks/index.jsx
  frontend/src/pages/__tests__/OpportunityManagement.test.jsx
  frontend/src/pages/__tests__/PresalesTasks.test.jsx
  tests/api/test_presales_contract_api.py
Due: check-file-size, eslint, prettier

fix: 打通售前上下文闭环链路
  app/api/v1/endpoints/presale/bids.py
  app/api/v1/endpoints/presale/tickets/board.py
  app/api/v1/endpoints/presale/tickets/crud.py
  app/api/v1/endpoints/presale/tickets/utils.py
  app/schemas/presale.py
  frontend/src/pages/BiddingCenter/constants.js
  frontend/src/pages/BiddingCenter/index.jsx
  frontend/src/pages/PresaleProposals/index.jsx
  frontend/src/pages/PresalesCostEstimation.jsx
  frontend/src/pages/PresalesReviewCenter.jsx
  frontend/src/pages/PresalesTasks/index.jsx
  frontend/src/pages/__tests__/BiddingCenter.test.jsx
  frontend/src/pages/__tests__/PresaleProposals.test.jsx
  frontend/src/pages/__tests__/PresalesCostEstimation.test.jsx
  frontend/src/pages/__tests__/PresalesReviewCenter.test.jsx
  frontend/src/pages/__tests__/PresalesTasks.test.jsx
  tests/api/test_presales_contract_api.py
Due: check-file-size, eslint, prettier

fix: 支持项目中心上下文筛选
  app/api/v1/endpoints/projects/project_crud.py
  app/schemas/project/project_core.py
  app/services/project_crud/service.py
  frontend/src/pages/ProjectBoard/index.jsx
  frontend/src/pages/__tests__/ProjectBoardContext.test.jsx
  tests/api/test_project_workspace_contract_api.py
Due: check-file-size, eslint, prettier

fix: 修正售前方案金额口径
  frontend/src/pages/SolutionDetail/components/SolutionStatsCards.jsx
  frontend/src/pages/SolutionDetail/components/__tests__/SolutionStatsCards.test.jsx
  frontend/src/pages/SolutionDetail/hooks/__tests__/useSolutionDetail.test.js
  frontend/src/pages/SolutionDetail/hooks/useSolutionDetail.js
Due: eslint, prettier

fix: 透传项目管理下游上下文
  frontend/src/lib/projectContext.js
  frontend/src/pages/BudgetManagement.jsx
  frontend/src/pages/GanttDependency.jsx
  frontend/src/pages/ProjectBoard/index.jsx
  frontend/src/pages/TaskCenter/hooks/useTaskData.js
  frontend/src/pages/TaskCenter/hooks/useTaskFilters.js
  frontend/src/pages/TaskCenter/index.jsx
  frontend/src/pages/TimeCostMarginFlow.jsx
  frontend/src/pages/__tests__/ProjectManagementDownstreamContext.test.jsx
Due: eslint, prettier

fix: 透传需求调研销售上下文
  frontend/src/pages/RequirementSurvey/index.jsx
  frontend/src/pages/__tests__/RequirementSurvey.test.jsx
Due: eslint, prettier

fix: 透传技术评审项目上下文
  frontend/src/pages/TechnicalReviewDetail/hooks/__tests__/useTechnicalReviewForm.test.js
  frontend/src/pages/TechnicalReviewDetail/hooks/useTechnicalReviewForm.js
  frontend/src/pages/TechnicalReviewList/hooks/__tests__/useTechnicalReviewList.test.js
  frontend/src/pages/TechnicalReviewList/hooks/useTechnicalReviewList.js
Due: eslint, prettier

docs: 补充后段模块合并方案
  docs/module-consolidation-plan-presale-project.md
Due: none

fix: 透传采购生产项目上下文
  docs/module-consolidation-plan-presale-project.md
  frontend/src/pages/ProductionPlanList/hooks/__tests__/useProductionPlanList.test.js
  frontend/src/pages/ProductionPlanList/hooks/useProductionPlanList.js
  frontend/src/pages/PurchaseOrders/hooks/__tests__/usePurchaseOrders.test.js
  frontend/src/pages/PurchaseOrders/hooks/usePurchaseOrders.js
  frontend/src/pages/WorkOrderManagement/hooks/__tests__/useWorkOrderManagement.test.js
  frontend/src/pages/WorkOrderManagement/hooks/useWorkOrders.js
Due: eslint, prettier

fix: 打通技术规格接口路由
  app/api/v1/api.py
  app/api/v1/endpoints/technical_spec/extract.py
  app/api/v1/endpoints/technical_spec/match.py
  app/api/v1/endpoints/technical_spec/requirements.py
  app/api/v1/endpoints/technical_spec/serializers.py
  tests/api/test_technical_spec_route_contract.py
Due: check-file-size

test: 覆盖技术规格匹配历史数据
  tests/api/test_technical_spec_route_contract.py
Due: check-file-size

fix: 透传验收项目上下文参数
  frontend/src/pages/Acceptance/__tests__/AcceptanceContext.test.jsx
  frontend/src/pages/Acceptance/index.jsx
Due: eslint, prettier

fix: 透传技术规格项目上下文
  frontend/src/pages/SpecMatchCheck.jsx
  frontend/src/pages/TechnicalSpecManagement.jsx
  frontend/src/pages/__tests__/TechnicalSpecContext.test.jsx
Due: eslint, prettier

fix: 透传物料外协项目上下文
  frontend/src/pages/MaterialDemandSummary.jsx
  frontend/src/pages/OutsourcingOrderList.jsx
  frontend/src/pages/SpecMatchCheck.jsx
  frontend/src/pages/TechnicalSpecManagement.jsx
  frontend/src/pages/__tests__/DownstreamSpecialtyContext.test.jsx
Due: eslint, prettier

fix: 打通采购交付库存项目上下文
  frontend/src/pages/ProjectDeliverySchedule/ScheduleCreate.jsx
  frontend/src/pages/ProjectDeliverySchedule/ScheduleGantt.jsx
  frontend/src/pages/PurchaseRequestNew/BasicInfoCard.jsx
  frontend/src/pages/PurchaseRequestNew/index.jsx
  frontend/src/pages/__tests__/ExecutionTailContext.test.jsx
  frontend/src/pages/inventory/operations/MaterialReservation.tsx
  frontend/src/routes/routeConfig.jsx
Due: eslint, prettier

fix: 透传售前任务项目上下文
  app/api/v1/endpoints/presale/tickets/crud.py
  frontend/src/pages/PresalesTasks/index.jsx
  frontend/src/pages/__tests__/PresalesTasks.test.jsx
  tests/api/test_presales_contract_api.py
Due: check-file-size, eslint, prettier

fix: 支持嵌入售前任务创建
  frontend/src/pages/PresalesTasks/index.jsx
  frontend/src/pages/__tests__/PresalesTasks.test.jsx
Due: eslint, prettier

fix: 返回售前工单PM介入上下文
  app/api/v1/endpoints/presale/tickets/utils.py
  tests/unit/test_presale_ticket_response.py
  tests/unit/test_project_solution_service.py
Due: check-file-size

fix: 显示售前工单PM介入状态
  frontend/src/pages/PresaleTicketBoard/TicketTable.jsx
  frontend/src/pages/PresaleTicketBoard/__tests__/TicketPmContext.test.jsx
  frontend/src/pages/PresaleTicketBoard/utils.js
Due: eslint, prettier

fix: 在售前任务中心显示PM介入风险
  frontend/src/pages/PresalesTasks/TaskCard.jsx
  frontend/src/pages/PresalesTasks/TaskDetailPanel.jsx
  frontend/src/pages/PresalesTasks/index.jsx
  frontend/src/pages/__tests__/PresalesTasks.test.jsx
Due: eslint, prettier

fix: 项目工作台承接售前PM风险
  app/services/project_workspace_service.py
  frontend/src/pages/ProjectWorkspace.jsx
  frontend/src/pages/__tests__/ProjectWorkspace.test.jsx
  tests/api/test_project_workspace_contract_api.py
Due: check-file-size, eslint, prettier

docs: 制定全流程合并可用化方案
  docs/plans/2026-06-07-full-flow-consolidation-plan.md
Due: none

fix: 项目工作台后续动作支持跳转
  app/services/project_workspace_service.py
  frontend/src/pages/ProjectWorkspace.jsx
  frontend/src/pages/__tests__/ProjectWorkspace.test.jsx
  tests/api/test_project_workspace_contract_api.py
Due: check-file-size, eslint, prettier

fix: PMO立项显示售前交接包
  app/api/v1/endpoints/pmo/initiation.py
  app/schemas/pmo.py
  app/services/pmo_initiation/service.py
  frontend/src/pages/InitiationManagement/components/InitiationList.jsx
  frontend/src/pages/InitiationManagement/components/__tests__/InitiationList.test.jsx
  frontend/src/pages/InitiationManagement/hooks/__tests__/useInitiationManagement.detail.test.jsx
  frontend/src/pages/InitiationManagement/hooks/useInitiationManagement.js
  frontend/src/pages/InitiationManagement/index.jsx
  tests/api/test_sales.py
Due: check-file-size, eslint, prettier
