Repository fulingwei1/non-standard-automation-pms: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, eslint, prettier

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# 安装: pip install pre-commit && pre-commit install

repos:
  # 通用钩子
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: 移除行尾空白
      - id: end-of-file-fixer
        name: 确保文件以换行符结尾
      - id: check-yaml
        name: 检查YAML语法
      - id: check-json
        name: 检查JSON语法
      - id: check-added-large-files
        name: 检查大文件
        args: ["--maxkb=500"]
      - id: check-merge-conflict
        name: 检查合并冲突
      - id: detect-private-key
        name: 检测私钥
      - id: no-commit-to-branch
        name: 禁止直接提交到main分支
        args: ["--branch", "main"]

  # Python 代码格式化
  - repo: https://github.com/psf/black
    rev: 24.1.1
    hooks:
      - id: black
        name: Black 代码格式化
        language_version: python3.11
        args: ["--line-length=120"]

  # Python 导入排序
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        name: isort 导入排序
        args: ["--profile=black", "--line-length=120"]

  # Python 代码检查
  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        name: Flake8 代码检查
        args: ["--max-line-length=120", "--ignore=E501,W503,E203"]
        additional_dependencies:
          - flake8-docstrings
          - flake8-bugbear

  # Python 安全检查
  - repo: https://github.com/pycqa/bandit
    rev: 1.7.7
    hooks:
      - id: bandit
        name: Bandit 安全检查
        args: ["-ll", "-ii"]
        exclude: tests/

  # 自定义文件大小检查
  - repo: local
    hooks:
      - id: check-file-size
        name: 检查文件大小限制
        entry: python scripts/check_file_size.py
        language: python
        types: [python]
        pass_filenames: false

      - id: check-function-size
        name: 检查函数大小
        entry: python scripts/check_function_size.py
        language: python
        types: [python]
        pass_filenames: false
        always_run: true

  # JavaScript/TypeScript (前端)
  - repo: local
    hooks:
      - id: eslint
        name: ESLint 检查
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

      - id: prettier
        name: Prettier 格式化检查
        entry: bash -c 'cd frontend && npx prettier --check "src/**/*.{js,jsx,ts,tsx,css}"'
        language: system
        files: \.(js|jsx|ts|tsx|css)$
        pass_filenames: false

# CI 设置
ci:
  autofix_commit_msg: "style: auto fixes from pre-commit hooks"
  autofix_prs: true
  autoupdate_commit_msg: "chore: pre-commit autoupdate"
  autoupdate_schedule: weekly

fix(frontend): 解决依赖冲突和安全漏洞
  frontend/package-lock.json
  frontend/package.json
Due: none

fix: 修复 Contract 模型测试的字段名错误
  tests/unit/models/sales/test_contract_model.py
Due: check-file-size

fix(tests): Remove problematic slowapi module mock that broke imports
  tests/conftest.py
Due: check-file-size

chore: update pnpm lockfile to fix CI build
  frontend/pnpm-lock.yaml
Due: none

fix: resolve ESLint errors in frontend pages
  frontend/src/pages/AIStrategyAssistant.jsx
  frontend/src/pages/KPIList.jsx
  frontend/src/pages/PerformanceContract.jsx
  frontend/src/pages/YearComparison.jsx
Due: eslint, prettier

fix:完整修复所有 ESLint 错误
  frontend/src/pages/KPIList.jsx
  frontend/src/pages/PerformanceContract.jsx
Due: eslint, prettier

feat: 销售模块修复 + 装配套件服务 + 数据库初始化完善
  app/api/v1/endpoints/margin_prediction.py.bak2
  app/api/v1/endpoints/margin_prediction.py.bak3
  app/api/v1/endpoints/production/capacity/analysis.py
  app/api/v1/endpoints/sales/__init__.py
  app/api/v1/endpoints/sales/payments/payment_exports.py
  app/api/v1/endpoints/sales/workflows.py
  app/api/v1/endpoints/sales_funnel_optimization.py
  app/api/v1/endpoints/timesheet/workflow.py
  app/api/v1/presale_ai_win_rate.py
  app/models/base.py
  app/services/assembly_kit_service.py
  app/services/excel_export_service.py
  frontend/src/pages/AnnualWorkList.jsx
  reports/test_report_20260301.md
  scripts/init_db.py
Due: check-file-size, eslint, prettier

chore: 清理备份文件
  app/api/v1/endpoints/margin_prediction.py.bak2
  app/api/v1/endpoints/margin_prediction.py.bak3
Due: none

feat: 添加 AI 智能排计划页面路由和入口
  frontend/src/pages/ProgressBoard.jsx
  frontend/src/routes/modules/projectRoutes.jsx
Due: eslint, prettier

fix: 修复 ProgressBoard JSX 结构并添加 AI 排计划按钮
  frontend/src/pages/ProgressBoard.jsx
Due: eslint, prettier

fix(routes): 注册项目模块未注册页面路由
  frontend/src/routes/modules/projectRoutes.jsx
Due: eslint, prettier

fix(routes): register missing sales module pages
  frontend/src/routes/modules/salesRoutes.jsx
Due: eslint, prettier

fix(routes): 注册生产/采购/质量模块未注册页面路由
  frontend/src/routes/modules/procurementRoutes.jsx
  frontend/src/routes/modules/productionRoutes.jsx
  frontend/src/routes/modules/qualityRoutes.jsx
Due: eslint, prettier

fix(routes): 注册HR/Finance/Warehouse/System/Strategy/Admin未注册页面路由
  frontend/src/routes/modules/dashboardRoutes.jsx
  frontend/src/routes/modules/financeRoutes.jsx
  frontend/src/routes/modules/hrRoutes.jsx
  frontend/src/routes/modules/strategyRoutes.jsx
  frontend/src/routes/modules/systemRoutes.jsx
  frontend/src/routes/modules/warehouseRoutes.jsx
Due: eslint, prettier

fix: 添加 11 个缺失的销售模块路由
  frontend/src/routes/modules/salesRoutes.jsx
Due: eslint, prettier

fix: 添加 4 个缺失的项目管理模块路由
  frontend/src/routes/modules/projectRoutes.jsx
Due: eslint, prettier

fix: 产能分析页面移到生产模块
  frontend/src/routes/modules/productionRoutes.jsx
Due: eslint, prettier

fix: 售前模块 5 个页面路由和菜单配置
  frontend/src/components/delivery-management/DeliveryOverview.jsx
  frontend/src/components/delivery-management/index.js
  frontend/src/components/layout/sidebarConfig/default.js
  frontend/src/lib/allMenuItems.js
  frontend/src/pages/DeliveryManagement.jsx
  frontend/src/pages/PresaleAnalytics.jsx
  frontend/src/routes/modules/presalesRoutes.jsx
  frontend/src/routes/modules/productionRoutes.jsx
  frontend/src/routes/modules/salesRoutes.jsx
  frontend/src/routes/routeConfig.jsx
Due: eslint, prettier

fix: 添加售前工单看板路由和菜单
  app/api/v1/endpoints/strategy/comparison.py
  app/api/v1/endpoints/strategy/dashboard.py
  app/api/v1/endpoints/strategy/strategy.py
  app/schemas/strategy/__init__.py
  app/schemas/strategy/dashboard.py
  app/schemas/strategy/yoy_report.py
  app/services/strategy/comparison_service.py
  app/services/strategy/decomposition/personal_kpis.py
  data/app.db-shm
  data/app.db-wal
  frontend/ROLE_DASHBOARD_CONTENT_VALIDATION.md
  frontend/src/components/delivery-management/DeliveryOverview.jsx
  frontend/src/components/layout/sidebarConfig/default.js
  frontend/src/lib/allMenuItems.js
  frontend/src/lib/roleConfig/permissions.js
  frontend/src/pages/CSFList.jsx
  frontend/src/pages/DeliveryManagement.jsx
  frontend/src/pages/KPIList.jsx
  frontend/src/pages/PresaleBids.jsx
  frontend/src/pages/PresaleTemplates.jsx
  frontend/src/pages/SalesAI/ForecastDashboard.jsx
  frontend/src/pages/SalesTarget.jsx
  frontend/src/pages/Strategy/hooks/useStrategyDashboard.js
  frontend/src/pages/StrategyMap.jsx
  frontend/src/routes/modules/presalesRoutes.jsx
Due: check-file-size, eslint, prettier

fix: 调整预警中心菜单位置
  frontend/src/components/layout/sidebarConfig/default.js
Due: eslint, prettier

feat: 补充销售模块演示数据
  data/app.db-shm
  data/app.db-wal
Due: none

feat: 生成 2026 年业务目标演示数据
  data/app.db-shm
  data/app.db-wal
Due: none

docs: 添加 2026 年演示数据汇总文档
  scripts/export_demo_data_summary.md
Due: none

chore: ignore SQLite WAL files (data/*.db-shm, data/*.db-wal)
  .gitignore
Due: none

fix: 修复登录页面用户名密码显示 unknown 的问题
  frontend/src/pages/Login.jsx
Due: eslint, prettier

fix: 修复运营大屏本月产值为 0 的问题
  app/api/v1/endpoints/report_center/bi.py
Due: check-file-size

fix: 修复运营大屏 API 500 错误
  app/api/v1/endpoints/report_center/bi.py
Due: check-file-size

fix: 修复运营大屏 API 问题
  app/api/v1/endpoints/report_center/bi.py
  reports/task4_performance_demo_summary_2026Q1.md
  scripts/seed_issue_anomaly_demo_data.py
  scripts/seed_notification_center_demo_data.py
  scripts/seed_task4_performance_demo_data.py
  scripts/seed_workbench_task1_data.py
Due: check-file-size

fix: 自动修复 Ruff lint 错误
  app/api/v1/endpoints/ai_sales_assistant.py
  app/api/v1/endpoints/competitor_analysis.py
  app/api/v1/endpoints/customer_360.py
  app/api/v1/endpoints/engineer_scheduling.py
  app/api/v1/endpoints/margin_prediction.py
  app/api/v1/endpoints/projects/project_crud.py
  app/api/v1/endpoints/relationship_maturity.py
  app/api/v1/endpoints/requirement_extraction.py
  app/api/v1/endpoints/sales_automation.py
  app/api/v1/endpoints/sales_collaboration.py
  app/api/v1/endpoints/sales_forecast.py
  app/api/v1/endpoints/sales_forecast_enhanced.py
  app/api/v1/endpoints/sales_funnel_optimization.py
  app/api/v1/endpoints/sales_intelligent_quote.py
  app/api/v1/endpoints/sales_mobile.py
  app/api/v1/endpoints/sales_organization.py
  app/api/v1/endpoints/sales_performance.py
  app/api/v1/endpoints/schedule_generation.py
  app/api/v1/endpoints/template_configs/apply.py
  app/api/v1/endpoints/template_configs/crud.py
  app/api/v1/endpoints/win_rate_prediction.py
  app/models/engineer_capacity.py
  app/models/project_schedule.py
  app/services/assembly_kit_service.py
  app/services/assembly_kit_service_enhanced.py
  app/services/engineer_scheduling_service.py
  app/services/requirement_extraction_service.py
  app/services/schedule_generation_service.py
  app/services/schedule_optimization_service.py
  app/services/team_generation_service.py
Due: check-file-size

security: 修复 pypdf 安全漏洞
  api/requirements.txt
Due: none

🔧 fix: add xlsx dependency to fix build error
  frontend/pnpm-lock.yaml
Due: none

🔧 fix: optimize vitest config for better test stability
  frontend/vitest.config.js
Due: eslint, prettier

🔧 feat: add RATE_LIMIT_ENABLED env var to disable rate limiting
  app/main.py
Due: check-file-size
