Repository fulingwei1/non-standard-automation-pms: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, eslint, prettier

check-file-size:
  name: 检查文件大小限制
  entry: python scripts/check_file_size.py
  language: python
  pass_filenames: false

eslint:
  name: ESLint 检查
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

prettier:
  name: Prettier 格式化检查
  entry: bash -c 'cd frontend && npx prettier --check "src/**/*.{js,jsx,ts,tsx,css}"'
  language: system
  pass_filenames: false

docs: 添加未使用业务服务完整清单 - 发现17个未引用文件
  未使用业务服务清单_最终版.md
Due: none

refactor: 删除5个空stub文件 (采购分析器)
  app/services/procurement_analysis/cost_trend_analyzer.py
  app/services/procurement_analysis/delivery_analyzer.py
  app/services/procurement_analysis/efficiency_analyzer.py
  app/services/procurement_analysis/price_analyzer.py
  app/services/procurement_analysis/quality_analyzer.py
Due: check-file-size

fix: 修复 CI workflow 中导致 job 100% 失败的硬问题
  .github/workflows/test.yml
  .github/workflows/tests.yml
Due: none

fix: 固定 bcrypt 版本到 4.3.0 以兼容 passlib
  api/requirements.txt
Due: none

fix: 恢复误删的 testing_acceptance.py 模块
  app/services/preset_stage_templates/templates/execution/testing_acceptance.py
Due: check-file-size

test(frontend): improve pages coverage batch1 - add tests for OpportunityManagement, AcceptanceExecution, ContractList
  frontend/src/pages/__tests__/AcceptanceExecution.test.jsx
  frontend/src/pages/__tests__/ContractList.test.jsx
  frontend/src/pages/__tests__/OpportunityManagement.test.jsx
Due: eslint, prettier

test(frontend): improve utils coverage to 90%+
  frontend/src/utils/apiErrorHandler.test.js
  frontend/src/utils/apiResponse.test.js
  frontend/src/utils/diagnose.test.js
  frontend/src/utils/errorHandler.test.js
  frontend/src/utils/evaluationTaskUtils.test.js
  frontend/src/utils/evaluationUtils.test.js
  frontend/src/utils/iconMap.test.jsx
  frontend/src/utils/logger.test.js
  frontend/src/utils/monthlySummaryUtils.test.js
  frontend/src/utils/performanceUtils.test.js
  frontend/src/utils/validators.test.js
  frontend/src/utils/weightConfigUtils.test.js
Due: eslint, prettier

test(frontend): add Context and Layout components tests
  frontend/src/components/layout/__tests__/Header.test.jsx
  frontend/src/components/layout/__tests__/MainLayout.test.jsx
  frontend/src/components/layout/__tests__/NavItem.test.jsx
  frontend/src/context/__tests__/AuthContext.test.jsx
  frontend/src/context/__tests__/PermissionContext.test.jsx
  frontend/src/pages/__tests__/Login.test.jsx
Due: eslint, prettier

test(frontend): improve management pages coverage batch2
  frontend/src/components/common/__tests__/ErrorBoundary.test.jsx
  frontend/src/components/common/__tests__/PermissionGuard.test.jsx
  frontend/src/components/common/__tests__/ProtectedRoute.test.jsx
  frontend/src/components/dashboard/__tests__/DashboardStatCard.test.jsx
  frontend/src/components/dashboard/__tests__/VirtualizedList.test.jsx
  frontend/src/components/procurement-manager-dashboard/__tests__/StatsCards.test.jsx
  frontend/src/components/project/__tests__/ProjectCostFilter.test.jsx
  frontend/src/components/project/__tests__/ProjectIssuePanel.test.jsx
  frontend/src/components/project/__tests__/ProjectTimeline.test.jsx
  frontend/src/components/project/__tests__/SolutionLibrary.test.jsx
  frontend/src/components/project/__tests__/__snapshots__/ProjectCostFilter.test.jsx.snap
  frontend/src/components/project/__tests__/__snapshots__/ProjectTimeline.test.jsx.snap
  frontend/src/components/project/__tests__/__snapshots__/SolutionLibrary.test.jsx.snap
  frontend/src/components/sales/__tests__/CustomerCard.test.jsx
  frontend/src/components/sales/__tests__/OpportunityCard.test.jsx
  frontend/src/components/sales/__tests__/__snapshots__/CustomerCard.test.jsx.snap
  frontend/src/components/sales/__tests__/__snapshots__/OpportunityCard.test.jsx.snap
  frontend/src/pages/__tests__/BOMManagement.test.jsx
  frontend/src/pages/__tests__/InventoryAnalysis.test.jsx
  frontend/src/pages/__tests__/KnowledgeBase.test.jsx
  frontend/src/pages/__tests__/MachineManagement.test.jsx
  frontend/src/pages/__tests__/MaterialReadiness.test.jsx
  frontend/src/pages/__tests__/MaterialTracking.test.jsx
  frontend/src/pages/__tests__/PermissionManagement.test.jsx
  frontend/src/pages/__tests__/QualificationManagement.test.jsx
  frontend/src/pages/__tests__/ServiceRecord.test.jsx
  frontend/src/pages/__tests__/SupplierManagementData.test.jsx
  frontend/src/pages/__tests__/WorkOrderManagement.test.jsx
  frontend/src/pages/__tests__/WorkshopManagement.test.jsx
Due: eslint, prettier

test(frontend): add services api layer tests
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/services/__tests__/contractService.test.js
  frontend/src/services/__tests__/customerService.test.js
  frontend/src/services/__tests__/errorService.test.js
  frontend/src/services/api/__tests__/_test-setup.js
  frontend/src/services/api/__tests__/approval.test.js
  frontend/src/services/api/__tests__/client.test.js
  frontend/src/services/api/__tests__/engineering.test.js
  frontend/src/services/api/__tests__/hr.test.js
  frontend/src/services/api/__tests__/procurement.test.js
  frontend/src/services/api/__tests__/projects.test.js
  frontend/src/services/api/__tests__/sales.test.js
Due: eslint, prettier

debug: 添加API路由加载诊断日志 (排查CI 404问题)
  app/api/v1/api.py
Due: check-file-size

fix(ci): SECRET_KEY长度不足导致测试失败 + 移除|| true隐藏错误
  .github/workflows/tests.yml
Due: none

fix(ci): add missing pytest-cov dependency
  .github/workflows/tests.yml
Due: none

fix: remove conflicting -p no:cov flag
  .github/workflows/tests.yml
Due: none

fix: remove conflicting -p no:cov flag (#41)
  .github/workflows/tests.yml
Due: none

optimize: consolidate CI workflows and eliminate redundant test runs
  .github/workflows/ci.yml
  .github/workflows/contract_drift.yml
  .github/workflows/test.yml
  .github/workflows/tests.yml
Due: none

ci: add pytest-timeout to fix unrecognized --timeout=30 in CI
  .github/workflows/test.yml
Due: none

fix(ci): add missing test dependencies (pytest-asyncio, email-validator)
  .github/workflows/test.yml
Due: none

deps: add email-validator for pydantic EmailStr
  api/requirements.txt
Due: none

docs: add comprehensive test coverage analysis report
  TEST_COVERAGE_ANALYSIS.md
Due: none

fix(ci): 添加测试文件 ESLint 全局变量配置
  frontend/eslint.config.js
Due: eslint, prettier

fix(deps): 更新依赖包修复安全漏洞
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: none

fix: add missing vi and MockAdapter imports to Services API tests
  frontend/src/components/common/__tests__/__snapshots__/ErrorBoundary.test.jsx.snap
  frontend/src/components/dashboard/__tests__/__snapshots__/DashboardStatCard.test.jsx.snap
  frontend/src/components/dashboard/__tests__/__snapshots__/VirtualizedList.test.jsx.snap
  frontend/src/components/procurement-manager-dashboard/__tests__/__snapshots__/StatsCards.test.jsx.snap
  frontend/src/components/project/__tests__/__snapshots__/ProjectIssuePanel.test.jsx.snap
  frontend/src/services/api/__tests__/approval.test.js
  frontend/src/services/api/__tests__/client.test.js
  frontend/src/services/api/__tests__/engineering.test.js
  frontend/src/services/api/__tests__/hr.test.js
  frontend/src/services/api/__tests__/procurement.test.js
  frontend/src/services/api/__tests__/sales.test.js
Due: eslint, prettier

fix(backend): 修复后端测试模块导入错误
  app/services/cache/redis_cache.py
  app/services/report_framework/cache_manager.py
  tests/services/test_alert_statistics_service.py
  tests/services/test_redis_cache.py
Due: check-file-size

fix(ci): 修复后端测试失败 - 添加缺失依赖并清理过时测试
  api/requirements.txt
  tests/services/test_alert_statistics_service.py
  tests/services/test_shortage_alerts_service.py
  tests/unit/test_alert_records_service.py
  tests/unit/test_alert_records_service_comprehensive.py
  tests/unit/test_alert_records_service_cov9.py
  tests/unit/test_alert_records_service_enhanced.py
  tests/unit/test_alert_rules_service.py
  tests/unit/test_alert_rules_service_cov33.py
  tests/unit/test_alert_statistics_service.py
  tests/unit/test_alert_statistics_service_comprehensive.py
  tests/unit/test_alert_statistics_service_cov11.py
  tests/unit/test_alert_statistics_service_enhanced.py
  tests/unit/test_g3_alert_records_service.py
  tests/unit/test_g3_alert_statistics_service.py
  tests/unit/test_m3_services.py
  tests/unit/test_shortage_alerts_service_comprehensive.py
  tests/unit/test_shortage_alerts_service_cov9.py
Due: check-file-size

fix(lint): remove unused setupApiTest/teardownApiTest imports
  frontend/src/services/api/__tests__/approval.test.js
  frontend/src/services/api/__tests__/client.test.js
  frontend/src/services/api/__tests__/engineering.test.js
  frontend/src/services/api/__tests__/hr.test.js
  frontend/src/services/api/__tests__/procurement.test.js
  frontend/src/services/api/__tests__/projects.test.js
  frontend/src/services/api/__tests__/sales.test.js
Due: eslint, prettier

fix(lint): allow 'container' in test files
  frontend/eslint.config.js
Due: eslint, prettier

fix(ci): 清理 integration/services 目录中引用已删除模块的测试文件
  api/requirements.txt
  tests/integration/test_engineers_template.py
  tests/services/test_circular_dependency_fix.py
  tests/services/test_exception_events_service.py
  tests/services/test_redis_cache.py
  tests/services/test_report_engine.py
  tests/services/test_service_tickets_service.py
Due: check-file-size

fix: 修复3个测试文件的import错误 - 将类定义移到IMPORT_OK保护内
  data/app.db-wal
  requirements-dev.txt
  start.sh
  tests/unit/test_adapters_base_cov44.py
  tests/unit/test_data_resolver_cov18.py
  tests/unit/test_data_sources_base_cov44.py
Due: check-file-size

fix(ci): add SECRET_KEY environment variable
  .github/workflows/test.yml
Due: none

fix(lint): remove unused imports and fix teardownApiTest (26 → 19 errors)
  frontend/src/components/common/__tests__/DeleteConfirmDialog.test.jsx
  frontend/src/pages/__tests__/AdminDashboard.test.jsx
  frontend/src/pages/__tests__/AlertCenter.test.jsx
  frontend/src/pages/__tests__/ProjectBoard.test.jsx
  frontend/src/pages/gm-workstation/__tests__/GeneralManagerWorkstation.test.jsx
  frontend/src/services/__tests__/errorService.test.js
  frontend/src/services/api/__tests__/projects.test.js
Due: eslint, prettier

fix(lint): fix duplicate key, switch case, and unused props params (19 → 15 errors)
  frontend/src/components/PresaleAI/AIStatsChart.jsx
  frontend/src/test/__mocks__/antdPlots.jsx
  frontend/src/test/setupTests.js
Due: eslint, prettier

fix(lint): 修复所有ESLint错误 (26→0)
  frontend/src/components/charts/__tests__/PieChart.test.jsx
  frontend/src/components/dashboard/__tests__/VirtualizedList.test.jsx
  frontend/src/components/layout/__tests__/NavItem.test.jsx
  frontend/src/context/__tests__/AuthContext.test.jsx
  frontend/src/hooks/__tests__/useIntersectionObserver.test.js
  frontend/src/hooks/__tests__/usePreloadData.test.js
  frontend/src/pages/ProjectListWithCost.jsx
  frontend/src/pages/ReportTemplates.jsx
  frontend/src/pages/__tests__/OpportunityManagement.test.jsx
  frontend/src/pages/shortage/alerts/SolutionRecommendation.jsx
  frontend/src/services/api/__tests__/projects.test.js
  frontend/src/utils/logger.test.js
Due: eslint, prettier

fix(test): 批量修复API mock配置 (23个测试文件)
  frontend/API_MOCK_GUIDE.md
  frontend/fix-test-assertions.py
  frontend/fix-test-mocks.py
  frontend/src/pages/__tests__/Acceptance.test.jsx
  frontend/src/pages/__tests__/BOMManagement.test.jsx
  frontend/src/pages/__tests__/BiddingCenter.test.jsx
  frontend/src/pages/__tests__/DepartmentManagement.test.jsx
  frontend/src/pages/__tests__/Documents.test.jsx
  frontend/src/pages/__tests__/IssueManagement.test.jsx
  frontend/src/pages/__tests__/KnowledgeBase.test.jsx
  frontend/src/pages/__tests__/MaterialReadiness.test.jsx
  frontend/src/pages/__tests__/MaterialTracking.test.jsx
  frontend/src/pages/__tests__/PresalesTasks.test.jsx
  frontend/src/pages/__tests__/ProjectBoard.test.jsx
  frontend/src/pages/__tests__/ProjectDetail.test.jsx
  frontend/src/pages/__tests__/ProjectList.test.jsx
  frontend/src/pages/__tests__/PurchaseOrderDetail.test.jsx
  frontend/src/pages/__tests__/QualificationManagement.test.jsx
  frontend/src/pages/__tests__/SalesFunnel.test.jsx
  frontend/src/pages/__tests__/ServiceRecord.test.jsx
  frontend/src/pages/__tests__/SolutionList.test.jsx
  frontend/src/pages/__tests__/SupplierManagement.test.jsx
  frontend/src/pages/__tests__/SupplierManagementData.test.jsx
  frontend/src/pages/__tests__/UserManagement.test.jsx
  frontend/src/pages/__tests__/WorkOrderManagement.test.jsx
  frontend/src/pages/__tests__/WorkshopManagement.test.jsx
Due: check-file-size, eslint, prettier

fix(test): 添加缺失的API mock方法 (18文件, 39方法)
  frontend/add-missing-mock-methods.py
  frontend/fix-missing-mocks.sh
  frontend/src/pages/__tests__/Acceptance.test.jsx
  frontend/src/pages/__tests__/BOMManagement.test.jsx
  frontend/src/pages/__tests__/BiddingCenter.test.jsx
  frontend/src/pages/__tests__/DepartmentManagement.test.jsx
  frontend/src/pages/__tests__/Documents.test.jsx
  frontend/src/pages/__tests__/IssueManagement.test.jsx
  frontend/src/pages/__tests__/MaterialReadiness.test.jsx
  frontend/src/pages/__tests__/PresalesTasks.test.jsx
  frontend/src/pages/__tests__/ProjectBoard.test.jsx
  frontend/src/pages/__tests__/ProjectDetail.test.jsx
  frontend/src/pages/__tests__/ProjectList.test.jsx
  frontend/src/pages/__tests__/PurchaseOrderDetail.test.jsx
  frontend/src/pages/__tests__/QualificationManagement.test.jsx
  frontend/src/pages/__tests__/ServiceRecord.test.jsx
  frontend/src/pages/__tests__/SolutionList.test.jsx
  frontend/src/pages/__tests__/SupplierManagement.test.jsx
  frontend/src/pages/__tests__/SupplierManagementData.test.jsx
  frontend/src/pages/__tests__/UserManagement.test.jsx
  frontend/src/pages/__tests__/WorkOrderManagement.test.jsx
  frontend/src/pages/__tests__/WorkshopManagement.test.jsx
  frontend/src/services/api/__tests__/projects.test.js
Due: check-file-size, eslint, prettier

refactor(api): 路由去重 - status_crud/quote_status 迁移到 StatusUpdateService
  app/api/v1/endpoints/projects/status/status_crud.py
  app/api/v1/endpoints/sales/quote_status.py
Due: check-file-size

refactor: extract common utils and tree builder (#54, #55)
  app/api/v1/endpoints/organization/utils.py
  app/services/employee_import_service.py
  app/services/hr_profile_import_service.py
  app/utils/common.py
  app/utils/tree.py
Due: check-file-size

Path conditions:
  check-file-size: any of: \.py$
  eslint: any of: \.(js|jsx|ts|tsx)$
  prettier: any of: \.(js|jsx|ts|tsx|css)$
