Repository fulingwei1/non-standard-automation-pms: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, eslint, prettier

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# 安装: pip install pre-commit && pre-commit install

repos:
  # 通用钩子
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: 移除行尾空白
      - id: end-of-file-fixer
        name: 确保文件以换行符结尾
      - id: check-yaml
        name: 检查YAML语法
      - id: check-json
        name: 检查JSON语法
      - id: check-added-large-files
        name: 检查大文件
        args: ["--maxkb=500"]
      - id: check-merge-conflict
        name: 检查合并冲突
      - id: detect-private-key
        name: 检测私钥
      - id: no-commit-to-branch
        name: 禁止直接提交到main分支
        args: ["--branch", "main"]

  # Python 代码格式化
  - repo: https://github.com/psf/black
    rev: 24.1.1
    hooks:
      - id: black
        name: Black 代码格式化
        language_version: python3.11
        args: ["--line-length=120"]

  # Python 导入排序
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        name: isort 导入排序
        args: ["--profile=black", "--line-length=120"]

  # Python 代码检查
  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        name: Flake8 代码检查
        args: ["--max-line-length=120", "--ignore=E501,W503,E203"]
        additional_dependencies:
          - flake8-docstrings
          - flake8-bugbear

  # Python 安全检查
  - repo: https://github.com/pycqa/bandit
    rev: 1.7.7
    hooks:
      - id: bandit
        name: Bandit 安全检查
        args: ["-ll", "-ii"]
        exclude: tests/

  # 自定义文件大小检查
  - repo: local
    hooks:
      - id: check-file-size
        name: 检查文件大小限制
        entry: python scripts/check_file_size.py
        language: python
        types: [python]
        pass_filenames: false

      - id: check-function-size
        name: 检查函数大小
        entry: python scripts/check_function_size.py
        language: python
        types: [python]
        pass_filenames: false
        always_run: true

  # JavaScript/TypeScript (前端)
  - repo: local
    hooks:
      - id: eslint
        name: ESLint 检查
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

      - id: prettier
        name: Prettier 格式化检查
        entry: bash -c 'cd frontend && npx prettier --check "src/**/*.{js,jsx,ts,tsx,css}"'
        language: system
        files: \.(js|jsx|ts|tsx|css)$
        pass_filenames: false

# CI 设置
ci:
  autofix_commit_msg: "style: auto fixes from pre-commit hooks"
  autofix_prs: true
  autoupdate_commit_msg: "chore: pre-commit autoupdate"
  autoupdate_schedule: weekly

feat(permissions): close remaining sales scope gaps
  app/api/v1/endpoints/customers/related.py
  app/api/v1/endpoints/sales/contracts/enhanced.py
  app/api/v1/endpoints/sales/contracts/payment_plans.py
  app/api/v1/endpoints/sales/contracts/sign_project.py
  app/api/v1/endpoints/sales/quote_cost_analysis.py
  app/api/v1/endpoints/sales/quote_cost_breakdown.py
  app/api/v1/endpoints/sales/quote_cost_calculations.py
  tests/unit/test_sales_scope_tail.py
Due: check-file-size

feat(permissions): tighten approvals aggregate visibility
  app/api/v1/endpoints/approvals/instances.py
  app/api/v1/endpoints/approvals/pending_refactored.py
  tests/integration/test_approval_visibility_integration.py
Due: check-file-size

feat(stage-rules): add admin rule editor MVP
  app/api/v1/endpoints/alerts/rules.py
  app/models/alert.py
  app/schemas/alert.py
  frontend/src/pages/alert-rule-config/constants.js
  frontend/src/pages/alert-rule-config/useAlertRules.js
Due: check-file-size, eslint, prettier

feat(stage-rules): add rule history and update metadata
  app/models/stage_template.py
  app/schemas/stage_template/__init__.py
  app/schemas/stage_template/definitions.py
  app/services/stage_template/change_log.py
Due: check-file-size

feat(stage-rules): add approval bridge for require_approval
  app/schemas/project/__init__.py
  app/schemas/project/project_analysis.py
  app/services/stage_approval_bridge.py
Due: check-file-size

fix: resolve permission engine merge conflicts
  app/core/permission_engine.py
  tests/unit/test_permission_engine.py
Due: check-file-size

backup: stage rule admin work in progress
  BASE_PLATFORM_GOVERNANCE_PLAN.md
  PERMISSION_MANAGEMENT_UX_PLAN.md
  PERMISSION_REMAINING_ISSUES.md
  PROJECT_MANAGEMENT_DASHBOARD_PLAN.md
  PROJECT_MGMT_FRONTEND_AUDIT.md
  PROJECT_STAGE_RULE_ENGINE_PLAN.md
  ROLE_MANAGEMENT_FRONTEND_UAT_CHECKLIST.md
Due: none

feat(resource-conflicts): add auto-mediation recommendations
  app/api/v1/endpoints/analytics/resource_conflicts.py
  app/services/conflict_mediation_service.py
  frontend/src/components/common/ConflictRecommendations.jsx
  frontend/src/pages/ResourceOverview.jsx
  frontend/src/services/api/resourcePlan.js
Due: check-file-size, eslint, prettier

feat(milestones): add advance warning alerts
  app/models/enums/others.py
  app/services/alert/milestone_alert_service.py
  app/utils/scheduled_tasks/milestone_tasks.py
  app/utils/scheduler_config/milestone.py
  frontend/src/components/alert-statistics/alertStatsConstants.js
  frontend/src/pages/AlertCenter/constants.js
Due: check-file-size, eslint, prettier

feat(templates): add smart template recommendation
  app/api/v1/endpoints/projects/template_analytics.py
  app/services/template_recommendation_service.py
  frontend/src/components/project/ProjectFormStepper.jsx
  frontend/src/components/project/steps/BasicInfoStep.jsx
  frontend/src/pages/ProjectList.jsx
  frontend/src/services/api/projects.js
Due: check-file-size, eslint, prettier

feat(project-closure): add automated closure readiness check
  app/api/v1/endpoints/pmo/closure.py
  app/schemas/pmo.py
  app/services/project/closure_readiness_service.py
  frontend/src/pages/ProjectClosureManagement/components/ClosureReadinessPanel.jsx
  frontend/src/pages/ProjectClosureManagement/components/ProjectClosureContent.jsx
  frontend/src/pages/ProjectClosureManagement/components/index.js
  frontend/src/pages/ProjectClosureManagement/index.jsx
  frontend/src/services/api/pmo.js
Due: check-file-size, eslint, prettier

feat(report-center): add automated project report generation
  app/api/v1/endpoints/report_center/__init__.py
  app/api/v1/endpoints/report_center/project_auto.py
  app/schemas/project_report_auto.py
  app/services/project_report_auto/__init__.py
  app/services/project_report_auto/monthly_report_service.py
  app/services/project_report_auto/report_push_service.py
  app/services/project_report_auto/weekly_report_service.py
Due: check-file-size

feat(project-budget): add budget execution alert and forecast
  app/api/v1/endpoints/projects/costs/alert.py
  app/schemas/budget_alert.py
  app/services/budget_alert_service.py
Due: check-file-size

feat(project-risk): add auto risk detection from project data
  app/api/v1/endpoints/projects/risks.py
  app/schemas/auto_risk.py
  app/services/project_risk/__init__.py
  app/services/project_risk/auto_risk_service.py
Due: check-file-size

feat(project-health): add health trend visualization and insights
  app/api/v1/endpoints/projects/status/__init__.py
  app/api/v1/endpoints/projects/status/health_viz.py
  app/schemas/health_trend.py
  app/services/health_trend_service.py
  frontend/src/services/api/projects.js
Due: check-file-size, eslint, prettier

feat(project-performance): add performance ranking and team efficiency analysis
  app/api/v1/api.py
  app/api/v1/endpoints/performance_analysis.py
  app/services/performance_analysis_service.py
Due: check-file-size

feat(ecn-project): add ECN to project impact linkage
  app/api/v1/api.py
  app/api/v1/api_lazy.py
  app/api/v1/endpoints/project_change_impact.py
  app/models/__init__.py
  app/models/project/__init__.py
  app/models/project/change_impact.py
  app/models/project/core.py
  app/schemas/project_change_impact.py
  app/services/project_change_impact_service.py
  migrations/20260327_project_change_impact_mysql.sql
  migrations/20260327_project_change_impact_sqlite.sql
Due: check-file-size

feat(project-knowledge): add auto knowledge extraction and pitfall alerts
  app/api/v1/api.py
  app/api/v1/endpoints/knowledge/__init__.py
  app/api/v1/endpoints/knowledge/alerts.py
  app/api/v1/endpoints/knowledge/extraction.py
  app/api/v1/endpoints/knowledge/induction.py
  app/api/v1/endpoints/knowledge/search.py
  app/models/knowledge_base.py
  app/schemas/knowledge_base.py
  app/services/knowledge/__init__.py
  app/services/knowledge/extraction_service.py
  app/services/knowledge/induction_service.py
  app/services/knowledge/pitfall_alert_service.py
  app/services/knowledge/search_service.py
  migrations/20260327_add_knowledge_base.py
  tests/unit/test_knowledge_base.py
Due: check-file-size

feat(dashboard): add role-based personalized dashboard views
  app/api/v1/api.py
  app/api/v1/endpoints/dashboard_layout.py
  app/api/v1/endpoints/dashboard_unified.py
  app/models/user_dashboard_layout.py
  app/services/dashboard_adapters/__init__.py
  app/services/dashboard_adapters/dept_head_view.py
  app/services/dashboard_adapters/executive_view.py
  app/services/dashboard_adapters/member_view.py
  app/services/dashboard_adapters/pm_view.py
  frontend/src/config/roleDashboardMap.js
  frontend/src/pages/UnifiedDashboard/config/roleWidgetConfig.js
  frontend/src/pages/UnifiedDashboard/config/widgetRegistry.js
  frontend/src/pages/UnifiedDashboard/widgets/dept-head/DeptBudgetExecution.jsx
  frontend/src/pages/UnifiedDashboard/widgets/dept-head/DeptProjectRanking.jsx
  frontend/src/pages/UnifiedDashboard/widgets/dept-head/DeptResourceLoad.jsx
  frontend/src/pages/UnifiedDashboard/widgets/dept-head/DeptRiskSummary.jsx
  frontend/src/pages/UnifiedDashboard/widgets/executive/ExecMajorRisks.jsx
  frontend/src/pages/UnifiedDashboard/widgets/executive/ExecPortfolioHealth.jsx
  frontend/src/pages/UnifiedDashboard/widgets/executive/ExecRoiAnalysis.jsx
  frontend/src/pages/UnifiedDashboard/widgets/executive/ExecStrategicProjects.jsx
  frontend/src/pages/UnifiedDashboard/widgets/member/MemberOverdueAlert.jsx
  frontend/src/pages/UnifiedDashboard/widgets/member/MemberProjectProgress.jsx
  frontend/src/pages/UnifiedDashboard/widgets/member/MemberTaskList.jsx
  frontend/src/pages/UnifiedDashboard/widgets/member/MemberTimesheetTrend.jsx
  frontend/src/pages/UnifiedDashboard/widgets/pm/PmMilestoneReminder.jsx
  frontend/src/pages/UnifiedDashboard/widgets/pm/PmProjectHealth.jsx
  frontend/src/pages/UnifiedDashboard/widgets/pm/PmResourceConflict.jsx
  frontend/src/pages/UnifiedDashboard/widgets/pm/PmRiskOverview.jsx
  migrations/versions/20260327_user_dashboard_layout.py
Due: check-file-size, eslint, prettier

feat(ux): skeleton screens, friendly errors, batch select, auto-save
  frontend/src/components/common/ErrorMessage.jsx
  frontend/src/components/dashboard/BaseDashboard.jsx
  frontend/src/components/project/ProjectFormStepper.jsx
  frontend/src/components/ui/ErrorBoundary.jsx
  frontend/src/components/ui/ErrorMessage.jsx
  frontend/src/components/ui/LoadingSpinner.jsx
  frontend/src/components/ui/index.js
  frontend/src/components/ui/skeleton.jsx
  frontend/src/hooks/index.js
  frontend/src/hooks/useAutoSave.js
  frontend/src/hooks/useForm.js
  frontend/src/hooks/useSelection.js
  frontend/src/pages/ProjectDetail.jsx
  frontend/src/pages/ProjectList.jsx
  frontend/src/utils/friendlyErrors.js
Due: eslint, prettier

feat(profit): add margin analysis and cost optimization suggestions
  app/api/v1/endpoints/projects/costs/__init__.py
  app/api/v1/endpoints/projects/costs/profit_optimization.py
  app/schemas/project/profit_analysis.py
  app/services/profit_analysis_service.py
  frontend/src/components/project/ProfitAnalysisCard.jsx
  frontend/src/pages/ProjectDetail.jsx
  frontend/src/services/api/projects.js
Due: check-file-size, eslint, prettier

feat(ux): add interaction polish with animations and transitions
  frontend/src/components/common/AnimatedPage.jsx
  frontend/src/components/common/index.js
  frontend/src/components/layout/MainLayout.jsx
  frontend/src/components/ui/button.jsx
  frontend/src/components/ui/card.jsx
  frontend/src/components/ui/dialog.jsx
  frontend/src/index.css
  frontend/src/lib/animations.js
Due: eslint, prettier

feat(sales-frontend): polish customer/opportunity/quote pages and add sales dashboard
  frontend/package-lock.json
  frontend/src/components/sales/CustomerCard.jsx
  frontend/src/pages/CustomerList.jsx
  frontend/src/pages/OpportunityManagement.jsx
  frontend/src/pages/QuoteManagement.jsx
  frontend/src/pages/SalesDashboard.jsx
  frontend/src/routes/modules/salesRoutes.jsx
Due: eslint, prettier

feat(sales-api): add dashboard, statistics, and performance report APIs
  app/api/v1/endpoints/sales/__init__.py
  app/api/v1/endpoints/sales/dashboard.py
  app/api/v1/endpoints/sales/statistics_core.py
  app/api/v1/endpoints/sales/statistics_reports.py
Due: check-file-size

feat(sales-api): add customer detail, opportunity workflow, quote approval, and contract APIs
  app/api/v1/endpoints/sales/__init__.py
  app/api/v1/endpoints/sales/contracts/basic.py
  app/api/v1/endpoints/sales/customers.py
  app/api/v1/endpoints/sales/opportunity_workflow.py
  app/api/v1/endpoints/sales/quote_per_id_approval.py
  app/schemas/sales/__init__.py
  app/schemas/sales/customers.py
Due: check-file-size

feat(sales-frontend): remove mock data and use real API for dashboard and quotes
  frontend/src/pages/QuoteManagement.jsx
  frontend/src/pages/SalesDashboard.jsx
  frontend/src/services/api/sales.js
Due: eslint, prettier

feat(sales): add funnel overview and team org APIs, clean mock data
  app/api/v1/endpoints/sales/__init__.py
  app/api/v1/endpoints/sales/team/__init__.py
  app/api/v1/endpoints/sales/team/org.py
  app/api/v1/endpoints/sales_funnel_overview.py
  frontend/src/components/sales/SalesFunnel.jsx
  frontend/src/pages/SalesFunnel.jsx
  frontend/src/pages/SalesTeam.jsx
  frontend/src/services/api/sales.js
Due: check-file-size, eslint, prettier

feat(presale): remove mock data from ticket board, templates, and manager workstation
  frontend/src/pages/PresaleTemplates.jsx
  frontend/src/pages/PresaleTicketBoard.jsx
  frontend/src/pages/PresalesManagerWorkstation.jsx
Due: eslint, prettier

feat: remove remaining mock data from 11 scattered pages
  frontend/src/components/hr/hooks/useHRTransactions.js
  frontend/src/components/quote/IntelligentQuoteSidebar.jsx
  frontend/src/pages/AdminDashboard.jsx
  frontend/src/pages/AssemblyTemplateManagement.jsx
  frontend/src/pages/CustomerManagement/components/OpportunityContractTab.jsx
  frontend/src/pages/DelayReasonsReport.jsx
  frontend/src/pages/PositionManagement.jsx
  frontend/src/pages/ProjectStaffingNeed.jsx
  frontend/src/pages/SalesFunnel.jsx
  frontend/src/pages/TagManagement.jsx
  frontend/src/pages/UnifiedDashboard/widgets/CultureWallWidget.jsx
Due: eslint, prettier

feat(presale-analytics): add SLA monitoring, tender analysis, and ROI analysis APIs
  app/api/v1/endpoints/presale/__init__.py
  app/api/v1/endpoints/presale/analytics.py
Due: check-file-size

feat(presale): add dashboard, task management, and timeline APIs
  app/api/v1/endpoints/presale/__init__.py
  app/api/v1/endpoints/presale/dashboard.py
  app/api/v1/endpoints/presale/task_management.py
Due: check-file-size

chore: harden commit-msg hook and normalize commit tooling
  .pre-commit-config.yaml
  hooks/commit-msg
  scripts/install-hooks.sh
Due: none

feat(presale): add expense management, solution comparison, and resource forecast APIs
  app/api/v1/endpoints/presale/__init__.py
  app/api/v1/endpoints/presale/expenses.py
  app/api/v1/endpoints/presale/forecast.py
  app/api/v1/endpoints/presale/solution_compare.py
  app/models/presale_expense.py
  app/schemas/presale_expense.py
Due: check-file-size

feat(procurement): add supplier management, price analysis, and kitting analysis APIs
  app/api/v1/api.py
  app/api/v1/endpoints/procurement/__init__.py
  app/api/v1/endpoints/procurement/kitting_analysis.py
  app/api/v1/endpoints/procurement/price_analysis.py
  app/api/v1/endpoints/procurement/suppliers.py
Due: check-file-size

feat(kitting): add expedite, alternatives, safety stock, and improvement suggestions APIs
  app/api/v1/api.py
  app/api/v1/endpoints/kitting_optimization.py
  app/models/__init__.py
  app/models/kitting_optimization.py
  app/schemas/kitting_optimization.py
  app/services/kitting_optimization_service.py
Due: check-file-size

refactor(sales): deduplicate quote costs, sales funnel, and forecast modules
  app/api/v1/endpoints/sales/__init__.py
  app/api/v1/endpoints/sales/pipeline_analysis.py
  app/api/v1/endpoints/sales/quote_cost_analysis.py
  app/api/v1/endpoints/sales/quote_cost_breakdown.py
  app/api/v1/endpoints/sales/quote_cost_calculations.py
  app/api/v1/endpoints/sales/quote_costs.py
  app/api/v1/endpoints/sales/sales_forecast.py
  app/api/v1/endpoints/sales/sales_funnel.py
  app/api/v1/endpoints/sales_forecast.py
  app/api/v1/endpoints/sales_forecast_enhanced.py
  app/api/v1/endpoints/sales_funnel_overview.py
  tests/unit/test_api_p7_coverage.py
  tests/unit/test_sales_lists_scope.py
  tests/unit/test_sales_scope_tail.py
Due: check-file-size

refactor(purchase): remove duplicate supplier performance and ranking endpoints
  app/api/v1/endpoints/purchase_intelligence.py
Due: check-file-size

feat(material-tracking): add BOM to purchase request, PO tracking, and goods received notify APIs
  app/api/v1/api.py
  app/api/v1/endpoints/material_tracking.py
Due: check-file-size

feat(best-practice): add ABC classification, supplier auto-reclassify, shortage escalation, and kitting targets
  app/api/v1/api.py
  app/api/v1/endpoints/best_practice.py
  app/schemas/best_practice.py
  app/services/best_practice_service.py
Due: check-file-size

chore: register material_p3 routes in api.py
  app/api/v1/api.py
Due: check-file-size
