Repository fulingwei1/non-standard-automation-pms: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, eslint, prettier

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# 安装: pip install pre-commit && pre-commit install

repos:
  # 通用钩子
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: 移除行尾空白
      - id: end-of-file-fixer
        name: 确保文件以换行符结尾
      - id: check-yaml
        name: 检查YAML语法
      - id: check-json
        name: 检查JSON语法
      - id: check-added-large-files
        name: 检查大文件
        args: ["--maxkb=500"]
      - id: check-merge-conflict
        name: 检查合并冲突
      - id: detect-private-key
        name: 检测私钥
      - id: no-commit-to-branch
        name: 禁止直接提交到main分支
        args: ["--branch", "main"]

  # Python 代码格式化
  - repo: https://github.com/psf/black
    rev: 24.1.1
    hooks:
      - id: black
        name: Black 代码格式化
        language_version: python3.11
        args: ["--line-length=120"]

  # Python 导入排序
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        name: isort 导入排序
        args: ["--profile=black", "--line-length=120"]

  # Python 代码检查
  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        name: Flake8 代码检查
        args: ["--max-line-length=120", "--ignore=E501,W503,E203"]
        additional_dependencies:
          - flake8-docstrings
          - flake8-bugbear

  # Python 安全检查
  - repo: https://github.com/pycqa/bandit
    rev: 1.7.7
    hooks:
      - id: bandit
        name: Bandit 安全检查
        args: ["-ll", "-ii"]
        exclude: tests/

  # 自定义文件大小检查
  - repo: local
    hooks:
      - id: check-file-size
        name: 检查文件大小限制
        entry: python scripts/check_file_size.py
        language: python
        types: [python]
        pass_filenames: false

      - id: check-function-size
        name: 检查函数大小
        entry: python scripts/check_function_size.py
        language: python
        types: [python]
        pass_filenames: false
        always_run: true

  # JavaScript/TypeScript (前端)
  - repo: local
    hooks:
      - id: eslint
        name: ESLint 检查
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

      - id: prettier
        name: Prettier 格式化检查
        entry: bash -c 'cd frontend && npx prettier --check "src/**/*.{js,jsx,ts,tsx,css}"'
        language: system
        files: \.(js|jsx|ts|tsx|css)$
        pass_filenames: false

# CI 设置
ci:
  autofix_commit_msg: "style: auto fixes from pre-commit hooks"
  autofix_prs: true
  autoupdate_commit_msg: "chore: pre-commit autoupdate"
  autoupdate_schedule: weekly

feat: 图表/运营大屏/侧栏与API 等前端与后端调整
  app/api/v1/endpoints/report_center/bi.py
  app/core/exception_handlers.py
  frontend/src/components/charts/AreaChart.jsx
  frontend/src/components/charts/BarChart.jsx
  frontend/src/components/charts/DualAxesChart.jsx
  frontend/src/components/charts/FunnelChart.jsx
  frontend/src/components/charts/LineChart.jsx
  frontend/src/components/charts/RadarChart.jsx
  frontend/src/components/charts/business/DeliveryRateChart.jsx
  frontend/src/components/charts/business/ProjectHealthChart.jsx
  frontend/src/components/layout/sidebarConfig/default.js
  frontend/src/config/permissionLabels.js
  frontend/src/lib/allMenuItems.js
  frontend/src/lib/roleConfig/navigation.js
  frontend/src/pages/ECNDetail.jsx
  frontend/src/pages/IssueManagement.jsx
  frontend/src/pages/SalesTarget.jsx
  frontend/src/pages/__tests__/IssueManagement.test.jsx
  frontend/src/pages/executive-dashboard/ExecutiveDashboard.jsx
  frontend/src/pages/executive-dashboard/tabs/OverviewTab.jsx
  frontend/src/pages/executive-dashboard/useExecutiveDashboard.js
  frontend/src/services/api.js
  frontend/src/services/api/admin.js
  frontend/src/services/api/client.js
Due: check-file-size, eslint, prettier

chore: add commit message normalization hooks and documentation
  .commitlintrc.json
  docs/COMMIT_MESSAGE_GUIDE.md
Due: none

chore: add hook installation script and update documentation
  docs/COMMIT_MESSAGE_GUIDE.md
  hooks/commit-msg
  scripts/install-hooks.sh
Due: none

fix(auth): decouple 2fa router load from core login routes
  app/api/v1/api.py
  requirements-dev.txt
Due: check-file-size

chore(data): add SQLite core data seeder for non-empty frontend pages
  scripts/fill_core_data.py
Due: check-file-size

fix(frontend): remove mock data from ArrivalManagement and AdministrativeExpenses pages
  data/backup_after_seeding.sql
  frontend/src/pages/AdministrativeExpenses.jsx
  frontend/src/pages/ArrivalManagement.jsx
Due: eslint, prettier

fix(frontend): remove mock data fallback from AIStaffMatching.jsx
  frontend/src/pages/AIStaffMatching.jsx
Due: eslint, prettier

fix: remove duplicate typing imports in presale_ai_service.py
  app/services/presale_ai_service.py
Due: check-file-size

fix: resolve NameError for TYPE_CHECKING annotations + add BLM/BEM seed data
  app/services/approval_engine/adapters/contract.py
  app/services/unified_notification_service.py
  scripts/seed_blm_bem.py
Due: check-file-size

fix: make dependencies.get_db_session a real context manager
  app/dependencies.py
  tests/core/test_dependencies.py
Due: check-file-size

fix(auth): stabilize refresh logout and lockout enforcement
  app/api/v1/endpoints/auth.py
  app/core/auth.py
  app/core/security.py
  app/services/account_lockout_service.py
Due: check-file-size

refactor(tests): 生产调度服务测试重构 - 第一阶段
  tests/unit/test_production_services_branches_v2.py
Due: check-file-size

fix(tests): 修复 P0 阻塞问题 - Schema 字段缺失和数据库约束
  app/schemas/timesheet_analytics.py
  app/tests/services/project_management/test_health_calculator_branches.py
  app/tests/services/project_management/test_project_services_core.py
  app/tests/services/project_management/test_stage_advance_service_branches.py
Due: check-file-size

fix: harden nullable API responses for sales, shortage, and production
  app/api/v1/endpoints/production/quality.py
  app/api/v1/endpoints/sales/contracts/basic.py
  app/api/v1/endpoints/sales/cost_templates.py
  app/api/v1/endpoints/sales/payments/payment_plans.py
  app/api/v1/endpoints/shortage/analytics/dashboard.py
  app/api/v1/endpoints/shortage/detection/alerts.py
  app/schemas/approval/template.py
  app/schemas/organization.py
  app/schemas/production/quality.py
  app/schemas/production_schedule.py
  app/schemas/rd_project.py
  app/schemas/sales/assessments.py
  app/schemas/sales/contacts.py
  app/schemas/sales/contract_templates.py
  app/schemas/sales/cost_templates.py
  app/schemas/sales/customers.py
  app/schemas/sales/invoices.py
  app/schemas/sales/quote_templates.py
  app/schemas/sales/workflow.py
  app/schemas/shortage.py
  app/schemas/shortage_smart.py
  app/services/production_progress_service.py
  app/services/shortage_analytics/shortage_analytics_service.py
Due: check-file-size

fix(sales): restore create flows for customer target and team
  frontend/src/pages/CustomerList.jsx
  frontend/src/pages/SalesTarget.jsx
  frontend/src/pages/SalesTeam.jsx
  frontend/src/services/api/sales.js
Due: eslint, prettier

fix: resolve legacy sales/project API 500s with compatibility shims
  app/api/v1/endpoints/projects/change_requests.py
  app/api/v1/endpoints/sales/contracts/enhanced.py
  app/api/v1/endpoints/sales/team/pk.py
  app/models/change_request.py
  app/models/enums/workflow.py
  app/models/project/core.py
  app/models/sales/contracts.py
  app/models/sales/invoices.py
  app/models/sales/quotes.py
Due: check-file-size

fix(sales): align create flows and schema mapping
  app/api/v1/endpoints/sales/contracts/basic.py
  app/schemas/sales/cost_templates.py
  frontend/src/components/contract-management/ContractEditor.jsx
  frontend/src/pages/ContractList.jsx
  frontend/src/pages/CustomerList.jsx
  frontend/src/pages/QuoteManagement.jsx
  frontend/src/pages/QuoteManagementCenter.jsx
Due: check-file-size, eslint, prettier

fix(projects): bind /projects route to read_projects handler
  app/api/v1/endpoints/projects/project_crud.py
Due: check-file-size

feat(sales): update quote and contract management flows
  app/api/v1/endpoints/presale/tickets/utils.py
  app/api/v1/endpoints/sales/quote_cost_breakdown.py
  app/api/v1/endpoints/sales/quote_quotes_crud.py
  app/api/v1/endpoints/sales/quotes.py
  frontend/src/components/contract-management/ContractOverview.jsx
  frontend/src/pages/ContractManagement.jsx
  frontend/src/pages/QuoteCreateEdit.jsx
  frontend/src/services/api/sales.js
  frontend/test-results/contract-create-debug.png
  frontend/test-results/quote-page-debug.png
  frontend/vite.config.js
Due: check-file-size, eslint, prettier

fix: resolve 500 errors in strategy module (field name mismatches)
  app/api/v1/endpoints/strategy/comparison.py
  app/api/v1/endpoints/strategy/review.py
  app/services/strategy/comparison_service.py
  app/services/strategy/decomposition/department_objectives.py
  app/services/strategy/review/calendar_events.py
  app/services/strategy/review/strategy_reviews.py
Due: check-file-size

fix: add missing get_calendar_month function in calendar_events service
  app/services/strategy/review/calendar_events.py
Due: check-file-size

fix: department objectives API - parse JSON fields and add endpoint wrapper
  app/api/v1/endpoints/strategy/decomposition.py
  app/schemas/common.py
  app/schemas/strategy/decomposition.py
Due: check-file-size

fix: personal KPI self/manager rating API - field name mismatches
  app/api/v1/endpoints/strategy/decomposition.py
  app/services/strategy/decomposition/personal_kpis.py
Due: check-file-size

feat: implement role-based department filtering for department objectives
  app/api/v1/endpoints/strategy/decomposition.py
Due: check-file-size

fix(frontend): update API response handling in strategy dashboard
  frontend/src/pages/Strategy/hooks/useStrategyDashboard.js
Due: eslint, prettier

fix(sales): restore real sales routes and quote detail stability
  app/api/v1/endpoints/sales/quote_quotes_crud.py
  app/services/approval_engine/adapters/quote.py
Due: check-file-size

feat: 添加一键启动脚本，自动同步演示数据
  README.md
  start-dev.bat
  start-dev.sh
Due: none

feat: 添加数据库同步系统，支持多电脑数据同步
  .gitattributes
  DB-SYNC-README.md
  start-dev.sh
  sync-db.bat
  sync-db.sh
Due: none

fix(sales): P0 安全修复 - JSON 解析异常处理与合同转项目事务保护
  app/api/v1/endpoints/sales/contracts/contracts.py
  app/api/v1/endpoints/sales/leads/crud.py
  app/api/v1/endpoints/sales/quote_cost_breakdown.py
  app/api/v1/endpoints/sales/quote_quotes_crud.py
  app/services/sales/contract_service.py
  app/utils/json_helpers.py
  tests/unit/api/sales/__init__.py
  tests/unit/api/sales/test_contract_project_creation.py
  tests/unit/utils/__init__.py
  tests/unit/utils/test_json_helpers.py
Due: check-file-size

fix(sales): P0/P1 异常处理细化 + Gate规则文档
  app/api/v1/endpoints/customer_360.py
  app/api/v1/endpoints/sales/quote_cost_breakdown.py
  app/api/v1/endpoints/sales/quotes.py
  app/api/v1/endpoints/sales/utils/gate_validation.py
  app/api/v1/endpoints/standard_costs/project_integration.py
Due: check-file-size

fix(sales): 统一商机阶段枚举 QUALIFIED → QUALIFICATION
  app/api/v1/endpoints/customers/view360.py
  app/api/v1/endpoints/sales/opportunity_workflow.py
  app/api/v1/endpoints/sales/statistics_core.py
  app/core/state_machine/opportunity.py
  app/services/sales_prediction_service.py
Due: check-file-size

fix: 清除所有裸 except 语句
  app/api/v1/endpoints/standard_costs/bulk_import.py
  app/services/ai_planning/schedule_optimizer.py
  app/services/requirement_extraction_service.py
  app/services/team_generation_service.py
Due: check-file-size

fix(core): 细化核心模块异常处理
  app/core/database/__init__.py
  app/core/encryption.py
  app/core/secret_manager.py
  app/utils/db_helpers.py
Due: check-file-size

fix: 细化 API 端点异常处理
  app/api/v1/endpoints/ai_strategy.py
  app/api/v1/endpoints/assembly_kit/kit_analysis/utils.py
  app/api/v1/endpoints/engineer_performance/knowledge.py
  app/api/v1/endpoints/gantt_dependency.py
  app/api/v1/endpoints/lessons_learned.py
  app/api/v1/endpoints/outsourcing/workflow.py
Due: check-file-size

fix: P0 问题修复 - 事务保护/状态验证/JSON安全解析
  app/api/v1/endpoints/customer_360.py
  app/api/v1/endpoints/ecn_bom.py
  app/api/v1/endpoints/issues/crud.py
  app/api/v1/endpoints/issues/operations.py
  app/api/v1/endpoints/issues/statistics.py
  app/api/v1/endpoints/issues/templates.py
  app/api/v1/endpoints/issues/workflow.py
  app/api/v1/endpoints/sales/contracts/sign_project.py
Due: check-file-size
