Repository fulingwei1/non-standard-automation-pms: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, eslint, prettier

check-file-size:
  name: 检查文件大小限制
  entry: python scripts/check_file_size.py
  language: python
  pass_filenames: false

eslint:
  name: ESLint 检查
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

prettier:
  name: Prettier 格式化检查
  entry: bash -c 'cd frontend && npx prettier --check "src/**/*.{js,jsx,ts,tsx,css}"'
  language: system
  pass_filenames: false

feat(sales): P1-4 增强报价版本对比功能
  app/api/v1/endpoints/sales/quote_versions.py
Due: check-file-size

refactor(sales): unify list query pipeline with SalesQueryBuilder
  app/api/v1/endpoints/sales/contracts/basic.py
  app/api/v1/endpoints/sales/leads/crud.py
  app/api/v1/endpoints/sales/opportunity_crud.py
  app/common/crud/__init__.py
  app/common/crud/sales_query_builder.py
  tests/common/test_sales_query_builder.py
Due: check-file-size

feat(sales): complete P0 stage+version API wiring for frontend
  frontend/src/pages/QuoteCostAnalysis.jsx
  frontend/src/services/api/__tests__/sales.test.js
  frontend/src/services/api/sales.js
Due: eslint, prettier

fix(frontend): align dev proxy and margin select state
  frontend/public/clear_and_login.html
  frontend/src/components/quote/MarginAnalysis.jsx
  frontend/src/pages/Documents.jsx
  frontend/src/pages/Login.jsx
  frontend/src/services/apiClient.js
  frontend/src/services/inventory.ts
  frontend/src/utils/diagnose.js
  frontend/vite.config.js
  start-dev.sh
  start.sh
Due: eslint, prettier

fix(lint): remove unused import _safe_json_loads
  app/api/v1/endpoints/strategy/review.py
Due: check-file-size

ci: upgrade actions to v6 and node to 24 for Node.js 24 compatibility
  .github/workflows/ci.yml
Due: none

fix(lint): remove unused imports across backend modules
  app/api/v1/endpoints/issues/crud.py
  app/api/v1/endpoints/issues/statistics.py
  app/api/v1/endpoints/sales/contracts/contracts.py
  app/api/v1/endpoints/strategy/review.py
  app/services/strategy/decomposition/department_objectives.py
  app/utils/json_helpers.py
Due: check-file-size

feat(sales): 实现成本-方案-报价三位一体绑定系统
  app/api/v1/api.py
  app/api/v1/solution_versions.py
  app/models/presale_ai_solution.py
  app/models/sales/__init__.py
  app/models/sales/presale_ai_cost.py
  app/models/sales/quotes.py
  app/models/sales/solution_version.py
  app/schemas/sales/solution_version.py
  app/services/sales/binding_validation_service.py
  app/services/sales/solution_version_service.py
  docs/design/cost-solution-quote-binding.md
  frontend/src/components/quote-cost-management/BindQuoteDialog.jsx
  frontend/src/components/quote-cost-management/BindingValidationCard.jsx
  frontend/src/components/quote-cost-management/index.js
  frontend/src/components/sales/SolutionVersionHistory.jsx
  frontend/src/components/sales/index.js
  frontend/src/services/solutionVersionService.js
  migrations/20260312_solution_version_binding_sqlite.sql
  migrations/versions/20260312_add_solution_version_binding.py
  migrations/versions/20260312_migrate_solution_data.py
  tests/unit/services/sales/test_binding_validation_service.py
  tests/unit/services/sales/test_solution_version_service.py
Due: check-file-size, eslint, prettier

feat(sales): stabilize lead follow-up schema and add quick follow-up entry
  app/schemas/sales/leads.py
  frontend/src/components/lead-management/LeadList.jsx
  frontend/src/pages/LeadManagement.jsx
  tests/unit/schemas/sales/test_lead_followup_schema.py
Due: check-file-size, eslint, prettier

test(sales): fix startApproval mock path mismatch
  frontend/src/services/api/__tests__/sales.test.js
Due: eslint, prettier

feat(sales): add low-noise weekly reminders for unclosed leads
  app/core/config.py
  app/services/sales_reminder/__init__.py
  app/services/sales_reminder/sales_flow_reminders.py
  app/services/sales_reminder/scanner.py
  tests/unit/test_scanner.py
  tests/unit/test_scanner_cov40.py
Due: check-file-size

feat(sales): show latest follow-up summary in lead list
  app/api/v1/endpoints/sales/leads/crud.py
  app/schemas/sales/leads.py
  frontend/src/components/lead-management/LeadList.jsx
Due: check-file-size, eslint, prettier

feat(leads): speed up follow-up entry with templates, datetime, and save-and-next
  frontend/src/components/lead-management/FollowUpDialog.jsx
  frontend/src/pages/LeadManagement.jsx
Due: eslint, prettier

feat(sales): unify presale workbench and funnel integration
  app/api/v1/endpoints/sales/__init__.py
  app/api/v1/endpoints/sales/assessment_templates.py
  app/api/v1/endpoints/sales/funnel.py
  app/api/v1/endpoints/sales/requirement_details.py
  app/models/enums/__init__.py
  app/models/enums/sales.py
  app/models/presale/core.py
  app/models/sales/__init__.py
  app/models/sales/assessment_template.py
  app/models/sales/sales_funnel.py
  app/models/sales/technical_assessment.py
  app/schemas/common.py
  app/schemas/sales/requirement_details.py
  app/services/sales/assessment_template_service.py
  app/services/sales/dwell_time_monitor.py
  app/services/sales/funnel_state_machine.py
  app/services/sales/gate_validators.py
  frontend/src/pages/SalesFunnel.jsx
  frontend/src/pages/SalesPresaleWorkbench.jsx
  frontend/src/pages/TechnicalAssessment.jsx
  frontend/src/pages/UnifiedDashboard/widgets/sales/DwellTimeAlerts.jsx
  frontend/src/routes/modules/salesRoutes.jsx
  frontend/src/services/api.js
  frontend/src/services/api/__tests__/presaleWorkbench.test.js
  frontend/src/services/api/funnel.js
  frontend/src/services/api/presaleWorkbench.js
  migrations/20260312_assessment_workflow_funnel_sqlite.sql
  tests/unit/schemas/test_common.py
  tests/unit/schemas/test_sales_requirement_details.py
  tests/unit/services/sales/test_funnel_state_machine.py
Due: check-file-size, eslint, prettier

fix(frontend): 修复销售工作站和毛利分析菜单显示问题
  frontend/src/components/layout/sidebarConfig/default.js
  frontend/src/pages/QuoteManagement.jsx
  frontend/src/pages/QuoteManagementCenter.jsx
  frontend/src/routes/modules/salesRoutes.jsx
Due: eslint, prettier

feat(sales): 实现销售工作站完整功能
  app/api/v1/endpoints/sales/__init__.py
  app/api/v1/endpoints/sales/collection_priority.py
  app/api/v1/endpoints/sales/contract_milestones.py
  app/api/v1/endpoints/sales/follow_up_reminders.py
  app/api/v1/endpoints/sales/opportunity_health.py
  app/api/v1/endpoints/sales/quick_cost_recommendation.py
  app/api/v1/endpoints/sales/quote_comparison.py
  app/models/exports/complete/sales_contract.py
  app/services/sales/ai_cost_estimation_service.py
  app/services/sales/collection_priority_service.py
  app/services/sales/contract/approval_service.py
  app/services/sales/contract_enhanced.py
  app/services/sales/contract_milestone_service.py
  app/services/sales/follow_up_reminder_service.py
  app/services/sales/margin_alert_service.py
  app/services/sales/opportunity_health_service.py
  frontend/src/hooks/useSalesWorkstation.js
  frontend/src/lib/allMenuItems.js
  frontend/src/pages/SalesWorkstation.jsx
  frontend/src/services/api.js
  frontend/src/services/api/sales.js
  migrations/versions/20260312_add_sales_indexes.py
  tests/__init__.py
  tests/unit/__init__.py
  tests/unit/services/__init__.py
  tests/unit/services/sales/__init__.py
  tests/unit/services/sales/test_collection_priority_service.py
  tests/unit/services/sales/test_contract_milestone_service.py
  tests/unit/services/sales/test_contract_service.py
  tests/unit/services/sales/test_data_audit_service.py
  tests/unit/services/sales/test_follow_up_reminder_service.py
  tests/unit/services/sales/test_margin_alert_service.py
  tests/unit/services/sales/test_operation_log_service.py
  tests/unit/services/sales/test_opportunity_health_service.py
  tests/unit/services/sales/test_quotes_service.py
  tests/unit/services/sales/test_recommendation_service.py
  tests/unit/utils/__init__.py
  tests/unit/utils/test_decimal_helpers.py
  tests/unit/utils/test_status_helpers.py
Due: check-file-size, eslint, prettier

fix: restore production backend compatibility
  app/api/v1/endpoints/production/plans.py
  app/api/v1/endpoints/production/work_reports.py
  app/schemas/production/__init__.py
  app/schemas/production/production_plan.py
  app/schemas/production/work_order.py
  app/schemas/production/work_report.py
  app/services/production/plan_service.py
  tests/api/test_production_plans_unit.py
  tests/unit/test_production_contract_compat.py
Due: check-file-size

fix: restore production exception and worker compatibility APIs
  app/api/v1/api.py
  app/api/v1/endpoints/production/__init__.py
  app/api/v1/endpoints/production/exceptions.py
  app/api/v1/endpoints/production/workers.py
  app/schemas/production/production_exception.py
  app/schemas/production/work_order.py
  app/schemas/production/work_report.py
  app/schemas/production/worker.py
  app/services/production/exception_service.py
  app/services/production/worker_service.py
  tests/api/test_production_compat_endpoints.py
Due: check-file-size

fix: 收口 BOM→采购链路后端契约，避免重复生成
  app/api/v1/endpoints/bom/bom_generate.py
  app/api/v1/endpoints/bom/bom_release.py
  app/api/v1/endpoints/purchase/orders_refactored.py
  app/services/purchase_order_from_bom_service.py
  app/services/purchase_request_from_bom_service.py
  tests/api/test_purchase.py
  tests/unit/test_purchase_order_from_bom_service.py
  tests/unit/test_purchase_request_from_bom_service_cov25.py
Due: check-file-size

fix(prod-frontend): 修复生产模块前端 API 契约对账问题
  frontend/src/components/schedule-board/ScheduleCalendarView.jsx
  frontend/src/pages/ProductionBoard.jsx
  frontend/src/pages/ProductionPlanList/hooks/useProductionPlanList.js
  frontend/src/pages/WorkerManagement/hooks/useWorkerManagement.js
  frontend/src/pages/WorkshopManagement/hooks/useWorkshopManagement.js
  frontend/src/services/api/production.js
  frontend/src/services/api/workOrder.js
  frontend/src/services/api/worker.js
  frontend/src/services/api/workshop.js
Due: eslint, prettier

fix: 修复生产模块外围高风险前端问题
  frontend/src/pages/AcceptanceOrderList.jsx
  frontend/src/pages/AcceptanceTemplateManagement.jsx
  frontend/src/pages/AssemblyTemplateManagement.jsx
  frontend/src/pages/CapacityAnalysis.jsx
  frontend/src/pages/ProductionExceptionList.jsx
  frontend/src/services/api/acceptance.js
  frontend/src/services/api/assemblyKit.js
  frontend/src/services/api/production.js
  frontend/src/services/api/productionException.js
Due: eslint, prettier

fix(routes): 移除重复路由定义 /assembly-template-management
  frontend/src/routes/modules/projectRoutes.jsx
Due: eslint, prettier

fix(sales-frontend): 验证前端构建成功
  frontend/package-lock.json
Due: none

fix: add /sales/quotes/statistics endpoint to fix test_quote_statistics failure
  app/api/v1/endpoints/sales/quotes.py
Due: check-file-size

feat: 优化销售预测和数据质量模块
  app/api/v1/endpoints/sales/__init__.py
  app/api/v1/endpoints/sales_forecast.py
  app/services/sales_forecast_service.py
  tests/unit/test_sales_forecast_service.py
Due: check-file-size

docs: 添加销售预测优化总结文档
  SALES_FORECAST_OPTIMIZATION_SUMMARY.md
Due: none

fix: 修复销售模块回款管理 API 测试失败
  app/api/v1/endpoints/sales/payments/__init__.py
  app/api/v1/endpoints/sales/payments/payment_plans.py
  app/api/v1/endpoints/sales/payments/payment_records.py
Due: check-file-size

fix(sales/leads): Add missing 'desc' import in crud.py
  app/api/v1/endpoints/sales/leads/crud.py
Due: check-file-size

fix: 修复商机管理相关测试失败 (6 个)
  app/api/v1/endpoints/sales/opportunities.py
  app/api/v1/endpoints/sales/opportunity_analytics.py
  app/api/v1/endpoints/sales/opportunity_crud.py
  tests/api/test_sales_opportunity_unit.py
Due: check-file-size

fix: 修复销售模块发票管理 API 测试失败
  app/api/v1/endpoints/sales/invoices/__init__.py
  app/api/v1/endpoints/sales/invoices/basic.py
  app/api/v1/endpoints/sales/invoices/export.py
  app/schemas/sales/invoices.py
Due: check-file-size

fix: 修复销售模块客户管理相关测试失败
  app/core/sales_permissions.py
  app/core/security.py
  app/schemas/sales/contacts.py
  app/schemas/sales/customers.py
  tests/api/test_sales_customers.py
  tests/api/test_sales_customers_api.py
Due: check-file-size

fix: restore sales contracts compatibility endpoints and signing schema
  app/api/v1/endpoints/sales/contracts/__init__.py
  app/api/v1/endpoints/sales/contracts/export.py
  app/api/v1/endpoints/sales/contracts/sign_project.py
  app/schemas/sales/contracts.py
Due: check-file-size

feat(sales): streamline lead follow-up entry
  app/api/v1/endpoints/sales/leads/follow_ups.py
  app/schemas/__init__.py
  app/schemas/sales/__init__.py
  app/schemas/sales/leads.py
  frontend/src/components/lead-management/FollowUpDialog.jsx
  frontend/src/components/lead-management/LeadList.jsx
  frontend/src/lib/constants/leadFollowUp.js
  frontend/src/pages/LeadManagement.jsx
  frontend/src/services/api/__tests__/sales.test.js
  frontend/src/services/api/sales.js
  tests/integration/sales/test_leads.py
  tests/unit/schemas/sales/test_lead_followup_schema.py
Due: check-file-size, eslint, prettier

feat(sales): add follow-up reminders and weekly report
  app/api/v1/endpoints/sales/follow_up_reminders.py
  app/api/v1/endpoints/sales_automation.py
  app/services/sales/follow_up_reminder_service.py
  tests/integration/sales/test_follow_up_value_api.py
  tests/unit/services/sales/test_follow_up_value_service.py
Due: check-file-size

fix: add /presales compatibility alias for presale analytics routes
  app/api/v1/api.py
Due: check-file-size

Path conditions:
  check-file-size: any of: \.py$
  eslint: any of: \.(js|jsx|ts|tsx)$
  prettier: any of: \.(js|jsx|ts|tsx|css)$
