Repository fulingwei1/non-standard-automation-pms: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, eslint, prettier

check-file-size:
  name: 检查文件大小限制
  entry: python scripts/check_file_size.py
  language: python
  pass_filenames: false

eslint:
  name: ESLint 检查
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

prettier:
  name: Prettier 格式化检查
  entry: bash -c 'cd frontend && npx prettier --check "src/**/*.{js,jsx,ts,tsx,css}"'
  language: system
  pass_filenames: false

更新测试覆盖率分析报告 (2026-02-23)
  TEST_COVERAGE_ANALYSIS.md
Due: none

fix: 降级 CI Python 版本到 3.12 (sklearn 不兼容 3.13)
  .github/workflows/test.yml
Due: none

fix: upgrade scikit-learn to 1.6.1 for Python 3.13 compatibility
  requirements.txt
Due: none

fix(ci): install ruff in test workflow
  .github/workflows/test.yml
Due: none

fix(test): 禁用导入不存在类的测试文件
  tests/unit/models/auth/test_permission_model.py.skip
  tests/unit/models/auth/test_role_model.py.skip
Due: none

fix(lint): 移除未使用的imports
  app/api/presale_ai_emotion.py
  app/api/v1/ai_planning.py
  app/api/v1/endpoints/acceptance/bonus_trigger.py
  tests/unit/BUGS_FOUND.md
  tests/unit/TEST_REPORT_approval_adapter_outsourcing.md
  tests/unit/TEST_REPORT_approval_adapter_quote.md
  tests/unit/models/finance/test_payment_model.py.skip
  tests/unit/models/procurement/test_supplier_model.py.skip
  tests/unit/models/project/test_project_milestone_model.py.skip
  tests/unit/test_account_lockout_comprehensive.py
  tests/unit/test_alert_rule_engine/test_base.py.skip
  tests/unit/test_approval_adapter_invoice.py
  tests/unit/test_budget_analysis_comprehensive.py
  tests/unit/test_business_rules_comprehensive.py
  tests/unit/test_collaboration_service_comprehensive.py
  tests/unit/test_cost_collection_comprehensive.py
  tests/unit/test_expression_parser.py
  tests/unit/test_management_rhythm_adapter.py
  tests/unit/test_multi_services_batch2.py
  tests/unit/test_notification_service_comprehensive.py
  tests/unit/test_pipeline_health_comprehensive.py
  tests/unit/test_project_statistics_comprehensive.py
  tests/unit/test_review_report_generator.py
  tests/unit/test_schemas_import_coverage.py
  tests/unit/test_session_service_comprehensive.py
  tests/unit/test_shortage_adapter.py
  tests/unit/test_staff_matching.py
  tests/unit/test_supplier_performance_comprehensive.py
  tests/unit/test_work_order_service.py
Due: check-file-size

docs: 批次2测试覆盖率提升完成报告 (12%→44%)
  BATCH2_TEST_COMPLETION_REPORT.md
Due: none

docs: 整理文档结构 - 根目录只保留核心文档
  docs/modules/README.md
  docs/modules/README_AI_QUOTATION.md
  docs/modules/README_COST_PREDICTION.md
  docs/modules/README_EXCEPTION_ENHANCEMENT.md
  docs/modules/README_PRESALE_AI_SOLUTION.md
  docs/modules/README_SALES_TEAM_MANAGEMENT.md
  docs/modules/README_TEAM5_RATE_LIMITER.md
  docs/modules/README_TEAM9.md
  docs/modules/README_WAF.md
  docs/security/SECURITY_CHANGELOG.md
  frontend/src/pages/LeaveManagement/hooks/__tests__/useLeaveManagement.test.js
  frontend/src/pages/ProjectTaskList/hooks/__tests__/useProjectTaskList.test.js
  frontend/src/pages/PurchaseOrderFromBOM/hooks/__tests__/usePurchaseOrderFromBOM.test.js
Due: eslint, prettier

chore: 整理Docker配置文件
  docker/Dockerfile
  docker/Dockerfile.fullstack
  docker/Dockerfile.nginx
  docker/README.md
  docker/docker-compose.production.yml
  docker/docker-compose.secrets.yml
  docker/docker-compose.waf.yml
  docker/docker-compose.yml
  frontend/src/lib/constants/salesTeam.js
Due: eslint, prettier

chore: 清理根目录配置文件 - 方案A
  .gitignore
  coverage.json
  coverage.xml
  coverage_history.json
  coverage_submit.json
  docs/examples/aws-secrets-manager.example.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/business-support/__tests__/__snapshots__/ContractCard.test.jsx.snap
  frontend/src/components/charts/__tests__/__snapshots__/ChartContainer.test.jsx.snap
  frontend/src/components/common/__tests__/__snapshots__/ConfirmDialog.test.jsx.snap
  frontend/src/components/common/__tests__/__snapshots__/DeleteConfirmDialog.test.jsx.snap
  frontend/src/components/common/__tests__/__snapshots__/ErrorMessage.test.jsx.snap
  frontend/src/components/common/__tests__/__snapshots__/LoadingPage.test.jsx.snap
  frontend/src/components/common/__tests__/__snapshots__/LoadingSpinner.test.jsx.snap
  frontend/src/components/common/__tests__/__snapshots__/StatCard.test.jsx.snap
  frontend/src/components/procurement-manager-dashboard/__tests__/__snapshots__/KeyMetricsCard.test.jsx.snap
  frontend/src/components/ui/__tests__/__snapshots__/badge.test.jsx.snap
  frontend/src/components/ui/__tests__/__snapshots__/button.test.jsx.snap
  frontend/src/components/ui/__tests__/__snapshots__/card.test.jsx.snap
  frontend/src/components/ui/__tests__/__snapshots__/input.test.jsx.snap
  frontend/src/components/ui/__tests__/__snapshots__/progress.test.jsx.snap
  frontend/src/components/ui/__tests__/__snapshots__/tabs.test.jsx.snap
  frontend/src/hooks/__tests__/usePerformanceData.test.js
  frontend/src/lib/constants/customer.js
  frontend/src/pages/ProjectPhaseManagement/hooks/__tests__/useProjectPhaseData.test.js
  frontend/src/pages/PurchaseRequestNew/hooks/usePurchaseRequestNew.js
Due: eslint, prettier

fix(frontend): 修复测试套件 - 158/185文件通过, 26个页面组件测试标记skip
  frontend/src/components/business-support/__tests__/ContractCard.test.jsx
  frontend/src/components/charts/__tests__/ChartContainer.test.jsx
  frontend/src/components/common/__tests__/ConfirmDialog.test.jsx
  frontend/src/components/common/__tests__/DeleteConfirmDialog.test.jsx
  frontend/src/components/common/__tests__/LoadingPage.test.jsx
  frontend/src/components/procurement-manager-dashboard/__tests__/KeyMetricsCard.test.jsx
  frontend/src/components/ui/__tests__/button.test.jsx
  frontend/src/components/ui/__tests__/input.test.jsx
  frontend/src/components/ui/__tests__/progress.test.jsx
  frontend/src/components/ui/__tests__/tabs.test.jsx
  frontend/src/pages/__tests__/Acceptance.test.jsx
  frontend/src/pages/__tests__/AdminDashboard.test.jsx
  frontend/src/pages/__tests__/AlertCenter.test.jsx
  frontend/src/pages/__tests__/ApprovalCenter.test.jsx
  frontend/src/pages/__tests__/AttendanceManagement.test.jsx
  frontend/src/pages/__tests__/BiddingCenter.test.jsx
  frontend/src/pages/__tests__/ContractManagement.test.jsx
  frontend/src/pages/__tests__/CustomerList.test.jsx
  frontend/src/pages/__tests__/CustomerManagement.test.jsx
  frontend/src/pages/__tests__/DepartmentManagement.test.jsx
  frontend/src/pages/__tests__/Documents.test.jsx
  frontend/src/pages/__tests__/InvoiceManagement.test.jsx
  frontend/src/pages/__tests__/IssueManagement.test.jsx
  frontend/src/pages/__tests__/LeaveManagement.test.jsx
  frontend/src/pages/__tests__/PaymentManagement.test.jsx
  frontend/src/pages/__tests__/PresalesTasks.test.jsx
  frontend/src/pages/__tests__/ProjectBoard.test.jsx
  frontend/src/pages/__tests__/ProjectDetail.test.jsx
  frontend/src/pages/__tests__/ProjectList.test.jsx
  frontend/src/pages/__tests__/PurchaseOrderDetail.test.jsx
  frontend/src/pages/__tests__/PurchaseOrders.test.jsx
  frontend/src/pages/__tests__/RoleManagement.test.jsx
  frontend/src/pages/__tests__/SalesFunnel.test.jsx
  frontend/src/pages/__tests__/SolutionList.test.jsx
  frontend/src/pages/__tests__/SupplierManagement.test.jsx
  frontend/src/pages/__tests__/UserManagement.test.jsx
  frontend/src/pages/gm-workstation/__tests__/GeneralManagerWorkstation.test.jsx
Due: eslint, prettier

docs: 添加前端测试修复报告 Batch 2
  FRONTEND_TEST_FIX_REPORT_BATCH2.md
Due: none

fix: 修复CI workflows中requirements.txt路径错误
  .github/workflows/ci.yml
  .github/workflows/tests.yml
Due: none

fix: 修复所有workflows中requirements.txt路径
  .github/workflows/code-quality.yml
  .github/workflows/test.yml
Due: none

fix(ci): 添加缺失的pytest测试依赖
  .github/workflows/test.yml
Due: none

feat(tests): add Batch 2 service tests - 10 modules, 198 test cases
  tests/unit/test_batch2_backup_service.py
  tests/unit/test_batch2_culture_wall_service.py
  tests/unit/test_batch2_evm_service.py
  tests/unit/test_batch2_hourly_rate_service.py
  tests/unit/test_batch2_overtime_calculation_service.py
  tests/unit/test_batch2_payment_statistics_service.py
  tests/unit/test_batch2_qualification_service.py
  tests/unit/test_batch2_revenue_service.py
  tests/unit/test_batch2_sla_service.py
  tests/unit/test_batch2_stock_count_service.py
  tests/unit/test_batch2_ticket_assignment_service.py
Due: check-file-size

test: add comprehensive CRUD common module tests (141 tests, 51% coverage)
  tests/common/test_async_repository.py
  tests/common/test_async_service.py
  tests/common/test_base_crud_service.py
  tests/common/test_sync_repository.py
  tests/common/test_sync_service.py
  tests/common/test_types_and_exceptions.py
Due: check-file-size

fix: 修复前端测试 - 修复import路径和flaky测试超时
  frontend/src/components/purchase/hooks/usePurchaseOrderData.js
  frontend/src/components/purchase/orders/CreateEditOrderDialog.jsx
  frontend/src/components/purchase/orders/MaterialSelectDialog.jsx
  frontend/src/components/purchase/orders/OrderCard.jsx
  frontend/src/components/purchase/orders/OrderDetailDialog.jsx
  frontend/src/components/purchase/orders/PurchaseOrderList.jsx
  frontend/src/components/purchase/orders/PurchaseOrderStats.jsx
  frontend/src/components/purchase/orders/ReceiveGoodsDialog.jsx
  frontend/src/components/ui/__tests__/__snapshots__/tabs.test.jsx.snap
  frontend/src/hooks/__tests__/useAnalytics.test.js
  tests/schemas/__init__.py
  tests/schemas/test_auth.py
  tests/schemas/test_batch_schemas.py
  tests/schemas/test_bonus.py
  tests/schemas/test_budget.py
  tests/schemas/test_common.py
  tests/schemas/test_engineer.py
  tests/schemas/test_issue.py
  tests/schemas/test_material.py
  tests/schemas/test_organization.py
  tests/schemas/test_performance.py
  tests/schemas/test_progress.py
  tests/schemas/test_role.py
  tests/schemas/test_service.py
  tests/schemas/test_tenant.py
Due: check-file-size, eslint, prettier

test: add schema module tests - 462 tests, 57% coverage
  tests/schemas/test_batch_schemas.py
Due: check-file-size

docs: add schema test report
  tests/schemas/SCHEMA_TEST_REPORT.md
Due: none

docs: update frontend test fix report
  frontend/FRONTEND_TEST_FIX_REPORT.md
Due: none

fix: 修复bcrypt密码长度限制 - 自动截断超过72字节的密码
  app/core/auth.py
Due: check-file-size

security: 修复4个安全漏洞
  api/requirements.txt
  app/utils/spec_extractor/formats.py
Due: check-file-size

refactor: 删除废弃的融资管理模块
  app/models/__init__.py
  app/models/exports/complete/__init__.py
  app/models/exports/complete/other_modules.py
  app/models/finance.py
Due: check-file-size

docs: 为58个未使用的数据库表添加状态注释
  app/models/advantage_product.py
  app/models/alert.py
  app/models/api_key.py
  app/models/approval/template.py
  app/models/business_support/bidding.py
  app/models/change_request.py
  app/models/earned_value.py
  app/models/employee_encrypted_example.py
  app/models/engineer_performance/electrical.py
  app/models/engineer_performance/mechanical.py
  app/models/engineer_performance/test.py
  app/models/holiday.py
  app/models/organization.py
  app/models/performance/appeal_adjustment.py
  app/models/performance/contribution_ranking.py
  app/models/permission.py
  app/models/pipeline_analysis.py
  app/models/pitfall.py
  app/models/pmo/cost_meeting.py
  app/models/presale.py
  app/models/presale_ai_quotation.py
  app/models/production/equipment.py
  app/models/production/material.py
  app/models/progress.py
  app/models/project/extensions.py
  app/models/project_review.py
  app/models/rd_project.py
  app/models/report.py
  app/models/report_center.py
  app/models/sales/presale_ai_cost.py
  app/models/sales/quotes.py
  app/models/sales/team.py
  app/models/shortage/alerts.py
  app/models/shortage/requirements.py
  app/models/task_center.py
  app/models/timesheet.py
  app/models/work_log.py
Due: check-file-size

fix: bcrypt 72字节密码限制问题
  app/core/auth.py
  tests/factories.py
Due: check-file-size

docs: 添加测试覆盖率提升报告 (15%→60%+)
  测试覆盖率提升报告_2026-02-25.md
Due: none

docs: 添加未使用模块分析报告 - 发现285个未引用服务文件
  未使用模块分析报告.md
Due: none

refactor: 删除13个废弃/测试文件 (-67.5KB)
  app/services/cache/redis_cache.py
  app/services/labor_cost_calculation_service.py
  app/services/labor_cost_expense_service.py
  app/services/notification_service.py
  app/services/preset_stage_templates/templates/execution/testing_acceptance.py
  app/services/progress_aggregation_service.py
  app/services/progress_auto_service.py
  app/services/quality_risk_ai/test_recommendation_engine.py
  app/services/report_data_generation/__init__.py
  app/services/report_framework/cache_manager.py
  app/services/shortage_report_service.py
  app/services/task_progress_service.py
  app/services/template_report/__init__.py
Due: check-file-size

docs: 添加废弃模块清理记录
  废弃模块清理记录_2026-02-25.md
Due: none

refactor: 删除4个未使用的告警服务层文件 (-53.7KB)
  app/services/alert/alert_records_service.py
  app/services/alert/alert_rules_service.py
  app/services/alert/alert_statistics_service.py
  app/services/shortage/shortage_alerts_service.py
Due: check-file-size

docs: 添加告警系统清理报告
  告警系统清理报告_2026-02-25.md
Due: none

docs: 添加可清理废代码分析报告
  可清理的废代码清单.md
Due: none

Path conditions:
  check-file-size: any of: \.py$
  eslint: any of: \.(js|jsx|ts|tsx)$
  prettier: any of: \.(js|jsx|ts|tsx|css)$
