Repository fulingwei1/non-standard-automation-pms: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, eslint, prettier

check-file-size:
  name: 检查文件大小限制
  entry: python scripts/check_file_size.py
  language: python
  pass_filenames: false

eslint:
  name: ESLint 检查
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

prettier:
  name: Prettier 格式化检查
  entry: bash -c 'cd frontend && npx prettier --check "src/**/*.{js,jsx,ts,tsx,css}"'
  language: system
  pass_filenames: false

fix(ci): fix Python IndentationError and resolve all 15 ESLint errors
  frontend/src/context/__tests__/AuthContext.test.jsx
  frontend/src/pages/ProjectListWithCost.jsx
  frontend/src/pages/ReportTemplates.jsx
  frontend/src/pages/shortage/alerts/SolutionRecommendation.jsx
  frontend/src/services/api/__tests__/projects.test.js
  frontend/src/utils/logger.test.js
  tests/unit/test_adapters_base_cov44.py
Due: check-file-size, eslint, prettier

refactor: unify export/cache/notify services (#39, #40, #30, #45, #48)
  app/services/dashboard_cache_service.py
  app/services/excel_export_service.py
  app/services/excel_template_service.py
  app/services/notification_handlers/wechat_handler.py
  app/services/pdf_export_service.py
  app/services/report_excel_service.py
  app/services/report_framework/renderers/excel_renderer.py
  app/services/report_framework/renderers/excel_styles.py
  app/services/report_framework/renderers/pdf_renderer.py
  app/services/report_framework/renderers/pdf_styles.py
  app/services/wechat_alert_service.py
Due: check-file-size

refactor: extract common utils and tree builder (#54, #55)
  app/api/v1/endpoints/organization/utils.py
  app/services/employee_import_service.py
  app/services/hr_profile_import_service.py
  app/utils/common.py
  app/utils/tree.py
Due: check-file-size

refactor(api): 路由去重 - status_crud/quote_status 迁移到 StatusUpdateService
  app/api/v1/endpoints/projects/status/status_crud.py
  app/api/v1/endpoints/sales/quote_status.py
Due: check-file-size

refactor(services): 整合奖金服务到 bonus/ 模块 (#37)
  app/services/acceptance_bonus_service.py
  app/services/bonus/__init__.py
  app/services/bonus/acceptance_bonus_service.py
  app/services/bonus/bonus_allocation_parser.py
  app/services/bonus/bonus_distribution_service.py
  app/services/bonus/project_bonus_service.py
  app/services/bonus/solution_engineer_bonus_service.py
  app/services/bonus_allocation_parser.py
  app/services/bonus_distribution_service.py
  app/services/project_bonus_service.py
  app/services/solution_engineer_bonus_service.py
Due: check-file-size

fix(#34): add re-export wrappers for consolidated progress services
  app/services/progress_aggregation_service.py
  app/services/progress_auto_service.py
  app/services/task_progress_service.py
Due: check-file-size

feat: add sync statistics base class and aggregation protocol (#41, #38)
  app/services/statistics/__init__.py
  app/services/statistics/base.py
  tests/unit/test_sync_statistics_base.py
Due: check-file-size

refactor(services): 整合成本管理服务到 cost/ 模块 (#35)
  app/services/cost/__init__.py
  app/services/cost/cost_alert_service.py
  app/services/cost/cost_dashboard_service.py
  app/services/cost/cost_forecast_service.py
  app/services/cost/cost_overrun_analysis_service.py
  app/services/cost/cost_prediction_service.py
  app/services/cost_alert_service.py
  app/services/cost_dashboard_service.py
  app/services/cost_forecast_service.py
  app/services/cost_overrun_analysis_service.py
  app/services/cost_prediction_service.py
Due: check-file-size

refactor(services): data_scope_service 改为 re-export enhanced 版本 (#43)
  app/services/data_scope_service.py
Due: check-file-size

refactor: add dashboard base class (#26)
  app/services/dashboard/__init__.py
  app/services/dashboard/base.py
  app/services/report/__pycache__/__init__.cpython-313.pyc
  app/services/report/__pycache__/report_service.cpython-313.pyc
Due: check-file-size

fix(#73): replace local formatDate with centralized import in 5 pages
  frontend/src/pages/ManagementRhythmDashboard.jsx
Due: eslint, prettier

refactor(frontend): consolidate duplicate API objects (#89)
  frontend/src/pages/ProjectRoles.jsx
  frontend/src/services/api/procurement.js
  frontend/src/services/api/projectRoles.js
Due: eslint, prettier

fix(#75): merge errorService into errorHandler, errorService re-exports
  frontend/src/services/errorService.js
  frontend/src/utils/errorHandler.js
Due: eslint, prettier

docs: add responsibility docstrings to meeting report modules (#36)
  app/services/meeting_report_docx_service.py
  app/services/meeting_report_helpers.py
Due: check-file-size

refactor(frontend): mark duplicate taskCenterApi.myTasks as deprecated (#90)
  frontend/src/services/api/taskCenter.js
Due: eslint, prettier

feat(#29): add EMPLOYEE and HR_PROFILE types to UnifiedImporter
  frontend/src/pages/ManagementRhythmDashboard.jsx
  frontend/src/pages/MeetingReports.jsx
  frontend/src/pages/StrategicMeetingDetail.jsx
Due: eslint, prettier

feat(#29): add EMPLOYEE and HR_PROFILE types to UnifiedImporter
  app/services/unified_import/unified_importer.py
Due: check-file-size

fix(#73): replace local formatDate with centralized import in 5 pages
  frontend/src/pages/ManagementRhythmDashboard.jsx
  frontend/src/pages/MeetingMap.jsx
  frontend/src/pages/MeetingReports.jsx
  frontend/src/pages/StrategicMeetingDetail.jsx
  frontend/src/pages/StrategicMeetingManagement.jsx
Due: eslint, prettier

fix(#73): replace formatDate in CultureWallCarousel, re-export from lib/utils
  frontend/src/components/culture/CultureWallCarousel.jsx
  frontend/src/lib/utils.js
Due: eslint, prettier

fix(#73): replace local formatDateTime in 3 pages with centralized import
  frontend/src/pages/ApprovalCenter.jsx
  frontend/src/pages/ApprovalDetailPage.jsx
  frontend/src/pages/OpportunityManagement.jsx
Due: eslint, prettier

fix: add @deprecated JSDoc to duplicate component re-exports (#78, #79, #81, #82, #88)
  frontend/src/components/assembler-task/DrawingViewerDialog.jsx
  frontend/src/components/assembler-task/MaterialShortageDialog.jsx
  frontend/src/components/assembler-task/QualityFeedbackDialog.jsx
  frontend/src/components/assembler-task/TaskCompleteDialog.jsx
  frontend/src/components/hr/tabs/HRPerformanceTab.jsx
  frontend/src/components/purchase/orders/PurchaseOrderFilters.jsx
Due: eslint, prettier

fix: 添加缺料报告和劳动成本服务的 re-export wrapper (#46, #31)
  app/services/labor_cost_calculation_service.py
  app/services/labor_cost_expense_service.py
  app/services/shortage_report_service.py
Due: check-file-size

fix(#26,#24): analyze dashboard/status duplication, refactor capacity dashboard
  app/api/v1/endpoints/production/capacity/dashboard.py
  app/services/base_approval_workflow.py
  app/services/cost/__init__.py
  app/services/cost/cost_data_queries.py
  app/services/cost/cost_forecast_service.py
  app/services/cost/cost_overrun_analysis_service.py
  data/app.db-wal
  docs/analysis-issue-24-26.md
Due: check-file-size

fix(#22,#23): extract BaseApprovalWorkflowService and shared schemas
  app/api/v1/endpoints/outsourcing/workflow.py
  app/api/v1/endpoints/purchase/workflow.py
  app/schemas/approval_workflow.py
  app/services/base_approval_workflow.py
  app/services/outsourcing_workflow/outsourcing_workflow_service.py
  app/services/purchase_workflow/service.py
Due: check-file-size

docs: analyze API endpoint issues #12, #13, #19, #25
  docs/api-audit/issues-12-13-19-25-analysis.md
Due: none

fix: 通用模式问题分析与统一入口 (#54-#61)
  app/services/bonus/acceptance_bonus_service.py
  app/services/bonus/solution_engineer_bonus_service.py
  app/services/cache/__init__.py
  app/services/issue_statistics_service.py
  app/services/project_statistics_service.py
  app/services/report_framework/adapters/business_support.py
  app/utils/__init__.py
  docs/common-patterns-analysis.md
Due: check-file-size

fix(bonus/aggregation): #37 #38 消除奖金服务和聚合重复
  app/services/bonus/acceptance_bonus_service.py
  app/services/bonus/solution_engineer_bonus_service.py
  app/services/notification_service.py
  app/services/report_framework/adapters/__init__.py
  app/services/report_framework/adapters/shortage.py
  docs/consolidation-status.md
  docs/report-statistics-consolidation.md
Due: check-file-size

fix(notification): 创建统一通知入口 notification_service.py (#28, #45)
  app/services/notification_service.py
Due: check-file-size

fix(#42,#30): 报表框架接入 business_support/shortage 适配器，缓存统一入口
  app/services/cache/__init__.py
  app/services/report_framework/adapters/__init__.py
  app/services/report_framework/adapters/business_support.py
  app/services/report_framework/adapters/shortage.py
  docs/consolidation-status.md
Due: check-file-size

fix: 移除未使用的datetime导入
  app/api/v1/endpoints/sales/quote_status.py
Due: check-file-size

fix: 移除所有未使用的imports和变量
  app/api/v1/endpoints/projects/status/status_crud.py
  app/services/cache/redis_cache.py
  app/services/cost/cost_data_queries.py
  app/services/cost/cost_forecast_service.py
  app/services/cost/cost_overrun_analysis_service.py
Due: check-file-size

fix: 修复前端安全漏洞 (5个漏洞)
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: none

refactor: consolidate statistics services (#27, #41)
  app/services/issue_statistics_service.py
  app/services/project_statistics_service.py
Due: check-file-size

refactor: replace 10 remaining .offset().limit() with apply_pagination()
  app/api/v1/endpoints/analytics/resource_conflicts.py
  app/api/v1/endpoints/assembly_kit/scheduling.py
  app/api/v1/endpoints/assembly_kit/shortage_alerts.py
  app/api/v1/endpoints/sales/ai_clarifications.py
  app/api/v1/endpoints/sales/customers.py
  app/api/v1/endpoints/sales/leads/crud.py
  app/api/v1/endpoints/sales/opportunity_crud.py
  app/api/v1/endpoints/service/knowledge/crud.py
  app/api/v1/endpoints/shortage/handling/arrivals.py
  app/api/v1/endpoints/staff_matching/staffing_needs.py
Due: check-file-size

feat: 发货管理页面和出货看板接入后端API
  frontend/src/pages/DeliveryManagement.jsx
  frontend/src/pages/Shipments.jsx
  frontend/src/services/api/sales.js
Due: eslint, prettier

feat: 会议管理和装配任务中心接入后端API
  frontend/src/pages/AssemblerTaskCenter.jsx
  frontend/src/pages/MeetingManagement.jsx
Due: eslint, prettier

Path conditions:
  check-file-size: any of: \.py$
  eslint: any of: \.(js|jsx|ts|tsx)$
  prettier: any of: \.(js|jsx|ts|tsx|css)$
