Repository fulingwei1/non-standard-automation-pms: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, eslint, prettier

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# 安装: pip install pre-commit && pre-commit install

repos:
  # 通用钩子
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: 移除行尾空白
      - id: end-of-file-fixer
        name: 确保文件以换行符结尾
      - id: check-yaml
        name: 检查YAML语法
      - id: check-json
        name: 检查JSON语法
      - id: check-added-large-files
        name: 检查大文件
        args: ["--maxkb=500"]
      - id: check-merge-conflict
        name: 检查合并冲突
      - id: detect-private-key
        name: 检测私钥
      - id: no-commit-to-branch
        name: 禁止直接提交到main分支
        args: ["--branch", "main"]

  # Python 代码格式化
  - repo: https://github.com/psf/black
    rev: 24.1.1
    hooks:
      - id: black
        name: Black 代码格式化
        language_version: python3.11
        args: ["--line-length=120"]

  # Python 导入排序
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        name: isort 导入排序
        args: ["--profile=black", "--line-length=120"]

  # Python 代码检查
  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        name: Flake8 代码检查
        args: ["--max-line-length=120", "--ignore=E501,W503,E203"]
        additional_dependencies:
          - flake8-docstrings
          - flake8-bugbear

  # Python 安全检查
  - repo: https://github.com/pycqa/bandit
    rev: 1.7.7
    hooks:
      - id: bandit
        name: Bandit 安全检查
        args: ["-ll", "-ii"]
        exclude: tests/

  # 自定义文件大小检查
  - repo: local
    hooks:
      - id: check-file-size
        name: 检查文件大小限制
        entry: python scripts/check_file_size.py
        language: python
        types: [python]
        pass_filenames: false

      - id: check-function-size
        name: 检查函数大小
        entry: python scripts/check_function_size.py
        language: python
        types: [python]
        pass_filenames: false
        always_run: true

  # JavaScript/TypeScript (前端)
  - repo: local
    hooks:
      - id: eslint
        name: ESLint 检查
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

      - id: prettier
        name: Prettier 格式化检查
        entry: bash -c 'cd frontend && npx prettier --check "src/**/*.{js,jsx,ts,tsx,css}"'
        language: system
        files: \.(js|jsx|ts|tsx|css)$
        pass_filenames: false

# CI 设置
ci:
  autofix_commit_msg: "style: auto fixes from pre-commit hooks"
  autofix_prs: true
  autoupdate_commit_msg: "chore: pre-commit autoupdate"
  autoupdate_schedule: weekly

fix: route review tickets to presales tasks
  frontend/src/pages/OpportunityManagement/index.jsx
  frontend/src/pages/PresalesTasks/index.jsx
  frontend/src/pages/__tests__/OpportunityManagement.test.jsx
  frontend/src/pages/__tests__/PresalesTasks.test.jsx
Due: eslint, prettier

fix: surface presale ticket progress
  app/api/v1/endpoints/presale/tickets/utils.py
  app/schemas/presale.py
  frontend/src/pages/PresalesTasks/index.jsx
  frontend/src/pages/__tests__/PresalesTasks.test.jsx
  tests/unit/test_presale_ticket_response.py
Due: check-file-size, eslint, prettier

fix: enable presale task creation
  frontend/src/pages/PresalesTasks/index.jsx
  frontend/src/pages/__tests__/PresalesTasks.test.jsx
Due: eslint, prettier

fix: repair presale ticket progress flow
  app/api/v1/endpoints/presale/tickets/operations.py
  app/api/v1/endpoints/presale/tickets/utils.py
  frontend/src/services/api/__tests__/presales.test.js
  frontend/src/services/api/presales.js
  tests/api/test_presales_contract_api.py
Due: check-file-size, eslint, prettier

fix: sync presale completion to opportunities
  app/api/v1/endpoints/presale/tickets/operations.py
  tests/api/test_presales_contract_api.py
Due: check-file-size

fix: repair presales lead conversion
  app/api/v1/endpoints/presale_analytics/lead_conversion.py
  app/schemas/presales.py
  frontend/src/services/api/__tests__/presales.test.js
  tests/api/test_presales_contract_api.py
Due: check-file-size, eslint, prettier

fix: normalize technical assessment evaluation payload
  frontend/src/services/api/__tests__/engineering.test.js
  frontend/src/services/api/engineering.js
Due: eslint, prettier

fix: align presale solution workflow routes
  app/api/v1/endpoints/presale/proposals.py
  app/schemas/presale.py
  frontend/src/services/api/__tests__/presaleWorkbench.test.js
  frontend/src/services/api/presaleSolution.js
  tests/api/test_presales_contract_api.py
Due: check-file-size, eslint, prettier

fix: connect project margin panel to presale solutions
  frontend/src/components/project/RealTimeMarginPanel.jsx
  frontend/src/components/project/__tests__/RealTimeMarginPanel.test.jsx
  frontend/src/services/api/__tests__/solution.test.js
  frontend/src/services/api/solution.js
Due: eslint, prettier

fix: repair sales funnel quote contract transitions
  app/services/sales/funnel_state_machine.py
  app/services/sales/gate_validators.py
  tests/unit/services/sales/test_funnel_state_machine.py
Due: check-file-size

fix: connect presale assessment routes
  PERMISSION_COVERAGE_AUDIT.json
  app/api/v1/endpoints/sales/__init__.py
  app/api/v1/endpoints/sales/assessment_templates.py
  tests/unit/api/sales/test_assessment_templates_routes.py
  tests/unit/test_sales_routes_init.py
Due: check-file-size

fix: link presale solutions to pmo projects
  app/services/pmo_initiation/service.py
  tests/api/test_pmo.py
  tests/unit/test_pmo_initiation_service.py
Due: check-file-size

fix: persist technical template categories
  app/schemas/presale_technical_parameter.py
  app/services/presale/technical_parameter_service.py
  tests/api/test_presales_contract_api.py
Due: check-file-size

fix: repair assessment risk workflow routes
  app/api/v1/endpoints/sales/assessment_templates.py
  app/services/sales/assessment_template_service.py
  tests/unit/api/sales/test_assessment_templates_routes.py
Due: check-file-size

fix: sync generated assessment risks
  app/services/technical_assessment_service.py
  tests/api/test_sales.py
Due: check-file-size

fix: render technical parameter cost estimates
  frontend/src/pages/TechnicalParameterManagement.jsx
  frontend/src/pages/__tests__/TechnicalParameterManagement.test.jsx
Due: eslint, prettier

fix: inherit context for ticket solutions
  app/api/v1/endpoints/presale/proposals.py
  tests/api/test_presales_contract_api.py
Due: check-file-size

fix: 修复售前方案提交审核状态
  app/api/v1/endpoints/presale/proposals.py
  tests/api/test_presales_contract_api.py
Due: check-file-size

fix: 打通PMO立项前端审批入口
  frontend/src/pages/InitiationManagement/components/InitiationList.jsx
  frontend/src/pages/InitiationManagement/components/ReviewInitiationDialog.jsx
  frontend/src/pages/InitiationManagement/components/__tests__/InitiationList.test.jsx
  frontend/src/pages/InitiationManagement/components/index.js
  frontend/src/pages/InitiationManagement/hooks/useInitiationManagement.js
  frontend/src/pages/InitiationManagement/index.jsx
  frontend/src/services/api/pmo.js
Due: eslint, prettier

fix: 打通售前工单交付物显示提交
  app/api/v1/endpoints/presale/tickets/utils.py
  app/schemas/presale.py
  frontend/src/pages/PresalesTasks/TaskDetailPanel.jsx
  frontend/src/pages/PresalesTasks/index.jsx
  frontend/src/pages/__tests__/PresalesTasks.test.jsx
  tests/api/test_presales_contract_api.py
  tests/unit/test_presale_ticket_response.py
Due: check-file-size, eslint, prettier

fix: 避免售前评审工单显示无效进度按钮
  frontend/src/pages/PresalesTasks/TaskDetailPanel.jsx
  frontend/src/pages/__tests__/PresalesTasks.test.jsx
Due: eslint, prettier

fix: 补齐售前工单看板评审状态
  app/api/v1/endpoints/presale/tickets/__init__.py
  app/api/v1/endpoints/presale/tickets/board.py
  app/schemas/presale.py
  frontend/src/pages/PresaleTicketBoard/KanbanBoard.jsx
  frontend/src/pages/PresaleTicketBoard/ProcessingStats.jsx
  frontend/src/pages/PresaleTicketBoard/TicketTable.jsx
  frontend/src/pages/PresaleTicketBoard/__tests__/usePresaleTickets.test.jsx
  frontend/src/pages/PresaleTicketBoard/constants.js
  frontend/src/pages/PresaleTicketBoard/usePresaleTickets.js
  frontend/src/pages/PresaleTicketBoard/utils.js
  tests/api/test_presales_contract_api.py
Due: check-file-size, eslint, prettier

fix: 修复售前方案详情成本展示
  frontend/src/pages/SolutionDetail/__tests__/constants.test.js
  frontend/src/pages/SolutionDetail/components/SolutionCostTab.jsx
  frontend/src/pages/SolutionDetail/components/__tests__/SolutionCostTab.test.jsx
  frontend/src/pages/SolutionDetail/constants.js
  frontend/src/pages/SolutionDetail/hooks/__tests__/useSolutionDetail.test.js
  frontend/src/pages/SolutionDetail/hooks/useSolutionDetail.js
Due: eslint, prettier

fix: 打通方案评审到商机G2闭环
  app/api/v1/endpoints/presale/proposals.py
  app/api/v1/endpoints/sales/__init__.py
  frontend/src/pages/SolutionDetail/components/SolutionHeader.jsx
  frontend/src/pages/SolutionDetail/components/__tests__/SolutionHeader.test.jsx
  frontend/src/pages/SolutionDetail/hooks/__tests__/useSolutionDetail.test.js
  frontend/src/pages/SolutionDetail/hooks/useSolutionDetail.js
  frontend/src/pages/SolutionDetail/index.jsx
  tests/api/test_presales_contract_api.py
Due: check-file-size, eslint, prettier

docs: 制定售前与项目模块合并方案
  docs/module-consolidation-plan-presale-project.md
Due: none

feat: 合并售前统一入口并扩展全局模块蓝图
  docs/module-consolidation-plan-presale-project.md
  docs/system-module-consolidation-blueprint.md
  frontend/src/components/layout/sidebarConfig/default.js
  frontend/src/pages/PresalesCostEstimation.jsx
  frontend/src/pages/PresalesWorkbench.jsx
  frontend/src/pages/PresalesWorkbenchRedirect.jsx
  frontend/src/pages/SalesWorkstation.jsx
  frontend/src/routes/modules/__tests__/presalesRoutes.test.jsx
  frontend/src/routes/modules/__tests__/salesPresaleWorkbenchRoutes.test.jsx
  frontend/src/routes/modules/presalesRoutes.jsx
  frontend/src/routes/modules/salesRoutes.jsx
Due: eslint, prettier

fix: 售前工作台暴露真实接口错误
  frontend/src/pages/PresalesWorkstation.jsx
  frontend/src/pages/__tests__/PresalesWorkstation.test.jsx
Due: eslint, prettier

fix: 补齐销售评审工单商机上下文
  frontend/src/pages/OpportunityManagement/index.jsx
  frontend/src/pages/__tests__/OpportunityManagement.test.jsx
Due: eslint, prettier

feat: 补齐售前工作台上下文和完成结论回流
  app/api/v1/endpoints/presale/__init__.py
  app/api/v1/endpoints/presale/tickets/operations.py
  app/api/v1/endpoints/presale/workbench.py
  app/schemas/presale.py
  docs/system-module-consolidation-blueprint.md
  frontend/src/pages/PresalesTasks/TaskDetailPanel.jsx
  frontend/src/pages/PresalesTasks/hooks/__tests__/usePresalesTasks.test.js
  frontend/src/pages/PresalesTasks/hooks/usePresalesTasks.js
  frontend/src/pages/__tests__/PresalesTasks.test.jsx
  frontend/src/services/api/__tests__/presales.test.js
  frontend/src/services/api/presales.js
  tests/api/test_presales_contract_api.py
Due: check-file-size, eslint, prettier

test: 对齐售前工作台聚合接口契约
  frontend/src/services/api/__tests__/presaleWorkbench.test.js
Due: eslint, prettier

fix: 售前工作台前端改用聚合接口
  frontend/src/services/api/presaleWorkbench.js
Due: eslint, prettier

feat: 补齐项目工作台交接上下文
  app/api/v1/endpoints/project_workspace.py
  app/api/v1/endpoints/projects/workspace.py
  app/services/project_workspace_service.py
  frontend/src/pages/ProjectWorkspace.jsx
  frontend/src/pages/__tests__/ProjectWorkspace.test.jsx
  frontend/src/services/api/__tests__/projects.test.js
  frontend/src/services/api/projects.js
  tests/api/test_project_workspace_contract_api.py
Due: check-file-size, eslint, prettier

docs: 更新项目交接包实施蓝图
  docs/system-module-consolidation-blueprint.md
Due: none

feat: 补齐售前工作台全链路概览
  app/api/v1/endpoints/presale/workbench.py
  docs/system-module-consolidation-blueprint.md
  frontend/src/pages/PresalesWorkstation.jsx
  frontend/src/pages/__tests__/PresalesWorkstation.test.jsx
  frontend/src/services/api/__tests__/presaleWorkbench.test.js
  frontend/src/services/api/presaleWorkbench.js
  tests/api/test_presales_contract_api.py
Due: check-file-size, eslint, prettier

fix: 兼容售前评估旧库统计
  app/api/v1/endpoints/presale/workbench.py
Due: check-file-size

feat: 补齐项目后续模块上下文
  app/api/v1/endpoints/projects/workspace.py
  app/services/project_workspace_service.py
  frontend/src/pages/ProjectWorkspace.jsx
  frontend/src/pages/__tests__/ProjectWorkspace.test.jsx
  frontend/src/services/api/__tests__/projects.test.js
  frontend/src/services/api/projects.js
  tests/api/test_project_workspace_contract_api.py
Due: check-file-size, eslint, prettier

feat: 打通项目后续模块状态
  app/services/project_workspace_service.py
  frontend/src/pages/ProjectWorkspace.jsx
  frontend/src/pages/__tests__/ProjectWorkspace.test.jsx
  tests/api/test_project_workspace_contract_api.py
Due: check-file-size, eslint, prettier

fix: 兼容项目BOM旧库齐套统计
  app/services/project_workspace_service.py
Due: check-file-size

fix: 补齐售前工单完成评估回流
  app/api/v1/endpoints/presale/tickets/operations.py
  tests/api/test_presales_contract_api.py
Due: check-file-size

fix: 接通售前可行性评估完成闭环
  frontend/src/pages/PresalesWorkstation.jsx
  frontend/src/pages/__tests__/PresalesWorkstation.test.jsx
Due: eslint, prettier
