Repository fulingwei1/non-standard-automation-pms: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, eslint, prettier

check-file-size:
  name: 检查文件大小限制
  entry: python scripts/check_file_size.py
  language: python
  pass_filenames: false

eslint:
  name: ESLint 检查
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

prettier:
  name: Prettier 格式化检查
  entry: bash -c 'cd frontend && npx prettier --check "src/**/*.{js,jsx,ts,tsx,css}"'
  language: system
  pass_filenames: false

refactor: 完成6个大型页面组件的模块化拆分
  frontend/src/pages/CustomerManagement/constants.js
  frontend/src/pages/CustomerManagement/hooks/index.js
  frontend/src/pages/CustomerManagement/hooks/useCustomerData.js
  frontend/src/pages/ProjectClosureManagement/constants.js
  frontend/src/pages/ProjectClosureManagement/hooks/index.js
  frontend/src/pages/ProjectClosureManagement/hooks/useProjectClosureData.js
  frontend/src/pages/PurchaseOrders/constants.js
  frontend/src/pages/PurchaseOrders/hooks/index.js
  frontend/src/pages/PurchaseOrders/hooks/usePurchaseOrderData.js
  frontend/src/pages/SalesWorkstation/constants.js
  frontend/src/pages/SalesWorkstation/hooks/index.js
  frontend/src/pages/SalesWorkstation/hooks/useSalesWorkstationData.js
  frontend/src/pages/SolutionDetail/constants.js
  frontend/src/pages/SolutionDetail/hooks/index.js
  frontend/src/pages/SolutionDetail/hooks/useSolutionData.js
  frontend/src/pages/Timesheet/constants.js
  frontend/src/pages/Timesheet/hooks/index.js
  frontend/src/pages/Timesheet/hooks/useTimesheetData.js
Due: eslint, prettier

refactor: 完成10个大型页面组件的模块化拆分（第二批）
  frontend/src/pages/Acceptance/constants.js
  frontend/src/pages/Acceptance/hooks/index.js
  frontend/src/pages/Acceptance/hooks/useAcceptanceData.js
  frontend/src/pages/CustomerCommunication/constants.js
  frontend/src/pages/CustomerCommunication/hooks/index.js
  frontend/src/pages/CustomerCommunication/hooks/useCustomerCommunication.js
  frontend/src/pages/EngineerWorkstation/constants.js
  frontend/src/pages/EngineerWorkstation/hooks/index.js
  frontend/src/pages/EngineerWorkstation/hooks/useEngineerWorkstation.js
  frontend/src/pages/ManufacturingDirectorDashboard/constants.js
  frontend/src/pages/ManufacturingDirectorDashboard/hooks/index.js
  frontend/src/pages/ManufacturingDirectorDashboard/hooks/useManufacturingDashboard.js
  frontend/src/pages/PaymentManagement/constants.js
  frontend/src/pages/PaymentManagement/hooks/index.js
  frontend/src/pages/PaymentManagement/hooks/usePaymentData.js
  frontend/src/pages/ProjectPhaseManagement/constants.js
  frontend/src/pages/ProjectPhaseManagement/hooks/index.js
  frontend/src/pages/ProjectPhaseManagement/hooks/useProjectPhaseData.js
  frontend/src/pages/ProjectReviewDetail/constants.js
  frontend/src/pages/ProjectReviewDetail/hooks/index.js
  frontend/src/pages/ProjectReviewDetail/hooks/useProjectReviewDetail.js
  frontend/src/pages/PurchaseMaterialCostManagement/constants.js
  frontend/src/pages/PurchaseMaterialCostManagement/hooks/index.js
  frontend/src/pages/PurchaseMaterialCostManagement/hooks/usePurchaseMaterialCost.js
  frontend/src/pages/QualificationManagement/constants.js
  frontend/src/pages/QualificationManagement/hooks/index.js
  frontend/src/pages/QualificationManagement/hooks/useQualificationData.js
  frontend/src/pages/ServiceKnowledgeBase/constants.js
  frontend/src/pages/ServiceKnowledgeBase/hooks/index.js
  frontend/src/pages/ServiceKnowledgeBase/hooks/useKnowledgeBase.js
Due: eslint, prettier

refactor: 完成7个大型页面组件的模块化拆分（第三批）
  frontend/src/pages/AIStaffMatching/constants.js
  frontend/src/pages/AIStaffMatching/hooks/index.js
  frontend/src/pages/AIStaffMatching/hooks/useAIStaffMatching.js
  frontend/src/pages/AlertCenter/constants.js
  frontend/src/pages/AlertCenter/hooks/index.js
  frontend/src/pages/AlertCenter/hooks/useAlertCenter.js
  frontend/src/pages/AssemblyKitBoard/constants.js
  frontend/src/pages/AssemblyKitBoard/hooks/index.js
  frontend/src/pages/AssemblyKitBoard/hooks/useAssemblyKitBoard.js
  frontend/src/pages/BiddingCenter/constants.js
  frontend/src/pages/BiddingCenter/hooks/index.js
  frontend/src/pages/BiddingCenter/hooks/useBiddingCenter.js
  frontend/src/pages/MaterialTracking/constants.js
  frontend/src/pages/MaterialTracking/hooks/index.js
  frontend/src/pages/MaterialTracking/hooks/useMaterialTracking.js
  frontend/src/pages/OpportunityBoard/constants.js
  frontend/src/pages/OpportunityBoard/hooks/index.js
  frontend/src/pages/OpportunityBoard/hooks/useOpportunityBoard.js
  frontend/src/pages/WorkerWorkstation/constants.js
  frontend/src/pages/WorkerWorkstation/hooks/index.js
  frontend/src/pages/WorkerWorkstation/hooks/useWorkerWorkstation.js
  tests/integration/test_projects_api_integration.py
  tests/unit/conftest.py
  tests/unit/test_acceptance_report_service.py
  tests/unit/test_approval_workflow_service.py
  tests/unit/test_number_generator.py
  tests/unit/test_report_data_generation_service.py
  tests/unit/test_report_export_service.py
  tests/unit/test_resource_waste_analysis_service.py
  tests/unit/test_sales_team_service.py
  tests/unit/test_status_transition_service.py
  tests/unit/test_status_transition_service_complete.py
  tests/unit/test_template_report_service.py
  tests/unit/test_timesheet_report_service.py
  tests/unit/test_wechat_alert_service.py
  tests/unit/test_work_log_service.py
Due: check-file-size, eslint, prettier

refactor: 完成9个大型页面组件的模块化拆分（第四批）
  frontend/src/pages/BusinessSupportWorkstation/constants.js
  frontend/src/pages/BusinessSupportWorkstation/hooks/index.js
  frontend/src/pages/BusinessSupportWorkstation/hooks/useBusinessSupportWorkstation.js
  frontend/src/pages/CustomerList/constants.js
  frontend/src/pages/CustomerList/hooks/index.js
  frontend/src/pages/CustomerList/hooks/useCustomerList.js
  frontend/src/pages/FinancialReports/constants.js
  frontend/src/pages/FinancialReports/hooks/index.js
  frontend/src/pages/FinancialReports/hooks/useFinancialReports.js
  frontend/src/pages/OpportunityManagement/constants.js
  frontend/src/pages/OpportunityManagement/hooks/index.js
  frontend/src/pages/OpportunityManagement/hooks/useOpportunityManagement.js
  frontend/src/pages/PresalesTasks/constants.js
  frontend/src/pages/PresalesTasks/hooks/index.js
  frontend/src/pages/PresalesTasks/hooks/usePresalesTasks.js
  frontend/src/pages/ProcurementEngineerWorkstation/constants.js
  frontend/src/pages/ProcurementEngineerWorkstation/hooks/index.js
  frontend/src/pages/ProcurementEngineerWorkstation/hooks/useProcurementWorkstation.js
  frontend/src/pages/ProjectRoleTypeManagement/constants.js
  frontend/src/pages/ProjectRoleTypeManagement/hooks/index.js
  frontend/src/pages/ProjectRoleTypeManagement/hooks/useProjectRoleTypes.js
  frontend/src/pages/ServiceRecord/constants.js
  frontend/src/pages/ServiceRecord/hooks/index.js
  frontend/src/pages/ServiceRecord/hooks/useServiceRecord.js
  frontend/src/pages/WorkLog/constants.js
  frontend/src/pages/WorkLog/hooks/index.js
  frontend/src/pages/WorkLog/hooks/useWorkLog.js
  tests/unit/test_hr_profile_import_service.py
  tests/unit/test_pipeline_health_service.py
  tests/unit/test_win_rate_prediction_service.py
Due: check-file-size, eslint, prettier

refactor: 完成7个大型页面组件的模块化拆分（第五批）
  frontend/src/pages/BomAssemblyAttrs/constants.js
  frontend/src/pages/BomAssemblyAttrs/hooks/index.js
  frontend/src/pages/BomAssemblyAttrs/hooks/useBomAssemblyAttrs.js
  frontend/src/pages/CostTemplateManagement/constants.js
  frontend/src/pages/CostTemplateManagement/hooks/index.js
  frontend/src/pages/CostTemplateManagement/hooks/useCostTemplateManagement.js
  frontend/src/pages/InventoryAnalysis/constants.js
  frontend/src/pages/InventoryAnalysis/hooks/index.js
  frontend/src/pages/InventoryAnalysis/hooks/useInventoryAnalysis.js
  frontend/src/pages/PurchaseOrderDetail/constants.js
  frontend/src/pages/PurchaseOrderDetail/hooks/index.js
  frontend/src/pages/PurchaseOrderDetail/hooks/usePurchaseOrderDetail.js
  frontend/src/pages/RdProjectDetail/constants.js
  frontend/src/pages/RdProjectDetail/hooks/index.js
  frontend/src/pages/RdProjectDetail/hooks/useRdProjectDetail.js
  frontend/src/pages/RequirementSurvey/constants.js
  frontend/src/pages/RequirementSurvey/hooks/index.js
  frontend/src/pages/RequirementSurvey/hooks/useRequirementSurvey.js
  frontend/src/pages/SupplierManagementData/constants.js
  frontend/src/pages/SupplierManagementData/hooks/index.js
  frontend/src/pages/SupplierManagementData/hooks/useSupplierManagement.js
  tests/unit/test_code_config.py
  tests/unit/test_hr_profile_import_service.py
  tests/unit/test_low_coverage_services_1.py
  tests/unit/test_low_coverage_services_2.py
  tests/unit/test_status_transition_service_complete.py
  tests/unit/test_template_report_service.py
  tests/unit/test_timesheet_report_service.py
  tests/unit/test_wechat_alert_service.py
  tests/unit/test_win_rate_prediction_service.py
  tests/unit/test_work_log_service.py
Due: check-file-size, eslint, prettier

refactor: 完成10个大型页面组件的模块化拆分（第六批）
  .github/workflows/tests.yml
  frontend/src/pages/OrganizationManagement/constants.js
  frontend/src/pages/OrganizationManagement/hooks/index.js
  frontend/src/pages/OrganizationManagement/hooks/useOrganizationManagement.js
  frontend/src/pages/PositionManagement/constants.js
  frontend/src/pages/PositionManagement/hooks/index.js
  frontend/src/pages/PositionManagement/hooks/usePositionManagement.js
  frontend/src/pages/PresalesManagerWorkstation/constants.js
  frontend/src/pages/PresalesManagerWorkstation/hooks/index.js
  frontend/src/pages/PresalesManagerWorkstation/hooks/usePresalesManagerWorkstation.js
  frontend/src/pages/PurchaseRequestNew/constants.js
  frontend/src/pages/PurchaseRequestNew/hooks/index.js
  frontend/src/pages/PurchaseRequestNew/hooks/usePurchaseRequestNew.js
  frontend/src/pages/QuotationList/constants.js
  frontend/src/pages/QuotationList/hooks/index.js
  frontend/src/pages/QuotationList/hooks/useQuotationList.js
  frontend/src/pages/SalesTemplateCenter/constants.js
  frontend/src/pages/SalesTemplateCenter/hooks/index.js
  frontend/src/pages/SalesTemplateCenter/hooks/useSalesTemplateCenter.js
  frontend/src/pages/Settings/constants.js
  frontend/src/pages/Settings/hooks/index.js
  frontend/src/pages/Settings/hooks/useSettings.js
  frontend/src/pages/SupplierManagement/constants.js
  frontend/src/pages/SupplierManagement/hooks/index.js
  frontend/src/pages/SupplierManagement/hooks/useSupplierManagementPage.js
  frontend/src/pages/TechnicalAssessment/constants.js
  frontend/src/pages/TechnicalAssessment/hooks/index.js
  frontend/src/pages/TechnicalAssessment/hooks/useTechnicalAssessment.js
  frontend/src/pages/WorkOrderManagement/constants.js
  frontend/src/pages/WorkOrderManagement/hooks/index.js
  frontend/src/pages/WorkOrderManagement/hooks/useWorkOrderManagement.js
  pytest.ini
  tests/conftest.py
  tests/integration/test_materials_api.py
  tests/integration/test_purchase_api.py
  tests/unit/test_approval_workflow_service.py
Due: check-file-size, eslint, prettier

refactor: 完成10个大型页面组件的模块化拆分（第七批）
  coverage.xml
  frontend/src/pages/AcceptanceExecution/constants.js
  frontend/src/pages/AcceptanceExecution/hooks/index.js
  frontend/src/pages/AcceptanceExecution/hooks/useAcceptanceExecution.js
  frontend/src/pages/ApprovalCenter/constants.js
  frontend/src/pages/ApprovalCenter/hooks/index.js
  frontend/src/pages/ApprovalCenter/hooks/useApprovalCenter.js
  frontend/src/pages/BOMManagement/constants.js
  frontend/src/pages/BOMManagement/hooks/index.js
  frontend/src/pages/BOMManagement/hooks/useBOMManagement.js
  frontend/src/pages/ExceptionManagement/constants.js
  frontend/src/pages/ExceptionManagement/hooks/index.js
  frontend/src/pages/ExceptionManagement/hooks/useExceptionManagement.js
  frontend/src/pages/IssueStatisticsSnapshot/constants.js
  frontend/src/pages/IssueStatisticsSnapshot/hooks/index.js
  frontend/src/pages/IssueStatisticsSnapshot/hooks/useIssueStatistics.js
  frontend/src/pages/ProductionExceptionList/constants.js
  frontend/src/pages/ProductionExceptionList/hooks/index.js
  frontend/src/pages/ProductionExceptionList/hooks/useProductionExceptionList.js
  frontend/src/pages/ReceivableManagement/constants.js
  frontend/src/pages/ReceivableManagement/hooks/index.js
  frontend/src/pages/ReceivableManagement/hooks/useReceivableManagement.js
  frontend/src/pages/SalesProjectTrack/constants.js
  frontend/src/pages/SalesProjectTrack/hooks/index.js
  frontend/src/pages/SalesProjectTrack/hooks/useSalesProjectTrack.js
  frontend/src/pages/SalesTarget/constants.js
  frontend/src/pages/SalesTarget/hooks/index.js
  frontend/src/pages/SalesTarget/hooks/useSalesTarget.js
  frontend/src/pages/UserManagement/constants.js
  frontend/src/pages/UserManagement/hooks/index.js
  frontend/src/pages/UserManagement/hooks/useUserManagement.js
Due: eslint, prettier

refactor: 深度重构ProjectTaskList并清理项目结构
  app/services/purchase/purchase_service.py
  coverage.xml
  frontend/src/pages/ProjectTaskList.jsx
  frontend/src/pages/ProjectTaskList/constants.js
  frontend/src/pages/ProjectTaskList/hooks/useProjectTaskList.js
  frontend/src/pages/ProjectTaskList/index.jsx
  scripts/check_consistency.py
  tests/integration/test_milestones_api.py
  tests/integration/test_notifications_api.py
  tests/integration/test_organization_api.py
  tests/unit/test_permissions.py
  tests/unit/test_purchase_service.py
  tests/unit/test_scheduled_tasks.py
Due: check-file-size, eslint, prettier

test: 为ProjectTaskList和DepartmentManagement添加单元测试
  app/services/data_integrity_service.py
  app/services/hourly_rate_service.py
  app/services/purchase/purchase_service.py
  app/services/work_log_ai_service.py
  app/utils/holiday_utils.py
  coverage.xml
  frontend/src/pages/DepartmentManagement/hooks/__tests__/useDepartmentManagement.test.js
  frontend/src/pages/ProjectTaskList/hooks/__tests__/useProjectTaskList.test.js
  tests/unit/test_batch_services_1.py
  tests/unit/test_batch_services_2.py
  tests/unit/test_batch_utils_1.py
  tests/unit/test_bom_purchase_service.py
  tests/unit/test_models_extended.py
  tests/unit/test_scheduled_tasks.py
  tests/unit/test_timesheet_report_service.py
Due: check-file-size, eslint, prettier

refactor: 模块化重构LeaveManagement并批量生成Hook测试
  CODE_QUALITY_REPORT.md
  app/api/v1/endpoints/kit_rate/dashboard.py
  coverage.xml
  frontend/src/pages/AIStaffMatching/hooks/useAIStaffMatching.js
  frontend/src/pages/LeaveManagement.jsx
  frontend/src/pages/LeaveManagement/components/LeaveApplicationList.jsx
  frontend/src/pages/LeaveManagement/components/LeaveBalanceTable.jsx
  frontend/src/pages/LeaveManagement/components/LeaveOverview.jsx
  frontend/src/pages/LeaveManagement/components/LeaveStatistics.jsx
  frontend/src/pages/LeaveManagement/components/LeaveStatsCards.jsx
  frontend/src/pages/LeaveManagement/components/index.js
  frontend/src/pages/LeaveManagement/constants.js
  frontend/src/pages/LeaveManagement/hooks/__tests__/useLeaveManagement.test.js
  frontend/src/pages/LeaveManagement/hooks/index.js
  frontend/src/pages/LeaveManagement/hooks/useLeaveManagement.js
  frontend/src/pages/LeaveManagement/index.jsx
  requirements.txt
  tests/api/test_tickets_comprehensive.py
  tests/unit/test_lead_priority_scoring_service.py
  tests/unit/test_sales_team_service.py
Due: check-file-size, eslint, prettier

fix: 启用 ai_clarifications 路由模块
  app/api/v1/endpoints/sales/requirements.py
Due: check-file-size

refactor: 模块化重构 InitiationManagement 和 DataImportExport
  frontend/src/pages/DataImportExport.jsx
  frontend/src/pages/DataImportExport/components/DataExportPanel.jsx
  frontend/src/pages/DataImportExport/components/DataImportPanel.jsx
  frontend/src/pages/DataImportExport/components/ImportPreviewResult.jsx
  frontend/src/pages/DataImportExport/components/index.js
  frontend/src/pages/DataImportExport/hooks/__tests__/useDataImportExport.test.js
  frontend/src/pages/DataImportExport/hooks/index.js
  frontend/src/pages/DataImportExport/hooks/useDataImportExport.js
  frontend/src/pages/DataImportExport/index.jsx
  frontend/src/pages/InitiationManagement.jsx
  frontend/src/pages/InitiationManagement/components/CreateInitiationDialog.jsx
  frontend/src/pages/InitiationManagement/components/InitiationFilter.jsx
  frontend/src/pages/InitiationManagement/components/InitiationList.jsx
  frontend/src/pages/InitiationManagement/components/index.js
  frontend/src/pages/InitiationManagement/constants.js
  frontend/src/pages/InitiationManagement/hooks/__tests__/useInitiationManagement.test.js
  frontend/src/pages/InitiationManagement/hooks/index.js
  frontend/src/pages/InitiationManagement/hooks/useInitiationManagement.js
  frontend/src/pages/InitiationManagement/index.jsx
  frontend/src/services/apiClient.js
  frontend/src/services/customerService.js
  tests/unit/test_ecn_knowledge_service.py
  tests/unit/test_win_rate_prediction_service.py
Due: check-file-size, eslint, prettier

feat: add file upload validation and tests
  app/api/v1/endpoints/engineers/proofs.py
  app/core/config.py
  tests/test_engineers_template.py
Due: check-file-size

feat: 实现 /statistics 端点的项目统计功能
  app/api/v1/endpoints/projects/extended.py
Due: check-file-size

feat: 实现缺料管理服务的核心功能
  app/services/shortage/shortage_management_service.py
Due: check-file-size

feat: 收款逾期时自动生成争议记录
  app/models/enums/sales.py
  app/services/sales_reminder/payment_reminders.py
Due: check-file-size

feat: 实现部门月报 DEPT_MONTHLY 报表类型
  app/services/report_data_generation_service.py
Due: check-file-size

docs: 添加项目阶段模板化设计方案
  docs/plans/2026-01-20-stage-template-design.md
Due: none

docs: 添加阶段模板化实施计划
  docs/plans/2026-01-20-stage-template-implementation.md
Due: none

feat: 添加项目阶段实例 API 端点
  app/api/v1/api.py
  app/api/v1/endpoints/project_stages.py
Due: check-file-size

Refactor: Modularize Timesheet page with custom hooks and components. Verified with unit tests.
  app/models/enums/__init__.py
  app/models/enums/sales.py
  app/models/enums/workflow.py
  coverage.xml
  frontend/src/pages/Timesheet.jsx
  frontend/src/pages/Timesheet/components/AddEntryDialog.jsx
  frontend/src/pages/Timesheet/components/TimesheetTable.jsx
  frontend/src/pages/Timesheet/components/WeekNavigation.jsx
  frontend/src/pages/Timesheet/components/WeekSummaryCards.jsx
  frontend/src/pages/Timesheet/components/index.js
  frontend/src/pages/Timesheet/constants.js
  frontend/src/pages/Timesheet/hooks/__tests__/useTimesheet.test.js
  frontend/src/pages/Timesheet/hooks/index.js
  frontend/src/pages/Timesheet/hooks/useTimesheet.js
  frontend/src/pages/Timesheet/index.jsx
  frontend/src/pages/Timesheet/utils/dateUtils.js
  services_list.txt
  tests/run_independent_tests.py
  tests/unit/test_acceptance_issues_complete.py
  tests/unit/test_acceptance_order_crud_complete.py
  tests/unit/test_acceptance_utils_complete.py
  tests/unit/test_budgets_complete.py
  tests/unit/test_costs_analysis_complete.py
  tests/unit/test_logger.py
  tests/unit/test_rate_limit.py
  tests/unit/test_win_rate_prediction_service.py
  unit_tests_list.txt
Due: check-file-size, eslint, prettier

Refactor: Modularize PurchaseOrders page with custom hooks and components. Verified with unit tests.
  analyze_coverage.py
  frontend/src/pages/PurchaseOrders.jsx
  frontend/src/pages/PurchaseOrders/components/OrderCard.jsx
  frontend/src/pages/PurchaseOrders/components/OrdersControls.jsx
  frontend/src/pages/PurchaseOrders/components/index.js
  frontend/src/pages/PurchaseOrders/hooks/__tests__/usePurchaseOrders.test.js
  frontend/src/pages/PurchaseOrders/hooks/index.js
  frontend/src/pages/PurchaseOrders/hooks/usePurchaseOrders.js
  frontend/src/pages/PurchaseOrders/index.jsx
  reports/大文件检查报告_20260120.md
Due: check-file-size, eslint, prettier

Refactor: Modularize SalesWorkstation page with custom hooks and components. Verified with unit tests.
  app/api/v1/endpoints/sales/team.py
  app/api/v1/endpoints/sales/team/__init__.py
  app/api/v1/endpoints/sales/team/crud.py
  app/api/v1/endpoints/sales/team/members.py
  app/api/v1/endpoints/sales/team/pk.py
  app/api/v1/endpoints/sales/team/ranking.py
  app/api/v1/endpoints/sales/team/statistics.py
  app/api/v1/endpoints/sales/team/teams_ranking.py
  app/api/v1/endpoints/sales/team/utils.py
  app/services/approval_engine/engine.py
  app/services/approval_engine/engine/__init__.py
  app/services/approval_engine/engine/actions.py
  app/services/approval_engine/engine/approve.py
  app/services/approval_engine/engine/core.py
  app/services/approval_engine/engine/query.py
  app/services/approval_engine/engine/submit.py
  frontend/src/pages/SalesWorkstation.jsx
  frontend/src/pages/SalesWorkstation/components/StatsCards.jsx
  frontend/src/pages/SalesWorkstation/components/index.js
  frontend/src/pages/SalesWorkstation/constants.js
  frontend/src/pages/SalesWorkstation/hooks/__tests__/useSalesWorkstation.test.js
  frontend/src/pages/SalesWorkstation/hooks/index.js
  frontend/src/pages/SalesWorkstation/hooks/useSalesWorkstation.js
  frontend/src/pages/SalesWorkstation/index.jsx
  frontend/src/pages/SalesWorkstation/utils/transforms.js
  reports/大文件拆分完成报告_20260120.md
Due: check-file-size, eslint, prettier

Refactor: Modularize ManufacturingDirectorDashboard page with custom hooks and components. Verified with unit tests.
  app/core/csrf.py
  app/core/logging_config.py
  app/main.py
  coverage.xml
  frontend/src/pages/ManufacturingDirectorDashboard/components/StatCard.jsx
  frontend/src/pages/ManufacturingDirectorDashboard/components/index.js
  frontend/src/pages/ManufacturingDirectorDashboard/hooks/__tests__/useManufacturingDirectorDashboard.test.js
  frontend/src/pages/ManufacturingDirectorDashboard/hooks/index.js
  frontend/src/pages/ManufacturingDirectorDashboard/hooks/useManufacturingDirectorDashboard.js
  frontend/src/pages/ManufacturingDirectorDashboard/index.jsx
  reports/coverage_progress_history.json
  reports/coverage_progress_report.md
  reports/测试实现批量进展_第三轮.md
  reports/测试实现批量进展_第五轮.md
  reports/测试实现批量进展_第四轮.md
  tests/unit/test_acceptance_completion_complete.py
  tests/unit/test_comparison_calculation_service.py
  tests/unit/test_cost_analysis_service.py
  tests/unit/test_cost_match_suggestion_service.py
  tests/unit/test_cost_review_service.py
  tests/unit/test_ecn_integration_complete.py
  tests/unit/test_health_calculator_advanced.py
  tests/unit/test_kit_rate_statistics_service.py
  tests/unit/test_notification_queue_service_standalone.py
  tests/unit/test_number_generator.py
  tests/unit/test_number_generator_utils.py
  tests/unit/test_overtime_calculation_service.py
  tests/unit/test_project_permissions_extended.py
  tests/unit/test_stage_advance_complete.py
Due: check-file-size, eslint, prettier

docs: Add BEM strategy management module design document
  docs/plans/2026-01-20-bem-strategy-management-design.md
Due: none

feat: Add node responsibility assignment and deliverables to stage templates
  app/models/stage_instance.py
  app/models/stage_template.py
  app/schemas/stage_template.py
  app/services/preset_stage_templates/__init__.py
  app/services/preset_stage_templates/templates/full_lifecycle.py
  app/services/preset_stage_templates/templates/quick.py
  app/services/preset_stage_templates/templates/repeat.py
  app/services/preset_stage_templates/templates/standard.py
  app/services/stage_instance/helpers.py
  app/services/stage_instance/initialization.py
  app/services/stage_template/import_export.py
  app/services/stage_template/node_management.py
  migrations/20260120_node_responsibility_sqlite.sql
Due: check-file-size

docs: Add pitfall database design document
  docs/plans/2026-01-21-pitfall-database-design.md
Due: none

docs: Add pitfall database implementation plan (P0)
  docs/plans/2026-01-21-pitfall-database-implementation.md
Due: none

feat(pitfall): add pitfall enum definitions
  app/models/enums/__init__.py
  app/models/enums/pitfall.py
Due: check-file-size

refactor: 拆分大文件 - 阶段模板Schema、生产Schema、工时提醒服务、角色CRUD
  app/api/v1/endpoints/roles/crud/__init__.py
  app/api/v1/endpoints/roles/crud/inheritance.py
  app/api/v1/endpoints/roles/crud/permissions.py
  app/api/v1/endpoints/roles/crud/role_crud.py
  app/api/v1/endpoints/roles/crud/role_detail.py
  app/api/v1/endpoints/roles/crud/utils.py
  app/schemas/production/__init__.py
  app/schemas/production/material_requisition.py
  app/schemas/production/production_exception.py
  app/schemas/production/production_plan.py
  app/schemas/production/production_reports.py
  app/schemas/production/work_order.py
  app/schemas/production/work_report.py
  app/schemas/production/worker.py
  app/schemas/production/workshop.py
  app/schemas/production/workstation.py
  app/schemas/stage_template/__init__.py
  app/schemas/stage_template/definitions.py
  app/schemas/stage_template/import_export.py
  app/schemas/stage_template/initialization.py
  app/schemas/stage_template/instances.py
  app/schemas/stage_template/node_tasks.py
  app/schemas/stage_template/progress.py
  app/schemas/stage_template/status.py
  app/schemas/stage_template/views.py
  app/services/timesheet_reminder/__init__.py
  app/services/timesheet_reminder/anomaly_reminders.py
  app/services/timesheet_reminder/approval_reminders.py
  app/services/timesheet_reminder/base.py
  app/services/timesheet_reminder/missing_reminders.py
  app/services/timesheet_reminder/scanner.py
  app/services/timesheet_reminder/sync_reminders.py
  app/utils/scheduled_tasks/timesheet_tasks.py
  tests/unit/test_timesheet_reminder_service.py
Due: check-file-size

Path conditions:
  check-file-size: any of: \.py$
  eslint: any of: \.(js|jsx|ts|tsx)$
  prettier: any of: \.(js|jsx|ts|tsx|css)$
