Repository fulingwei1/non-standard-automation-pms: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, eslint, prettier

check-file-size:
  name: 检查文件大小限制
  entry: python scripts/check_file_size.py
  language: python
  pass_filenames: false

eslint:
  name: ESLint 检查
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

prettier:
  name: Prettier 格式化检查
  entry: bash -c 'cd frontend && npx prettier --check "src/**/*.{js,jsx,ts,tsx,css}"'
  language: system
  pass_filenames: false

feat: add material procurement optimization endpoints (from subagent)
  app/api/v1/endpoints/material_procurement_optimization.py
Due: check-file-size

feat(project-material): add project-material fusion with kitting rate sync and shortage risk auto-create
  app/api/v1/api.py
  app/api/v1/endpoints/material_project_fusion.py
  app/models/material.py
  app/models/project/core.py
  migrations/versions/20260328_project_material_fusion.py
Due: check-file-size

feat(material-visible): add project material progress visibility for team members with subscription
  app/api/v1/endpoints/projects/__init__.py
  app/api/v1/endpoints/projects/material_progress.py
  app/models/__init__.py
  app/models/material_progress_subscription.py
  app/schemas/material_progress.py
  app/services/material_progress_service.py
  migrations/20260328_material_progress_subscription_sqlite.sql
Due: check-file-size

feat(ecn-material): add ECN material impact tracking with execution progress, stakeholder visibility, and proactive notifications
  app/api/v1/endpoints/ecn/__init__.py
  app/api/v1/endpoints/ecn/material_impact.py
  app/models/ecn/__init__.py
  app/models/ecn/material_impact.py
  app/schemas/ecn_material_impact.py
  app/services/ecn_material_impact_service.py
  migrations/versions/20260328_ecn_material_impact_tracking.py
Due: check-file-size

feat: add material procurement optimization with tests
  app/schemas/material_procurement_optimization.py
  app/services/material_procurement_optimization_service.py
  tests/test_material_procurement_optimization.py
Due: check-file-size

feat(material-tail): add kitting rate scheduler, delay forecast, and priority auto-adjust
  app/api/v1/api.py
  app/api/v1/endpoints/material_sync.py
  app/schemas/kitting_optimization.py
  app/services/kitting_optimization_service.py
  app/utils/scheduled_tasks/__init__.py
  app/utils/scheduled_tasks/stub_tasks.py
  app/utils/scheduler_config/shortage.py
Due: check-file-size

feat(ecn-cost): add ECN cost impact tracking with analysis, execution tracking, cost records, and alerts
  app/api/v1/endpoints/ecn/__init__.py
  app/api/v1/endpoints/ecn/cost_impact.py
  app/api/v1/endpoints/projects/costs/__init__.py
  app/api/v1/endpoints/projects/costs/ecn_cost_summary.py
  app/models/ecn/__init__.py
  app/models/ecn/core.py
  app/models/ecn/cost_record.py
  app/schemas/ecn_cost_impact.py
  app/services/ecn_cost_impact_service.py
Due: check-file-size

docs: add user guides for ECN material cost tracking and material progress
  docs/user-guides/README.md
  docs/user-guides/ecn-material-cost-guide.md
  docs/user-guides/material-progress-guide.md
Due: none

feat(frontend): add ECN cost impact, material impact, and material progress view pages
  frontend/src/pages/ECNCostImpact.jsx
  frontend/src/pages/ECNMaterialImpact.jsx
  frontend/src/pages/MaterialProgressView.jsx
  frontend/src/routes/modules/projectRoutes.jsx
Due: eslint, prettier

docs: add frontend completion report
  docs/frontend-completion-report.md
Due: none

feat(routes): add routes for ECN cost impact, material impact, and material progress
  frontend/src/routes/modules/projectRoutes.jsx
Due: eslint, prettier

refactor: merge duplicate goods-received endpoints into single unified endpoint
  app/api/v1/endpoints/material_project_fusion.py
  app/api/v1/endpoints/material_tracking.py
Due: check-file-size

fix: add missing Project and ProjectStatusLog imports
  app/api/v1/endpoints/material_tracking.py
Due: check-file-size

refactor: reduce complexity of batch_process_overdue_alerts and create_ecn_task
  app/api/v1/endpoints/ecn/alerts.py
  app/api/v1/endpoints/ecn/tasks.py
Due: check-file-size

fix: add missing Optional import in tasks.py
  app/api/v1/endpoints/ecn/tasks.py
Due: check-file-size

feat: add project delivery schedule, after-sales module, and project relation views
  app/api/v1/endpoints/after_sales.py
  app/api/v1/endpoints/project_delivery/__init__.py
  app/api/v1/endpoints/project_delivery/changes.py
  app/api/v1/endpoints/project_delivery/designs.py
  app/api/v1/endpoints/project_delivery/gantt.py
  app/api/v1/endpoints/project_delivery/purchases.py
  app/api/v1/endpoints/project_delivery/schedules.py
  app/api/v1/endpoints/project_delivery/tasks.py
  app/api/v1/endpoints/projects/overview.py
  app/models/__init__.py
  app/models/after_sales.py
  app/models/project_delivery.py
  app/schemas/project_delivery.py
  app/services/project_data_flow_service.py
  app/services/project_delivery_service.py
  app/services/project_relation_service.py
  app/services/views/__init__.py
  frontend/src/pages/ProjectDeliverySchedule/ScheduleCreate.jsx
  frontend/src/pages/ProjectDeliverySchedule/ScheduleGantt.jsx
  frontend/src/pages/ProjectDeliverySchedule/ScheduleList.jsx
  frontend/src/pages/ProjectDeliverySchedule/TaskFill.jsx
  frontend/src/routes/routeConfig.jsx
  frontend/src/services/api/projectDelivery.js
  migrations/versions/20260328_project_delivery_schedule.py
Due: check-file-size, eslint, prettier

feat: add project relation views
  app/services/views/__init__.py
  app/services/views/project_after_sales_view.py
  app/services/views/project_delivery_view.py
  app/services/views/project_procurement_view.py
  app/services/views/project_production_view.py
Due: check-file-size

feat: implement full project data flow service
  app/services/project_data_flow_service.py
Due: check-file-size

feat: add after-sales center and project overview dashboard frontend pages
  frontend/src/pages/AfterSales/AfterSalesCenter.jsx
  frontend/src/pages/ProjectOverviewDashboard.jsx
Due: eslint, prettier

feat: add project delivery export service (Excel/Word)
  frontend/src/routes/routeConfig.jsx
Due: eslint, prettier

feat: enhance after-sales module with warranty, spare parts, and field service management
  app/api/v1/endpoints/after_sales.py
  app/models/after_sales.py
  app/utils/exports/__init__.py
  app/utils/exports/project_delivery_export.py
Due: check-file-size

feat: complete after-sales module with SLA, satisfaction, knowledge base, and ticket escalation
  app/api/v1/endpoints/after_sales.py
  app/models/after_sales.py
Due: check-file-size

feat: enhance project after-sales view with full data
  app/services/project_relation_service.py
  app/services/views/project_after_sales_view.py
Due: check-file-size

feat: update project overview dashboard with full after-sales data
  frontend/src/pages/ProjectOverviewDashboard.jsx
Due: eslint, prettier

feat: add full pipeline conversion and per-person conversion rates
  app/api/v1/endpoints/sales/__init__.py
  app/api/v1/endpoints/sales/conversion_analysis.py
Due: check-file-size

feat: add conversion trend, bottleneck, and lost analysis
  app/api/v1/endpoints/sales/conversion_analysis.py
Due: check-file-size

feat: add prepare-commit-msg normalizer and harden commit validation
  .commitlintrc.json
  hooks/commit-msg
  hooks/prepare-commit-msg
  scripts/install-hooks.sh
Due: none

refactor: remove 19 dead code files and migrate re-export stubs to canonical imports
  app/api/v1/endpoints/bonus/allocation_sheets/operations.py
  app/api/v1/endpoints/bonus/allocation_sheets/upload.py
  app/api/v1/endpoints/dashboard/cost_dashboard.py
  app/api/v1/endpoints/engineer_performance/solution.py
  app/api/v1/endpoints/engineers/delays.py
  app/api/v1/endpoints/engineers/progress.py
  app/api/v1/endpoints/project_workspace.py
  app/api/v1/endpoints/projects/costs/forecast.py
  app/api/v1/endpoints/sales/cost_overrun.py
  app/api/v1/endpoints/sales/cross_analysis.py
  app/models/__init__.py.bak6
  app/models/employee_encrypted_example.py.bak4
  app/models/presale_ai_solution.py.bak2
  app/models/report.py.bak3
  app/models/report.py.bak7
  app/scheduler_progress.py
  app/services/acceptance_bonus_service.py
  app/services/bonus/acceptance.py
  app/services/bonus_allocation_parser.py
  app/services/bonus_distribution_service.py
  app/services/cost_alert_service.py
  app/services/cost_collection_service.py
  app/services/cost_dashboard_service.py
  app/services/cost_forecast_service.py
  app/services/cost_overrun_analysis_service.py
  app/services/cost_prediction_service.py
  app/services/labor_cost/utils.py
  app/services/labor_cost_expense_service.py
  app/services/presale_ai_template_service.py.bak5
  app/services/progress_aggregation_service.py
  app/services/progress_auto_service.py
  app/services/project_bonus_service.py
  app/services/project_contribution_service.py
  app/services/project_workspace_service.py
  app/services/solution_engineer_bonus_service.py
Due: check-file-size

refactor: Phase 3 - consolidate 31 scattered endpoint files into domain packages
  app/api/v1/api.py
  app/api/v1/api_lazy.py
  app/api/v1/endpoints/cost_endpoints/__init__.py
  app/api/v1/endpoints/cost_endpoints/collection.py
  app/api/v1/endpoints/cost_endpoints/labor_cost_detail.py
  app/api/v1/endpoints/cost_endpoints/quote_actual_compare.py
  app/api/v1/endpoints/cost_endpoints/variance_analysis.py
  app/api/v1/endpoints/dashboard/layout.py
  app/api/v1/endpoints/dashboard/stats.py
  app/api/v1/endpoints/dashboard/unified.py
  app/api/v1/endpoints/material/__init__.py
  app/api/v1/endpoints/material/procurement_optimization.py
  app/api/v1/endpoints/material/project_fusion.py
  app/api/v1/endpoints/material/sync.py
  app/api/v1/endpoints/material/tracking.py
  app/api/v1/endpoints/performance/analysis.py
  app/api/v1/endpoints/performance/contract.py
  app/api/v1/endpoints/performance/pm_involvement.py
  app/api/v1/endpoints/presale/ai_requirement.py
  app/api/v1/endpoints/presale/mobile.py
  app/api/v1/endpoints/procurement/analysis.py
  app/api/v1/endpoints/procurement/kitting_optimization.py
  app/api/v1/endpoints/procurement/supplier_price_trend.py
  app/api/v1/endpoints/projects/change_impact.py
  app/api/v1/endpoints/projects/contributions.py
  app/api/v1/endpoints/projects/workspace.py
  app/api/v1/endpoints/sales/__init__.py
  app/api/v1/endpoints/sales/automation.py
  app/api/v1/endpoints/sales/collaboration.py
  app/api/v1/endpoints/sales/intelligent_quote.py
  app/api/v1/endpoints/sales/mobile.py
  app/api/v1/endpoints/sales/organization.py
  app/api/v1/endpoints/sales/performance.py
  app/api/v1/endpoints/sales/regions.py
  app/api/v1/endpoints/sales/targets_standalone.py
  app/api/v1/endpoints/sales/teams_standalone.py
Due: check-file-size

refactor: Phase 4 - clean up dead/shadowed model files and stubs
  app/api/v1/endpoints/acceptance.py
  app/api/v1/endpoints/shortage/handling/reports.py
  app/models/cost_prediction.py
  app/models/enums.py
  app/models/machine.py
  app/models/pipeline_analysis.py
  app/models/project.py
  app/models/project_cost.py
  app/models/sales.py
  app/models/timesheet_analytics.py
  app/services/project_review_ai/report_generator.py
  tests/services/project_review_ai/test_report_generator.py
  tests/unit/test_acceptance_approval_service_rewrite.py
Due: check-file-size

refactor: frontend - merge duplicates, extract Login.jsx sub-components
  frontend/src/App.jsx
  frontend/src/components/common/ErrorBoundary.jsx
  frontend/src/components/common/LoadingPage.jsx
  frontend/src/components/common/LoadingSpinner.jsx
  frontend/src/components/login/FeatureShowcase.jsx
  frontend/src/components/login/LoginBackground.jsx
  frontend/src/components/login/QuickLoginGrid.jsx
  frontend/src/components/ui/LoadingSpinner.jsx
  frontend/src/components/ui/index.js
  frontend/src/pages/Login.jsx
  frontend/src/utils/roleMapping.js
Due: eslint, prettier

refactor: extract SalesFunnel.jsx (1123 lines) into modular directory structure
  frontend/src/pages/SalesFunnel.jsx
  frontend/src/pages/SalesFunnel/Bottlenecks.jsx
  frontend/src/pages/SalesFunnel/ConversionRates.jsx
  frontend/src/pages/SalesFunnel/OpportunityWinRate.jsx
  frontend/src/pages/SalesFunnel/Overview.jsx
  frontend/src/pages/SalesFunnel/PredictionAccuracy.jsx
  frontend/src/pages/SalesFunnel/constants.js
  frontend/src/pages/SalesFunnel/index.jsx
Due: eslint, prettier

refactor: extract Acceptance.jsx (1004 lines) into modular directory structure
  frontend/src/pages/Acceptance/AcceptanceCard.jsx
  frontend/src/pages/Acceptance/AcceptanceDetailDialog.jsx
  frontend/src/pages/Acceptance/constants.js
  frontend/src/pages/Acceptance/index.jsx
Due: eslint, prettier

refactor: extract ProjectPhaseManagement.jsx (1002 lines) into modular directory
  frontend/src/pages/ProjectPhaseManagement/AdvanceDialog.jsx
  frontend/src/pages/ProjectPhaseManagement/EntryCheckDialog.jsx
  frontend/src/pages/ProjectPhaseManagement/ExitCheckDialog.jsx
  frontend/src/pages/ProjectPhaseManagement/PhaseDetailDialog.jsx
  frontend/src/pages/ProjectPhaseManagement/ReviewDialog.jsx
  frontend/src/pages/ProjectPhaseManagement/constants.js
  frontend/src/pages/ProjectPhaseManagement/index.jsx
Due: eslint, prettier

refactor: extract UserManagement.jsx (1346 lines) into modular directory
  frontend/src/pages/UserManagement.jsx
  frontend/src/pages/UserManagement/BulkPermissionDialog.jsx
  frontend/src/pages/UserManagement/CreateUserDialog.jsx
  frontend/src/pages/UserManagement/EditUserDialog.jsx
  frontend/src/pages/UserManagement/PermissionDialog.jsx
  frontend/src/pages/UserManagement/UserTable.jsx
  frontend/src/pages/UserManagement/constants.js
  frontend/src/pages/UserManagement/index.jsx
Due: eslint, prettier

refactor: extract PresaleProposals.jsx (1085 lines) into modular directory
  frontend/src/pages/PresaleProposals.jsx
  frontend/src/pages/PresaleProposals/SolutionGenerateTab.jsx
  frontend/src/pages/PresaleProposals/SolutionListTab.jsx
  frontend/src/pages/PresaleProposals/SolutionReviewTab.jsx
  frontend/src/pages/PresaleProposals/SolutionVersionsTab.jsx
  frontend/src/pages/PresaleProposals/constants.js
  frontend/src/pages/PresaleProposals/index.jsx
  frontend/src/pages/PresaleProposals/utils.js
Due: eslint, prettier

refactor: extract OpportunityManagement.jsx (1802 lines) into modular directory
  frontend/src/pages/OpportunityManagement.jsx
  frontend/src/pages/OpportunityManagement/CreateDialog.jsx
  frontend/src/pages/OpportunityManagement/DetailDialog.jsx
  frontend/src/pages/OpportunityManagement/GateDialog.jsx
  frontend/src/pages/OpportunityManagement/OpportunityGrid.jsx
  frontend/src/pages/OpportunityManagement/OpportunityTable.jsx
  frontend/src/pages/OpportunityManagement/ReviewDialog.jsx
  frontend/src/pages/OpportunityManagement/constants.js
  frontend/src/pages/OpportunityManagement/index.jsx
Due: eslint, prettier

refactor: extract RoleManagement/index.jsx dialogs into separate components
  frontend/src/pages/RoleManagement/CompareDialog.jsx
  frontend/src/pages/RoleManagement/CreateRoleDialog.jsx
  frontend/src/pages/RoleManagement/EditRoleDialog.jsx
  frontend/src/pages/RoleManagement/RoleDetailDialog.jsx
  frontend/src/pages/RoleManagement/TemplateDialog.jsx
  frontend/src/pages/RoleManagement/constants.js
  frontend/src/pages/RoleManagement/index.jsx
Due: eslint, prettier

Path conditions:
  check-file-size: any of: \.py$
  eslint: any of: \.(js|jsx|ts|tsx)$
  prettier: any of: \.(js|jsx|ts|tsx|css)$
