Repository fulingwei1/non-standard-automation-pms: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, eslint, prettier

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# 安装: pip install pre-commit && pre-commit install

repos:
  # 通用钩子
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: 移除行尾空白
      - id: end-of-file-fixer
        name: 确保文件以换行符结尾
      - id: check-yaml
        name: 检查YAML语法
      - id: check-json
        name: 检查JSON语法
      - id: check-added-large-files
        name: 检查大文件
        args: ["--maxkb=500"]
      - id: check-merge-conflict
        name: 检查合并冲突
      - id: detect-private-key
        name: 检测私钥
      - id: no-commit-to-branch
        name: 禁止直接提交到main分支
        args: ["--branch", "main"]

  # Python 代码格式化
  - repo: https://github.com/psf/black
    rev: 24.1.1
    hooks:
      - id: black
        name: Black 代码格式化
        language_version: python3.11
        args: ["--line-length=120"]

  # Python 导入排序
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        name: isort 导入排序
        args: ["--profile=black", "--line-length=120"]

  # Python 代码检查
  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        name: Flake8 代码检查
        args: ["--max-line-length=120", "--ignore=E501,W503,E203"]
        additional_dependencies:
          - flake8-docstrings
          - flake8-bugbear

  # Python 安全检查
  - repo: https://github.com/pycqa/bandit
    rev: 1.7.7
    hooks:
      - id: bandit
        name: Bandit 安全检查
        args: ["-ll", "-ii"]
        exclude: tests/

  # 自定义文件大小检查
  - repo: local
    hooks:
      - id: check-file-size
        name: 检查文件大小限制
        entry: python scripts/check_file_size.py
        language: python
        types: [python]
        pass_filenames: false

      - id: check-function-size
        name: 检查函数大小
        entry: python scripts/check_function_size.py
        language: python
        types: [python]
        pass_filenames: false
        always_run: true

  # JavaScript/TypeScript (前端)
  - repo: local
    hooks:
      - id: eslint
        name: ESLint 检查
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

      - id: prettier
        name: Prettier 格式化检查
        entry: bash -c 'cd frontend && npx prettier --check "src/**/*.{js,jsx,ts,tsx,css}"'
        language: system
        files: \.(js|jsx|ts|tsx|css)$
        pass_filenames: false

# CI 设置
ci:
  autofix_commit_msg: "style: auto fixes from pre-commit hooks"
  autofix_prs: true
  autoupdate_commit_msg: "chore: pre-commit autoupdate"
  autoupdate_schedule: weekly

test: add notification queue and utils unit tests
  tests/unit/test_notification_queue.py
  tests/unit/test_notification_utils.py
Due: check-file-size

test: 更新前端 snapshot + 新增通知服务测试
  app/tests/services/notification/__init__.py
  app/tests/services/notification/test_email_handler.py
  app/tests/services/notification/test_sms_handler.py
  app/tests/services/notification/test_unified_notification_service.py
  frontend/src/components/common/__tests__/__snapshots__/ErrorBoundary.test.jsx.snap
  frontend/src/components/common/__tests__/__snapshots__/ErrorMessage.test.jsx.snap
  frontend/src/components/common/__tests__/__snapshots__/LoadingPage.test.jsx.snap
  frontend/src/components/common/__tests__/__snapshots__/LoadingSpinner.test.jsx.snap
  frontend/src/components/dashboard/__tests__/__snapshots__/DashboardStatCard.test.jsx.snap
  frontend/src/components/procurement-manager-dashboard/__tests__/__snapshots__/KeyMetricsCard.test.jsx.snap
  frontend/src/components/procurement-manager-dashboard/__tests__/__snapshots__/StatsCards.test.jsx.snap
  frontend/src/components/project/__tests__/__snapshots__/ProjectCostFilter.test.jsx.snap
  frontend/src/components/project/__tests__/__snapshots__/ProjectIssuePanel.test.jsx.snap
  frontend/src/components/project/__tests__/__snapshots__/ProjectTimeline.test.jsx.snap
  frontend/src/components/project/__tests__/__snapshots__/SolutionLibrary.test.jsx.snap
  frontend/src/components/sales/__tests__/__snapshots__/CustomerCard.test.jsx.snap
  frontend/src/components/ui/__tests__/__snapshots__/button.test.jsx.snap
  frontend/src/components/ui/__tests__/__snapshots__/card.test.jsx.snap
  frontend/src/pages/ContractApproval.test.jsx
  frontend/src/pages/__tests__/RoleManagement.test.jsx
  frontend/src/services/api/__tests__/debug.test.js
  tests/unit/test_notification_channels_email.py
  tests/unit/test_notification_channels_sms.py
Due: check-file-size, eslint, prettier

fix: improve frontend test setup and fix mock issues
  app/services/notification/handlers/__init__.py
  app/services/notification/handlers/email_handler.py
  app/services/notification/handlers/sms_handler.py
  app/services/notification/handlers/system_handler.py
  app/services/notification/handlers/wechat_handler.py
  app/tests/services/notification/test_email_handler.py
  frontend/src/pages/__tests__/KnowledgeBase.test.jsx
  frontend/src/pages/__tests__/MachineManagement.test.jsx
  frontend/src/services/api/__tests__/approval.test.js
  frontend/src/services/api/__tests__/debug.test.js
  frontend/src/services/api/__tests__/procurement.test.js
  frontend/src/test/setupTests.js
Due: check-file-size, eslint, prettier

Add notification service tests (email, sms, unified)
  app/tests/services/notification/test_sms_handler.py
Due: check-file-size

fix: remove obsolete RoleManagement test (component doesn't exist)
  frontend/src/pages/__tests__/BOMManagement.test.jsx
  frontend/src/pages/__tests__/ServiceRecord.test.jsx
Due: eslint, prettier

fix: 修复前端 API 测试的 mock 配置问题
  frontend/src/services/api/__tests__/approval.test.js
Due: eslint, prettier

fix: 修复 MachineManagement 和 ServiceRecord 测试的mock数据问题
  frontend/src/pages/BOMManagement/hooks/__tests__/useBOMManagement.test.js
  frontend/src/pages/__tests__/BOMManagement.test.jsx
  frontend/src/pages/__tests__/MachineManagement.test.jsx
  frontend/src/pages/__tests__/ServiceRecord.test.jsx
Due: eslint, prettier

fix: 继续修复 ServiceRecord 和 MachineManagement 测试
  frontend/src/pages/MachineManagement/hooks/__tests__/useMachineData.test.js
  frontend/src/pages/__tests__/ServiceRecord.test.jsx
Due: eslint, prettier

新增 BackupService 单元测试（16个测试用例）
  app/tests/services/backup/__init__.py
  app/tests/services/backup/test_backup_service.py
Due: check-file-size

test: add unit tests for core services
  tests/unit/test_budget_alert_service.py
  tests/unit/test_margin_permission_service.py
  tests/unit/test_payment_adjustment_service.py
  tests/unit/test_project_contribution_service.py
  tests/unit/test_sales_forecast_service.py
Due: check-file-size

fix: 修复AI成本估算服务测试（56个失败 -> 全部通过）
  app/services/sales/ai_cost_estimation_service.py
  app/services/sales/cost/historical_analyzer.py
  app/services/sales/cost/pricing_engine.py
  tests/unit/test_ai_cost_estimation_service.py
Due: check-file-size

feat(test): 新增后端服务测试用例覆盖采购、生产、质量、报告模块
  app/tests/services/material_procurement/__init__.py
  app/tests/services/material_procurement/test_procurement_optimization.py
  app/tests/services/production_progress/__init__.py
  app/tests/services/production_progress/test_progress_service.py
  app/tests/services/profit/__init__.py
  app/tests/services/profit/test_profit_analysis_service.py
  app/tests/services/quality/__init__.py
  app/tests/services/quality/test_quality_service.py
Due: check-file-size

fix: 添加服务模块重新导出以修复测试导入问题
  app/services/cost_forecast_service.py
  app/services/cost_prediction_service.py
  app/services/permission_audit_service.py
  app/services/permission_cache_service.py
  app/services/permission_service.py
Due: check-file-size

fix: 修复多个后端测试的mock配置问题
  tests/unit/test_business_support_reports_service_enhanced.py
  tests/unit/test_production_progress_service.py
  tests/unit/test_project_reports_cov31.py
  tests/unit/test_report_framework_engine_cov10.py
  tests/unit/test_service_edge_cases.py
Due: check-file-size

fix: 修复后端测试导入问题
  app/services/__init__.py
  app/services/ecn_cost_impact_service/__init__.py
  app/services/permission_management/permission_audit_service.py
  app/services/presale_ai_service.py
  pytest.ini
  tests/conftest.py
Due: check-file-size

fix: 修复后端测试失败 - 报告框架、AI成本估算、里程碑alert服务
  tests/unit/test_ai_cost_estimation_service_enhanced.py
  tests/unit/test_milestone_alert_service.py
  tests/unit/test_purchase_workflow_service.py
  tests/unit/test_report_framework_service.py
Due: check-file-size

fix: resolve ruff and eslint lint errors (unused imports, unused vars)
  app/api/v1/endpoints/bom/bom_release.py
  app/api/v1/endpoints/costs.py
  app/api/v1/endpoints/itr.py
  app/api/v1/endpoints/presale/tickets/crud.py
  app/api/v1/endpoints/projects/resource_plan/custom.py
  app/api/v1/endpoints/purchase/suggestions.py
  app/api/v1/endpoints/sales/funnel.py
  app/api/v1/endpoints/sales/payments/payment_records.py
  app/api/v1/endpoints/sales/quick_cost_recommendation.py
  app/api/v1/endpoints/sales_automation.py
  app/api/v1/endpoints/service/communications.py
  app/api/v1/endpoints/service/survey_templates.py
  app/api/v1/endpoints/service/surveys.py
  app/api/v1/endpoints/service/tickets/assignment.py
  app/api/v1/endpoints/service/tickets/crud.py
  app/api/v1/endpoints/service/tickets/issues.py
  app/api/v1/endpoints/service/tickets/status.py
  app/core/sales_permissions.py
  app/models/sales/assessment_template.py
  app/services/presale_ai_quotation_service.py
  app/services/sales/ai_cost_estimation_service.py
  app/services/sales/assessment_template_service.py
  app/services/sales/collection_priority_service.py
  app/services/sales/contract_milestone_service.py
  app/services/sales/dwell_time_monitor.py
  app/services/sales/follow_up_reminder_service.py
  app/services/sales/funnel_state_machine.py
  app/services/sales/gate_validators.py
  app/services/sales/opportunity_health_service.py
  app/services/sales_forecast_service.py
  frontend/src/components/dashboard/__tests__/DashboardStatCard.test.jsx
  frontend/src/pages/GoodsReceiptNew/hooks/__tests__/useGoodsReceiptNew.test.js
  frontend/src/pages/SalesOpportunityCenter.test.jsx
  frontend/src/pages/__tests__/BOMManagement.test.jsx
  frontend/src/pages/__tests__/InventoryAnalysis.test.jsx
  frontend/src/pages/__tests__/MaterialReadiness.test.jsx
  frontend/src/pages/__tests__/QualificationManagement.test.jsx
  frontend/src/pages/__tests__/ServiceRecord.test.jsx
  frontend/src/test/setupTests.js
Due: check-file-size, eslint, prettier

fix: restore antd Spin/Progress import in loadingService.js
  frontend/src/services/loadingService.js
Due: eslint, prettier

Test coverage: 25.9% -> 26.1%, added 13 new test files for timesheet/dashboard/budget/performance modules
  tests/unit/test_budget_alert_service_coverage.py
  tests/unit/test_closure_readiness_service_coverage.py
  tests/unit/test_dashboard_adapter_coverage.py
  tests/unit/test_dashboard_base_coverage.py
  tests/unit/test_dashboard_cache_service_coverage.py
  tests/unit/test_material_procurement_optimization_service_coverage.py
  tests/unit/test_overtime_calculation_service_coverage.py
  tests/unit/test_performance_analysis_service_coverage.py
  tests/unit/test_timesheet_aggregation_service_coverage.py
  tests/unit/test_timesheet_analytics_service_coverage.py
  tests/unit/test_timesheet_quality_service_coverage.py
  tests/unit/test_timesheet_sync_service_coverage.py
  tests/unit/test_workflow_engine_coverage.py
Due: check-file-size

Add 5 more service test coverage files
  tests/unit/test_best_practice_service_coverage.py
  tests/unit/test_change_impact_ai_service_coverage.py
  tests/unit/test_presale_ai_requirement_service_coverage.py
  tests/unit/test_project_delivery_service_coverage.py
  tests/unit/test_resource_scheduling_service_coverage.py
Due: check-file-size

Add 12 more service test coverage files (AI, customer, health, etc.)
  tests/unit/test_account_lockout_service_coverage.py
  tests/unit/test_ai_assessment_service_coverage.py
  tests/unit/test_ai_client_service_coverage.py
  tests/unit/test_ai_emotion_service_coverage.py
  tests/unit/test_ai_service_coverage.py
  tests/unit/test_approval_workflow_service_coverage.py
  tests/unit/test_backup_service_coverage.py
  tests/unit/test_budget_analysis_service_coverage.py
  tests/unit/test_cache_service_coverage.py
  tests/unit/test_collaboration_service_coverage.py
  tests/unit/test_customer_360_service_coverage.py
  tests/unit/test_customer_service_coverage.py
  tests/unit/test_health_trend_service_coverage.py
Due: check-file-size

Remove broken test files, keep working ones
  tests/unit/test_performance_coverage.py
  tests/unit/test_project_coverage.py
  tests/unit/test_sales_cache_coverage.py
  tests/unit/test_status_service_coverage.py
  tests/unit/test_term_service_coverage.py
Due: check-file-size

Add 14 more test files for large 0% coverage services
  tests/unit/test_data_scope_service_enhanced_coverage.py
  tests/unit/test_ecn_integration_service_coverage.py
  tests/unit/test_presale_ai_service_coverage.py
  tests/unit/test_project_statistics_service_coverage.py
  tests/unit/test_quality_service_coverage.py
  tests/unit/test_relationship_scoring_service_coverage.py
  tests/unit/test_report_excel_service_coverage.py
  tests/unit/test_report_service_coverage.py
  tests/unit/test_sales_ai_assistant_service_coverage.py
  tests/unit/test_schedule_prediction_service_coverage.py
  tests/unit/test_session_service_coverage.py
  tests/unit/test_supplier_performance_evaluator_coverage.py
  tests/unit/test_technical_assessment_service_coverage.py
  tests/unit/test_work_order_service_coverage.py
Due: check-file-size

chore: 删除 3 个无测试函数的空文件
  tests/integration/test_acceptance_workflow.py
  tests/integration/test_technical_review.py
  tests/unit/test_performance_collector/test_constants.py
Due: check-file-size

test: 新增 SLA服务、资源浪费分析、供应商绩效评估 单元测试（56个用例）
  tests/unit/test_resource_waste_analysis.py
  tests/unit/test_sla_service_coverage.py
  tests/unit/test_supplier_perf_eval_coverage.py
Due: check-file-size

test: add closure_readiness_service tests (mocked)
  tests/services/test_closure_readiness_service.py
Due: check-file-size

test: add margin_prediction API tests
  tests/api/test_margin_prediction.py
Due: check-file-size

test: add coverage tests for core modules (request_signature, api_key_auth, tenant_access, revenue_service)
  tests/services/test_progress_service_extended.py
  tests/services/test_project_delivery_service.py
  tests/test_api_key_auth.py
  tests/test_project_closure_service.py
  tests/test_request_signature.py
  tests/test_revenue_service.py
Due: check-file-size

test: add profit_analysis_service core tests (74% coverage)
  tests/test_project_closure_service.py
  tests/unit/test_profit_analysis_service.py
Due: check-file-size

test: add tests for progress/delivery/scoring services
  tests/test_project_closure_service.py
Due: check-file-size

test: add tests for profit_analysis and margin_prediction
  tests/test_project_closure_service.py
Due: check-file-size
