Repository fulingwei1/non-standard-automation-pms: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, eslint, prettier

check-file-size:
  name: 检查文件大小限制
  entry: python scripts/check_file_size.py
  language: python
  pass_filenames: false

eslint:
  name: ESLint 检查
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

prettier:
  name: Prettier 格式化检查
  entry: bash -c 'cd frontend && npx prettier --check "src/**/*.{js,jsx,ts,tsx,css}"'
  language: system
  pass_filenames: false

fix: 工程师绩效页面401错误 - 原生axios改用api客户端(带token)
  data/app.db-shm
  data/app.db-wal
  frontend/src/pages/EngineerCollaboration.jsx
  frontend/src/pages/EngineerKnowledge.jsx
  frontend/src/pages/EngineerPerformanceDashboard.jsx
  frontend/src/pages/EngineerPerformanceDetail.jsx
  frontend/src/pages/EngineerPerformanceRanking.jsx
Due: eslint, prettier

fix: 部门level/sort_order为NULL导致500，seed脚本补全字段
  data/app.db-shm
  data/app.db-wal
  scripts/seed_demo_data.py
Due: check-file-size

fix: materials缺字段导致500 - 补source_type/last_price/safety_stock等默认值
  scripts/seed_demo_data.py
Due: check-file-size

fix: 生产看板路由缺失 - /production-board 指向生产计划列表
  frontend/src/routes/modules/productionRoutes.jsx
Due: eslint, prettier

fix: plan_service.py typo payment_name → plan_name
  app/services/production/plan_service.py
Due: check-file-size

fix: 装配任务路由被redirect覆盖 - 移除错误的/assembly-tasks redirect
  frontend/src/routes/modules/dashboardRoutes.jsx
Due: eslint, prettier

fix: 44处 lowercase icon component warning - <xxx.icon/> → DynIcon pattern
  frontend/src/components/customer-satisfaction/SatisfactionCard.jsx
  frontend/src/components/issue/IssueStatsOverview.jsx
  frontend/src/components/material-analysis/MaterialFilters.jsx
  frontend/src/components/material-readiness/ReadinessCard.jsx
  frontend/src/components/payment-management/PaymentCard.jsx
  frontend/src/components/presales/workstation/QuickActionsCard.jsx
  frontend/src/components/presales/workstation/StatsCards.jsx
  frontend/src/components/quote/QuoteListManager.jsx
  frontend/src/components/quote/QuoteStatsOverview.jsx
  frontend/src/components/schedule-board/StatsCards.jsx
  frontend/src/components/worker-workstation/WorkOrderCard.jsx
  frontend/src/pages/Acceptance.jsx
  frontend/src/pages/AdministrativeExpenses.jsx
  frontend/src/pages/AlertDetail.jsx
  frontend/src/pages/AssemblerTaskCenter.jsx
  frontend/src/pages/EngineerWorkstation.jsx
  frontend/src/pages/Login.jsx
  frontend/src/pages/MeetingMap.jsx
  frontend/src/pages/MyBonus.jsx
  frontend/src/pages/MyPerformance.jsx
  frontend/src/pages/NotificationCenter.jsx
  frontend/src/pages/OperationDashboard.jsx
  frontend/src/pages/OrganizationManagement.jsx
  frontend/src/pages/PresaleAI/AIDashboard.jsx
  frontend/src/pages/PresalesTasks.jsx
  frontend/src/pages/PurchaseOrderDetail.jsx
  frontend/src/pages/RdCostReports.jsx
  frontend/src/pages/RdProjectDetail.jsx
  frontend/src/pages/Settings.jsx
  frontend/src/pages/SolutionDetail/components/SolutionTabs.jsx
  frontend/src/pages/StageTemplateManagement.jsx
  frontend/src/pages/Strategy/index.jsx
  frontend/src/pages/Timesheet/components/WeekSummaryCards.jsx
  frontend/src/pages/Timesheet/constants.jsx
  frontend/src/pages/WorkCenter.jsx
  frontend/src/routes/modules/productionRoutes.jsx
Due: eslint, prettier

fix: IIFE icon pattern 去掉多余花括号避免JSX语法错误
  frontend/src/components/customer-satisfaction/SatisfactionCard.jsx
  frontend/src/components/issue/IssueStatsOverview.jsx
  frontend/src/components/material-analysis/MaterialFilters.jsx
  frontend/src/components/material-readiness/ReadinessCard.jsx
  frontend/src/components/payment-management/PaymentCard.jsx
  frontend/src/components/presales/workstation/QuickActionsCard.jsx
  frontend/src/components/presales/workstation/StatsCards.jsx
  frontend/src/components/quote/QuoteListManager.jsx
  frontend/src/components/quote/QuoteStatsOverview.jsx
  frontend/src/components/schedule-board/StatsCards.jsx
  frontend/src/components/worker-workstation/WorkOrderCard.jsx
  frontend/src/pages/Acceptance.jsx
  frontend/src/pages/AdministrativeExpenses.jsx
  frontend/src/pages/AlertDetail.jsx
  frontend/src/pages/AssemblerTaskCenter.jsx
  frontend/src/pages/EngineerWorkstation.jsx
  frontend/src/pages/Login.jsx
  frontend/src/pages/MeetingMap.jsx
  frontend/src/pages/MyBonus.jsx
  frontend/src/pages/MyPerformance.jsx
  frontend/src/pages/NotificationCenter.jsx
  frontend/src/pages/OperationDashboard.jsx
  frontend/src/pages/OrganizationManagement.jsx
  frontend/src/pages/PresaleAI/AIDashboard.jsx
  frontend/src/pages/PresalesTasks.jsx
  frontend/src/pages/PurchaseOrderDetail.jsx
  frontend/src/pages/RdCostReports.jsx
  frontend/src/pages/RdProjectDetail.jsx
  frontend/src/pages/Settings.jsx
  frontend/src/pages/SolutionDetail/components/SolutionTabs.jsx
  frontend/src/pages/StageTemplateManagement.jsx
  frontend/src/pages/Strategy/index.jsx
  frontend/src/pages/Timesheet/components/WeekSummaryCards.jsx
  frontend/src/pages/Timesheet/constants.jsx
  frontend/src/pages/WorkCenter.jsx
Due: eslint, prettier

fix: DynIcon IIFE - 非三元场景加回{}, 三元场景保持无包裹
  frontend/src/components/customer-satisfaction/SatisfactionCard.jsx
  frontend/src/components/issue/IssueStatsOverview.jsx
  frontend/src/components/material-analysis/MaterialFilters.jsx
  frontend/src/components/material-readiness/ReadinessCard.jsx
  frontend/src/components/payment-management/PaymentCard.jsx
  frontend/src/components/presales/workstation/QuickActionsCard.jsx
  frontend/src/components/presales/workstation/StatsCards.jsx
  frontend/src/components/quote/QuoteListManager.jsx
  frontend/src/components/quote/QuoteStatsOverview.jsx
  frontend/src/components/schedule-board/StatsCards.jsx
  frontend/src/components/worker-workstation/WorkOrderCard.jsx
  frontend/src/pages/Acceptance.jsx
  frontend/src/pages/AdministrativeExpenses.jsx
  frontend/src/pages/AssemblerTaskCenter.jsx
  frontend/src/pages/EngineerWorkstation.jsx
  frontend/src/pages/Login.jsx
  frontend/src/pages/MeetingMap.jsx
  frontend/src/pages/MyBonus.jsx
  frontend/src/pages/MyPerformance.jsx
  frontend/src/pages/NotificationCenter.jsx
  frontend/src/pages/OperationDashboard.jsx
  frontend/src/pages/OrganizationManagement.jsx
  frontend/src/pages/PresaleAI/AIDashboard.jsx
  frontend/src/pages/RdCostReports.jsx
  frontend/src/pages/RdProjectDetail.jsx
  frontend/src/pages/Settings.jsx
  frontend/src/pages/SolutionDetail/components/SolutionTabs.jsx
  frontend/src/pages/StageTemplateManagement.jsx
  frontend/src/pages/Timesheet/components/WeekSummaryCards.jsx
  frontend/src/pages/Timesheet/constants.jsx
  frontend/src/pages/WorkCenter.jsx
Due: eslint, prettier

revert: 撤销DynIcon改动 - 原始<xxx.icon/>只是cosmetic warning，不影响功能
  frontend/src/components/customer-satisfaction/SatisfactionCard.jsx
  frontend/src/components/issue/IssueStatsOverview.jsx
  frontend/src/components/material-analysis/MaterialFilters.jsx
  frontend/src/components/material-readiness/ReadinessCard.jsx
  frontend/src/components/payment-management/PaymentCard.jsx
  frontend/src/components/presales/workstation/QuickActionsCard.jsx
  frontend/src/components/presales/workstation/StatsCards.jsx
  frontend/src/components/quote/QuoteListManager.jsx
  frontend/src/components/quote/QuoteStatsOverview.jsx
  frontend/src/components/schedule-board/StatsCards.jsx
  frontend/src/components/worker-workstation/WorkOrderCard.jsx
  frontend/src/pages/Acceptance.jsx
  frontend/src/pages/AdministrativeExpenses.jsx
  frontend/src/pages/AlertDetail.jsx
  frontend/src/pages/AssemblerTaskCenter.jsx
  frontend/src/pages/EngineerWorkstation.jsx
  frontend/src/pages/Login.jsx
  frontend/src/pages/MeetingMap.jsx
  frontend/src/pages/MyBonus.jsx
  frontend/src/pages/MyPerformance.jsx
  frontend/src/pages/NotificationCenter.jsx
  frontend/src/pages/OperationDashboard.jsx
  frontend/src/pages/OrganizationManagement.jsx
  frontend/src/pages/PresaleAI/AIDashboard.jsx
  frontend/src/pages/PresalesTasks.jsx
  frontend/src/pages/PurchaseOrderDetail.jsx
  frontend/src/pages/RdCostReports.jsx
  frontend/src/pages/RdProjectDetail.jsx
  frontend/src/pages/Settings.jsx
  frontend/src/pages/SolutionDetail/components/SolutionTabs.jsx
  frontend/src/pages/StageTemplateManagement.jsx
  frontend/src/pages/Strategy/index.jsx
  frontend/src/pages/Timesheet/components/WeekSummaryCards.jsx
  frontend/src/pages/Timesheet/constants.jsx
  frontend/src/pages/WorkCenter.jsx
Due: eslint, prettier

feat: 新建生产看板页面 - 工单统计/计划进度/看板/车间负荷
  frontend/src/pages/ProductionBoard.jsx
  frontend/src/routes/modules/productionRoutes.jsx
Due: eslint, prettier

fix(test): 修复 P0.3 外键约束问题
  tests/conftest.py
Due: check-file-size

fix: 修复 test_timesheet_quality_service_cov25.py 中的 db_session fixture 错误
  tests/unit/test_timesheet_quality_service_cov25.py
Due: check-file-size

feat: 升级售前AI模板匹配为语义向量搜索
  app/api/requirements.txt
  app/services/presale_ai_service.py
Due: check-file-size

fix(test): 修复4个测试文件的语法错误
  tests/unit/models/sales/test_contract_model.py
  tests/unit/models/sales/test_lead_model.py
  tests/unit/models/sales/test_quote_model.py
  tests/unit/test_ecn_approval_service.py
Due: check-file-size

fix: production board, UI refactor, test infra fixes
  app/core/database/__init__.py
  frontend/src/components/customer-satisfaction/CustomerSatisfactionOverview.jsx
  frontend/src/components/customer-satisfaction/FeedbackManager.jsx
  frontend/src/components/customer-satisfaction/SatisfactionAnalytics.jsx
  frontend/src/components/customer-satisfaction/SurveyManager.jsx
  frontend/src/components/customer-satisfaction/SurveyTemplates.jsx
  frontend/src/components/delivery-management/DeliveryOverview.jsx
  frontend/src/components/delivery-management/DeliveryPlan.jsx
  frontend/src/components/delivery-management/DeliveryTracking.jsx
  frontend/src/pages/CustomerSatisfaction.jsx
  frontend/src/pages/DeliveryManagement.jsx
  frontend/src/pages/ProductionBoard.jsx
  frontend/src/routes/modules/dashboardRoutes.jsx
  requirements-dev.txt
  tests/unit/test_presale_ai_service_cov4.py
  tests/unit/test_resource_scheduling_ai_service_cov11.py
Due: check-file-size, eslint, prettier

feat: 跨项目资源全景视图 - 人员时间线+冲突检测+负荷分析
  app/api/v1/api.py
  app/api/v1/endpoints/resource_overview.py
  data/app.db-shm
  data/app.db-wal
  frontend/src/components/layout/sidebarConfig/default.js
  frontend/src/pages/ResourceOverview.jsx
  frontend/src/routes/modules/projectRoutes.jsx
  frontend/src/services/api/resourceOverview.js
  scripts/seed_resource_allocations.py
Due: check-file-size, eslint, prettier

fix(test): 修复 User 模型参数错误 - role → position
  tests/ai_planning/test_resource_optimizer.py
Due: check-file-size

feat: 项目模板系统 - ICT/FCT/EOL三套模板 + 一键创建含WBS+里程碑
  app/api/v1/endpoints/projects/__init__.py
  app/api/v1/endpoints/projects/template_analytics.py
  app/api/v1/endpoints/projects/template_projects.py
  app/api/v1/endpoints/projects/templates.py
  app/core/csrf.py
  scripts/seed_project_templates.py
Due: check-file-size

feat: 毛利率预测与分析模块
  app/api/v1/api.py
  app/api/v1/endpoints/margin_prediction.py
  data/app.db-shm
  data/app.db-wal
  frontend/src/components/layout/sidebarConfig/default.js
  frontend/src/pages/MarginPrediction.jsx
  frontend/src/routes/modules/financeRoutes.jsx
  frontend/src/services/api/marginPrediction.js
  scripts/seed_cost_data.py
Due: check-file-size, eslint, prettier

feat: 成本归集自动化 - 采购订单/工单→项目成本
  app/api/v1/api.py
  app/api/v1/endpoints/cost_collection.py
  frontend/src/components/layout/sidebarConfig/default.js
  frontend/src/pages/CostCollection.jsx
  frontend/src/routes/modules/financeRoutes.jsx
  frontend/src/services/api/costCollection.js
Due: check-file-size, eslint, prettier

feat: 项目复盘经验教训库
  app/api/v1/api.py
  app/api/v1/endpoints/lessons_learned.py
  frontend/src/components/layout/sidebarConfig/default.js
  frontend/src/pages/LessonsLearned.jsx
  frontend/src/routes/modules/projectRoutes.jsx
  frontend/src/services/api/lessons.js
  scripts/seed_lessons_data.py
Due: check-file-size, eslint, prettier

feat: 批量新增4模块 - 验收管理/报价对比/成本偏差/经验教训
  app/api/v1/endpoints/acceptance.py
  app/api/v1/endpoints/cost_variance_analysis.py
  app/api/v1/endpoints/quote_actual_compare.py
  data/app.db-shm
  data/app.db-wal
  frontend/src/pages/AcceptanceManagement.jsx
  frontend/src/pages/CostVarianceAnalysis.jsx
  frontend/src/pages/QuoteActualCompare.jsx
  frontend/src/routes/modules/financeRoutes.jsx
  frontend/src/services/api/acceptance.js
  frontend/src/services/api/costVariance.js
  frontend/src/services/api/quoteCompare.js
  scripts/seed_acceptance_data.py
Due: check-file-size, eslint, prettier

feat: 人工成本明细分析
  app/api/v1/api.py
  app/api/v1/endpoints/labor_cost_detail.py
  frontend/src/components/layout/sidebarConfig/default.js
  frontend/src/pages/LaborCostDetail.jsx
  frontend/src/routes/modules/financeRoutes.jsx
  frontend/src/services/api/laborCost.js
Due: check-file-size, eslint, prettier

feat: 甘特图依赖关系(Task#10) + 供应商价格趋势(Task#12)
  app/api/v1/api.py
  app/api/v1/endpoints/gantt_dependency.py
  app/api/v1/endpoints/supplier_price_trend.py
  data/app.db-shm
  frontend/src/components/layout/sidebarConfig/default.js
  frontend/src/components/layout/sidebarIcons.js
  frontend/src/pages/GanttDependency.jsx
  frontend/src/pages/SupplierPriceTrend.jsx
  frontend/src/routes/modules/procurementRoutes.jsx
  frontend/src/routes/modules/projectRoutes.jsx
  frontend/src/services/api.js
  frontend/src/services/api/ganttDependency.js
  frontend/src/services/api/supplierPriceTrend.js
Due: check-file-size, eslint, prettier

feat: ECN变更(#11) + 现场调试(#13) + 多币种(#14) — 14/14任务全部完成
  .tasks/task11-ecn-bom-completion.md
  app/api/v1/api.py
  app/api/v1/endpoints/ecn_bom.py
  app/api/v1/endpoints/field_commissioning.py
  app/api/v1/endpoints/multi_currency.py
  data/app.db-shm
  data/app.db-wal
  frontend/src/components/layout/sidebarConfig/default.js
  frontend/src/components/layout/sidebarIcons.js
  frontend/src/pages/ECNManagement.jsx
  frontend/src/pages/FieldCommissioning.jsx
  frontend/src/pages/MultiCurrency.jsx
  frontend/src/routes/modules/financeRoutes.jsx
  frontend/src/routes/modules/projectRoutes.jsx
  frontend/src/services/api.js
  frontend/src/services/api/ecnBom.js
  frontend/src/services/api/fieldCommissioning.js
  frontend/src/services/api/multiCurrency.js
Due: check-file-size, eslint, prettier

fix: 修复新模块API — DB路径/双重前缀/缺失列
  app/api/v1/api.py
  app/api/v1/endpoints/multi_currency.py
Due: check-file-size

chore: 清理项目根目录临时文件
  CLAUDE.md
  FRONTEND_TEST_FIX_REPORT_BATCH2.md
  TEST_COVERAGE_ANALYSIS.md
  可清理的废代码清单.md
  告警系统清理报告_2026-02-25.md
  废弃模块清理记录_2026-02-25.md
  未使用业务服务清单_最终版.md
  未使用模块分析报告.md
  测试覆盖率提升报告_2026-02-25.md
Due: none

fix: 清理前端 ESLint 错误 (26个)
  frontend/src/components/customer-satisfaction/CustomerSatisfactionOverview.jsx
  frontend/src/components/customer-satisfaction/FeedbackManager.jsx
  frontend/src/components/customer-satisfaction/SurveyManager.jsx
  frontend/src/components/customer-satisfaction/SurveyTemplates.jsx
  frontend/src/components/delivery-management/DeliveryOverview.jsx
  frontend/src/components/delivery-management/DeliveryTracking.jsx
  frontend/src/pages/AcceptanceManagement.jsx
  frontend/src/pages/CustomerSatisfaction.jsx
  frontend/src/pages/DeliveryManagement.jsx
  frontend/src/pages/FieldCommissioning.jsx
  frontend/src/pages/LessonsLearned.jsx
  frontend/src/pages/MultiCurrency.jsx
  frontend/src/pages/ProductionBoard.jsx
  frontend/src/pages/ResourceOverview.jsx
Due: eslint, prettier

fix: remove unused variable 'today' in resource_overview.py
  app/api/v1/endpoints/resource_overview.py
Due: check-file-size

feat: 启用战略管理模块 — 83个API路由 + 侧边栏
  app/api/v1/api.py
  app/api/v1/endpoints/strategy/__init__.py
  app/api/v1/endpoints/strategy/annual_work.py
  app/api/v1/endpoints/strategy/comparison.py
  app/api/v1/endpoints/strategy/csf.py
  app/api/v1/endpoints/strategy/dashboard.py
  app/api/v1/endpoints/strategy/decomposition.py
  app/api/v1/endpoints/strategy/kpi.py
  app/api/v1/endpoints/strategy/review.py
  app/api/v1/endpoints/strategy/strategy.py
  frontend/src/components/layout/sidebarConfig/default.js
Due: check-file-size, eslint, prettier

feat: 战略管理7个前端页面 + 种子数据
  data/app.db-shm
  data/app.db-wal
  frontend/src/components/layout/sidebarConfig/default.js
  frontend/src/pages/AnnualWorkList.jsx
  frontend/src/pages/CSFList.jsx
  frontend/src/pages/Decomposition.jsx
  frontend/src/pages/KPIList.jsx
  frontend/src/pages/StrategyCalendar.jsx
  frontend/src/pages/StrategyMap.jsx
  frontend/src/pages/YearComparison.jsx
  frontend/src/routes/modules/strategyRoutes.jsx
  scripts/seed_strategy_data.py
Due: check-file-size, eslint, prettier

feat: 绩效合约管理 + 种子数据
  app/api/v1/api.py
  app/api/v1/endpoints/performance_contract.py
  data/app.db-shm
  data/app.db-wal
  frontend/src/components/layout/sidebarConfig/default.js
  frontend/src/components/layout/sidebarIcons.js
  frontend/src/pages/PerformanceContract.jsx
  frontend/src/routes/modules/hrRoutes.jsx
  frontend/src/services/api.js
  frontend/src/services/api/performanceContract.js
  scripts/seed_performance_contracts.py
Due: check-file-size, eslint, prettier

fix: 绩效合约dashboard路由顺序 — 静态路径在动态路径之前
  app/api/v1/endpoints/performance_contract.py
Due: check-file-size

feat: 绩效考核种子数据 — 5周期/7指标/9结果/5评价
  app/api/v1/endpoints/ai_strategy.py
  frontend/src/services/api/aiStrategy.js
  scripts/seed_performance_data.py
Due: check-file-size, eslint, prettier

feat: AI战略辅助 — 4步向导式战略分析/分解/年度计划/部门OKR
  app/api/v1/api.py
  frontend/src/components/layout/sidebarConfig/default.js
  frontend/src/pages/AIStrategyAssistant.jsx
  frontend/src/routes/modules/strategyRoutes.jsx
  frontend/src/services/api.js
Due: check-file-size, eslint, prettier

fix: 修复代码质量问题 (ruff linting errors)
  app/api/v1/endpoints/ai_strategy.py
  app/api/v1/endpoints/performance_contract.py
Due: check-file-size

Path conditions:
  check-file-size: any of: \.py$
  eslint: any of: \.(js|jsx|ts|tsx)$
  prettier: any of: \.(js|jsx|ts|tsx|css)$
