Repository fulingwei1/non-standard-automation-pms: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, eslint, prettier

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# 安装: pip install pre-commit && pre-commit install

repos:
  # 通用钩子
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: 移除行尾空白
      - id: end-of-file-fixer
        name: 确保文件以换行符结尾
      - id: check-yaml
        name: 检查YAML语法
      - id: check-json
        name: 检查JSON语法
      - id: check-added-large-files
        name: 检查大文件
        args: ["--maxkb=500"]
      - id: check-merge-conflict
        name: 检查合并冲突
      - id: detect-private-key
        name: 检测私钥
      - id: no-commit-to-branch
        name: 禁止直接提交到main分支
        args: ["--branch", "main"]

  # Python 代码格式化
  - repo: https://github.com/psf/black
    rev: 24.1.1
    hooks:
      - id: black
        name: Black 代码格式化
        language_version: python3.11
        args: ["--line-length=120"]

  # Python 导入排序
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        name: isort 导入排序
        args: ["--profile=black", "--line-length=120"]

  # Python 代码检查
  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        name: Flake8 代码检查
        args: ["--max-line-length=120", "--ignore=E501,W503,E203"]
        additional_dependencies:
          - flake8-docstrings
          - flake8-bugbear

  # Python 安全检查
  - repo: https://github.com/pycqa/bandit
    rev: 1.7.7
    hooks:
      - id: bandit
        name: Bandit 安全检查
        args: ["-ll", "-ii"]
        exclude: tests/

  # 自定义文件大小检查
  - repo: local
    hooks:
      - id: check-file-size
        name: 检查文件大小限制
        entry: python scripts/check_file_size.py
        language: python
        types: [python]
        pass_filenames: false

      - id: check-function-size
        name: 检查函数大小
        entry: python scripts/check_function_size.py
        language: python
        types: [python]
        pass_filenames: false
        always_run: true

  # JavaScript/TypeScript (前端)
  - repo: local
    hooks:
      - id: eslint
        name: ESLint 检查
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

      - id: prettier
        name: Prettier 格式化检查
        entry: bash -c 'cd frontend && npx prettier --check "src/**/*.{js,jsx,ts,tsx,css}"'
        language: system
        files: \.(js|jsx|ts|tsx|css)$
        pass_filenames: false

# CI 设置
ci:
  autofix_commit_msg: "style: auto fixes from pre-commit hooks"
  autofix_prs: true
  autoupdate_commit_msg: "chore: pre-commit autoupdate"
  autoupdate_schedule: weekly

fix: 线索创建售前工单继承需求上下文
  app/api/v1/endpoints/presale/tickets/crud.py
  docs/NON_STANDARD_AUTOMATION_USAGE_ROADMAP.md
  tests/api/test_presale_api.py
Due: check-file-size

fix: 售前工作台评估跟随当前工单
  app/api/v1/endpoints/presale/workbench.py
  docs/NON_STANDARD_AUTOMATION_USAGE_ROADMAP.md
  tests/api/test_presales_contract_api.py
Due: check-file-size

fix: 商机方案创建绑定售前工单
  app/api/v1/endpoints/presale/proposals.py
  docs/NON_STANDARD_AUTOMATION_USAGE_ROADMAP.md
  tests/api/test_presales_contract_api.py
Due: check-file-size

fix: 商机售前支持复用同类型工单
  docs/NON_STANDARD_AUTOMATION_USAGE_ROADMAP.md
  frontend/src/pages/OpportunityManagement/index.jsx
  frontend/src/pages/__tests__/OpportunityManagement.test.jsx
Due: eslint, prettier

fix: 售前工单完成后支持销售评价
  docs/NON_STANDARD_AUTOMATION_USAGE_ROADMAP.md
  frontend/src/pages/PresalesTasks/TaskDetailPanel.jsx
  frontend/src/pages/PresalesTasks/index.jsx
  frontend/src/pages/__tests__/PresalesTasks.test.jsx
  tests/api/test_presales_contract_api.py
Due: check-file-size, eslint, prettier

fix: 售前交付物支持审核退回
  app/api/v1/endpoints/presale/tickets/operations.py
  app/api/v1/endpoints/presale/tickets/utils.py
  app/schemas/presale.py
  docs/NON_STANDARD_AUTOMATION_USAGE_ROADMAP.md
  frontend/src/pages/PresalesTasks/TaskDetailPanel.jsx
  frontend/src/pages/PresalesTasks/index.jsx
  frontend/src/pages/__tests__/PresalesTasks.test.jsx
  frontend/src/services/api/__tests__/presales.test.js
  frontend/src/services/api/presales.js
  tests/api/test_presales_contract_api.py
Due: check-file-size, eslint, prettier

fix: 售前工单完成校验交付物审核
  app/api/v1/endpoints/presale/tickets/operations.py
  docs/NON_STANDARD_AUTOMATION_USAGE_ROADMAP.md
  frontend/src/pages/PresalesTasks/TaskDetailPanel.jsx
  frontend/src/pages/__tests__/PresalesTasks.test.jsx
  tests/api/test_presales_contract_api.py
Due: check-file-size, eslint, prettier

fix: 售前成本估算优先使用聚合基线
  docs/NON_STANDARD_AUTOMATION_USAGE_ROADMAP.md
  frontend/src/pages/PresalesCostEstimation.jsx
  frontend/src/pages/__tests__/PresalesCostEstimation.test.jsx
Due: eslint, prettier

fix: 售前交付物区分关键门禁
  alembic/versions/20260608_presale_deliverable_required.py
  app/api/v1/endpoints/presale/tickets/operations.py
  app/api/v1/endpoints/presale/tickets/utils.py
  app/models/presale.py
  app/models/presale/core.py
  app/schemas/presale.py
  docs/NON_STANDARD_AUTOMATION_USAGE_ROADMAP.md
  frontend/src/pages/PresalesTasks/TaskDetailPanel.jsx
  frontend/src/pages/__tests__/PresalesTasks.test.jsx
  tests/api/test_presales_contract_api.py
Due: check-file-size, eslint, prettier

fix: 需求调研接入售前聚合上下文
  docs/NON_STANDARD_AUTOMATION_USAGE_ROADMAP.md
  frontend/src/pages/RequirementSurvey/index.jsx
  frontend/src/pages/__tests__/RequirementSurvey.test.jsx
Due: eslint, prettier

fix: 技术方案页优先使用售前聚合上下文
  docs/NON_STANDARD_AUTOMATION_USAGE_ROADMAP.md
  frontend/src/pages/PresaleProposals/index.jsx
  frontend/src/pages/__tests__/PresaleProposals.test.jsx
Due: eslint, prettier

fix: 投标支持页优先使用售前聚合上下文
  docs/NON_STANDARD_AUTOMATION_USAGE_ROADMAP.md
  frontend/src/pages/BiddingCenter/index.jsx
  frontend/src/pages/__tests__/BiddingCenter.test.jsx
Due: eslint, prettier

fix: 售前工单打通项目立项交接
  docs/NON_STANDARD_AUTOMATION_USAGE_ROADMAP.md
  frontend/src/pages/InitiationManagement/components/CreateInitiationDialog.jsx
  frontend/src/pages/InitiationManagement/hooks/useInitiationManagement.js
  frontend/src/pages/InitiationManagement/index.jsx
  frontend/src/pages/PresalesTasks/TaskDetailPanel.jsx
  frontend/src/pages/PresalesTasks/index.jsx
  frontend/src/pages/__tests__/InitiationManagement.test.jsx
  frontend/src/pages/__tests__/PresalesTasks.test.jsx
Due: eslint, prettier

fix: 项目工作区展示投标结果和初始里程碑
  app/services/project_workspace_service.py
  docs/NON_STANDARD_AUTOMATION_USAGE_ROADMAP.md
  frontend/src/pages/ProjectWorkspace.jsx
  frontend/src/pages/__tests__/ProjectWorkspace.test.jsx
  tests/api/test_project_workspace_contract_api.py
Due: check-file-size, eslint, prettier

fix: 售前未决事项生成项目任务
  app/services/pmo_initiation/service.py
  app/services/project_workspace_service.py
  docs/NON_STANDARD_AUTOMATION_USAGE_ROADMAP.md
  frontend/src/pages/ProjectWorkspace.jsx
  frontend/src/pages/__tests__/ProjectWorkspace.test.jsx
  tests/api/test_pmo.py
Due: check-file-size, eslint, prettier

fix: 投标成本支持保留售前上下文
  docs/NON_STANDARD_AUTOMATION_USAGE_ROADMAP.md
  frontend/src/pages/BiddingCenter/index.jsx
  frontend/src/pages/PresalesCostEstimation.jsx
  frontend/src/pages/__tests__/BiddingCenter.test.jsx
  frontend/src/pages/__tests__/PresalesCostEstimation.test.jsx
Due: eslint, prettier

fix: 售前成本估算打通销售报价入口
  frontend/src/pages/PresalesCostEstimation.jsx
  frontend/src/pages/__tests__/PresalesCostEstimation.test.jsx
Due: eslint, prettier

fix: 售前方案按评审状态开放报价
  frontend/src/pages/PresaleProposals/utils.js
  frontend/src/pages/__tests__/PresaleProposals.test.jsx
Due: eslint, prettier

fix: 售前方案页展示成本报价闭环状态
  frontend/src/pages/PresaleProposals/index.jsx
  frontend/src/pages/__tests__/PresaleProposals.test.jsx
Due: eslint, prettier

fix: 售前技术评估保留工单项目上下文
  frontend/src/pages/TechnicalAssessment/hooks/__tests__/useAssessmentData.test.js
  frontend/src/pages/TechnicalAssessment/hooks/useAssessmentData.js
  frontend/src/pages/TechnicalAssessment/index.jsx
  frontend/src/pages/__tests__/TechnicalAssessment.test.jsx
Due: eslint, prettier

fix: 方案生成预填售前技术上下文
  frontend/src/pages/PresaleProposals/SolutionGenerateTab.jsx
  frontend/src/pages/PresaleProposals/index.jsx
  frontend/src/pages/__tests__/PresaleProposals.test.jsx
Due: eslint, prettier

fix: 可行性评估接入正式技术评估闭环
  frontend/src/pages/PresalesWorkstation.jsx
  frontend/src/pages/__tests__/PresalesWorkstation.test.jsx
Due: eslint, prettier

fix: 技术评估从售前需求包推导评分字段
  frontend/src/pages/TechnicalAssessment/hooks/__tests__/useAssessmentData.test.js
  frontend/src/pages/TechnicalAssessment/hooks/useAssessmentData.js
Due: eslint, prettier

fix: 立项交接锁定售前方案来源
  frontend/src/pages/InitiationManagement/index.jsx
  frontend/src/pages/__tests__/InitiationManagement.test.jsx
Due: eslint, prettier

fix: 修复售前技术页包屑导航
  frontend/src/components/layout/PageHeader.jsx
  frontend/src/components/layout/__tests__/PageHeader.test.jsx
  frontend/src/pages/TechnicalAssessment/index.jsx
  frontend/src/pages/__tests__/TechnicalAssessment.test.jsx
Due: eslint, prettier

fix: 打通销售根路径和需求包入口
  frontend/src/pages/RequirementSurvey/SurveyDetailPanel.jsx
  frontend/src/pages/RequirementSurvey/index.jsx
  frontend/src/pages/__tests__/RequirementSurvey.test.jsx
  frontend/src/routes/modules/__tests__/salesPresaleWorkbenchRoutes.test.jsx
  frontend/src/routes/modules/salesRoutes.jsx
Due: eslint, prettier

fix: 售前工单详情补齐技术闭环入口
  frontend/src/pages/PresalesTasks/TaskDetailPanel.jsx
  frontend/src/pages/__tests__/PresalesTasks.test.jsx
Due: eslint, prettier

fix: 投标详情打通关联方案入口
  frontend/src/pages/BiddingCenter/BiddingDetailPanel.jsx
  frontend/src/pages/BiddingCenter/index.jsx
  frontend/src/pages/__tests__/BiddingCenter.test.jsx
Due: eslint, prettier

fix: 方案详情打通PMO立项交接
  frontend/src/pages/SolutionDetail/components/SolutionHeader.jsx
  frontend/src/pages/SolutionDetail/hooks/__tests__/useSolutionDetail.test.js
  frontend/src/pages/SolutionDetail/hooks/useSolutionDetail.js
  frontend/src/pages/SolutionDetail/index.jsx
  frontend/src/pages/__tests__/SolutionDetail.test.jsx
Due: eslint, prettier

fix: PMO立项保留线索阶段售前交接
  app/services/pmo_initiation/service.py
  tests/api/test_pmo.py
Due: check-file-size

fix: 区分售前工单评估完成与流程完成
  app/services/technical_assessment_service.py
Due: check-file-size

test: 售前线索工单筛选使用真实线索数据
  tests/api/test_presales_contract_api.py
Due: check-file-size

test: 锁定售前成本到报价立项闭环
  tests/api/test_presales_contract_api.py
Due: check-file-size

fix: 打通销售合同审批归档导出闭环
  app/api/v1/endpoints/sales/contracts/basic.py
  app/api/v1/endpoints/sales/contracts/export.py
  app/services/approval_engine/adapters/contract.py
  app/services/contract_approval/service.py
  app/services/pdf_export_service.py
  tests/api/test_sales_contracts_api.py
  tests/unit/test_contract_approval_adapter_deep.py
  tests/unit/test_contract_approval_service.py
Due: check-file-size

fix: 保留销售技术评估跳转上下文
  frontend/src/lib/__tests__/salesNavigation.test.js
  frontend/src/lib/salesNavigation.js
  frontend/src/pages/SalesWorkstation.jsx
Due: eslint, prettier

chore: 清理仓库历史生成文件
  .gitignore
  REPO_CLEANUP_AUDIT.md
  coverage-models.xml
  coverage-schemas.xml
  coverage-services.xml
  coverage-unit-root-1of8.xml
  data/app.db.backup.20260214171440
  data/app.db.backup_20260201_002013
  data/app.db.backup_before_resign_cleanup
  data/app.db.backup_readonly
  data/app.db.corrupted.20260204230903
  data/app.db.corrupted_20260131_190350
  data/app.db.new_20260205144617
  data/app_backup_20260131_190342.sql
  data/backup_after_seeding.sql
  dummy.db-shm
  dummy.db-wal
  frontend/src/pages/AIStaffMatching.jsx.bak2
Due: none

fix: 打通技术评估协作入口
  frontend/src/lib/assessmentSource.js
  frontend/src/pages/AIClarificationChat.jsx
  frontend/src/pages/OpenItemsManagement.jsx
  frontend/src/pages/RequirementFreezeManagement.jsx
  frontend/src/pages/TechnicalAssessment/hooks/__tests__/useTechnicalAssessment.test.js
  frontend/src/pages/TechnicalAssessment/hooks/useAssessmentData.js
  frontend/src/pages/TechnicalAssessment/hooks/useTechnicalAssessment.js
  frontend/src/pages/TechnicalAssessment/index.jsx
  frontend/src/pages/__tests__/AIClarificationChat.test.jsx
  frontend/src/pages/__tests__/OpenItemsManagement.test.jsx
  frontend/src/pages/__tests__/RequirementFreezeManagement.test.jsx
  frontend/src/pages/__tests__/TechnicalAssessment.test.jsx
  frontend/src/services/api/__tests__/presaleWorkbench.test.js
  frontend/src/services/api/presaleWorkbench.js
Due: eslint, prettier

fix: 修复技术评估模板版本闭环
  app/api/v1/endpoints/sales/assessment_templates.py
  app/services/sales/assessment_template_service.py
  tests/api/test_assessment_template_api.py
Due: check-file-size

fix: 接入技术评估模板评分
  app/api/v1/endpoints/sales/assessments/assessments.py
  app/schemas/sales/assessments.py
  app/services/technical_assessment_service.py
  tests/api/test_assessment_template_api.py
Due: check-file-size

fix: 接通技术评估模板前端闭环
  frontend/src/pages/TechnicalAssessment/components/AssessmentResults.jsx
  frontend/src/pages/TechnicalAssessment/components/AssessmentStatusCard.jsx
  frontend/src/pages/TechnicalAssessment/hooks/useAssessmentData.js
  frontend/src/pages/TechnicalAssessment/index.jsx
  frontend/src/pages/__tests__/TechnicalAssessment.test.jsx
Due: eslint, prettier
