Repository fulingwei1/non-standard-automation-pms: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, eslint, prettier

check-file-size:
  name: 检查文件大小限制
  entry: python scripts/check_file_size.py
  language: python
  pass_filenames: false

eslint:
  name: ESLint 检查
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

prettier:
  name: Prettier 格式化检查
  entry: bash -c 'cd frontend && npx prettier --check "src/**/*.{js,jsx,ts,tsx,css}"'
  language: system
  pass_filenames: false

fix(SALES-21): 商机阶段词表前后端统一——枚举单一事实源
  app/api/v1/endpoints/sales/statistics_core.py
  app/api/v1/endpoints/sales/statistics_reports.py
  frontend/src/components/opportunity/WinRateAnalysisCard.jsx
  frontend/src/lib/constants/opportunityBoard.js
  frontend/src/pages/OpportunityDetail.jsx
  frontend/src/pages/OpportunityManagement/constants.js
  frontend/src/pages/OpportunityManagement/index.jsx
  frontend/src/pages/SalesStatistics.jsx
  frontend/src/pages/__tests__/OpportunityManagement.test.jsx
  migrations/20260703_sales_opportunity_stage_vocab_sqlite.sql
Due: check-file-size, eslint, prettier

fix(SALES-20): 报价数量/单价正数校验——有限 Decimal 且大于 0
  app/api/v1/endpoints/sales/quote_items.py
  app/api/v1/endpoints/sales/quote_versions.py
  app/api/v1/endpoints/sales/quotes.py
  app/api/v1/endpoints/sales/utils/quote_item_validation.py
  app/schemas/sales/quotes.py
  frontend/src/pages/QuoteCreateEdit/QuoteItemsTable.jsx
  frontend/src/pages/__tests__/QuoteCreateEdit.test.jsx
Due: check-file-size, eslint, prettier

fix(SALES-22): 销售记录级权限函数去重——check_sales_data_permission 单一定义
  app/core/sales_permissions.py
  tests/unit/test_sales_scope_expansion.py
Due: check-file-size

fix(SALES-18): 报价当前版本口径统一——current_version_id 单一事实源
  app/api/v1/endpoints/sales/quote_costs.py
  tests/api/test_sales_quote_costs_quantity_contracts.py
Due: check-file-size

fix(SALES-15): 销售团队统计/排名恒 0 桩改真实聚合
  app/api/v1/endpoints/sales/team/utils.py
  app/services/sales_ranking_service.py
  app/services/sales_team_service.py
  tests/services/test_sales_team_aggregation_contracts.py
  tests/unit/test_sales_team_deep.py
  tests/unit/test_sales_team_service.py
Due: check-file-size

fix(SALES-14): 付款审批前端断链——改走统一审批真实路由
  frontend/src/pages/PaymentApproval/hooks/__tests__/usePaymentApproval.test.js
  frontend/src/pages/PaymentApproval/hooks/usePaymentApproval.js
  frontend/src/services/api/__tests__/paymentApproval.test.js
  frontend/src/services/api/paymentApproval.js
Due: eslint, prettier

fix(AS-02,AS-15): 邮件/短信通知假发送做实
  app/services/notification/channels/email_handler.py
  app/services/notification/channels/sms_handler.py
  app/services/timesheet/reminder/notification_sender.py
  app/tests/services/notification/test_email_handler.py
  app/tests/services/notification/test_sms_handler.py
  tests/unit/test_notification_channels_email.py
  tests/unit/test_notification_channels_sms.py
  tests/unit/test_notification_sender_coverage.py
Due: check-file-size

docs: 功能审计台账与工作日志同步（MISC-01/SALES-14/SALES-15 等止血进展）
  FUNCTIONAL_AUDIT_TRACKER.md
  PROJECT_NOTES.md
Due: none

fix(MISC-01): 竞品分析假数据止血下架——接口 501、菜单路由摘除
  app/api/v1/endpoints/competitor_analysis.py
  frontend/src/components/layout/sidebarConfig/default.js
  frontend/src/routes/modules/__tests__/salesCompetitorAnalysisStopgap.test.jsx
  frontend/src/routes/modules/salesRoutes.jsx
  tests/api/test_competitor_analysis_stopgap_contracts.py
Due: check-file-size, eslint, prettier

fix(PRE-21): AI 后台任务重启恢复与超时终止
  app/main.py
  app/services/ai_job_service.py
  tests/unit/test_ai_job_recovery.py
Due: check-file-size

docs: 台账与日志同步 PRE-10/PRE-21 修复进展
  FUNCTIONAL_AUDIT_TRACKER.md
  PROJECT_NOTES.md
Due: none

fix(PRE-10): AI 需求分析下游贯通——方案/报价自动带出，确认后回填商机需求
  app/api/v1/endpoints/presale/ai_requirement.py
  app/schemas/presale_ai_quotation.py
  app/schemas/presale_ai_solution.py
  app/services/presale/presale_ai_quotation_service.py
  app/services/presale/presale_ai_service.py
  app/services/presale/requirement_analysis_bridge.py
  tests/unit/test_presale_requirement_bridge.py
Due: check-file-size

feat(ai-feedback): AI 产出反馈闭环 0→1——采纳/驳回记录与采纳率统计
  PROJECT_NOTES.md
  app/api/v1/api.py
  app/api/v1/endpoints/ai_feedback.py
  app/models/ai_feedback.py
  app/services/ai_feedback_service.py
  app/services/presale/requirement_analysis_bridge.py
  migrations/20260703_ai_output_feedback_sqlite.sql
  tests/unit/test_ai_feedback_contracts.py
Due: check-file-size

feat(ai-gate): AI 方案评审嵌入 G2 闸门——HIGH 风险未处置不放行
  PROJECT_NOTES.md
  app/api/v1/endpoints/sales/opportunity_workflow.py
  app/api/v1/endpoints/sales/utils/gate_validation.py
  app/api/v1/endpoints/sales/utils/solution_review.py
  tests/unit/test_ai_review_gate_contracts.py
Due: check-file-size

feat(ai-calibration): AI 三档报价 vs 成交金额对账——持续优化数据地基
  PROJECT_NOTES.md
  app/api/v1/endpoints/ai_feedback.py
  app/services/ai_quote_calibration_service.py
  tests/unit/test_ai_quote_calibration_contracts.py
Due: check-file-size

feat(ai-frontend): AI 闭环前端接入——反馈按钮与评审处置入口
  PROJECT_NOTES.md
  frontend/src/components/ai/AiFeedbackButtons.jsx
  frontend/src/components/ai/__tests__/AiFeedbackButtons.test.jsx
  frontend/src/components/opportunity/SolutionReviewCard.jsx
  frontend/src/components/opportunity/__tests__/SolutionReviewCard.test.jsx
  frontend/src/pages/OpportunityDetail.jsx
Due: eslint, prettier

feat(ai-dashboard): AI 效果看板——采纳率与报价对账的经营复盘入口
  PROJECT_NOTES.md
  frontend/src/components/layout/sidebarConfig/default.js
  frontend/src/pages/AIEffectiveness.jsx
  frontend/src/pages/__tests__/AIEffectiveness.test.jsx
  frontend/src/routes/modules/salesRoutes.jsx
Due: eslint, prettier

feat(presale-ai): 售前 AI 前端闭环重建——requirement_analysis_id 全链贯通
  PROJECT_NOTES.md
  app/api/v1/endpoints/presale/ai_requirement.py
  app/models/__init__.py
  app/services/ai_job_service.py
  frontend/src/components/layout/sidebarConfig/default.js
  frontend/src/pages/PresaleAIWorkbench.jsx
  frontend/src/pages/__tests__/PresaleAIWorkbench.test.jsx
  frontend/src/routes/modules/presalesRoutes.jsx
  frontend/src/services/__tests__/presaleAIService.test.js
  frontend/src/services/presaleAIService.js
  tests/unit/test_presale_requirement_bridge.py
Due: check-file-size, eslint, prettier

fix(PRE-详10/详7): mock 方案禁入库 + BOM 接真实询价
  PROJECT_NOTES.md
  app/services/ai_client_service.py
  app/services/ai_job_service.py
  app/services/presale/presale_ai_service.py
  tests/unit/test_presale_ai_mock_guard.py
Due: check-file-size

fix(SALES-16): AI 销售助手降级显式标注，流失清单定为诚实规则扫描
  FUNCTIONAL_AUDIT_TRACKER.md
  PROJECT_NOTES.md
  app/services/sales_ai_assistant_service.py
  frontend/src/pages/SalesAI/index.jsx
  tests/unit/test_sales_ai_degradation_marking.py
Due: check-file-size, eslint, prettier

fix(SALES-06,SALES-07): 销售预测接线真算法，前端假数据全清
  FUNCTIONAL_AUDIT_TRACKER.md
  PROJECT_NOTES.md
  app/api/v1/endpoints/sales/sales_forecast.py
  app/services/sales_forecast_service.py
  frontend/src/pages/SalesAI/ForecastDashboard.jsx
  tests/audit_p0/test_p0_15_forecast_hardcoded.py
  tests/unit/test_sales_forecast_wiring.py
Due: check-file-size, eslint, prettier

fix(SALES-08): 销售目标 actual_value 实时回填，达成率口径统一
  FUNCTIONAL_AUDIT_TRACKER.md
  PROJECT_NOTES.md
  app/api/v1/endpoints/sales/targets.py
  tests/unit/test_sales_target_actuals.py
Due: check-file-size

fix(SALES-11): 线索转商机自动承接需求详情，G1 默认走门
  FUNCTIONAL_AUDIT_TRACKER.md
  PROJECT_NOTES.md
  app/api/v1/endpoints/sales/leads/actions.py
  frontend/src/pages/LeadManagement.jsx
  tests/unit/test_lead_convert_carryover.py
Due: check-file-size, eslint, prettier

fix(SALES-12): 报价详情补'转合同'一键入口——from-quote 前端断链接通
  FUNCTIONAL_AUDIT_TRACKER.md
  PROJECT_NOTES.md
  frontend/src/pages/QuoteManagement/QuoteDetailDialog.jsx
  frontend/src/pages/QuoteManagement/__tests__/QuoteDetailDialog.fromQuote.test.jsx
  frontend/src/services/api/sales.js
Due: eslint, prettier

fix(SALES-13): 智能报价假实现收口——历史价做实，其余下架
  FUNCTIONAL_AUDIT_TRACKER.md
  PROJECT_NOTES.md
  app/api/v1/endpoints/sales/intelligent_quote.py
  frontend/src/pages/SalesFunnel/OpportunityWinRate.jsx
  frontend/src/routes/modules/salesRoutes.jsx
  tests/unit/test_intelligent_quote_stopgap.py
Due: check-file-size, eslint, prettier

fix(PRE-17,PRE-18): 中文检索短期方案——bigram 余弦替换假语义搜索
  FUNCTIONAL_AUDIT_TRACKER.md
  PROJECT_NOTES.md
  app/api/v1/endpoints/sales/opportunity_workflow.py
  app/services/presale/presale_ai_knowledge_service.py
  app/services/presale/presale_ai_service.py
  app/utils/text_similarity.py
  tests/unit/test_text_similarity_retrieval.py
Due: check-file-size

fix(APPR-04): 缺料预警定时任务回填真实现——接 SmartAlertEngine
  FUNCTIONAL_AUDIT_TRACKER.md
  PROJECT_NOTES.md
  app/utils/scheduled_tasks/__init__.py
  app/utils/scheduled_tasks/shortage_tasks.py
  app/utils/scheduled_tasks/stub_tasks.py
  app/utils/scheduler_config/shortage.py
  tests/audit_p0/test_p0_10_stub_tasks.py
  tests/unit/test_j3_scheduled_tasks.py
  tests/unit/test_shortage_alert_task_backfill.py
Due: check-file-size

fix(HR-17): 奖金审批主链路加固——权限门+防自审+状态前置
  FUNCTIONAL_AUDIT_TRACKER.md
  PROJECT_NOTES.md
  app/api/v1/endpoints/bonus/allocation_sheets/operations.py
  app/api/v1/endpoints/bonus/sales_calc.py
  app/services/bonus/bonus_distribution_service.py
  tests/unit/test_bonus_approval_gate.py
Due: check-file-size

fix(APPR-04): 紧急采购自动触发回填 + 台账对账 5 项同步
  FUNCTIONAL_AUDIT_TRACKER.md
  PROJECT_NOTES.md
  app/utils/scheduled_tasks/__init__.py
  app/utils/scheduled_tasks/shortage_tasks.py
  app/utils/scheduled_tasks/stub_tasks.py
  app/utils/scheduler_config/shortage.py
  tests/unit/test_j3_scheduled_tasks.py
  tests/unit/test_shortage_alert_task_backfill.py
Due: check-file-size

fix(PROJ-23): SAT 验收通过自动移交售后——质保建档+机台回填
  FUNCTIONAL_AUDIT_TRACKER.md
  PROJECT_NOTES.md
  app/services/acceptance/acceptance_service.py
  tests/unit/test_acceptance_aftersales_handover.py
Due: check-file-size

fix(ADMIN-07): 行政管理四件套做实——用品/车辆/资产/费用真库 CRUD
  FUNCTIONAL_AUDIT_TRACKER.md
  PROJECT_NOTES.md
  app/api/v1/endpoints/admin_compat.py
  app/models/__init__.py
  app/models/admin_office.py
  migrations/20260704_admin_office_sqlite.sql
  tests/unit/test_admin_office_real.py
Due: check-file-size

ci: 质量门禁三件套——权限覆盖/幽灵表/AI mock 闸棘轮
  .github/workflows/guard-quality-gates.yml
  PROJECT_NOTES.md
  hooks/commit-msg
  scripts/ai_mock_guard_baseline.json
  scripts/ci_guard_ai_mock.py
  scripts/ci_guard_ghost_tables.py
  scripts/ci_guard_permission_coverage.py
  scripts/ghost_tables_baseline.json
  scripts/permission_coverage_baseline.json
Due: check-file-size

fix(TEN-06): 租户 fail-closed 地基——决策函数+归户迁移+灰度开关
  FUNCTIONAL_AUDIT_TRACKER.md
  PROJECT_NOTES.md
  app/core/middleware/tenant_middleware.py
  migrations/20260704_tenant_user_backfill_sqlite.sql
  tests/unit/test_tenant_fail_closed.py
Due: check-file-size

docs: docs/ 目录下陈旧实现报告归档至 archive/stale-docs-20260704
  docs/archive/stale-docs-20260704/2FA_IMPLEMENTATION_SUMMARY.md
  docs/archive/stale-docs-20260704/CUSTOMER_MANAGEMENT_COMPLETE.md
  docs/archive/stale-docs-20260704/DATA_SCOPE_DELIVERY_SUMMARY.md
  docs/archive/stale-docs-20260704/DELIVERY_REPORT_AI_COST_ESTIMATION.md
  docs/archive/stale-docs-20260704/EVM_IMPLEMENTATION_REPORT.md
  docs/archive/stale-docs-20260704/IMPLEMENTATION_REPORT_PRESALE_AI_SOLUTION.md
  docs/archive/stale-docs-20260704/IMPLEMENTATION_REPORT_QUOTATION_AI.md
  docs/archive/stale-docs-20260704/PRESALE_AI_KNOWLEDGE_IMPLEMENTATION_REPORT.md
  docs/archive/stale-docs-20260704/PRESALE_AI_WIN_RATE_IMPLEMENTATION_SUMMARY.md
  docs/archive/stale-docs-20260704/README.md
  docs/archive/stale-docs-20260704/SALES_TEAM_MANAGEMENT_COMPLETION_REPORT.md
  docs/archive/stale-docs-20260704/TASK_COMPLETION_PERMISSION_CACHE.md
  docs/archive/stale-docs-20260704/TEAM10_IMPLEMENTATION_REPORT.md
  docs/archive/stale-docs-20260704/TIMESHEET_ANALYTICS_IMPLEMENTATION_SUMMARY.md
  docs/archive/stale-docs-20260704/TIMESHEET_REMINDER_IMPLEMENTATION.md
  docs/archive/stale-docs-20260704/ai_emotion_implementation_summary.md
  docs/archive/stale-docs-20260704/data_scope_optimization_report.md
  docs/archive/stale-docs-20260704/frontend-completion-report.md
  docs/archive/stale-docs-20260704/implementation/project_cost_list_enhancement_summary.md
  docs/archive/stale-docs-20260704/modules/hr/ADMINISTRATIVE_FINAL_SUMMARY.md
  docs/archive/stale-docs-20260704/modules/hr/CULTURE_WALL_IMPLEMENTATION.md
  docs/archive/stale-docs-20260704/modules/hr/HR_MANAGER_DASHBOARD_FINAL.md
  docs/archive/stale-docs-20260704/modules/hr/REFACTORING_SUMMARY_HR.md
  docs/archive/stale-docs-20260704/modules/production/装配齐套分析系统功能增强总结.md
  docs/archive/stale-docs-20260704/presale_mobile_implementation_report.md
  docs/archive/stale-docs-20260704/progress/DEVELOPMENT_TASKS.md
  docs/archive/stale-docs-20260704/progress/泛微系统功能覆盖分析报告.md
  docs/archive/stale-docs-20260704/progress/系统交付总结.md
  docs/archive/stale-docs-20260704/progress/系统功能实现状态总览.md
  docs/archive/stale-docs-20260704/reports/CODE_QUALITY_DETAILED_REPORT.md
  docs/archive/stale-docs-20260704/reports/all-report-migration-final-summary.md
  docs/archive/stale-docs-20260704/security/DATA_ENCRYPTION_DELIVERY_REPORT.md
  docs/archive/stale-docs-20260704/security/SECRET_KEY_MANAGEMENT_DELIVERY_REPORT.md
  docs/archive/stale-docs-20260704/team3_delivery_report.md
  docs/archive/stale-docs-20260704/角色继承实现验收报告.md
Due: none

fix(TEN-01): 租户管理 API 接真实路由
  app/api/v1/endpoints/tenants.py
  tests/unit/test_tenant_management_routes_ten01.py
Due: check-file-size

fix(PERM-06,08,12,13,14,19,20): 权限缓存/审计日志/账号解锁/会话撤销收口
  app/api/v1/endpoints/account_unlock.py
  app/api/v1/endpoints/audits.py
  app/core/auth.py
  app/core/permission_engine.py
  app/services/account_lockout_service.py
  app/services/user_sync_service.py
  migrations/20260704_jwt_token_blacklist_sqlite.sql
  migrations/20260704_permission_cache_revisions_sqlite.sql
  tests/api/test_required_query_route_contracts.py
  tests/unit/test_account_unlock_api_perm06.py
  tests/unit/test_audits_api_perm08.py
  tests/unit/test_core_auth.py
  tests/unit/test_password_reset_sessions_perm20.py
  tests/unit/test_permission_alias_perm14.py
  tests/unit/test_permission_cache_perm13.py
  tests/unit/test_permission_engine.py
  tests/unit/test_role_delete_perm19.py
Due: check-file-size

fix(PERM-11,APPR): 权限覆盖率重扫与审批引擎适配器/角色管理服务补齐
  PERMISSION_COVERAGE_AUDIT.json
  app/api/v1/api.py
  app/api/v1/endpoints/roles.py
  app/api/v1/endpoints/users/utils.py
  app/core/middleware/auth_middleware.py
  app/services/approval_engine/__init__.py
  app/services/approval_engine/adapters/budget.py
  app/services/approval_engine/adapters/quote.py
  app/services/approval_engine/engine/submit.py
  app/services/permission_cache_service.py
  app/services/permission_management/permission_cache_service.py
  app/services/permission_management/permission_management_service.py
  app/services/role_management/service.py
  frontend/src/hooks/usePermission.js
Due: check-file-size, eslint, prettier

fix(ADMIN-01,03,04,05,06,08,09,12,13,14,18): 备份校验/健康检查/系统统计/合同附件读取/项目缓存收口
  app/api/v1/endpoints/admin_stats.py
  app/api/v1/endpoints/backup.py
  app/api/v1/endpoints/data_import_export/import_upload.py
  app/api/v1/endpoints/projects/cache.py
  app/api/v1/endpoints/sales/contracts/attachment_security.py
  app/api/v1/endpoints/sales/contracts/enhanced_attachments.py
  app/main.py
  app/models/exports/complete/__init__.py
  app/models/exports/complete/other_modules.py
  app/schemas/data_import_export.py
  app/services/backup_service.py
  monitoring/prometheus.yml
  scripts/backup_database.sh
  scripts/restore_database.sh
  scripts/verify_backup.sh
  tests/unit/test_admin_stats_admin05_06.py
  tests/unit/test_backup_admin01_03.py
  tests/unit/test_backup_scheduler_appr22.py
  tests/unit/test_contract_attachment_security_admin18.py
  tests/unit/test_data_import_upload_admin13_14.py
  tests/unit/test_health_check_admin09.py
  tests/unit/test_projects_cache_admin12.py
  tests/unit/test_prometheus_metrics_admin08.py
Due: check-file-size

fix(HR-02,04,06,07,08,09,10,16,18,21,22,24): 考勤假数据/节假日DB消费/离职停用/时薪版本化/绩效奖金/文化墙收口
  app/api/v1/endpoints/admin_attendance.py
  app/api/v1/endpoints/culture_wall/contents.py
  app/api/v1/endpoints/culture_wall_config.py
  app/api/v1/endpoints/engineer_performance/engineer.py
  app/api/v1/endpoints/hourly_rate/crud.py
  app/api/v1/endpoints/hourly_rate/query.py
  app/api/v1/endpoints/hr_management/transactions.py
  app/api/v1/endpoints/organization/departments_refactored.py
  app/api/v1/endpoints/organization/employees.py
  app/models/__init__.py
  app/models/engineer_performance/common.py
  app/schemas/culture_wall.py
  app/services/bonus/base.py
  app/services/bonus/bonus_allocation_parser.py
  app/services/bonus/performance.py
  app/services/collaboration_rating/ratings.py
  app/services/collaboration_rating/statistics.py
  app/services/employee_import_service.py
  app/services/engineer_performance/engineer_performance_service.py
  app/services/hourly_rate_service.py
  app/services/work_log_ai/rule_engine.py
  app/utils/common.py
  app/utils/holiday_utils.py
  frontend/src/pages/AttendanceManagement.jsx
  frontend/src/pages/__tests__/AttendanceManagement.test.jsx
  migrations/20260704_collaboration_rating_auto_completion_sqlite.sql
  tests/api/test_org_delete_hr04.py
  tests/api/test_organization.py
  tests/unit/test_admin_attendance_hr06_07.py
  tests/unit/test_bonus_allocation_totals_hr18.py
  tests/unit/test_collaboration_ratings.py
  tests/unit/test_collaboration_statistics.py
  tests/unit/test_culture_wall_hr22.py
  tests/unit/test_culture_wall_misc23.py
  tests/unit/test_employee_import_service.py
  tests/unit/test_engineer_performance_result_persistence_hr10.py
  tests/unit/test_holiday_db_consumption_hr09.py
  tests/unit/test_hourly_rate_hr21.py
  tests/unit/test_hr_resignation_user_deactivation_hr02.py
  tests/unit/test_performance_bonus_chain_hr16.py
Due: check-file-size, eslint, prettier

Path conditions:
  check-file-size: any of: \.py$
  eslint: any of: \.(js|jsx|ts|tsx)$
  prettier: any of: \.(js|jsx|ts|tsx|css)$
