Repository fulingwei1/non-standard-automation-pms: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, eslint, prettier

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# 安装: pip install pre-commit && pre-commit install

repos:
  # 通用钩子
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: 移除行尾空白
      - id: end-of-file-fixer
        name: 确保文件以换行符结尾
      - id: check-yaml
        name: 检查YAML语法
      - id: check-json
        name: 检查JSON语法
      - id: check-added-large-files
        name: 检查大文件
        args: ["--maxkb=500"]
      - id: check-merge-conflict
        name: 检查合并冲突
      - id: detect-private-key
        name: 检测私钥
      - id: no-commit-to-branch
        name: 禁止直接提交到main分支
        args: ["--branch", "main"]

  # Python 代码格式化
  - repo: https://github.com/psf/black
    rev: 24.1.1
    hooks:
      - id: black
        name: Black 代码格式化
        language_version: python3.11
        args: ["--line-length=120"]

  # Python 导入排序
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        name: isort 导入排序
        args: ["--profile=black", "--line-length=120"]

  # Python 代码检查
  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        name: Flake8 代码检查
        args: ["--max-line-length=120", "--ignore=E501,W503,E203"]
        additional_dependencies:
          - flake8-docstrings
          - flake8-bugbear

  # Python 安全检查
  - repo: https://github.com/pycqa/bandit
    rev: 1.7.7
    hooks:
      - id: bandit
        name: Bandit 安全检查
        args: ["-ll", "-ii"]
        exclude: tests/

  # 自定义文件大小检查
  - repo: local
    hooks:
      - id: check-file-size
        name: 检查文件大小限制
        entry: python scripts/check_file_size.py
        language: python
        types: [python]
        pass_filenames: false

      - id: check-function-size
        name: 检查函数大小
        entry: python scripts/check_function_size.py
        language: python
        types: [python]
        pass_filenames: false
        always_run: true

  # JavaScript/TypeScript (前端)
  - repo: local
    hooks:
      - id: eslint
        name: ESLint 检查
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

      - id: prettier
        name: Prettier 格式化检查
        entry: bash -c 'cd frontend && npx prettier --check "src/**/*.{js,jsx,ts,tsx,css}"'
        language: system
        files: \.(js|jsx|ts|tsx|css)$
        pass_filenames: false

# CI 设置
ci:
  autofix_commit_msg: "style: auto fixes from pre-commit hooks"
  autofix_prs: true
  autoupdate_commit_msg: "chore: pre-commit autoupdate"
  autoupdate_schedule: weekly

fix(TEN-06): 多租户改造收尾——TENANT_ENFORCE_MODE 切换到 strict
  app/core/config.py
  docs/root-docs-archive/20260704/FUNCTIONAL_AUDIT_TRACKER.md
Due: check-file-size

fix(SALES-06残项): 销售目标缺失时优先用真实年度目标换算，不再直接摔到硬编码兜底
  app/services/sales_forecast_service.py
  tests/unit/test_sales_forecast_service.py
Due: check-file-size

docs(refactor): 模块化重构归域清单 MODULE_MAP + 16份分片扫描明细
  docs/refactor/MODULE_MAP.md
  docs/refactor/module-map/ep-a-bo.md
  docs/refactor/module-map/ep-bu-e.md
  docs/refactor/module-map/ep-e-o.md
  docs/refactor/module-map/ep-p-q.md
  docs/refactor/module-map/ep-projects.md
  docs/refactor/module-map/ep-r-w.md
  docs/refactor/module-map/ep-sales.md
  docs/refactor/module-map/models-a-pre.md
  docs/refactor/module-map/models-pro-z.md
  docs/refactor/module-map/platform.md
  docs/refactor/module-map/svc-a-c.md
  docs/refactor/module-map/svc-d-m.md
  docs/refactor/module-map/svc-n-pm.md
  docs/refactor/module-map/svc-p-q.md
  docs/refactor/module-map/svc-r-sh.md
  docs/refactor/module-map/svc-sl-z.md
Due: none

feat(presale-ai): WIP收编——售前AI套件新文件
  app/api/v1/company_certifications.py
  app/api/v1/endpoints/audit_pack.py
  app/api/v1/endpoints/export_docs.py
  app/api/v1/endpoints/presale_proposals.py
  app/api/v1/endpoints/presale_usage_feedback.py
  app/models/audit_pack.py
  app/models/company_certification.py
  app/models/company_profile.py
  app/models/competitor.py
  app/models/presale_proposal.py
  app/models/presale_usage_feedback.py
  app/services/presale/audit_pack_generator.py
  app/services/presale/competitive_analyzer.py
  app/services/presale/docx_exporter.py
  app/services/presale/layout_html_generator.py
  app/services/presale/proposal_notifier.py
  app/services/presale/risk_taxonomy.py
  app/services/presale/sales_coach.py
  frontend/src/pages/AuditPack/index.jsx
  frontend/src/pages/CompanyCertifications/index.jsx
  frontend/src/pages/PresaleProposalReview/index.jsx
  frontend/src/pages/PresaleUsageFeedback/index.jsx
  frontend/src/services/api/presaleAuditPack.js
  frontend/src/services/api/presaleProposals.js
  frontend/src/services/api/presaleUsageFeedback.js
  migrations/20260704_competitors_sqlite.sql
  migrations/20260704_presale_case_jkb_fields_sqlite.sql
  migrations/20260704_presale_proposals_sqlite.sql
  migrations/create_company_certifications.sql
  migrations/versions/20260705_001_add_company_certifications.py
  scripts/certifications_template.csv
  scripts/enrich_competitors.py
  scripts/enrich_fct_products.py
  scripts/import_automation_competitors.py
  scripts/import_company_profile.py
  scripts/import_competitors.py
  scripts/import_focus_industry_competitors.py
  tests/unit/test_presale_ai_quotation_to_sales_quote.py
Due: check-file-size, eslint, prettier

feat(sales-audit): WIP收编——销售七实体操作审计日志
  app/services/sales/contact_operation_audit.py
  app/services/sales/contract_operation_audit.py
  app/services/sales/customer_operation_audit.py
  app/services/sales/invoice_operation_audit.py
  app/services/sales/lead_operation_audit.py
  app/services/sales/opportunity_operation_audit.py
  app/services/sales/quote_operation_audit.py
  tests/unit/test_sales_operation_audit_perm07.py
  tests/unit/test_sales_router_import_contract.py
Due: check-file-size

feat(otd): WIP收编——OTD交期与毛利看板新文件
  app/services/dashboard/margin_level_service.py
  app/services/otd/compare_service.py
  app/services/otd/margin_export_service.py
  app/services/otd/otd_export_service.py
  frontend/src/components/otd/TrendChart.jsx
  frontend/src/pages/MarginDashboard.jsx
  frontend/src/pages/OTDDashboard.jsx
  frontend/src/pages/OTDProjectCompare.jsx
  frontend/src/pages/OTDProjectDetail.jsx
  frontend/src/pages/OTDThresholdConfig.jsx
  frontend/src/pages/OtdMetrics.jsx
  frontend/src/routes/modules/otdRoutes.jsx
  frontend/src/services/api/otd.js
  tests/api/test_margin_dashboard_endpoints.py
  tests/services/test_otd_compare.py
Due: check-file-size, eslint, prettier

feat(pmo): WIP收编——PM月度自检表与BOM成本检查清单
  app/api/v1/endpoints/bom_cost_check.py
  app/api/v1/endpoints/pm_monthly_check.py
  app/services/dashboard/bom_cost_check_service.py
  app/services/dashboard/pm_monthly_check_service.py
  frontend/src/pages/BomCostCheck.jsx
  frontend/src/pages/PmMonthlyCheck.jsx
  tests/services/test_bom_cost_check.py
  tests/services/test_pm_monthly_check.py
Due: check-file-size, eslint, prettier

refactor(sales): WIP收编——移除方案版本/绑定校验/lead_requirement_v2/旧账号锁定入口
  app/api/v1/endpoints/sales/workflows.py
  app/core/account_lockout.py
  app/models/sales/lead_requirement_v2.py
  app/models/sales/solution_version.py
  app/schemas/sales/solution_version.py
  app/services/sales/binding_validation_service.py
  frontend/src/components/quote-cost-management/BindQuoteDialog.jsx
  frontend/src/components/quote-cost-management/BindingValidationCard.jsx
  frontend/src/components/sales/SolutionVersionHistory.jsx
  frontend/src/services/__tests__/solutionVersionService.test.js
  frontend/src/services/solutionVersionService.js
  tests/unit/core/test_account_lockout.py
  tests/unit/services/sales/test_binding_validation_service.py
  tests/unit/test_account_lockout_entrypoint_perm04.py
  tests/unit/test_binding_validation_service_coverage.py
  tests/unit/test_core_account_lockout.py
Due: check-file-size, eslint, prettier

chore(db-retire): WIP收编——废表退役与幽灵表治理
  docs/database/process-engine-survival-ledger-20260705.md
  docs/database/table-survival-ledger-20260705.md
  migrations/20260705_999_drop_retired_approval_tables_sqlite.sql
  migrations/20260705_z_drop_unused_residual_tables_sqlite.sql
  migrations/20260705_z_rename_production_resource_conflict_sqlite.sql
  scripts/ci_guard_ghost_tables.py
  scripts/consolidate_legacy_approval_tables.py
  scripts/ghost_tables_baseline.json
  scripts/retire_unused_tables_20260705.py
  tests/unit/test_approval_engine_consolidation_guard.py
  tests/unit/test_ci_guard_ghost_tables.py
  tests/unit/test_unused_table_retirement.py
Due: check-file-size

chore(data-import): WIP收编——真实项目数据导入工具与杂项脚本文档
  app/utils/business_code_generator.py
  docs/OTD_AGENT_GUIDE.md
  docs/真实项目数据导入指南.md
  migrations/20260704_employee_department_id_sqlite.sql
  scripts/audit_permission_coverage.py
  scripts/extract_purchase_from_pdf.py
  scripts/import_real_projects.py
  scripts/projects_template.csv
Due: check-file-size

feat(hr-admin): WIP收编——绩效申诉端点、文档生命周期工具及HR/admin专项测试
  app/api/v1/endpoints/performance/appeals.py
  app/services/document_file_lifecycle.py
  frontend/src/pages/__tests__/NotificationCenter.test.jsx
  frontend/src/routes/modules/__tests__/permissionProtectedRoutes.test.jsx
  scripts/scan_project_document_orphans.py
  tests/api/test_org_department_id_hr05.py
  tests/unit/test_bonus_rule_coefficients_hr19.py
  tests/unit/test_document_delete_file_lifecycle_admin19.py
  tests/unit/test_documents_upload_content_validation_admin17.py
  tests/unit/test_logging_file_rotation_admin20.py
  tests/unit/test_performance_appeals_hr13.py
  tests/unit/test_performance_collector_integration_hr11_12.py
  tests/unit/test_performance_unification_hr14.py
  tests/unit/test_project_document_orphan_cleanup_admin19.py
  tests/unit/test_resource_conflict_persistence_hr23.py
  tests/unit/test_sales_pdf_watermark_admin16.py
Due: check-file-size, eslint, prettier

test: WIP收编——测试补强与修复(混合批)
  tests/api/test_path_param_route_contracts.py
  tests/api/test_presales_contract_api.py
  tests/audit_p0/test_p0_02_approval_template_no_seed.py
  tests/conftest.py
  tests/factories.py
  tests/integration/test_timesheet_flow_integration.py
  tests/services/test_margin_dashboard.py
  tests/services/test_otd_metrics_service.py
  tests/services/test_otd_scan_service.py
  tests/services/test_otd_threshold_service.py
  tests/test_api_permission_scan.py
  tests/test_margin_prediction_api.py
  tests/unit/services/sales/test_operation_log_service.py
  tests/unit/test_admin_stats_admin05_06.py
  tests/unit/test_approval_adapter_invoice.py
  tests/unit/test_approval_adapter_invoice_batch19.py
  tests/unit/test_approval_adapter_quote.py
  tests/unit/test_approval_engine_core.py
  tests/unit/test_approval_workflow_service.py
  tests/unit/test_auth_branches.py
  tests/unit/test_business_support_utils_service.py
  tests/unit/test_cache_service.py
  tests/unit/test_contract_approval_service.py
  tests/unit/test_data_scope_filter_coverage.py
  tests/unit/test_ecn_scheduler_service.py
  tests/unit/test_engperf_data_scope.py
  tests/unit/test_file_upload_service.py
  tests/unit/test_g3_permission_service.py
  tests/unit/test_performance_contract_import.py
  tests/unit/test_permission_service_branches.py
  tests/unit/test_permission_service_practical.py
  tests/unit/test_presale_ai_service.py
  tests/unit/test_presale_legacy_dictionary_pre24.py
  tests/unit/test_profit_analysis_service_coverage.py
  tests/unit/test_project_change_requests_service.py
  tests/unit/test_prometheus_metrics_admin08.py
  tests/unit/test_quote_adapter.py
  tests/unit/test_scheduler_metrics_utils.py
  tests/unit/test_shortage_alert_task_backfill.py
Due: check-file-size

fix(TEN-03补遗): 注册表普查漏网的45张表补齐tenant_id处置
  app/core/database/tenant_scope.py
  app/models/advantage_product.py
  app/models/ai_planning/plan_template.py
  app/models/ai_planning/resource_allocation.py
  app/models/ai_planning/wbs_suggestion.py
  app/models/audit_pack.py
  app/models/bom/cost_breakdown.py
  app/models/company_certification.py
  app/models/company_profile.py
  app/models/competitor.py
  app/models/holiday.py
  app/models/knowledge_base.py
  app/models/presale_agent_metric.py
  app/models/presale_agent_revision.py
  app/models/presale_proposal.py
  app/models/presale_usage_feedback.py
  app/models/project_requirements.py
  app/models/project_risk.py
  app/models/project_schedule.py
  app/models/project_team.py
  app/models/project_template_config.py
  app/models/report.py
  app/models/resource_scheduling.py
  app/models/timesheet_reminder.py
  app/models/user_dashboard_layout.py
  app/models/warehouse.py
  migrations/20260706_ten03_supplement_missing_models_tenant_id_sqlite.sql
Due: check-file-size

feat(P1立规): 模块注册表+租户模块开通闸门+import-linter边界锁
  .importlinter
  app/api/deps.py
  app/api/v1/api.py
  app/api/v1/endpoints/tenant_modules.py
  app/core/config.py
  app/models/tenant_module.py
  app/modules/__init__.py
  app/modules/registry.py
  app/services/tenant_module_service.py
  docs/refactor/MODULE_CONVENTIONS.md
  migrations/20260706_tenant_modules_sqlite.sql
  requirements-dev.txt
  tests/unit/test_tenant_module_gate.py
Due: check-file-size

chore: anonymize demo company data
  scripts/generate_comprehensive_realistic_data.py
  scripts/generate_initiation_demo_data.py
Due: check-file-size
