Repository fulingwei1/non-standard-automation-pms: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, eslint, prettier

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# 安装: pip install pre-commit && pre-commit install

repos:
  # 通用钩子
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: 移除行尾空白
      - id: end-of-file-fixer
        name: 确保文件以换行符结尾
      - id: check-yaml
        name: 检查YAML语法
      - id: check-json
        name: 检查JSON语法
      - id: check-added-large-files
        name: 检查大文件
        args: ["--maxkb=500"]
      - id: check-merge-conflict
        name: 检查合并冲突
      - id: detect-private-key
        name: 检测私钥
      - id: no-commit-to-branch
        name: 禁止直接提交到main分支
        args: ["--branch", "main"]

  # Python 代码格式化
  - repo: https://github.com/psf/black
    rev: 24.1.1
    hooks:
      - id: black
        name: Black 代码格式化
        language_version: python3.11
        args: ["--line-length=120"]

  # Python 导入排序
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        name: isort 导入排序
        args: ["--profile=black", "--line-length=120"]

  # Python 代码检查
  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        name: Flake8 代码检查
        args: ["--max-line-length=120", "--ignore=E501,W503,E203"]
        additional_dependencies:
          - flake8-docstrings
          - flake8-bugbear

  # Python 安全检查
  - repo: https://github.com/pycqa/bandit
    rev: 1.7.7
    hooks:
      - id: bandit
        name: Bandit 安全检查
        args: ["-ll", "-ii"]
        exclude: tests/

  # 自定义文件大小检查
  - repo: local
    hooks:
      - id: check-file-size
        name: 检查文件大小限制
        entry: python scripts/check_file_size.py
        language: python
        types: [python]
        pass_filenames: false

      - id: check-function-size
        name: 检查函数大小
        entry: python scripts/check_function_size.py
        language: python
        types: [python]
        pass_filenames: false
        always_run: true

  # JavaScript/TypeScript (前端)
  - repo: local
    hooks:
      - id: eslint
        name: ESLint 检查
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

      - id: prettier
        name: Prettier 格式化检查
        entry: bash -c 'cd frontend && npx prettier --check "src/**/*.{js,jsx,ts,tsx,css}"'
        language: system
        files: \.(js|jsx|ts|tsx|css)$
        pass_filenames: false

# CI 设置
ci:
  autofix_commit_msg: "style: auto fixes from pre-commit hooks"
  autofix_prs: true
  autoupdate_commit_msg: "chore: pre-commit autoupdate"
  autoupdate_schedule: weekly

feat: 添加验收报告和会议月报配置
  app/report_configs/acceptance/report.yaml
  app/report_configs/meeting/monthly.yaml
Due: none

feat: 添加角色批量操作 API
  app/api/v1/endpoints/roles/crud/__init__.py
  app/api/v1/endpoints/roles/crud/batch.py
Due: check-file-size

feat: 添加前端资源计划和分析 API 模块
  frontend/src/services/api/analytics.js
  frontend/src/services/api/resourcePlan.js
Due: eslint, prettier

fix: 修正 AlertLevelEnum 导入路径
  tests/unit/test_alert_rule_engine.py
Due: check-file-size

feat(report-framework): add unified report API endpoint
  app/api/v1/endpoints/report_center/__init__.py
  app/api/v1/endpoints/report_center/unified.py
  app/services/report_framework/__init__.py
Due: check-file-size

feat: 迁移成员模块到 /projects/{id}/members/
  app/api/v1/endpoints/projects/__init__.py
  app/api/v1/endpoints/projects/members/__init__.py
  app/api/v1/endpoints/projects/members/crud.py
Due: check-file-size

feat: 添加阶段模板种子数据脚本
  scripts/seed_stage_templates.py
Due: check-file-size

feat: 迁移成本模块到 /projects/{id}/costs/
  app/api/v1/endpoints/projects/__init__.py
  app/api/v1/endpoints/projects/costs/__init__.py
  app/api/v1/endpoints/projects/costs/crud.py
Due: check-file-size

feat: 迁移工作日志模块到 /projects/{id}/work-logs/
  app/api/v1/endpoints/projects/__init__.py
  app/api/v1/endpoints/projects/work_logs/__init__.py
  app/api/v1/endpoints/projects/work_logs/crud.py
Due: check-file-size

feat: 迁移项目角色模块到 /projects/{id}/roles/
  app/api/v1/endpoints/projects/__init__.py
  app/api/v1/endpoints/projects/roles/__init__.py
  app/api/v1/endpoints/projects/roles/configs.py
  app/api/v1/endpoints/projects/roles/leads.py
  app/api/v1/endpoints/projects/roles/overview.py
  app/api/v1/endpoints/projects/roles/team_members.py
Due: check-file-size

feat: 迁移项目评价模块到 /projects/{id}/evaluations/
  app/api/v1/endpoints/projects/__init__.py
  app/api/v1/endpoints/projects/evaluations/__init__.py
  app/api/v1/endpoints/projects/evaluations/crud.py
Due: check-file-size

feat: 迁移进度模块到 /projects/{id}/progress/
  app/api/v1/endpoints/projects/__init__.py
  app/api/v1/endpoints/projects/progress/__init__.py
  app/api/v1/endpoints/projects/progress/summary.py
Due: check-file-size

feat: 迁移阶段模块到 /projects/{id}/stages/
  app/api/v1/endpoints/projects/__init__.py
  app/api/v1/endpoints/projects/stages/__init__.py
  app/api/v1/endpoints/projects/stages/crud.py
Due: check-file-size

refactor: 清理菜单栏重复项
  frontend/src/components/layout/sidebarConfig/default.js
Due: eslint, prettier

refactor: 进一步清理菜单功能重复项
  frontend/src/components/layout/sidebarConfig/default.js
Due: eslint, prettier

refactor: 整合功能相近的菜单项
  frontend/src/components/layout/sidebarConfig/default.js
Due: eslint, prettier

refactor: 同步更新角色菜单配置并整合工作中心
  frontend/src/components/layout/sidebarConfig/pmo.js
  frontend/src/components/layout/sidebarConfig/procurement.js
  frontend/src/components/layout/sidebarConfig/production.js
  frontend/src/routes/modules/systemRoutes.jsx
Due: eslint, prettier

feat: 将工作中心内容整合到统一工作台
  frontend/src/pages/UnifiedDashboard/config/roleWidgetConfig.js
  frontend/src/pages/UnifiedDashboard/config/widgetRegistry.js
  frontend/src/pages/UnifiedDashboard/widgets/WelcomeCard.jsx
Due: eslint, prettier

refactor: 统一侧边栏菜单配置
  frontend/src/components/layout/sidebarConfig.js
  frontend/src/components/layout/sidebarConfig/customerService.js
  frontend/src/components/layout/sidebarConfig/engineer.js
  frontend/src/components/layout/sidebarConfig/finance.js
  frontend/src/components/layout/sidebarConfig/index.js
  frontend/src/components/layout/sidebarConfig/pmo.js
  frontend/src/components/layout/sidebarConfig/procurement.js
  frontend/src/components/layout/sidebarConfig/production.js
  frontend/src/components/layout/sidebarConfig/sales.js
Due: eslint, prettier

docs: 添加菜单重复项清理与统一重构文档
  docs/refactor-menu-duplication-changelog.md
Due: none

refactor: 深度整合相似功能菜单项
  frontend/src/components/layout/sidebarConfig/default.js
Due: eslint, prettier

feat: 添加企业文化墙 Widget 组件
  frontend/src/pages/UnifiedDashboard/config/roleWidgetConfig.js
  frontend/src/pages/UnifiedDashboard/config/widgetRegistry.js
  frontend/src/pages/UnifiedDashboard/widgets/CultureWallWidget.jsx
Due: eslint, prettier

docs: 更新重构文档，添加企业文化墙说明
  docs/refactor-menu-duplication-changelog.md
Due: none

refactor: 清理冗余的数据库模型文件
  app/models/__init___refactored.py
  app/models/supplier.py
Due: check-file-size

feat(stage-instance): implement auto-condition checking logic
  app/services/stage_instance/helpers.py
Due: check-file-size

feat(projects): 迁移工作量模块到 /projects/{id}/workload/
  app/api/v1/endpoints/projects/__init__.py
  app/api/v1/endpoints/projects/workload/__init__.py
  app/api/v1/endpoints/projects/workload/crud.py
Due: check-file-size

docs(claude): 更新项目中心API结构文档 (Phase 6)
  CLAUDE.md
Due: none

docs: 添加功能重复问题分析报告
  功能重复问题分析报告.xlsx
Due: none

docs: 添加功能重复问题分析总结
  功能重复问题分析总结.md
Due: none

docs: add infrastructure readiness checklist
  docs/基础设施完善建议.md
Due: none

feat(reports): 创建统一报表框架实施计划和适配器基类
  app/services/report_framework/adapters/__init__.py
  app/services/report_framework/adapters/base.py
  docs/plans/unified-report-framework-implementation-plan.md
  docs/reports/unified-report-framework-status.md
Due: check-file-size

feat(reports): 开始迁移现有报表服务到统一框架
  app/api/v1/endpoints/acceptance/report_generation_unified.py
  app/services/report_framework/adapters/__init__.py
  app/services/report_framework/adapters/acceptance.py
  app/services/report_framework/adapters/timesheet.py
  docs/reports/report-migration-progress.md
  frontend/src/components/layout/sidebarConfig/default.js
Due: check-file-size, eslint, prettier

feat(reports): 注册验收报表统一端点到路由
  app/api/v1/endpoints/acceptance/reports.py
Due: check-file-size

feat(reports): 完成工时报表迁移到统一框架
  app/api/v1/endpoints/timesheet/__init__.py
  app/api/v1/endpoints/timesheet/reports_unified.py
  app/report_configs/timesheet/finance_monthly.yaml
  app/report_configs/timesheet/hr_monthly.yaml
  app/report_configs/timesheet/project.yaml
  app/report_configs/timesheet/rd_monthly.yaml
  docs/reports/report-migration-progress.md
Due: check-file-size

feat(reports): 创建会议和项目报表适配器
  app/services/report_framework/adapters/__init__.py
  app/services/report_framework/adapters/meeting.py
  app/services/report_framework/adapters/project.py
  docs/reports/report-migration-summary.md
Due: check-file-size
