Repository fulingwei1/non-standard-automation-pms: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, eslint, prettier

check-file-size:
  name: 检查文件大小限制
  entry: python scripts/check_file_size.py
  language: python
  pass_filenames: false

eslint:
  name: ESLint 检查
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

prettier:
  name: Prettier 格式化检查
  entry: bash -c 'cd frontend && npx prettier --check "src/**/*.{js,jsx,ts,tsx,css}"'
  language: system
  pass_filenames: false

fix: timesheet reports paths - finance/hr/rd/project -> reports/detail with type param
  frontend/src/services/api/hr.js
Due: eslint, prettier

fix(frontend): 修复 react-router-dom 导入错误
  frontend/pnpm-lock.yaml
Due: none

feat: stub endpoints for 355 unimplemented frontend API paths - returns empty data with _stub flag
  app/api/v1/api.py
  app/api/v1/endpoints/stub_endpoints.py
Due: check-file-size

fix: MeetingRhythmLevel enum + Worker.worker_code -> worker_no
  app/api/v1/endpoints/production/capacity/analysis.py
  app/models/enums/others.py
Due: check-file-size

fix: Worker.worker_code->worker_no in all files + MeetingCycleType enum values
  app/api/v1/endpoints/production/capacity/comparison.py
  app/api/v1/endpoints/production/capacity/dashboard.py
  app/api/v1/endpoints/production/capacity/report.py
  app/api/v1/endpoints/production/capacity/worker_efficiency.py
  app/models/enums/others.py
  app/services/production/capacity/capacity_service.py
Due: check-file-size

fix: RhythmHealthStatus GREEN/YELLOW/RED + staff-matching filled_headcount fix
  app/api/v1/endpoints/staff_matching/dashboard.py
  app/models/enums/others.py
Due: check-file-size

refactor: simplify stub handler - catch-all fallback, no prefix list needed
  app/api/v1/endpoints/stub_endpoints.py
Due: check-file-size

fix: 4 failed-to-load modules - backup/change_impact/quality_risk/timesheet_reminders
  app/api/v1/endpoints/backup.py
  app/api/v1/endpoints/business_support/dashboard.py
  app/api/v1/endpoints/change_impact.py
  app/api/v1/endpoints/dashboard_stats.py
  app/api/v1/endpoints/timesheet_reminders.py
  app/services/bonus/sales.py
  app/services/quality_risk_ai/test_recommendation_engine.py
  app/services/report_framework/adapters/sales.py
Due: check-file-size

fix: batch fix 500 errors - model fields + ApprovalMixin + pagination
  app/api/v1/endpoints/assembly_kit/shortage_alerts.py
  app/api/v1/endpoints/business_support/dashboard.py
  app/api/v1/endpoints/business_support_orders/contract_reports.py
  app/api/v1/endpoints/business_support_orders/invoice_reports.py
  app/api/v1/endpoints/customers/view360.py
  app/api/v1/endpoints/pitfalls/crud_refactored.py
  app/api/v1/endpoints/production/material_tracking.py
  app/api/v1/endpoints/report_center/bi.py
  app/api/v1/endpoints/sales/contracts/export.py
  app/api/v1/endpoints/sales/contracts/sign_project.py
  app/api/v1/endpoints/sales/quote_cost_analysis.py
  app/api/v1/presale_ai_win_rate.py
  app/core/security.py
  app/models/assembly_kit.py
  app/models/outsourcing.py
  app/models/performance/result_evaluation.py
  app/models/project_review.py
  app/models/purchase.py
  app/models/sales/quotes.py
  app/schemas/assembly_kit.py
  app/services/approval_engine/adapters/contract.py
  app/services/approval_engine/engine/query.py
  app/services/contract_approval/service.py
  app/services/data_sync_service.py
  app/services/notification_service.py
  app/services/sales/payment_plan_service.py
  app/services/sales_reminder/contract_reminders.py
  app/services/status_handlers/contract_handler.py
Due: check-file-size

fix: batch fix 500 errors - dashboard + report-center + production + assembly-kit
  app/api/v1/endpoints/assembly_kit/dashboard.py
  app/api/v1/endpoints/dashboard_unified.py
  app/api/v1/endpoints/production/capacity/analysis.py
  app/api/v1/endpoints/report_center/configs.py
Due: check-file-size

fix: remaining 500s - TaskUnified.due_date->deadline, contract_amount->total_amount, backup stats fallback, ALTER TABLE for missing columns
  app/api/v1/endpoints/backup.py
  app/api/v1/endpoints/business_support_orders/contract_reports.py
  app/api/v1/endpoints/business_support_orders/reconciliations.py
  app/api/v1/endpoints/management_rhythm/integrations.py
Due: check-file-size

fix(frontend): merge main + disable import-x/named rule
  frontend/eslint.config.js
  frontend/src/pages/Shipments.jsx
Due: eslint, prettier

fix(lint): 删除未使用的变量 pages
  app/api/v1/endpoints/pitfalls/crud_refactored.py
Due: check-file-size

fix(security): npm audit fix - 修复前端安全漏洞
  frontend/package-lock.json
Due: none

fix: increase page_size limit from 200 to 10000 - frontend uses 1000 for dropdown loading
  app/api/v1/endpoints/warehouse/locations.py
  app/common/crud/types.py
  data/app.db-shm
  data/app.db-wal
Due: check-file-size

fix: DeliveryManagement Tabs.TabPane -> items prop
  frontend/src/pages/DeliveryManagement.jsx
Due: eslint, prettier

fix: ServiceTicketListHeader dateRange default value to prevent crash
  frontend/src/components/service/ServiceTicketListHeader.jsx
Due: eslint, prettier

fix: add default empty array for props using .map to prevent crashes (75 files)
  frontend/src/components/installation-dispatch/DispatchFilters.jsx
Due: eslint, prettier

fix: serviceApi.tickets.statistics -> getStatistics, remove string icons from sortOptions
  frontend/src/lib/constants/service.js
  frontend/src/pages/ServiceTicketManagement.jsx
Due: eslint, prettier

fix: remove option.icon rendering from ServiceTicketListHeader
  frontend/src/components/service/ServiceTicketListHeader.jsx
  tests/unit/models/sales/conftest.py
  tests/unit/models/sales/test_contract_model.py
  tests/unit/models/sales/test_lead_model.py
  tests/unit/models/sales/test_quote_model.py
  tests/unit/test_approval_adapter_invoice.py
  tests/unit/test_condition_parser.py
  tests/unit/test_debug_issue_sync_service.py
  tests/unit/test_ecn_approval_service.py
  tests/unit/test_labor_cost_utils.py
  tests/unit/test_material_tracking_service_rewrite.py
  tests/unit/test_users_utils.py
Due: check-file-size, eslint, prettier

fix: increase API timeout from 5s to 30s
  data/app.db-shm
  data/app.db-wal
  frontend/src/services/api/client.js
  tests/unit/models/sales/test_contract_model.py
Due: check-file-size, eslint, prettier

fix(tests): remove duplicate quote_code in test_quote_model.py
  tests/unit/models/sales/test_quote_model.py
Due: check-file-size

fix: CustomerSatisfaction TabPane->items, valueStyle->styles.content
  data/app.db-shm
  data/app.db-wal
  frontend/src/components/customer-satisfaction/CustomerSatisfactionOverview.jsx
  frontend/src/pages/CustomerSatisfaction.jsx
Due: eslint, prettier

fix: batch fix valueStyle -> styles.content (11 files)
  frontend/src/components/alert-statistics/AlertOverview.jsx
  frontend/src/components/alert-statistics/AlertPerformance.jsx
  frontend/src/components/alert-statistics/AlertTrendAnalysis.jsx
  frontend/src/components/contract-management/PaymentTracker.jsx
  frontend/src/components/customer-360/CustomerAnalytics.jsx
  frontend/src/components/customer-satisfaction/SatisfactionAnalytics.jsx
  frontend/src/components/customer-service/SatisfactionTracker.jsx
  frontend/src/components/customer-service/ServiceOverview.jsx
  frontend/src/components/lead-assessment/LeadOverview.jsx
  frontend/src/pages/EngineerKnowledge.jsx
  frontend/src/pages/EngineerPerformanceDashboard.jsx
  frontend/src/pages/EngineerPerformanceDetail.jsx
Due: eslint, prettier

fix: batch migrate TabPane to Tabs items prop (11 files)
  frontend/src/pages/AlertStatistics.jsx
  frontend/src/pages/Customer360.jsx
  frontend/src/pages/CustomerServiceDashboard.jsx
  frontend/src/pages/EngineerCollaboration.jsx
  frontend/src/pages/EngineerKnowledge.jsx
  frontend/src/pages/EngineerPerformanceDashboard.jsx
  frontend/src/pages/EngineerPerformanceDetail.jsx
  frontend/src/pages/EngineerPerformanceRanking.jsx
  frontend/src/pages/LeadAssessment.jsx
  frontend/src/pages/MeetingManagement.jsx
Due: eslint, prettier

fix: antd Space direction -> orientation (13 files)
  frontend/src/components/alert-statistics/AlertOverview.jsx
  frontend/src/components/approval-center/ApprovalRules.jsx
  frontend/src/components/approval-center/ApprovalStatistics.jsx
  frontend/src/components/approval-center/ApprovalWorkflow.jsx
  frontend/src/components/customer-360/CustomerBasicInfo.jsx
  frontend/src/components/delivery-management/DeliveryOverview.jsx
  frontend/src/components/delivery-management/DeliveryPlan.jsx
  frontend/src/components/delivery-management/DeliveryTracking.jsx
  frontend/src/components/lead-assessment/FollowUpManager.jsx
  frontend/src/components/lead-assessment/ScoringEngine.jsx
  frontend/src/pages/ApprovalDesigner/components/ConditionBuilder.jsx
  frontend/src/pages/ApprovalDesigner/components/NodeConfig.jsx
  frontend/src/pages/ApprovalDesigner/components/NodePalette.jsx
Due: eslint, prettier

fix: FinancialReports currentData fallback when monthlyFinancials empty
  frontend/src/pages/FinancialReports.jsx
Due: eslint, prettier

fix: InstallationDispatchManagement API path - add .orders namespace
  frontend/src/pages/InstallationDispatchManagement.jsx
Due: eslint, prettier

fix: FinancialReports costBreakdown init {} -> []
  frontend/src/pages/FinancialReports.jsx
Due: eslint, prettier

fix: FinancialReports ensure costBreakdown is always an array
  frontend/src/pages/FinancialReports.jsx
Due: eslint, prettier

fix: OverviewTab currentPeriod default values for nested props
  frontend/src/components/performance/OverviewTab.jsx
Due: eslint, prettier

fix: OverviewTab add projectEvaluations/dimensions/improvementPlan defaults
  frontend/src/components/performance/OverviewTab.jsx
Due: eslint, prettier

fix(tests): remove duplicate keyword args in scenario tests
  tests/scenarios/test_scenario_01_lead_to_payment_flow.py
  tests/scenarios/test_scenario_18_idempotency.py
Due: check-file-size

feat: 添加演示数据脚本套件
  scripts/clear_demo_data.py
  scripts/employees_template.csv
  scripts/import_employees.py
  scripts/seed_demo_data.py
Due: check-file-size

docs: 数据管理脚本操作指南
  scripts/README.md
Due: none

fix(test): 修复10个测试语法错误
  tests/scenarios/test_scenario_01_lead_to_payment_flow.py
  tests/scenarios/test_scenario_18_idempotency.py
  tests/unit/models/sales/conftest.py
  tests/unit/test_approval_adapter_invoice.py
  tests/unit/test_condition_parser.py
  tests/unit/test_debug_issue_sync_service.py
  tests/unit/test_ecn_approval_service.py
  tests/unit/test_labor_cost_utils.py
  tests/unit/test_material_tracking_service_rewrite.py
  tests/unit/test_users_utils.py
Due: check-file-size

Path conditions:
  check-file-size: any of: \.py$
  eslint: any of: \.(js|jsx|ts|tsx)$
  prettier: any of: \.(js|jsx|ts|tsx|css)$
