Repository fulingwei1/non-standard-automation-pms: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, eslint, prettier

check-file-size:
  name: 检查文件大小限制
  entry: python scripts/check_file_size.py
  language: python
  pass_filenames: false

eslint:
  name: ESLint 检查
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

prettier:
  name: Prettier 格式化检查
  entry: bash -c 'cd frontend && npx prettier --check "src/**/*.{js,jsx,ts,tsx,css}"'
  language: system
  pass_filenames: false

chore: 清理前端测试产物并补充忽略规则
  .gitignore
  frontend/test-results/.last-run.json
  frontend/test-results/contract-create-debug.png
  frontend/test-results/quote-page-debug.png
Due: none

fix: 项目工作台后续动作传递项目上下文
  frontend/src/pages/ECNManagement.jsx
  frontend/src/pages/MaterialAnalysis.jsx
  frontend/src/pages/__tests__/ProjectWorkspaceNextActionContext.test.jsx
  frontend/src/pages/quality/AcceptanceList.jsx
  frontend/src/pages/quality/InspectionList.jsx
  frontend/src/services/api/ecnBom.js
Due: eslint, prettier

test: 补齐ECN接口上下文对账
  frontend/src/services/api/__tests__/ecnBom.test.js
  frontend/src/services/api/ecnBom.js
Due: eslint, prettier

fix: 统一售前旧入口上下文参数
  frontend/src/routes/modules/__tests__/presalesRoutes.test.jsx
  frontend/src/routes/modules/__tests__/projectPresalesTaskRoutes.test.jsx
  frontend/src/routes/modules/presalesRedirects.jsx
Due: eslint, prettier

fix: 售前中心承接项目上下文
  alembic/versions/add_project_id_to_presale_tender.py
  app/api/v1/endpoints/presale/bids.py
  app/models/presale.py
  app/models/presale/core.py
  app/schemas/presale.py
  frontend/src/pages/BiddingCenter/index.jsx
  frontend/src/pages/PresaleProposals/index.jsx
  frontend/src/pages/PresalesCostEstimation.jsx
  frontend/src/pages/RequirementSurvey/index.jsx
  frontend/src/pages/__tests__/BiddingCenter.test.jsx
  frontend/src/pages/__tests__/PresaleProposals.test.jsx
  frontend/src/pages/__tests__/PresalesCostEstimation.test.jsx
  frontend/src/pages/__tests__/RequirementSurvey.test.jsx
  tests/api/test_presales_contract_api.py
Due: check-file-size, eslint, prettier

fix: 项目中心子页承接项目上下文
  frontend/src/pages/AIProjectTools.jsx
  frontend/src/pages/MilestoneManagement.jsx
  frontend/src/pages/ProjectHealthMonitor.jsx
  frontend/src/pages/ScheduleBoard.jsx
  frontend/src/pages/WBSTemplateManagement.jsx
  frontend/src/pages/__tests__/ProjectManagementChildContext.test.jsx
Due: eslint, prettier

fix: 修正项目中心里程碑上下文查询
  frontend/src/pages/MilestoneManagement.jsx
  frontend/src/pages/__tests__/ProjectManagementChildContext.test.jsx
Due: eslint, prettier

fix: 售前成本方案保留项目上下文
  frontend/src/pages/PresalesWorkstation.jsx
  frontend/src/pages/__tests__/PresalesWorkstation.test.jsx
Due: eslint, prettier

test: 补项目总览下游跳转上下文
  frontend/src/pages/__tests__/ProjectOverviewDashboard.test.jsx
Due: eslint, prettier

fix: 项目总览跳转后续模块保留项目上下文
  frontend/src/pages/ProjectOverviewDashboard.jsx
Due: eslint, prettier

fix: 技术参数估算保留售前上下文
  app/schemas/presale_technical_parameter.py
  frontend/src/pages/TechnicalParameterManagement.jsx
  frontend/src/pages/__tests__/TechnicalParameterManagement.test.jsx
Due: check-file-size, eslint, prettier

fix: 接通项目总览后续数据流转
  app/api/v1/endpoints/projects/__init__.py
  app/api/v1/endpoints/projects/data_flow.py
  app/tests/services/project_data_flow/test_project_data_flow_api.py
  frontend/src/pages/ProjectOverviewDashboard.jsx
  frontend/src/pages/__tests__/ProjectOverviewDashboard.test.jsx
  frontend/src/services/api/__tests__/projects.test.js
  frontend/src/services/api/projects.js
Due: check-file-size, eslint, prettier

test: 补技术参数上下文schema验证
  tests/unit/schemas/test_presale_technical_parameter_schema.py
Due: check-file-size

fix: 项目数据流写入真实模型字段
  app/services/project_data_flow_service.py
  app/tests/services/project_data_flow/test_project_data_flow_service.py
Due: check-file-size

fix: 投标中心支持上下文创建
  frontend/src/pages/BiddingCenter/index.jsx
  frontend/src/pages/__tests__/BiddingCenter.test.jsx
Due: eslint, prettier

fix: 交付计划生成复用现有排产
  app/services/project_data_flow_service.py
Due: check-file-size

fix: 转售后保养计划补日期去重
  app/services/project_data_flow_service.py
  app/tests/services/project_data_flow/test_project_data_flow_service.py
Due: check-file-size

fix: 售前上下文聚合报价投标
  app/api/v1/endpoints/presale/workbench.py
  frontend/src/services/api/__tests__/presaleWorkbench.test.js
  frontend/src/services/api/presaleWorkbench.js
  tests/api/test_presales_contract_api.py
Due: check-file-size, eslint, prettier

fix: 销售售前工作台保留上下文跳转
  frontend/src/pages/SalesPresaleWorkbench.jsx
  frontend/src/pages/SolutionDetail/components/SolutionHeader.jsx
  frontend/src/pages/SolutionDetail/components/__tests__/SolutionHeader.test.jsx
  frontend/src/pages/SolutionDetail/hooks/__tests__/useSolutionDetail.test.js
  frontend/src/pages/SolutionDetail/hooks/useSolutionDetail.js
  frontend/src/pages/__tests__/SalesPresaleWorkbench.test.jsx
Due: eslint, prettier

fix: 接通方案详情成本估算入口
  frontend/src/pages/PresalesCostEstimation.jsx
  frontend/src/pages/SolutionDetail/components/SolutionCostTab.jsx
  frontend/src/pages/SolutionDetail/components/__tests__/SolutionCostTab.test.jsx
  frontend/src/pages/SolutionDetail/index.jsx
  frontend/src/pages/__tests__/PresalesCostEstimation.test.jsx
Due: eslint, prettier

fix: 项目交接包回链售前上下文
  frontend/src/pages/ProjectWorkspace.jsx
  frontend/src/pages/__tests__/ProjectWorkspace.test.jsx
Due: eslint, prettier

fix: 后段执行链路保留项目上下文
  app/api/v1/endpoints/business_support_orders/delivery_orders/crud.py
  app/api/v1/endpoints/business_support_orders/delivery_orders/statistics.py
  frontend/src/pages/DeliveryManagement/__tests__/useDeliveryManagement.test.js
  frontend/src/pages/DeliveryManagement/index.jsx
  frontend/src/pages/DeliveryManagement/useDeliveryManagement.js
  frontend/src/pages/PurchaseOrderFromBOM/hooks/__tests__/usePurchaseOrderFromBOM.test.js
  frontend/src/pages/PurchaseOrderFromBOM/hooks/usePurchaseOrderFromBOM.js
  frontend/src/pages/__tests__/ProjectOverviewDashboard.test.jsx
  frontend/src/services/api/businessSupport.js
  tests/unit/test_delivery_order_project_filter.py
Due: check-file-size, eslint, prettier

fix: 方案详情跳转保留售前上下文
  frontend/src/pages/PresaleProposals/SolutionListTab.jsx
  frontend/src/pages/PresaleProposals/index.jsx
  frontend/src/pages/PresaleProposals/utils.js
  frontend/src/pages/__tests__/PresaleProposals.test.jsx
Due: eslint, prettier

fix: 生成方案详情保留售前上下文
  frontend/src/pages/PresaleProposals/SolutionGenerateTab.jsx
  frontend/src/pages/PresaleProposals/index.jsx
  frontend/src/pages/__tests__/PresaleProposals.test.jsx
Due: eslint, prettier

fix: 方案详情失败返回保留售前上下文
  frontend/src/pages/SolutionDetail/index.jsx
  frontend/src/pages/__tests__/SolutionDetail.test.jsx
Due: eslint, prettier

fix: 售前工单详情接通项目工作区
  frontend/src/pages/PresalesTasks/TaskDetailPanel.jsx
  frontend/src/pages/PresalesTasks/index.jsx
  frontend/src/pages/__tests__/PresalesTasks.test.jsx
  frontend/vitest.config.js
Due: eslint, prettier

fix: 项目工作区后续动作保留售前上下文
  frontend/src/pages/ProjectWorkspace.jsx
  frontend/src/pages/__tests__/ProjectWorkspace.test.jsx
Due: eslint, prettier

fix: 技术评审保留项目售前上下文
  frontend/src/pages/TechnicalReviewDetail/__tests__/TechnicalReviewDetail.test.jsx
  frontend/src/pages/TechnicalReviewDetail/hooks/__tests__/useTechnicalReviewForm.test.js
  frontend/src/pages/TechnicalReviewDetail/hooks/useTechnicalReviewForm.js
  frontend/src/pages/TechnicalReviewDetail/index.jsx
  frontend/src/pages/TechnicalReviewDetail/navigation.js
  frontend/src/pages/TechnicalReviewList/__tests__/TechnicalReviewList.test.jsx
  frontend/src/pages/TechnicalReviewList/components/TechnicalReviewCards.jsx
  frontend/src/pages/TechnicalReviewList/index.jsx
Due: eslint, prettier

fix: 项目交接包识别项目方案成本
  app/services/project_workspace_service.py
  tests/api/test_project_workspace_contract_api.py
Due: check-file-size

fix: 技术评审详情支持提交评审问题
  frontend/src/pages/TechnicalReviewDetail/ReviewIssueDialog.jsx
  frontend/src/pages/TechnicalReviewDetail/__tests__/TechnicalReviewDetail.test.jsx
  frontend/src/pages/TechnicalReviewDetail/hooks/__tests__/useTechnicalReviewForm.test.js
  frontend/src/pages/TechnicalReviewDetail/hooks/useTechnicalReviewForm.js
  frontend/src/pages/TechnicalReviewDetail/index.jsx
Due: eslint, prettier

fix: 售前方案保存成本明细
  app/schemas/presale.py
  frontend/src/pages/__tests__/PresalesCostEstimation.test.jsx
  tests/api/test_presales_contract_api.py
Due: check-file-size, eslint, prettier

test: 清理项目工作区售前方案契约断言
  tests/api/test_project_workspace_contract_api.py
Due: check-file-size

fix: 技术评审详情补齐参与材料检查项提交
  frontend/src/pages/TechnicalReviewDetail/ReviewChecklistDialog.jsx
  frontend/src/pages/TechnicalReviewDetail/ReviewMaterialDialog.jsx
  frontend/src/pages/TechnicalReviewDetail/ReviewParticipantDialog.jsx
  frontend/src/pages/TechnicalReviewDetail/__tests__/TechnicalReviewDetail.test.jsx
  frontend/src/pages/TechnicalReviewDetail/hooks/__tests__/useTechnicalReviewForm.test.js
  frontend/src/pages/TechnicalReviewDetail/hooks/useTechnicalReviewForm.js
  frontend/src/pages/TechnicalReviewDetail/index.jsx
Due: eslint, prettier

test: 补技术评审子资源契约
  tests/api/test_technical_review_contract_api.py
Due: check-file-size

fix: 避免投标分析路由被详情遮蔽
  app/api/v1/endpoints/presale/bids.py
  tests/api/test_presales_contract_api.py
Due: check-file-size

fix: 售前方案评审状态映射
  frontend/src/pages/SolutionList.jsx
  frontend/src/pages/__tests__/SolutionList.test.jsx
Due: eslint, prettier

fix: 评审问题同步项目问题闭环
  app/api/v1/endpoints/technical_review/checklists.py
  app/api/v1/endpoints/technical_review/issues.py
  app/api/v1/endpoints/technical_review/utils.py
  tests/api/test_technical_review_contract_api.py
Due: check-file-size

fix: 评审问题处理状态同步项目问题
  app/api/v1/endpoints/technical_review/issues.py
  app/api/v1/endpoints/technical_review/utils.py
  tests/api/test_technical_review_contract_api.py
Due: check-file-size

fix: 项目工作区补齐问题上下文
  app/api/v1/endpoints/projects/workspace.py
  app/services/project_workspace_service.py
  frontend/src/components/project/ProjectIssuePanel.jsx
  frontend/src/components/project/__tests__/ProjectIssuePanel.test.jsx
  tests/api/test_project_workspace_contract_api.py
Due: check-file-size, eslint, prettier

fix: 打通项目问题详情路由
  frontend/src/pages/quality/IssueDetail.jsx
  frontend/src/pages/quality/__tests__/IssueDetail.test.jsx
  frontend/src/routes/modules/__tests__/qualityRoutes.test.jsx
  frontend/src/routes/modules/qualityRoutes.jsx
Due: eslint, prettier

Path conditions:
  check-file-size: any of: \.py$
  eslint: any of: \.(js|jsx|ts|tsx)$
  prettier: any of: \.(js|jsx|ts|tsx|css)$
